<div class="BloggerIntro-Legal-header">
  You Own Your Content
</div>

<div class="BloggerIntro-Legal-body">
  You’re the publisher, we’re just the platform where you publish.
  This means you are legally responsible for what you publish, not us.
  It also means you can share your posts and republish them however you like.
</div>

<div class="BloggerIntro-Legal-header">
  You Can Get Paid For It
</div>

<div class="BloggerIntro-Legal-body">
  We share our advertising revenue with all our publishers who provide us the necessary tax and direct deposit documentation.
  Once you’re set up, you earn money based on your share of total ad impressions on publisher content during a pay period.
</div>

<div class="BloggerIntro-Legal-grid">
  <div>
    {{fa-icon "coffee"}}
  </div>
  <div>
    <span>Some bloggers earn coffee money.</span>
    <span>Some bloggers make hundreds.</span>
  </div>
  <div>
    {{fa-icon "money"}}
  </div>
</div>

<div class="BloggerIntro-Legal-body">
  We’ll send you an email with instructions on how to get paid once your blog is live.
</div>

<div class="BloggerIntro-Legal-agree">
  Review the {{#link-to "publisher-agreement" target="_blank" rel="noopener noreferrer" class="BloggerIntro-Legal-link"}}Publisher Agreement{{/link-to}}, and click "I Agree" below when you're ready.
</div>
