<div class="BloggerIntro-Legal-header">
  You own your content
</div>

<div class="BloggerIntro-Legal-body">
  You’re the publisher, we’re just the platform where you publish.
  This means you are legally responsible for what you publish, not us.
  It also means you can share your posts and republish them however you like.
</div>

<div class="BloggerIntro-Legal-header">
  You can earn money
</div>

<div class="BloggerIntro-Legal-body">
  We share display advertising revenue with all publishers who provide us the necessary tax and direct deposit documentation.
  Once you’re set up, you earn money based on your share of total ad impressions on your page content per pay period.
</div>

<div class="BloggerIntro-Legal-body">
  You'll learn more about getting paid once your page is live.
</div>

<div class="BloggerIntro-Legal-agree">
  Review the {{#link-to "publisher-agreement" target="_blank" rel="noopener noreferrer" class="BloggerIntro-Legal-link"}}Publisher Agreement{{/link-to}}, then click "I Agree" below to finish.
</div>
