<div class='form-group'>
  {{textarea
    value=newComment
    placeholder='Your comment here...'
    class='form-control CommentSection-replyBox'
    data-test-field='new-comment'
  }}
</div>

<div class='form-group'>
  {{#if submitDisabled}}
    <button disabled class='CommentSection-replyButton Button btn btn-default'>
      Add Comment
    </button>
  {{else}}
    {{async-button
      action='postComment'
      default='Add Comment'
      pending='Saving…'
      class='CommentSection-replyButton Button btn btn-default'
      data-test-component='add-comment-button'
    }}
  {{/if}}
</div>
