{{content-form-header
  isNew=model.isNew
  type=type
}}

<div class='ContentForm-content'>
  {{content-form-steps
    step1State='current'
    step2State='inactive'
    step3State='inactive'
    type=type
  }}

  <div class='row'>
    <div class='ContentForm-stepContent col-sm-offset-2 col-sm-8'>
      {{yield}}
    </div>
  </div>
</div>

