{{#form-group error=error}}
  <label class='control-label' for="image">Image</label>
  {{input type='file' class='form-control ContentForm-fileField'}}
  <span class="help-block ContentForm-helpText">Format: jpg or png. Size: under 5mb</span>
{{/form-group}}

<div class='form-group'>
  <img class='img-responsive js-Cropper-image'>
</div>
