{{content-form-header
  isNew=model.isNew
  type=type
}}

<div class='ContentForm-content'>
  <div class='row'>
    {{content-form-steps
      step1State=step1State
      step2State=step2State
      step3State=step3State
      type=type
    }}
  </div>
  <div class='row'>
    <div class='ContentForm-stepContent col-sm-offset-2 col-sm-8'>
      {{yield}}
    </div>
  </div>
</div>

