<h2 class='SectionHeader'>
  <span class='SectionHeader-text'>
    Admin
  </span>
</h2>

<div class='u-textCentered u-layoutPadT40 u-layoutPadB30 '>
  {{#link-to route contentId class='h4'}}
    {{fa-icon 'pencil'}} {{text}}
  {{/link-to}}
</div>
