{{input
  placeholder='Everything'
  class='Dropdown-input FilterBar-input dropdown-toggle'
  data-toggle='dropdown'
  aria-expanded='false'
  value=categoryOrQuery
}}

{{fa-icon 'caret-down Dropdown-caret'}}

<ul class='dropdown-menu' role='menu'>
  {{#each category in categoryOptions}}
    <li>
      <a href='#' {{action 'setCategory' category.value}}>
        {{category.label}}
      </a>
    </li>
  {{/each}}
</ul>
