{{input
  placeholder='Choose a location'
  class='dropdown-toggle form-control'
  data-toggle='dropdown'
  aria-expanded='false'
  value=location
}}

<ul class='dropdown-menu' role='menu'>
  {{#each place in places}}
    <li><a href='#' {{action 'setLocation' place}}>{{place}}</a></li>
  {{/each}}
</ul>
