{{#each instance in eventInstances}}
  {{event-form-date
    instance=instance
    class='form-group row'
    removeDate='removeDate'
  }}
{{/each}}

<button class='btn btn-link' {{action 'addNewDate'}}>
  Add another date
</button>
