<label>Join the Conversation</label>
{{#if session.currentUser}}
  {{event-comments-new
    eventInstanceId=eventInstanceId
    comments=comments
  }}
{{else}}
  <p>
    You need to log in to join this conversation. After
    <a href='/users/sign_up'>signing up</a> or
    {{#sign-in-link}}signing in{{/sign-in-link}}, you can return to
    this listing and share your thoughts.
  </p>
{{/if}}

{{nested-comments
  comments=comments
  class='EventComments'
  eventInstanceId=eventInstanceId
}}
