<a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>Set dates <span class='caret'></span></a>
<ul class='dropdown-menu' role='menu'>
  <li><a href='#' {{action 'chooseDates'}}>Custom</a></li>
  <li><a href='#' {{action 'setDate' 'today' }}>Today</a></li>
  <li><a href='#' {{action 'setDate' 'weekend' }}>This Weekend</a></li>
  <li><a href='#' {{action 'setDate' 'month' }}>This Month</a></li>
</ul>
