{{input
  id='venue-name'
  placeholder='Name'
  class='form-control'
  value=venueName
}}

<ul class='dropdown-menu' role='menu'>
  {{#each venues as |venue|}}
    <li><a href='#' {{action 'setVenue' venue}}>{{venue.name}}</a></li>
  {{/each}}
</ul>
