<div class='form-group'>
  {{textarea
    value=newComment
    placeholder='Add your message'
    class='form-control'
  }}
</div>

<div class='form-group'>
  {{#if submitDisabled}}
    <button disabled class='Button btn btn-default'>
      Add Comment
    </button>
  {{else}}
    {{async-button
      action='postComment'
      default='Add Comment'
      pending='Saving…'
      class='Button btn btn-default'
    }}
  {{/if}}
</div>
