{{partial 'events/show'}}
<div class='EventPreview-helpText EventPreview-helpText--bottom'>
   <button class='btn-link EventPreview-scrollButton'>
    Back to Top {{fa-icon 'arrow-up'}}
  </button>
</div>