<div class='ContentCardPreview-content'>
  <p class='ContentCardPreview-subtitle'>
    This is what your landing page event "card" will look like!
  </p>

  <div class='Card EventCard u-flexColumn'>
    {{partial 'components/event-card'}}
  </div>
</div>
