{{#each instance in eventInstances}}
  {{event-form-date
    instance=instance
    class='form-group'
    removeDate='removeDate'
    isRemovable=isRemovable
  }}
{{/each}}

<button class='EventForm-buttonLink EventForm-dateButton btn btn-link' {{action 'addNewDate'}}>
  {{fa-icon 'plus-circle u-iconLeft'}}
  Add another date
</button>
