<div class='arrow'></div>
<div class="popover-content">
  <div class='row'>
    <div id='custom-start-date' class='col-md-6'>
      <div class='form-group'>
        <label>Start: {{startDateLabel}}</label>
        {{input type='hidden'}}
      </div>
      <div class='calendar'></div>
    </div>
    <div id='custom-end-date' class='col-md-6'>
      <div class='form-group'>
        <label>End: {{endDateLabel}}</label>
        {{input type='hidden'}}
      </div>
      <div class='calendar'></div>
    </div>
  </div>
</div>
