{{input
  placeholder='Search term'
  class='Dropdown-input FilterBar-input dropdown-toggle'
  data-toggle='dropdown'
  aria-expanded='false'
  value=categoryOrQuery
}}

<ul class='dropdown-menu' role='menu'>
  {{#each category in categoryOptions}}
    <li>
      <a href='#' {{action 'setCategory' category.value}} tabindex='-1'>
        {{category.label}}
      </a>
    </li>
  {{/each}}
</ul>
