{{#link-to 'events.show' event.id}}
  <h2>{{event.title}}</h2>
  <div>{{event.timeRange}}</div>
  <img src='{{event.image}}' class='img-responsive'>
  <div>
    {{event.content}}
  </div>
{{/link-to}}
