{{input
  placeholder='Choose a location'
  class='form-control'
  value=inputValue
}}

<ul class='dropdown-menu' role='menu'>
  {{#each place in places}}
    <li><a href='#' {{action 'setLocation' place}}>{{place}}</a></li>
  {{else}}
    <li class='disabled'><a>No Results</a></li>
  {{/each}}
</ul>
