<div class='row'>
  <div class='col-sm-3'>
    {{#link-to 'events.new.promotion' class='Button btn btn-default pull-left'}}
      {{fa-icon 'arrow-left u-iconLeft'}}
      Edit Event
    {{/link-to}}
  </div>
  <div class='EventPreview-summary col-sm-6'>
    <p>
      Preview your event page below. If everything looks good to go, click the 
      “SAVE &amp; PUBLISH” button to submit your event.
    </p>
    <p>
      Here’s how you’ve chosen to promote your event:
    </p>
    <ul class='EventPreview-propertyList'>
      {{#disabled-checkbox 
        checked=model.extendedReachEnabled
        tagName='li'
        class='EventPreview-summaryProperty'
      }}
        Extend Your Reach
      {{/disabled-checkbox}}
      {{#disabled-checkbox
        checked=model.socialEnabled
        tagName='li'
        class='EventPreview-summaryProperty'
      }}
        Go Social
      {{/disabled-checkbox}}
      {{#disabled-checkbox 
        checked=model.categoryEnabled
        tagName='li'
        class='EventPreview-summaryProperty'
      }}
        Be Special
      {{/disabled-checkbox}}
      {{#disabled-checkbox 
        checked=model.listsEnabled
        tagName='li'
        class='EventPreview-summaryProperty'
      }}
        Alert the List
      {{/disabled-checkbox}}      
    </ul>
    <div class='EventPreview-helpText EventPreview--bottom'>
      Everything below dotted line is your preview 
      {{fa-icon 'arrow-down'}}
    </div>
  </div>
  <div class='col-sm-3'>
    <button class='Button Button--primary btn-lg btn-primary pull-right' {{action 'saveAndPublish'}}>
      Save &amp; Publish
      {{fa-icon 'check u-iconRight'}}
    </button>
  </div>
</div>
