<label>Join the Conversation</label>
{{event-comments-new
  eventInstanceId=eventInstanceId
  comments=comments
}}

{{nested-comments
  comments=comments
  class='Comments-list'
  eventInstanceId=eventInstanceId
}}
