{{input
  placeholder='Everything'
  class='dropdown-toggle form-control'
  data-toggle='dropdown'
  aria-expanded='false'
  value=categoryOrQuery
}}

<ul class='dropdown-menu' role='menu'>
  {{#each category in categoryOptions}}
    <li>
      <a href='#' {{action 'setCategory' category.value}}>
        {{category.label}}
      </a>
    </li>
  {{/each}}
</ul>
