{{#each groupedPosts as |group|}}
  <div class='Container--noGutter'>
    <h1 class='SectionHeader'>
      <span class='SectionHeader-text SectionHeader-text--secondaryBg'>
        {{group.displayValue}}
      </span>
    </h1>

    <div class='row Section'>
      {{#each group.items as |post|}}
        <div class='col-sm-6 col-md-4 col-lg-3'>
          {{market-card post=post
            class='Card MarketCard u-flexColumn-2'
          }}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
