{{#each groupedEvents as |group|}}
  <div class='Container--noGutter'>
    {{#if isFilteredByOneDay}}
      <h1 class='SectionHeader'>
        <span class='SectionHeader-text SectionHeader-text--secondaryBg'>{{group.displayValue}}</span>
      </h1>
    {{else}}
      <h1 class='SectionHeader'>
        {{link-to
          group.displayValue
          'events.all'
          (query-params date_start=group.paramValue date_end=group.paramValue)
          tagName='span'
          class='SectionHeader-text SectionHeader-text--secondaryBg SectionHeader-link'
        }}
      </h1>
    {{/if}}

    <div class='row Section'>
      {{#each group.items as |event|}}
        <div class='col-sm-6 col-md-4 col-lg-3'>
          {{event-card
            event=event
            class='Card EventCard u-flexColumn'
          }}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
