{{#link-to 'market.show' post.id class='MarketCard-link u-flexColumn'}}
  {{#if hasImage}}
    <div class='MarketCard-imageContainer u-flexColumn' style={{backgroundImage}}>
    </div>
  {{/if}}

  <div class='MarketCard-content u-flexColumn-2'>
    <h2 class='MarketCard-title Card-title u-twoLineH2'>
      {{title}}
    </h2>

    <h5 class='MarketCard-subtitle'>
      {{subtitle}}
    </h5>
  </div>
{{/link-to}}
