{{#if hasImage}}
  <div class='MarketCard-imageContainer' style={{backgroundImage}}>
  </div>
{{/if}}

<div class='MarketCard-content'>
  <h2 class='MarketCard-title'>
    {{post.title}}
  </h2>

  <h5 class='MarketCard-subtitle'>
    {{subtitle}}
  </h5>
</div>
