<div class='ContentCardPreview-content'>
  <p class='ContentCardPreview-subtitle'>
    This is what your landing page market "card" will look like!
  </p>

  <div class='Card u-flexColumn-2'>
    {{partial 'components/market-card'}}
  </div>
</div>
