<ul>
  {{#each orderedNews as |newsItem index|}}
    <li>
      {{#if (eq index 0)}}
        {{news-card-wide
          item=newsItem
          class='Card--solo'
          isIndex=true
          variant='full'
          routeName=routeName
        }}
      {{else}}
        {{news-card
          item=newsItem
          imagePosition='right'
          isIndex=true
          variant='vertical'
          classNames='Card Card--news'
          routeName=routeName
        }}
      {{/if}}
    </li>

    {{#if (and (eq index 2) (eq adPath 'news.all.index'))}}
      <li>
        {{ad-banner adContextName=adPath impressionPath=adPath lastRefreshDate=lastRefreshDate}}
      </li>
    {{/if}}
  {{/each}}
</ul>
