<ul>
  {{#each orderedNews as |newsItem index|}}
    <li>
      {{news-card
        item=newsItem
        imagePosition='right'
        isIndex=true
        classNames='Card Card--news'
      }}
    </li>

    {{#if (eq index 2)}}
      <li>{{ad-banner lastRefreshDate=lastRefreshDate}}</li>
    {{/if}}
  {{/each}}
</ul>
