<div class='form-group'>
  <label class='control-label' for='password'>Password</label>
  {{input value=password class='form-control'}}
</div>

<div class='form-group'>
  <label class='control-label' for='password-confirmation'>Password Confirmation</label>
  {{input value=passwordConfirmation class='form-control'}}
</div>

{{#if showErrors}}
  <span class='help-block'>
    Password and password confirmation must be present and matching.
  </span>
{{/if}}

<button class='Button Button--primary btn' {{action 'resetPassword'}}>
  Save
</button>