{{#if showConfirmation}}
  <div data-test-password-reset-request-confirmation>Thank you.  A link has been sent to the provided e-mail address with a link for resetting your password.</div>
{{else}}
  {{#form-group error=error}}
    {{input type="email" value=email class="form-control" data-test-field="password-reset-request-form-email"}}
  {{/form-group}}
  <button {{action "submit"}} data-test-password-reset-request-form-submit>Submit</button>

{{/if}}
