{{#if session.currentUser}}
  <span role="button" {{action "reportAbuse"}}>
    {{fa-icon "flag"}} Report
  </span>
{{else}}
  {{#link-to "login"}}
    {{fa-icon "flag"}} Report
  {{/link-to}}
{{/if}}
