{{#if session.currentUser}}
  <a href='#' class='ResponseButton h6' {{action 'reportAbuse'}}>
    {{fa-icon 'flag'}} Report Abuse
  </a>
{{else}}
  {{#link-to 'login' class='ResponseButton h6'}}
    {{fa-icon 'flag'}} Report Abuse
  {{/link-to}}
{{/if}}
