{{#if content}}
  {{yield}}
  <div class="Section">
    <div class="row">
      {{#each contentToDisplay as |content|}}
        <div class="SimilarContent--item">
          {{small-card
            item=content
            isSimilarContent=true
          }}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
