<h2 class='SectionHeader SocialShare-header'>
  <span class='SectionHeader-text SocialShare-headerText'>
    Share
  </span>
</h2>

<div class='row'>
  <div class='col-xs-offset-4 col-xs-2 col-md-offset-2 col-md-4 u-textCentered' {{action 'shareFacebook'}}>
    {{fa-icon 'facebook' size=2 classNames='SocialShare-icon'}}
  </div>
  <div class='col-xs-2 col-md-4 u-textCentered'>
    <a href={{mailtoLink}} target='_blank'>
      {{fa-icon 'envelope' size=2 classNames='SocialShare-icon'}}
    </a>
  </div>
</div>
