<h2 class='SectionHeader SocialShare-header'>
  <span class='SectionHeader-text'>
    Share
  </span>
</h2>

{{fa-icon 'twitter' size=2 classNames='SocialShare-icon'}}
{{fa-icon 'facebook' size=2 classNames='SocialShare-icon'}}
{{fa-icon 'envelope' size=2 classNames='SocialShare-icon'}}