<div class='Container--noGutter'>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class='FilterBar-collapse'>
    <form class='FilterBar-form navbar-form navbar-left' role='search' {{action "submit" on="submit"}}>
      <div class='form-group'>
        <span class='FilterBar-text'>{{fa-icon 'search'}} Show me</span>
        {{content-query-filter
          query=query
          class='FilterBar-filter'
          submit='submit'
        }}
      </div>
      <div class='form-group'>
        <span class='FilterBar-text'>in</span>
        {{session.userLocation}}
      </div>
    </form>
  </div>
</div><!-- /.container-fluid -->
