<div class='ContentCardPreview-content'>
  <p class='ContentCardPreview-subtitle'>
    This is what your landing page talk "card" will look like!
  </p>

  <div class='Card TalkCard u-flexColumn-2'>
    {{partial 'components/talk-card'}}
  </div>
</div>
