{{#if talk.authorImageUrl}}
  <img class='TalkInfo-authorImage' src="{{talk.authorImageUrl}}">
{{/if}}
<h2 class='TalkInfo-header'>
  Talk started by
</h2>
<div class='TalkInfo-authorName' data-test-talk-author-name>
  {{talk.authorName}}
</div>
<div class='TalkInfo-organizationDate'>
  {{formattedPublishedAt}}
</div>