{{#form-group error=errors.title}}
  <label class='control-label ContentForm-label--required' for="title">Title</label>
  {{input
    id='title'
    placeholder='Keep it short and informative'
    class='form-control'
    value=talk.title
  }}
{{/form-group}}

{{#form-group error=errors.content class='u-layoutPadT5'}}
  <label class='control-label ContentForm-label--required' for="description">Text</label>
  {{#summer-note content=talk.content class='ContentForm-textArea'}}
    {{textarea
      id='description'
      placeholder='An informative, civil comment that will encourage people to respond'
      class='form-control'
    }}
  {{/summer-note}}
{{/form-group}}

{{content-form-image
  image=talk.image
  imageUrl=talk.imageUrl
  originalImageFile=talk.originalImageFile
  error=errors.image
  class='u-layoutPadT5'
}}

<div class='form-group ContentForm-helpText'>
  <span class='ContentForm-requiredIndicator'>*</span> = required fields
</div>

{{partial 'partials/content-form-buttons'}}
