{{input
  placeholder='Search term'
  class='Dropdown-input FilterBar-input FilterBar--talk dropdown-toggle'
  value=query
  data-toggle='dropdown'
  aria-expanded='false'
}}

<ul class='dropdown-menu' role='menu'>
  <li>
    <a href='#' {{action 'customSearch'}} tabindex='-1'>
      {{fa-icon 'search'}} <i>Custom Search</i>
    </a>
  </li>

  <li role="presentation" class="divider"></li>

  <li>
    <a href='#' {{action 'setQuery' 'Everything'}} tabindex='-1'>
      Everything
    </a>
  </li>
</ul>
