<li class='UserMenu-item'>
  {{user-menu-identity-switcher
    user=model
    organizations=model.managedOrganizations
    openProfileOrMyStuff=(action 'openProfileOrMyStuff')
  }}
</li>
<li class='UserMenu-item'>
  <button {{action 'signOut'}} class='UserMenu-button UserMenu-logout' data-test-link='logout-link'>
    Logout
  </button>
</li>
