<div class="FeedCarousel-ContentCard-title">
  {{feed-card/title
    title=model.title
    model=model
    linkToDetailIsActive=linkIsActive
    onContentClick=(action "onLinkClick" "title")
  }}
</div>


<div class="FeedCarousel-ContentCard-attribution">
  {{feed-card/attribution
    model=model
    noPadding=true
    customSize=24
    isOnDetailView=true
    linkToDetailIsActive=false
  }}
</div>
