<div class="BloggerIntro-Landing--title">
  Reach Your Community
</div>

<div class="BloggerIntro-Landing--value-grid">

  <div class="BloggerIntro-Landing--value-grid-row">
    <div class="BloggerIntro-Landing--value-grid-cell left">
      <div class="BloggerIntro-Landing--icon orange-button">
        {{#x-button
          rounded="circle"
          color="attention"
          style="flatten"
          shadow=true
          size="large"
          class="FloatingActionButton-toggleButton"
        }}
          {{fa-icon "plus" class="FloatingActionButton-icon"}}
        {{/x-button}}
      </div>
    </div>
    <div class="BloggerIntro-Landing--value-grid-cell right">
      <div class="BloggerIntro-Landing--subtitle">
        Share your voice
      </div>
      <div class="BloggerIntro-Landing--text">
        Contribute your local stories to help others learn and connect.
      </div>
    </div>
  </div>

  <div class="BloggerIntro-Landing--value-grid-row">
    <div class="BloggerIntro-Landing--value-grid-cell left">
      <div class="BloggerIntro-Landing--icon money-bag">
        💰
      </div>
    </div>
    <div class="BloggerIntro-Landing--value-grid-cell right">
      <div class="BloggerIntro-Landing--subtitle">
        Earn money
      </div>
      <div class="BloggerIntro-Landing--text">
        We share advertising revenue with bloggers like you.
        Some make coffee money, others earn hundreds or more each month.
      </div>
    </div>
  </div>

  <div class="BloggerIntro-Landing--value-grid-row">
    <div class="BloggerIntro-Landing--value-grid-cell left">
      <div class="BloggerIntro-Landing--icon party-popper">
        🎉
      </div>
    </div>
    <div class="BloggerIntro-Landing--value-grid-cell right">
      <div class="BloggerIntro-Landing--subtitle">
        Have fun
      </div>
      <div class="BloggerIntro-Landing--text">
        Get creative and try new things.
        Write what you want, when you want.
        There's no pressure!
      </div>
    </div>
  </div>
</div>
