{{#if isMobile}}
  <div class="BloggerIntro-Landing--logo">
    {{brand-logo}}
  </div>
{{/if}}

<div class="BloggerIntro-Landing--title">
  What's happening around you?
</div>

<div class="BloggerIntro-Landing--value-grid">

  <div class="BloggerIntro-Landing--value-grid-row">
    <div class="BloggerIntro-Landing--value-grid-cell left">
      <div class="BloggerIntro-Landing--icon post-button">
        {{fa-icon "plus" class="FloatingActionButton-icon"}}
      </div>
    </div>
    <div class="BloggerIntro-Landing--value-grid-cell right">
      <div class="BloggerIntro-Landing--subtitle">
        Share local info
      </div>
      <div class="BloggerIntro-Landing--text">
        Post your local updates to help others in the area learn and connect.
      </div>
    </div>
  </div>

  <div class="BloggerIntro-Landing--value-grid-row">
    <div class="BloggerIntro-Landing--value-grid-cell left">
      <div class="BloggerIntro-Landing--icon money-bag">
        💰
      </div>
    </div>
    <div class="BloggerIntro-Landing--value-grid-cell right">
      <div class="BloggerIntro-Landing--subtitle">
        Earn money
      </div>
      <div class="BloggerIntro-Landing--text">
        We share ad revenue with contributors like you.
        Some make coffee money, others earn hundreds monthly.
      </div>
    </div>
  </div>

  <div class="BloggerIntro-Landing--value-grid-row">
    <div class="BloggerIntro-Landing--value-grid-cell left">
      <div class="BloggerIntro-Landing--icon party-popper">
        🎉
      </div>
    </div>
    <div class="BloggerIntro-Landing--value-grid-cell right">
      <div class="BloggerIntro-Landing--subtitle">
        Have fun
      </div>
      <div class="BloggerIntro-Landing--text">
        Get creative and try new things.
        Post what you want, when you want.
        There's no pressure!
      </div>
    </div>
  </div>
</div>
