<p class='text-center'>
  Your post will appear in the next {{listservName}} digest under
  the category {{listservContent.channelType}}.
</p>
{{listserv-content-preview
  data-test-component='listserv-content-preview'
  listservContent=(mut model)
  enhancedPost=(mut enhancedPost)
  afterPublish=(action 'saveListservContent')
}}
