<div class="EventsResults-results-box">
  {{#if eventsByDay}}
    {{#each eventsByDay as |dayOfEvents dayIndex|}}
      {{events-by-day
        day=dayOfEvents.displayValue
        events=dayOfEvents.items
        dayValue=dayOfEvents.paramValue
        selectDay=jumpToDay
        updateEnabledEventDays=updateEnabledEventDays
        enabledEventDays=enabledEventDays
      }}
    {{/each}}
  {{/if}}

  {{inviewport-reporter
    reportScrollInto=true
    callback=(action 'reachedEnd')
  }}
</div>
