.Cards-MetricsAndPayments {
  &--message {
    margin-top: 8px;
    font-size: 11px;
    text-align: left;
    line-height: 1.1;
  }

  &--link {
    text-decoration: underline;
    margin: 12px 0;
  }
}
