.OrganizationProfileHeaderCard {
  position: relative;

  &-menuButton {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &-certification {
    float: left;
    margin: 8px;
    color: green;
    font-weight: bold;
  }
}
