.OrganizationContactCard {

  &-content {
    text-align: center;
    max-width: 500px;
    margin: auto;

    &.border-top {
      border-top: solid 1px @divider-color;
    }
  }

  &-item {
    border-right: solid 1px @divider-color;
    display: inline-block;
    padding: 10px 4%;

    &:last-child {
      border: none;
    }

    i {
      background: #efefef;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;
      vertical-align: middle;
      border-radius: 50%;
      color: grey;

      &:hover {
        background: #ddd;
      }
    }
  }
}
