.OrganizationSubscribeStats--card-align() {
  .grid-align-self(center);
  .grid-justify-self(center);
  text-align: center;
}

.OrganizationSubscribeStats {
  &.no-top-margin {
    .OrganizationSubscribeStats--card {
      margin-top: 0 !important;
    }
  }

  &--card {
    &-wrap {
      padding: 8px;
      .display-grid();
      .grid-template-columns(1fr 1fr 1fr max-content);
    }

    &-left {
      .grid-column(1);
      .OrganizationSubscribeStats--card-align();
    }

    &-center {
      &-left {
        .grid-column(2);
        .OrganizationSubscribeStats--card-align();
      }

      &-right {
        .grid-column(3);
        .OrganizationSubscribeStats--card-align();
      }
    }

    &-right {
      .grid-column(4);
      .OrganizationSubscribeStats--card-align();
    }

    &-stat {
      font-size: 16px;
    }

    &-text {
      font-size: 12px;
      line-height: 0.8;
      color: @gray-dark;
    }
  }

  &--subscribe-button {
    display: inline-block;
  }

  &--hides {
    padding: 8px;
    text-align: center;
  }
}
