.slide-up() {
  from {
    top: 100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {.slide-up;}
@-moz-keyframes slide-up {.slide-up;}
@-ms-keyframes slide-up {.slide-up;}
@-o-keyframes slide-up {.slide-up;}
@keyframes slide-up {.slide-up;}
