.slide-up() {
  from {
    top: 100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {.slide-up;}
@-moz-keyframes slide-up {.slide-up;}
@-ms-keyframes slide-up {.slide-up;}
@-o-keyframes slide-up {.slide-up;}
@keyframes slide-up {.slide-up;}

.slide-item-up() {
  from {
    top: 500px;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slide-item-up {.slide-item-up;}
@-moz-keyframes slide-item-up {.slide-item-up;}
@-ms-keyframes slide-item-up {.slide-item-up;}
@-o-keyframes slide-item-up {.slide-item-up;}
@keyframes slide-item-up {.slide-item-up;}



.start-slide-from-left {
  right: 100vw;
  opacity: 0;
}

.end-slide-from-left {
  right: 0;
  opacity: 1;
}

.start-slide-from-right {
  left: 100vw;
  opacity: 0;
}

.end-slide-from-right {
  left: 0;
  opacity: 1;
}
