//
// Vendor
//
@import 'bootstrap';

//
// Components
//
@import 'components/card';
@import 'components/event-filter';
@import 'components/summer-note';

//
// Variables
//
@import 'variables/colors';
@import 'variables/typography';
@import 'variables/components';

// Layout styles 
// TODO: Where am I allowed to put this? 
.EventGroup-header {
  font-weight: 300;
  margin: 65px 0 35px;
}

.EventGroup-header:first-child {
  margin-top: 35px;
}

.event-count {
  font-family: @font-family-sans-serif;
  font-weight: bold;
}