//
// Vendor
//
@import 'bootstrap';
@import "bower_components/bootstrap-social/bootstrap-social";

//
// Feature Flags
//
@import 'components/market-cta';
//

//
// UX3 Components
//
@import 'components/account';
@import 'components/business-feedback-badge';
@import 'components/checklist';
@import 'components/media';
@import 'components/main-nav';
@import 'components/section-navigation';
@import 'components/user-menu';
@import 'components/user-menu-modal';
@import 'components/list-component';
@import 'components/card';
@import 'components/channel-topper';
@import 'components/grouped-cards';
@import 'components/pagination-nav';
@import 'components/copyright';
@import 'components/detail-page';
@import 'components/expandable-content';
@import 'components/future-event';
@import 'components/comment';
@import 'components/ad-banner';
@import 'components/directory-landing';
@import 'components/registration-form';
@import 'components/card-group-cta';
@import 'components/group-header';
@import 'components/avatar-image';
@import 'components/digest-subscribe';
@import 'components/market-search';
@import 'components/pikaday-solo';
@import 'components/modal';
@import 'components/modal-header';
@import 'components/modal-dialog';
@import 'components/modals/date-picker';
@import 'components/modals/contact-poster';
@import 'components/pace';
@import 'components/subscribe-banner';
@import 'components/image-cropper';
@import 'components/action-helper';
@import 'components/flash-banner';
@import 'components/image-tile';
@import 'components/image-upload-tiles';
@import 'components/image-input-tile';
@import 'components/inline-edit';
@import 'components/form-group';
@import 'components/subscribe-button';
@import 'components/location-menu';
@import 'components/location-mismatch-prompt';
@import 'components/location-indicator';
@import 'components/input';
@import 'components/label';
@import 'components/sign-in-with-email-or-oauth';
@import 'components/legal-disclaimer';
@import 'components/facebook-login-button';
@import 'components/sign-in-register-modal';
@import 'components/search-type-tag';
@import 'components/text-block';
@import 'components/content-footer';
@import 'components/title-text';
@import 'components/subtitle-text';
@import 'components/form-input';
@import 'components/content-container';
@import 'components/notification-messages';
@import 'components/brand-logo';
@import 'components/x-button';
@import 'components/content-header';
@import 'components/channel-filters';
@import 'components/location-radius-selector';
@import 'components/floating-action-button';
@import 'components/list-menu';
@import 'components/help-text';
@import 'components/jobs-navigation';
@import 'components/in-viewport';
@import 'components/media-container';
@import 'components/directions-link';
@import 'components/x-card';
@import 'components/card-body';
@import 'components/town-image';
@import 'components/organization-stats';
@import 'components/content-label';
@import 'components/x-tabs';
@import 'components/hours-list';
@import 'components/feed/feed-container';
@import 'components/simple-header';
@import 'components/tooltip';
@import 'components/toggle-switch';
@import 'components/promotion-menu';
@import 'components/admin-card';
@import 'components/cards/organization-contact';
@import 'components/cards/organization-profile-header';
@import 'components/business-hours-editor';
@import 'components/divided-list';
@import 'components/icon';
@import 'components/events-by-day';

//
// UX2 Components
//
@import 'components/action-dropdown';
@import 'components/auth-form';
@import 'components/back-button';
@import 'components/button';
@import 'components/comment-bubble';
@import 'components/comment-section';
@import 'components/content-body';
@import 'components/content-card-preview';
@import 'components/content-form';
@import 'components/content-form-steps';
@import 'components/content-image';
@import 'components/content-metrics';
@import 'components/content-preview';
@import 'components/content-table';
@import 'components/content-text';
@import 'components/context-bar';
@import 'components/dashboard';
@import 'components/dashboard-section';
@import 'components/dashed-mobile-content';
@import 'components/disabled-checkbox';
@import 'components/directory-business-detail';
@import 'components/directory-business-info';
@import 'components/directory-feedback-form';
@import 'components/directory-feedback-gauge';
@import 'components/directory-search';
@import 'components/directory-search-results';
@import 'components/directory-results';
@import 'components/dropdown';
@import 'components/event-filter';
@import 'components/event-form';
@import 'components/event-group'; // TODO is this being used?
@import 'components/event-header';
@import 'components/event-info';
@import 'components/event-list';
@import 'components/event-show';
@import 'components/event-schedule';
@import 'components/featured-content';
@import 'components/filter-bar';
@import 'components/floating-side-column';
@import 'components/google-map';
@import 'components/gradient-truncation';
@import 'components/header-image';
@import 'components/image-editor';
@import 'components/image-upload';
@import 'components/intercom-button';
@import 'components/listserv-content-digest-preview';
@import 'components/listserv-content-form';
@import 'components/list-post-enhance';
@import 'components/list-post-preview';
@import 'components/loader';
@import 'components/location-dropdown';
@import 'components/location-search';
@import 'components/market-post';
@import 'components/nav-tabs';
@import 'components/news';
@import 'components/news-editor';
@import 'components/no-results';
@import 'components/organization-dropdown';
@import 'components/organization-profile';
@import 'components/password-reset';
@import 'components/pill-navigation';
@import 'components/photo-banner';
@import 'components/promotion-section';
@import 'components/publish-settings';
@import 'components/report-abuse-body';
@import 'components/search-filters';
@import 'components/search-input';
@import 'components/search-nav';
@import 'components/search-pagination';
@import 'components/section-header';
@import 'components/sidebar-widget';
@import 'components/sign-in-form';
@import 'components/sign-in-register-menu';
@import 'components/similar-content';
@import 'components/social-share';
@import 'components/sticky-item';
@import 'components/summer-note';
@import 'components/tab-navigation';
@import 'components/terms-of-service';
@import 'components/text-area';
@import 'components/thumbnail-image-modal';
@import 'components/top-scroller';
@import 'components/truncate';
@import 'components/weather';
@import 'components/business-profile-form';
@import 'components/category-header';
@import 'components/category-nav';
@import 'components/market-nav';
@import 'components/info-header';
@import 'components/market-category-card';
@import 'components/user-testimonial';
@import 'components/outreach-cta';
@import 'components/promotion-coupon';
@import 'components/promotion-coupon-cta';
@import 'components/image-load-placeholder';
@import 'components/events-filter';
@import 'components/events-results';
@import 'components/events-results-inidcator';
@import 'components/events-results-item';
@import 'components/inviewport-reporter';
@import 'components/feed/index-feed';
@import 'components/feed-card/attribution';
@import 'components/feed-card/event-dates';
@import 'components/feed-card/event-info';
@import 'components/feed-card/image';
@import 'components/feed-card/footer';
@import 'components/feed-card/feed-card';
@import 'components/feed-card/market-info';
@import 'components/feed-card/text-snippet';
@import 'components/feed-card/title';
@import 'components/feed-card/source';
@import 'components/feed-carousel';
@import 'components/feed-carousel/cta-card';
@import 'components/feed-carousel/organization-card';
@import 'components/feed-carousel/feed-content-card';
@import 'components/location/index';
@import 'components/horizontal-rule';
@import 'components/small-card';
@import 'components/media-container';

@import 'routes/storytellers';

//
// Variables
//
@import 'variables/buttons';
@import 'variables/colors';
@import 'variables/components';
@import 'variables/forms';
@import 'variables/nav';
@import 'variables/typography';

//
// Mixins
//
@import 'mixins/compatibility';

//
// Utilities
//

@import 'utilities/colors';
@import 'utilities/card';
@import 'utilities/buttons';
@import 'utilities/spacing';
@import 'utilities/borders';
@import 'utilities/effects';
@import 'utilities/icons';
@import 'utilities/layout';
@import 'utilities/text';

@import 'animations';

//
// Overrides
//
body {
  background-color: @secondary-bg;

  &.modal-open {
    overflow: hidden;
  }
}
/* The default interferes with app modals */
body.modal-open > .modal-backdrop {
  z-index: 60;
}
#toast-container {
  @media (max-width: @screen-xs-max) {
    margin-top: 40px !important;
  }
}

// added to the main element when sticky mobile header is on screen.
#main {
  padding-top: 40px;
  z-index: 2000001;

  &.has-header-page-toolbar {
    padding-top: 86px;
  }

  &.search-open {
    padding-top: 82px;
  }

  &.has-header-page-toolbar.search-open {
    padding-top: 127px;
  }

  @media (min-width: @screen-sm-min) {
    padding-top: 60px;

    &.has-header-page-toolbar {
      padding-top: 111px;
    }
  }
}

[class*=col-] {
  padding: 0 7px;
}

.row {
  margin-left: -3px;
  margin-right: -3px;
}

// reposition intercom message window on desktop -- have to be highly specific to override
//desktop
@media (min-width: @screen-sm-max) {
  body {
    div#intercom-container {
      div.intercom-app-container {
        div.intercom-app {
          div.intercom-messenger-frame,
          iframe.intercom-notifications-frame {
              bottom: 55px !important;
          }
        }
      }
    }
  }
}
//mobile
@media (max-width: @screen-sm-max) {
  body {
    div#intercom-container {
      div.intercom-app-container {
        div.intercom-app {
          iframe.intercom-notifications-frame {
              bottom: 100px !important;
          }
        }
      }
    }
  }
}

.bootstrap-datetimepicker-widget {
  z-index: 2000;

  .btn-primary {
    background: #000;
    color: #fff;
  }
}

.hidden-tiny {
  @media(max-width: 400px) {
    display: none;
  }
}

.visible-tiny {
  @media(min-width: 400px) {
    display: none;
  }
}
