.BizFeed-AddToMenu {
  &-hotlink-message {
    font-size: 14px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 4px;
  }

  input {
    color: #000;
  }

  &-hotlink-options {
    margin-top: 12px;
  }

  &-hotlink-action {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin-right: 8px;
  }

  &-save {
    font-weight: bold;
    padding: 3px 6px;
    border: solid 2px white;
    border-radius: 5px;
  }
}
