.BizFeed-CardManage {
  position: absolute;
  top: 20px;
  right: 10px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  z-index: 3;
  pointer: cursor;

  &.overlay-open {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px;
  }

  a {
    color: #fff !important;
    text-decoration: none !important;
  }

  &-cta {
    cursor: pointer;
    padding: 8px;
    text-transform: capitalize;
  }

  &-close-overlay {
    cursor: pointer;
    float: right;
  }

  &-manage {
    font-size: 20px;
    margin-top: 10px;
  }

  &-manage-button {
    display: block;
    text-align: left;
    padding: 10px 0;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    i {
      font-size: 22px;
      color: #fff;
      margin-right: 10px;
    }
  }

  &-menu-toggle i {
    font-size: 12px;
  }

  &-sunset-options {
    font-size: 14px;
    line-height: 2;
  }

  &-action-button {
    padding: 6px;
    background: #000;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
}
