.BizFeed-Card {
  display: inline-block;
  width: 360px;
  height: 360px;
  position: relative;
  background: #fff;
  text-align: left;
  .box-shadow( 0 1px 1px 0 rgba(0,0,0,.18 ) );
  vertical-align: top;
  margin: 6px;

  @media (max-width: @screen-xs-max) {
    width: 100%;
    max-width: 400px;
  }

  &-event-date {
    background: @event-brand;
    padding: 5px;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    left: -10px;
    z-index: 2;
  }

  &-info-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
  }

  &-info-box-top {
    overflow: hidden;
    position: relative;
    line-height: 1.1;
    border-bottom: solid 2px #efefef;
    padding: 8px 14px;
  }

  &-info-box-title {
    font-size: 22px;
    font-weight: 600;
  }

  &-info-box-table {
    display: table;
    width: 100%;
    padding: 4px;
  }

  &-info-box-row {
    display: table-row;
    width: 100%;
  }

  &-info-box-cell {
    display: table-cell;
    vertical-align: middle;
  }

  &-info-box-event-venue {
    font-size: 14px;
    color: grey;
  }

  &-info-box-market-price {
    font-size: 14px;
    color: green;
    font-weight: bold;
  }

  &-info-box-event-start-day {
    font-size: 33px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  &-info-box-event-start-month {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
  }

  &-info-box-event-start-time {
    color: #808080;
    font-size: 22px;
    font-weight: 600;
  }

  &-info-box-avatar-block {
    padding: 5px;
    width: 50px;
  }

  &-image-container {
    width: 100%;
    height: 320px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  &.campaign {
    background: none;
    .box-shadow(none);

    .BizFeed-Card-image-container {
      height: 300px;
      background-size: contain;
    }

    .BizFeed-Card-title {
      line-height: 1.1;
      font-weight: bold;
      font-size: 22px;
      padding: 2px 3px;
      color: #fff;
      .text-shadow(1px 1px 2px #000);
      background: rgba(0, 0, 0, 0.25);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
