.BizFeed-ContentVisibility {
  position: absolute;
  right: 10px;
  bottom: 10px;
  line-height: 2.0;
  text-align: right;

  &-status-line {
    font-size: 12px;
  }

  &-action-button {
    padding: 3px 6px;
    background: #000;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
  }
}
