.BizFeed-CreateButton {
  position: relative;
  display: inline-block;

  &-create-button {
    cursor: pointer;
  }

  .dropdown-menu.open {
    display: block;
    right: 0;
    left: auto;
  }

  &-create-button-in-dropdown {
    padding: 6px 12px 6px 6px;
  }
}
