.BizFeed-Header {

  &-header {
    background-color: darken(@gray-light, 20%);
    height: 250px;

    width: 100%;
    z-index: 200000;

    @media (max-width: @screen-xs-max) {
      height: 150px;
    }

    &.hasBackgroundImage {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      .BizFeed-Header-header-container {
        position: relative;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,444444+98&0+0,0.65+90 */
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 90%, rgba(68, 68, 68, 0.65) 98%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 90%, rgba(68, 68, 68, 0.65) 98%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 90%, rgba(68, 68, 68, 0.65) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6444444', GradientType=0); /* IE6-9 */
      }
    }
  }

  &-header-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: table;
  }

  &-header-content {
    width: 100%;
    display: table-row;
    position: relative;
  }

  &-logo-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 40%;
    position: relative;

    @media (max-width: @screen-xs-max) {
      width: 30%;
    }

    img {
      max-height: 160px;
      max-width: 100%;
      border-radius: 50%;
      margin-right: 10px;

      @media (max-width: @screen-xs-max) {
        max-height: 90px;
      }
    }

    .form-group img {
      margin: 0 auto;
      height: 150px;
      width: 150px;
    }
  }

  &-image-editor-buttons {
    text-align: right;

    .BizFeed-Header-save-button {
      display: inline-block;
      background: grey;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
    }

    .BizFeed-Header-cancel-button {
      display: inline-block;
      font-size: 18px;
      cursor: pointer;
    }
  }

  &-info-wrap {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
  }

  &-organization-info {
    line-height: 1.1;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
    font-weight: bold;
    display: block;
    text-align: left;

    &.BizFeed-Header-name {
      font-size: 48px;
      @media (max-width: @screen-xs-max) {
        font-size: 30px;
      }
    }

    &.BizFeed-Header-address {
      font-size: 16px;
      @media (max-width: @screen-xs-max) {
        font-size: 13px;
      }
    }
  }

  &-icon-bar {
    text-align: center;
    font-size: 16px;
    height: auto;
    line-height: 50px;
    background: #FFF;
    padding: 6px 0;
    .box-shadow( 0 1px 1px 0 rgba(0,0,0,.18 ) );
    @media (max-width: @screen-xs-max) {
      font-size: 12px;
    }

    &-item {
      cursor: pointer;
      display: inline-block;
      padding: 0 12px;
      @media (max-width: @screen-xs-max) {
        padding: 0 5px;
      }
      i {
        background: #efefef;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        vertical-align: middle;
        border-radius: 50%;
        color: grey;
      }
    }
  }

  &-hours-list {
    text-align: left;
  }

  &-hours-line {
    line-height: 1.4;
    margin-bottom: 4px;
  }

  &-details {
    text-align: left;
    padding-top: 10px;
    line-height: 1.4;
    a {
      font-weight: bold;
      text-decoration: underline;
      color: rgb(108, 192,157);
    }
  }

  &-about-wrap {
    position: relative;
    max-width: 736px;
    background: #fff;
    margin: 70px auto 10px auto;
    .box-shadow( 0 1px 1px 0 rgba(0,0,0,.18 ) );

    &.has-custom-links {
      @media (max-width: @screen-xs-max) {
        margin-top: 115px;
      }
    }

    .BizFeed-Header-item {
      display: inline-block;
      padding: 15px 10px 15px 20px;
      max-width: 39%;
      vertical-align: top;
      @media (max-width: @screen-xs-max) {
        display: block;
        max-width: 100%
      }
      &.BizFeed-Header-left {
        border-right: solid 1px #efefef;
        max-width: 60%;
        @media (max-width: @screen-xs-max) {
          display: block;
          max-width: 100%;
          border: none;
        }
      }
    }
  }

  &-edit-button {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #efefef;
    padding: 3px;
    border-radius: 3px;
    color: grey;
    cursor: pointer;
  }

  &-header-title {
    text-align: left;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .StickyItem {
    .BizFeed-Header-organization-name {
      display: none;
    }
    &.fixed {
      .BizFeed-Header-organization-name {
        display: inline-block;
        @media (max-width: @screen-xs-max) {
          display: block;
        }
      }
      .BizFeedHeader-icon-bar {
        @media (max-width: @screen-xs-max) {
          height: auto;
          line-height: 33px;
          i {
            line-height: 25px;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }

}
