.BizFeed-PromotionOptions {
  &-messaging {
    font-size: 12px;
  }

  &-record-promotion {
    margin: 10px 0 0 10px;
  }

  &-record-message {
    font-size: 16px;
  }

  &-record-option {
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    &.BizFeed-PromotionOptions-yes {
      border: solid 2px #fff;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
    }
    &.BizFeed-PromotionOptions-no {
      font-size: 12px;
      margin-left: 10px;
    }
  }

  &-share-platform {
    text-transform: capitalize;
  }

  &-promotion-option {
    display: inline-block;
    font-size: 16px;
    padding: 6px;
    border: solid 2px #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  &-cancel-option {
    text-align: right;
    margin-top: 10px;
  }

  &-action-button {
    padding: 3px 6px;
    background: #000;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
  }
}
