{{#unless hidden}}
  <div class='FloatingActionButton-container'>
    <header class='FloatingActionButton-header'>
      {{#if showJobTray}}
        <div class="FloatingActionButton-message">
        'What would you like to do on DailyUV?'
        </div>
      {{/if}}

      {{#x-button
        rounded='circle'
        color=(if showJobTray 'medium-gray' 'attention')
        style=(if showJobTray 'transparent' 'flatten')
        shadow=(not showJobTray)
        size='large'
        onClick=(action 'toggleContent')
        class='FloatingActionButton-toggleButton'
        data-test-button='open-job-tray'
      }}
        {{fa-icon 'plus' class='FloatingActionButton-icon'}}
      {{/x-button}}
    </header>

    {{#if showJobTray}}
      <div class='FloatingActionButton-content' style={{styleForContent}}>
        {{yield}}
      </div>
    {{/if}}
  </div>
{{/unless}}
