{{#modal-wrapper
  close=(action "close")
  showHeader=false
  isAnimated=true
  isSmall=true
  data-test-modal="simple-message"
}}
  <div class="Modals-SimpleMessage--message">
    {{#if message}}
      {{message}}
    {{else}}
      Oops...something went wrong. Please try again.
    {{/if}}
  </div>
{{/modal-wrapper}}
