<div class="LocationMismatchPrompt">
  <div class="Container--noGutter">
    <div class="LocationMismatchPrompt-content">

      <div>
        You are viewing {{activeLocation.name}}.
        {{#x-button style="link"
          data-test-action="reset-location"
          onClick=(action 'resetLocation' selectedLocation)
        }}
          Switch to {{selectedLocation.name}}
        {{/x-button}}
      </div>

      <button {{action 'saveSelectedLocationId' activeLocationId}}
        class="LocationMismatchPrompt-closeButton">
        &times;
      </button>

    </div>
  </div>
</div>
