<div class='CategoryHeader {{if cat.banner "has-image"}}' style="background-image: url('{{cat.banner}}');">
  <div class='CategoryHeader-contentWrapper'>
    <div class='CategoryHeader-content'>
      <div class='CategoryHeader-category u-card u-rounded'>
        <h1 class='h1 CategoryHeader-name text-center' data-test-name>{{cat.name}}</h1>
        <p class='CategoryHeader-count text-center' data-test-count>{{cat.count}} items</p>
      </div>
    </div>
  </div>
</div>
