{{#if (or hasSource canEdit hasComments)}}
  <div class="FeedCard-Footer-wrap">
    <div class="FeedCard-Footer-left">
      {{#if hasSource}}
        {{feed-card/source
          locationTagName=locationTagName
        }}
      {{/if}}
    </div>

    <div class="FeedCard-Footer-right"></div>
  </div>
{{/if}}
