{{#if (or hasSource canEdit)}}
  <div class="FeedCard-Footer-wrap">
    <div class="FeedCard-Footer-left">
      {{#if hasSource}}
        {{feed-card/source
          locationTagName=locationTagName
        }}
      {{/if}}
    </div>

    <div class="FeedCard-Footer-right">
      {{#if showEditButton}}
        {{#x-link-to editRoute editRouteId style='regular' color='primary' size='x-small' nowrap=true}}
          {{fa-icon 'pencil'}}
          Edit Post
        {{/x-link-to}}
      {{/if}}
    </div>
  </div>
{{/if}}
