{{#if (or hasSource showEditButton showManageButton)}}
  <div class="FeedCard-Footer-wrap">
    <div class="FeedCard-Footer-left">
      {{#if hasSource}}
        {{feed-card/source
          locationTagName=locationTagName
        }}
      {{/if}}
    </div>

    <div class="FeedCard-Footer-right">
      {{#unless displayAsPublic}}
        {{#if showManageButton}}
          {{#x-button onClick=(action 'openPromotionMenu') style='regular' color='primary' size='x-small'}}Manage{{/x-button}}
        {{/if}}
        {{#if showEditButton}}
          {{#x-link-to editRoute editRouteId style='regular' color='primary' size='x-small'}}Edit{{/x-link-to}}
        {{/if}}
      {{/unless}}
    </div>
  </div>
{{/if}}
