{{#if (or hasSource showEditButton showManageButton)}}
  <div class="FeedCard-Footer-wrap">
    {{#if hasSource}}
      <div class="FeedCard-Footer-left">
        {{feed-card/source
          locationTagName=locationTagName
        }}
      </div>
    {{/if}}

    {{#unless displayAsPublic}}
      <div class="FeedCard-Footer-right">
        {{#if showManageButton}}
          {{#x-button onClick=(action 'openPromotionMenu') style='regular' color='primary' size='x-small'}}Manage{{/x-button}}
        {{/if}}
        {{#if showEditButton}}
          {{#x-link-to editRoute editRouteId style='regular' color='primary' size='x-small'}}Edit{{/x-link-to}}
        {{/if}}
      </div>
    {{/unless}}
  </div>
{{/if}}
