<div class="FeedCard-Footer-wrap">
  {{#if hasSource}}
    <div class="FeedCard-Footer-left">
      {{feed-card/source
        locationTagName=locationTagName
        class="FeedCard-Footer--location"
      }}
    </div>
  {{/if}}

  {{#if showCost}}
    <div class="FeedCard-Footer-right">
      <div class="FeedCard-Footer--cost" data-test-card-price>
        {{costFormatted}}
      </div>
    </div>
  {{else if (has-block)}}
    <div class="FeedCard-Footer-right">
      {{yield}}
    </div>
  {{/if}}
</div>
