<div class="FeedCard-Footer-wrap">
  {{#if hasSource}}
    <div class="FeedCard-Footer-left">
      {{feed-card/source
        locationTagName=locationTagName
      }}
    </div>
  {{/if}}

  {{#unless displayAsPublic}}
    <div class="FeedCard-Footer-right">
      {{#unless isListserv}}
        {{feed-card/edit-button
          editPath=editPath
          editPathId=editPathId
          model=model
          iconSize="x-small"
          color="primary"
          style="regular"
          }}
      {{/unless}}
      {{#if showManageButton}}
        <div class="FeedCard-Footer-manage-button">
          {{#x-button
            onClick=(action 'openPromotionMenu')
            style='regular'
            color='primary'
            size='x-small'
            data-test-button='manage'
          }}
            Manage
          {{/x-button}}
        </div>
      {{/if}}
    </div>
  {{/unless}}
</div>
