<div class="FeedCard-Footer-wrap">
  {{#if hasSource}}
    <div class="FeedCard-Footer-left">
      {{feed-card/source
        locationTagName=locationTagName
      }}
    </div>
  {{/if}}

  {{#unless displayAsPublic}}
    <div class="FeedCard-Footer-right">
      {{feed-card/edit-button
        editPath=editPath
        editPathId=editPathId
        model=model
        iconSize="x-small"
        color="primary"
        style="regular"
        }}
      {{#if showManageButton}}
        {{#x-button onClick=(action 'openPromotionMenu') style='regular' color='primary' size='x-small'}}Manage{{/x-button}}
      {{/if}}
    </div>
  {{/unless}}
</div>
