<div class="FeedCard-Footer-wrap">
  {{#if hasSource}}
    <div class="FeedCard-Footer-left">
      {{feed-card/source
        locationTagName=locationTagName
      }}
    </div>
  {{/if}}

  {{#unless (or displayAsPublic dontShowButtons)}}
    <div class="FeedCard-Footer-right">
      {{#if showEditButton}}
        {{feed-card/edit-button
          editPath=editPath
          editPathId=editPathId
          model=model
          iconSize="x-small"
          color="primary"
          style="regular"
          }}
      {{/if}}
      {{#if showManageButton}}
        {{#x-button
          onClick=(action 'openPromotionMenu')
          style='regular'
          color='primary'
          size='x-small'
          data-test-button='manage'
        }}
          Manage
        {{/x-button}}
      {{/if}}
    </div>
  {{/unless}}
</div>
