# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/
/tmpsm/

# dependencies
/bower_components/
/node_modules/

# misc
/.idea
/.sass-cache
/connect.lock
/coverage/
/ssl
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log
.DS_Store
.vagrant
.env
jsconfig.json

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
