{{#if showSoldTag}}
  <div class="FeedCard-Title-sold-tag" data-test-sold-tag>
   Sold
  </div>
{{/if}}

<div class="FeedCard-Title-title title-real" {{action onContentClick}} role="button" data-test-card-title>
  {{#feed-card/conditional-link-to
    useLink=linkToDetailIsActive
    model=model
  }}
    {{title}}

  {{/feed-card/conditional-link-to}}
</div>

<div class="FeedCard-Title--menu">
  {{feed-card/options-menu
    model=model
    isOnDetailView=isOnDetailView
    isPreview=isPreview
    afterHide=afterHide
    onShareContent=onShareContent
  }}
</div>

<div class="FeedCard-Title-title title-clone">
  {{title}}
</div>
