{{#if sold}}
  <div class="FeedCard-Title-sold-tag">
    <span>Sold</span>
  </div>
{{/if}}

<div class="FeedCard-Title-title" {{action onContentClick}}>
  {{#feed-card/conditional-link-to
    useLink=useLink
    model=model
  }}
    {{title}}
  {{/feed-card/conditional-link-to}}
</div>
