{{#liquid-if showSuccess use="fade"}}
  <div class="alert alert-success" role="alert">
    Thank you for reporting this content. We will review it shortly.
  </div>
{{else}}
  <p class="text-center">
    Tell us what makes this content or comment abusive.
  </p>

  {{#liquid-if isInvalid use="fade"}}
    <div class="alert alert-danger u-marginBottom0" role="alert">
      Please make a selection and try again.
    </div>
  {{/liquid-if}}

  <ul class="ReportAbuseBody-flags">
    {{#each flagTypes as |flag|}}
      <li class="ReportAbuseBody-flag">
        {{#radio-button
          class="ReportAbuseBody-label"
          name="flag-type"
          value=flag
          groupValue=flagType
        }}
          {{flag}}
        {{/radio-button}}
      </li>
    {{/each}}
  </ul>
{{/liquid-if}}

<div class="ReportAbuseBody-actionButtons">
  {{#unless showSuccess}}
    {{#x-button
      color="primary"
      rounded="rounded"
      size="x-small"
      onClick=(action "submit")
      data-test-component="report-abuse-submit-button"}}
      Report
    {{/x-button}}
  {{/unless}}

  {{#x-button
    color=(if showSuccess "primary" "light-gray")
    rounded="rounded"
    size="x-small"
    onClick=(action "close")
    data-test-component="report-abuse-close-button"}}
    {{if showSuccess "Close" "Cancel"}}
  {{/x-button}}
</div>


{{#unless showSuccess}}
  {{horizontal-rule}}

  <p>
    Please consider getting in touch with the content author directly. HereCast does not exercise editorial control over the content that the independent contributers create on the platform.
  </p>
{{/unless}}
