<div class="row">
  <div class="col-sm-12">
    {{location-dropdown
    selectedLocationId=model.locationId
    onUpdate=(action 'submit')
    class='h1'
    }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Your community affects what we highlight on the home page and
    what you see in Talk, which is for your community only.
    You can return and change this later.
  </div>
</div>