<form data-test-component='sign-in-form'>
  <p>
    Please enter your password to begin.
  </p>

  {{#form-group class="text-left"}}
    <label class='control-label ListservForm-label'>Email:</label>
    <h4 data-test-listserv-sign-in-form-email>{{email}}</h4>
  {{/form-group}}

  {{#form-group error=error}}
    {{input
      value=password
      placeholder='Password'
      type='password'
      class='form-control'
      data-test-field='sign-in-form-password'
      data-test-component='login-password'
    }}
    {{#link-to 'forgot-password.index' (query-params returnUrl=forgotPasswordReturnUrl) class='ListservSignInForm-forgotPassword'}}
      <span {{action 'trackForgotPassword'}}>
        Forgot your password? No worries>
      </span>
    {{/link-to}}
  {{/form-group}}

  <p>
    By clicking below you agree to our
    {{#link-to 'terms' class='u-textUnderline' target="_blank"}}
      Terms of Service
    {{/link-to}}
  </p>

  <p class='form-actions text-center'>
    {{async-button
      action=(action 'authenticate')
      default=callToAction
      pending='Signing in'
      class='ListservForm-callToAction'
      data-test-component='sign-in-form-submit'
    }}
  </p>

</form>
