<div class='Container--noGutter'>
  <div class='DirectorySearch-wrapper'>
    <div class='row'>
      <div class='col-xs-12'>
        Find a business or service
      </div>

      <div class='col-xs-12'>
        <div class='clearfix u-layoutPadT10 u-layoutPadB10'>
          <div class='DirectorySearch-inputWrapper'>
            <span class='DirectorySearch-pseudoInputText'><b>Find</b></span>
            <input type='text' class='form-control DirectorySearch-input' placeholder='What are you looking for?'>
          </div>

          <div class='DirectorySearch-inputWrapper'>
            <span class='DirectorySearch-pseudoInputText'><b>Near</b></span>
            <input type='text' class='form-control DirectorySearch-input' placeholder='Where?'>
          </div>
        </div>
      </div>

      <div class='col-xs-12'>
        {{category-tag-list
          categories=categories
          selectTag=(action 'selectTag')
          removeTag=(action 'removeTag')
          parentCategory=parentCategory
          subCategory=subCategory
        }}
      </div>
    </div>
  </div>

  {{outlet}}
</div>
