<div class='Container--noGutter'>
  <div class='DirectorySearch-wrapper'>
    <div class='row'>
      <div class='col-xs-12'>
        <h1 class='h2'>Find a business or service</h1>
      </div>

      <div class='col-xs-12'>
        <div class='clearfix u-layoutPadT10 u-layoutPadB10'>
          <div class='DirectorySearch-inputWrapper'>
            <span class='DirectorySearch-pseudoInputText'><b>Find</b></span>
            {{business-search
              inputClass='form-control DirectorySearch-input DirectorySearch-queryInput'
              updateFromQuery=(action 'updateQuery')
            }}
          </div>

          <div class='DirectorySearch-inputWrapper'>
            <span class='DirectorySearch-pseudoInputText'><b>Near</b></span>
            {{location-search inputClass='form-control DirectorySearch-input' placeholder='Where?' location=location setLocation=(action (mut location))}}
          </div>
        </div>
      </div>

      <div class='col-xs-12'>
        {{category-tag-list
          categories=categories
          removeTag=(action 'removeTag')
          selectParentCategory=(action 'setParentCategory')
          parentCategory=parentCategory
          subCategory=subCategory
        }}
      </div>
    </div>
  </div>

  <div class='row'>
    {{outlet}}
  </div>
</div>
