<div class='DirectorySearch-wrapper'>
  <div class='Container--noGutter'>
    <h1 class='h1 DirectorySearch-title text-uppercase'>Directory</h1>
    <h2 class='h2 DirectorySearch-title'>Find a business or service</h2>

    <div class='clearfix DirectorySearch-InnerWrapper'>
      <div class='DirectorySearch-inputWrapper'>
        <span class='DirectorySearch-pseudoInputText'><b>Find</b></span>
        {{business-search
          inputClass='form-control DirectorySearch-input DirectorySearch-queryInput'
          categories=categories
          category=category
          setCategory=(action 'setCategory')
          searchTerms=searchTerms
          query=query
          updateFromQuery=(action 'updateQuery')
        }}
      </div>

      <div class='DirectorySearch-inputWrapper'>
        <span class='DirectorySearch-pseudoInputText'><b>Within<br />50 miles of</b></span>
        {{location-search inputClass='form-control DirectorySearch-input' placeholder=searchLocationPlaceholder location=location setLocation=(action 'setLocation')}}
      </div>
    </div>
  </div>
</div>

<div class='Container--noGutter'>
  <div class='row'>
    {{liquid-outlet class='useFade Directory-wrapper'}}
  </div>
</div>
