{{#if preserveAspectRatio}}
  <div class="HeaderImage-background" style={{imageStyle}}></div>
{{/if}}

<div class="HeaderImage-image" style={{imageStyle}} class={{if preserveAspectRatio 'HeaderImage--preserveAspectRatio'}} data-test-header-image></div>

{{yield}}
