{{#if preserveAspectRatio}}
  <div class="HeaderImage-background" style={{imageStyle}}></div>
{{/if}}

<div class="HeaderImage-image {{if preserveAspectRatio "HeaderImage--preserveAspectRatio"}}" style={{imageStyle}} data-test-header-image></div>

{{yield}}
