{{#if (and _didEnterViewPort features.browserTesting)}}
  <div style="
      position: absolute;
      background: rgb(200,0,0);
      color: #fff;
      padding: 0.5em;
      opacity: 0.8;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
    ">Impression Tracked</div>
{{/if}}

{{component componentType
  model=model
  userLocation=userLocation
  isLoggedIn=isLoggedIn
  context=(hash
    canManage=(readonly canManage)
    displayAsPublic=(readonly displayAsPublic)
    promotionMenuOpen=(readonly promotionMenuOpen)
    openPromotionMenu=(action 'openPromotionMenu')
    onContentClick=(action 'onContentClick')
    hideComments=(readonly hideComments)
  )
}}

{{#if promotionMenuOpen}}
  {{promotion-menu
    organization=organization
    content=model
    close=(action 'closePromotionMenu')
  }}
{{/if}}
