<div class="FeedCard-Bookmark-button">
  <div {{action "clickBookmark"}} role="button" data-test-button="bookmark-icon">
    {{#if isBookmarked}}
      {{fa-icon "heart" class=(concat "FeedCard-Bookmark-button-icon" (if justBookmarked " just-bookmarked"))}}
    {{else}}
      {{fa-icon "heart-o" class="FeedCard-Bookmark-button-icon"}}
    {{/if}}
  </div>
</div>
