<label class="ToggleSwitch-label" {{action "toggle"}}>
  {{if active onText offText}}
</label>

<button class="ToggleSwitch-button {{if active "active"}}" {{action "toggle"}}>
  <span class="ToggleSwitch-circle"></span>
</button>