<div class="SimpleHeader-homeLink">
  {{#x-link-to 'index' strong=true nowrap=true size='large' color='primary'}}
    {{fa-icon 'arrow-left'}}
    <span class="hidden-xs">Home</span>
  {{/x-link-to}}
</div>

<div class="SimpleHeader-title">
  {{#if avatarUrl}}
    {{avatar-image
      imageUrl=avatarUrl
      customSize=40
      class="SimpleHeader-avatar"
    }}
  {{/if}}
  {{#x-button onClick=(action 'scrollTop') style='link' color='black' size='large' strong=true}}
    {{title}}
  {{/x-button}}
</div>
