<div class='AccountPage container'>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="AccountPage-title">My Account</h1>

      <ul class="AccountPage-navigation">
        {{#active-link}}
          {{link-to 'Details' 'account.index'}}
        {{/active-link}}

        {{#active-link}}
          {{link-to 'Community' 'account.community'}}
        {{/active-link}}

        {{#if model.digests}}
          {{#active-link}}
            {{link-to 'Subscriptions' 'account.subscriptions'}}
          {{/active-link}}
        {{/if}}
      </ul>

      <div class="AccountPage-content">
        {{liquid-outlet}}
      </div>
    </div>
  </div>
</div>
