<div class='ImageUploadTiles-container'>
  {{#each nonDeletedImages as |image|}}
    {{#unless image._delete}}
      {{image-tile
          imageUrl=image.imageUrl
          isPrimary=image.primary
          setPrimary=(action setPrimary image)
          remove=(action removeImage image)
          class="ImageUploadTiles-tile"
      }}
    {{/unless}}
  {{/each}}

  {{#if uploadAllowed}}
    {{image-input-tile
        class='ImageTile ImageUploadTiles-tile ImageUploadTiles-inputTile'
        action=(action 'newImage')
        onError=(action 'imageError')
        multiple=true
    }}
  {{/if}}

  {{#unless nonDeletedImages.length}}
    <div data-test-message="reminder-to-add-images">
      {{#action-helper point='left'}}
        People really, really like to look at pictures!
      {{/action-helper}}
    </div>
  {{/unless}}
</div>

{{#if error}}
  <div class='ImageUploadTiles-error alert alert-danger'>
    <button type='button' class='close' {{action 'dismissError'}}>&times;</button>
    {{error}}
  </div>
{{/if}}
