{{#if displayBlocAttribution}}
<div class="DetailPage-metaBloc-attribution">
  Created by
  {{avatar-image
      imageUrl=avatarUrl
      customSize=customSize
      userName=avatarName
  }}
  {{ avatarName }}
</div>
{{/if}}
