<div class="col-xs-12">
  <div class="row">
    <div class="col-md-6 u-layoutPadB20">
      <h2 class="h3 DirectoryLanding-title">Rate your favorite Upper Valley businesses</h2>
      <p>dailyUV.com created this Directory as a resource for the Upper Valley community.
        As a member of our community, take a moment to go through the Directory to identify
        businesses you've patronized and rate those businesses.</p>
    </div>

    <div class="col-md-6 u-layoutPadB20">
      <h2 class="h3 DirectoryLanding-title">Claim your business!</h2>
      <p>A basic business listing in dailyUV.com's directory is free.
        Claim your business now to add more contact information, hours of operation,
        and to become eligible to provide detailed information about your products
        or services right on dailyUV!</p>

      <h2 class="h3 DirectoryLanding-title">Advertise with us!</h2>
      <p>Reach more Upper Valley customers with a customized advertising program. For more information and rates, contact us at: <a href="mailto:ads@subtext.org" target="_blank" rel="noopener noreferrer">ads@subtext.org</a>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="h3 DirectoryLanding-title">Local News</h2>
    </div>

    <div class="col-xs-12">
      {{#each news as |item|}}
        <div class="col-md-4">
          {{feed-card model=item
            organization=item.organization
            hideComments=true
            consensedView=true
          }}
        </div>
      {{/each}}
    </div>
  </div>
</div>
