.Caster-CasterManage {
  margin-bottom: 8px;

  &--hide-reason {
    font-size: 12px;
    text-align: right;
  }

  &--message {
    font-size: 14px;
  }

  &--sure-button {
    display: inline-block;
    &:first-of-type {
      margin-right: 4px;
    }
  }

  &--box {
    .display-grid();
    .grid-template-columns(1fr 100px);
    &>div {
      .grid-align-self(center);
    }

    &:hover {
      cursor: auto !important;
    }
  }

  &--attribution {
    .display-grid();
    .grid-template-columns(50px 1fr);
    &-name {
      .grid-align-self(center);
      text-align: left;
      font-weight: bold;
      margin-left: 4px;

      &-name {
        color: #000;
        font-size: 14px;
      }

      &-handle {
        color: grey;
        font-size: 12px;
      }



    }
  }
}
