.Caster-CommentCard {
  margin: 12px 0;

  &--context {
    padding-left: 4px;
    font-size: 11px;
    color: @gray-dark;
  }

  &--parent {
    background: #fff;
    .FeedCard {
      margin-bottom: 0;
    }
  }

  &--comments {
    background: @comment-list-background;
    padding: 8px;
  }

  &--comment {
    padding: 8px;
  }

  &--trailer {
    text-align: right;
    padding-right: 4px;
    a {
      color: @herecast-blue;
      text-decoration: underline;
      font-size: 11px;
    }

  }
}
