.Caster-SettingsBar {
  border-bottom: solid 1px grey;
  margin: 16px 0;
  text-align: center;

  &--tab {
    font-weight: bold;
    color: grey;
    padding: 8px;
    display: inline-block;

    &.active {
      color: #000;
      border-bottom: solid 3px @herecast-blue;
    }
  }

}
