.Caster-StatusButton {
  &--icon {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 24px;
  }

  &.is-ok {
    color: @brand-success;
  }

  &.is-not-ok {
    color: @brand-danger;
  }

  &.is-loading {
    color: grey !important;
  }
}
