.ActionDropdown {
  margin-right: 0;
  @media (max-width: @screen-xs-max) {
    margin: 0;
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
  }
}

.ActionDropdown-userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ActionDropdown-dropdownLink {
  border: 0;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > .ActionDropdown-dropdownLink {
  padding: 10px 0;
}

.navbar-default .navbar-nav > li > .ActionDropdown-dropdownLink:hover,
.navbar-default .navbar-nav > li > .ActionDropdown-dropdownLink:focus {
  background-color: transparent;
}

.dropdown-menu > li > .ActionDropdown-item {
  color: @text-color;
}

.ActionDropdown-item {
  @media (max-width: @screen-xs-max) {
    display: inline-block;
    margin-right: 20px;
  }
}

.ActionDropdown-item:last-child {
  @media (max-width: @screen-xs-max) {
    margin-right: 0;
  }
}