.ActionsDropdown-userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-default .navbar-nav > li > .ActionsDropdown-dropdownLink {
  padding: 10px 0;
}

.navbar-default .navbar-nav > li > .ActionsDropdown-dropdownLink:hover,
.navbar-default .navbar-nav > li > .ActionsDropdown-dropdownLink:focus {
  background-color: transparent;
}

.dropdown-menu > li > .ActionsDropdown-item {
  color: @text-color;
}