.AdBanner {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;

  @media (max-width: @screen-xs-max) {
    margin:10px auto;
  }

  @media (min-width: @screen-xs-max) {
    max-width: 380px;
  }

  &--inContentBody {
    font-size: 14px;
    margin-bottom: 10px;
    border-top: solid 1px #efefef;
    border-bottom: solid 1px #efefef;

    &-messageBar {
      color: @gray-dark;
      text-align: center;
      font-size: 12px;

      @media (max-width: @screen-xs-max) {
        margin: 10px 0;
      }
    }

    img {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  &--noBorderBottom {
    border-bottom: none !important;
  }
}

.AdBanner-wrapper {
  .AdBanner {
    @media (min-width: @screen-xs-max) {
      width: 100%;
    }
  }

  &--index,
  &--news {
    @media (max-width: @screen-xs-max) {
      padding: 10px 0;
    }
  }

  &--market,
  &--bsd,
  &--events,
  &--detail {
    @media (min-width: @screen-xs-max) {
      background: #fff;
      padding: 10px 0;

      .AdBanner {
        max-width: 380px;
      }
    }
  }

  &--bsd {
    @media (min-width: @screen-xs-max) {
      border-top: 1px solid #dedede;
    }
  }

  &--market {
    @media (min-width: @screen-xs-max) {
      border-bottom: 1px solid #dedede;
    }
  }

  &--events {
    @media (min-width: @screen-xs-max) {
      background: none;
    }
  }

  &--news {
    @media (max-width: @screen-xs-max) {
      margin-bottom: 10px;
    }
  }
}
