.AvatarImage {
  font-weight: 700;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;

  i {
    color: #000;
  }

  @media (max-width: @screen-sm-min) {
    &:not(.custom-sized) {
      width: 36px;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
    }
  }

  @media (min-width: @screen-sm-min) {
    &:not(.custom-sized) {
      width: 48px;
      height: 48px;
      line-height: 48px;
      font-size: 19px;
    }
  }

  &--image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &--default {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: inline-block;
    &:after {
      content: attr(data-content);
      text-decoration: none;
    }
  }

  &--logo {
    background-image: url('/images/HC_ICON_BLANK_RGB.png');
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    &:after {
      content: attr(data-content);
      text-decoration: none;
      margin-left: 1px;
    }
  }

  &.is-logo {
    .AvatarImage--logo {
      border-radius: 2px;
    }
  }
}
