.BannerHeader {
  background-color: @gray-banner;
  color: white;
  padding: 45px 0 50px 0;
  margin-bottom: 50px;
}

.BannerHeader-title {
  font-size: 48px;
  color: white;
  margin-top: 0;
}

.BannerHeader-info {
  margin-top: 40px;
}