.BusinessFeedbackBadge {
  display: inline;

  &-recommended-badge {
    border-radius: 4px;
    padding: 3px 8px;
    background-color: @directory-brand;
    font-weight: bold;
    color: #fff;
  }
}
