.BusinessProfileForm {}

.BusinessProfileForm-header {
  text-align: center;
  margin-top: 0;
}

.BusinessProfileForm-categories {

  .selectize-input {
    .form-group;

    padding: 15px 10px;
    margin-bottom: 0;
    border: 1px solid @input-border;
    border-radius: @input-border-radius;

    input {
      .form-control;
      height: auto;
    }
  }

  .selectize-control.multi
  .selectize-input.has-items {
    padding: 15px 10px;
  }

}

.BusinessProfileForm-hoursEditor {
  table {
    width: 100%;
 }
 tr {
   border-bottom: solid 1px #ccc;
 }

 td,th {
   padding: 5px 0;
 }
}
