.Button {
  background-color: #FFF;
  border: 1px solid transparent;
  font-family: @font-family-condensed;
  font-size: 24px;
  font-weight: 600;
  padding: 9px 28px 6px 29px;
  text-transform: uppercase;
}

.Button:hover {
  background-color: #FFF;
  border-color: @text-color;
}

.Button--event {
  background-color: @event-brand;
}

.Button--market {
  background-color: @market-brand;
}

.Button--news {
  background-color: @news-brand;
}

.Button--talk {
  background-color: @talk-brand;
}

.btn {
  border-radius: 0;
}