.Button {
  background-color: #FFF;
  border: 1px solid transparent;
  font-family: @font-family-condensed;
  font-size: 24px;
  font-weight: 600;
  padding: 9px 28px 6px 29px;
  text-transform: uppercase;
}

.Button--wide {
  padding: 9px 49px 6px 50px;
}

.Button:hover {
  background-color: #FFF;
  border-color: @text-color;
}

.Button.active {
  border-color: transparent;
  box-shadow: none;
}

.Button.active:hover {
  background-color: #FFF;
  border-color: @text-color;
}

.Button--event,
.Button--event.active,
.Button--event.active:focus {
  background-color: @event-brand;
}

.Button--market,
.Button--market.active,
.Button--market.active:focus {
  background-color: @market-brand;
}

.Button--news {
  background-color: @news-brand;
}

.Button--talk,
.Button--talk.active,
.Button--talk.active:focus {
  background-color: @talk-brand;
}

.btn {
  border-radius: 0;
}
