.Button {
  text-transform: uppercase;
  border-color: @brand-primary;
  color: @text-color;
  font-weight: 900;
}

.btn {
  .button-size(7px; 18px; @font-size-base; @line-height-base; @btn-border-radius-base);
}