.CardGroupCTA {
  display: table;
  width: 100%;
  background: #fff;
  padding: 5px;

  @media (min-width: @screen-xs-max) {
    padding: 10px;
  }

  &-innerWrapper {
    background: @gray-light;
    padding: 10px;
  }

  &-pitch,
  &-cta {
   display: table-cell;
   vertical-align: middle;
  }

  &-pitch {
   width: 55%;

    &-title {
      .h3;
      font-weight: 700;
      margin: 0;

      @media (max-width: @screen-sm-max) {
        .h2;
        margin: 0;
      }
    }
  }

  &-cta {
    text-align: right;
  }

  &-button {
    &.Button {
      margin: 0;
      margin-bottom: 0;
    }
  }

  &-link {
    display: block;
    text-decoration: underline;
    line-height: 1;
    margin-top: 0.25em;
  }
}
