.Card {
  background: #FFFFFF;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
  height: 415px;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 30px 25px 25px 25px;
  position: relative;
  width: 275px;
}

.Card-link {
  color: @subtext-yellow;
  text-decoration: underline;
}
.Card-link:hover {
  color: #CC9900;
}

.Card-title {
  color: @text-color;
  font-size: 21px;
  font-weight: 900;
  margin: 3px 0 15px 0;
  text-decoration: underline;
}

.Card-time {
  color: @dark-gray;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -1px;
}

.Card-image {
  border-radius: @border-radius-round;
  float: left;
  margin-right: 10px;
}

.Card-content {
  font-size: 14px;
  margin-top: 10px;
}

.Card-learnMore {
  font-weight: 900;
  font-size: 14px;
}

.Card-locationItem {
  margin: 0;
}

.Card-locationWhere {
  color: @medium-gray;
  margin-top: 10px;
}

.Card-locationName {
  font-weight: 900;
}

.Card-locationAddress {
  font-size: 12px;
}

.Card-getThere {
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.Card-cost {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 12px;
}

.Card-costLabel {
  color: @medium-gray;
  margin-right: 3px;
}

.Card-costValue {
  font-weight: 900;
}

