.CardBody {
  padding: 40px;

  &--noBottomPadding {
    padding-bottom: 0 !important;
  }

  &--noSidePadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &--shortPadding {
    padding: 20px;
  }

  &--slimPadding {
    padding: 10px !important;
  }

  &--center {
    text-align: center;
  }

  @media (max-width: 350px) {
    padding: 20px;
  }
}
