.CategoryHeader {
  &.has-image {
    height: 170px;

    @media (min-width: @screen-sm-max) {
      height: 250px;
    }
  }

  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;

  &-name {
    margin-top: 5px;
    font-weight: bold;
    display: block;
    text-align: center;
  }

  &-contentWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%!important;
  }

  &-content {
    .Container--noGutter;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-category {
    padding: 10px;
  }
}
