.CategoryTag-list {
  .CategoryTag {
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 1000px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
    &:hover {
      cursor: pointer;
      background-color: #FBFBFB;
    }
    > i:first-child {
      margin-left: -3px;
      margin-right: 3px;
    }
  }
}

.CategoryTag-close {
  color: #D6D6D6;
  padding-left: 5px;
  &:hover {
    color: darken(#D6D6D6, 5%);
  }
}
