@comment-list-background: #F6F8F9;

.Comment {
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;

  &.is-active {
    background-color: @talk-brand;
  }

  .AvatarImage {
    float: left;
  }

  &-userAvatar--missing {
    background-color: @gray-light;
  }

  &-body {
    margin-left: 50px;
    background: #fff;
    padding: 4px;
    border-radius: 8px;
    .box-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
  }

  &-userName {
    font-weight: 700;
    display: inline-block;
    width: auto;
    margin-right: 10px;
  }

  &-meta {
    display: inline-block;
    color: #7D8F98;

    .fa {
      font-size: 70%;
    }

    a {
      color: #7D8F98;
    }
  }

  &-icon {
    font-size: 20px;
  }

  &-content {
    .clearfix;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.CommentList {
  padding: 0 10px;
  margin-top: 20px;

  &-replyForm {
    padding: 0 10px;
  }

  &-signInPrompt {
    width: 100%;
    padding: 5px;
    color: red;

    a {
      color: red;
    }
  }

  &-footer { }

  &-wrapper {
    padding-bottom: 10px;
    padding-top: 10px;
    background: @comment-list-background;
    border-top: solid 1px #ECF2F5;
  }
}
