.Comment {
  list-style-type: none;
  margin: 40px 0;
}

.Comment-userAvatar {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-right: 50px;
  float: left;
}

.Comment-userAvatar--missing {
  background-color: @gray-light;
}

.Comment-body {
  margin-left: 100px;
}

.Comment-userName {
  font-weight: 700;
  display: inline-block;
  width: 200px;
}

.Comment-date {
  display: inline-block;
  color: @gray-dark;
}

.Comment-icon {
  font-size: 20px;
}

.Comment-context {
  font-style: italic;
  color: @gray-dark;
}