.CommentBubble {
  margin-top: 48px;
  position: relative;
}

.CommentBubble-image {
  max-width: 200px;
  width: 100%;
}

.CommentBubble--news a {
  color: @news-brand;
}

.CommentBubble--event a {
  color: @event-brand;
}

.CommentBubble--talk a {
  color: @talk-brand;
}

.CommentBubble-content {
  position: absolute;
  text-align: center;
  top: 38%;
  width: 100%;
}

.CommentBubble-content--hasCount {
  top: 30%;
}

.CommentBubble-contentCount {
  font-family: @font-family-condensed;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 8px;
}

.CommentBubble-contentLabel {
  font-weight: 700;
}
