.CommentSection {
  &-wrapper { }

  &-commentList {
    padding: 0;
  }

  &-avatar { }

  &-anonymousAvatar {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background: gainsboro;
    border-radius: 50%;
  }

  &-replyBox {
    resize: none;
    border-radius: 0;
    border: 1px solid #D2D2D2;
    border-radius: 20px;
    padding: 8px 50px 8px 12px;
    width: 100%;
    overflow: hidden;
    height: 100%;
    outline: none;

    &-wrapper {
      margin-left: 50px;
      position: relative;
      height: 40px;
    }
  }

  &-replyButton {
    color: #C9C6C6;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 4px;
    right: 7px;
    width: auto;
    font-size: 30px;
    border-radius: 50%;

    &:hover, &:active, &:focus {
      border: none;
      outline: none;
    }
  }

  &-toggleButton {
    margin: 10px auto 20px;
    display: block;
    text-decoration: underline;
  }

  &-helpText {
    color: @gray-dark;
    font-weight: 600;
  }

  &-new-comment-length {
    text-align: right;
    font-size: 11px;
  }
}
