.CommentSection {
  &-wrapper { }

  &-commentList {
    padding: 0;
  }

  &-replyBox {
    border-radius: 0;
    font-weight: 700;
    border: 1px solid #979797;
  }

  &-replyButton {
    border: 1px solid @text-color;
    color: @text-color;
    display: block;
    margin: 0 auto;
  }

  &-toggleButton {
    margin: 10px auto 20px;
    display: block;
    text-decoration: underline;
  }

  &-helpText {
    color: @gray-dark;
    font-weight: 600;
  }
}
