.Comments-list > .Comments-list-nested {
  padding-left: 0px;
}

.Comments-list-nested .Comments-list-nested {
  border-left: 2px solid @brand-primary;
}

.Comments-list-nested {
  padding-left: 16px;
}

.Comments-userName {
  font-weight: 700;
}

.Comments-listItem {
  margin: 16px 0;
  list-style-type: none;
}
