.ContentPreview {
  background-color: @gray-dark;
  border-bottom: 2px dashed @gray-light;
  border-top: 2px dashed @gray-light;

  &-content {
    max-width: 500px;
    margin: auto;
    background-color: white;
  }
}

.ContentPreview-navigation {
  @media (max-width: @screen-xs-max) {
    height: 100px;
  }
  .editLink {
    float: left;
    @media (max-width: @screen-xs-max) {
      float: none;
    }
  }
  .publishLink {
    float: right;
    @media (max-width: @screen-xs-max) {
      float: none;
    }
  }
}

.ContentPreview-summary {
  text-align: center;
  padding: 0;
  display: block;
  width: 100%;
  padding: 0 25%;
  @media (max-width: @screen-xs-max) {
    padding: 0 2%;
  }
}

.ContentPreview-propertyList {
  margin-top: 30px;
}

.ContentPreview-summaryProperty {
  display: inline;
  margin-left: 17px;
}

.ContentPreview-summaryProperty:first-child {
  margin-left: 0;
}

.ContentPreview-scrollButton:focus {
  outline: 0;
}
