.ContextBar {
  margin-top: 20px;
}

.ContextBar-eventCount {
  font-family: @font-family-sans-serif;
  font-weight: 700;
}

.ContextBar-filterReset {
  margin-left: 16px;
}

.ContextBar-filterReset:before {
  padding-right: 8px;
}
