.ContentImage {
  .center-block;

  &.width25 {
    width: 25%;
  }

  &.width50 {
    width: 50%;
  }

  &-image,
  img {
    max-width: 100%;
    padding: 15px;
  }

  &-caption,
  p {
    .h5;
    display: block;
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 0 15px;
  }
}

li > .ContentImage {
  display: inline;
  vertical-align: middle;
}
