.ContentForm {
  margin-bottom: 65px;
}

.ContentForm-sectionHeader {
  margin: 70px 0;
}

.ContentForm-buttonGroup {
  margin-top: 35px;
}

.ContentForm-buttonLink {
  color: @gray-dark;
  font-weight: 900;
  font-size: 18px;
  text-decoration: underline;
}

.ContentForm-discardButton {
  color: @gray-dark;
  margin: 0 20px;
}

.ContentForm-content {
  background-color: #FFF;
  padding: 60px 0;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.18);
}

.ContentForm-content .form-group.has-error .note-editor {
  border-color: @brand-danger;
}

.ContentForm-content .note-editor .note-dropzone {
  opacity: 0 !important;
}

.ContentForm-stepContent {
  margin-top: 70px;
}

.ContentForm-requiredIndicator {
  color: @brand-danger;
}

.ContentForm-label {
  font-size: 18px;
}

.ContentForm-label--required:after {
  content: "*";
  color: @brand-danger;
}

.ContentForm-previewHeader {
  margin: 53px 0 50px;
  text-align: center;
}

.ContentForm-fileField {
  padding-top: 14px;
}

.ContentForm-helpText {
  color: @gray-dark;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin-top: 10px;
}

.ContentForm-textArea.form-control {
  min-height: 100px;
  padding: 12px;
}

.ContentForm-iconLabel {
  border-radius: 0;
  font-size: 20px;
  min-width: 50px;
}