.ContentBody {
  padding: 0 10px;

  &--verticalPadding {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--increaseBottomPadding {
    padding-bottom: 25px;
  }

  &--noBottomPadding {
    padding-bottom: 0 !important;
  }
}
