.ContentTable {
  width: 100%;

  &-rightOnMobile {
    @media (max-width: @screen-xs-max) {
      text-align: right;
    }
  }

  .highlight {
    background-color: #ffffcc;
  }
}

.ContentTable-name {
  width: 35%;
}

.ContentTable td, .ContentTable th {
  @media (max-width: @screen-xs-max) {
    padding: 4px 8px;
  }
}

.ContentTable tbody tr:nth-child(odd) {
  @media (max-width: @screen-xs-max) {
    background-color: white;
    &.highlight {
      background-color: #ffffcc;
    }
  }
}
