.ContentContainer {

  &--fixed {
    .container;
  }

  &--fluid {
    .container-fluid;
  }

  &--tiny {
    max-width: 350px;
  }

  &--x-small {
    max-width: @screen-xs;
  }

  &--small {
    max-width: @screen-sm;
  }

  &--medium {
    max-width: @screen-md;
  }

  &--large {
    max-width: @screen-lg;
  }

  &--center {
    margin: auto;
  }

  &--noGutter {
    padding-left: 0;
    padding-right: 0;
  }
}
