.ContentCardPreview {
  padding: 0 58px;
}

.ContentCardPreview-content {
  max-width: 275px;
}

.ContentCardPreview-content.affix {
  top: 10px;
}

.ContentCardPreview-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.ContentCardPreview-subtitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}
