.ContentForm {
  margin-bottom: 65px;
  @media (max-width: @screen-xs-max) {
    input#venue-name {
      font-size: 11px;
    }
  }
}

.ContentForm-sectionHeader {
  margin: 70px 0;
}

.ContentForm-buttonGroup {
  margin-top: 35px;
}

.ContentForm-buttonLink {
  color: @gray-dark;
  .h4;
  text-decoration: underline;
}

.ContentForm-button {
  &--edit {
    padding-left: 0;
  }
}

.ContentForm-discardButton {
  .uppercase-bold-condensed;
  color: @gray-dark;
  margin: 20px 20px 10px 20px;

  @media (max-width: @screen-xs-max) {
    margin: 20px 0px 10px 0px;
  }
}

.ContentForm-modalCloseButton {
  padding-left: 0;
  padding-right: 0;
}

.ContentForm-content {
  background-color: #FFF;
  padding: 60px 0;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.18);

  @media (max-width: @screen-xs-max) {
    padding: 12px 8px;
  }
}

.ContentForm-content .form-group.has-error .note-editor {
  border-color: @brand-danger;
}

.ContentForm-content .form-group.has-error .note-editor .note-editing-area .note-editable {
  background-color: @bg-error;
}

.ContentForm-content .note-editor .note-dropzone {
  opacity: 0 !important;
}

.ContentForm-stepContent {
  margin-top: 70px;
  @media (max-width: @screen-xs-max) {
    margin-top: 10px;
  }
}

.ContentForm-requiredIndicator {
  color: @brand-danger;
}

.ContentForm-label {
  .h4;
}

.has-error .ContentForm-label--required {
  color: #000;
}

.has-error input {
  background-color: @bg-error;
}

.ContentForm-error {
  color: @brand-danger;
  margin-left: 10px;
}

.ContentForm-label--required:after {
  content: "*";
  color: @brand-danger;
}

.ContentForm-previewHeader {
  margin: 53px 0 49px;
  text-align: center;
  .uppercase-bold-condensed;
  @media (max-width: @screen-xs-max) {
    margin: 10px;
  }
}

.ContentForm-fileField {
  padding-top: 14px;
  height: auto;
}

.ContentForm-helpText {
  color: @gray-dark;
  .h4;
  font-style: italic;
  font-weight: 300;
  margin-top: 10px;
}

.ContentForm-textArea .note-editor {
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid @gray-medium;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

// Override the "placeholder" color
.note-editor .note-editable[contenteditable=true]:empty:not(:focus):before {
  color: @gray-dark;
}

.ContentForm-iconLabel {
  border-radius: 0;
  font-size: 20px;
  min-width: 50px;
}

.ContentForm-checkboxGroup {
  @media (max-width: @screen-xs-max) {
    .checkbox-inline {
      display: inline-block;
      margin-top: 0;
      line-height: 30px;
      width: 20%;
      height: 50px;
    }
    .checkbox-inline:first-of-type {
      margin-left: 10px !important;
    }
    input[type="checkbox"] {
      height: 25px;
      width: 25px;
      margin-left: -25px;
    }
    span {
      margin-left: 5px;
    }
  }
}
