.ContentBody {
  padding: 0 8px;
  position: relative;

  &--verticalPadding {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &--increaseBottomPadding {
    padding-bottom: 24px;
  }

  &--noBottomPadding {
    padding-bottom: 0 !important;
  }

  &--background {
    background: #fff;
  }
}
