.ContentFormSteps {
  @media (min-width: @screen-sm-min) {
    background: transparent url('/images/gray-dash.png') repeat-x 15px 42px;
  }
}

.ContentFormSteps:before,
.ContentFormSteps:after {
  @media (min-width: @screen-sm-min) {
    background-color: white;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    top: 42px;
    width: 25px;
  }
}

.ContentFormSteps:before {
  @media (min-width: @screen-sm-min) {
    left: 0;
  }
}

.ContentFormSteps:after {
  @media (min-width: @screen-sm-min) {
    right: 0;
  }
}

.ContentFormSteps--gray {
  margin-top: 10px;
  margin-bottom: 35px;
}

.ContentFormSteps--gray:before,
.ContentFormSteps--gray:after {
  background-color: @secondary-bg;
}

.ContentFormSteps--gray .ContentFormSteps-stepCount {
  background-color: @secondary-bg;
  box-shadow: 0 0 0 5px @secondary-bg;
}

.ContentFormSteps--gray .ContentFormSteps-step--3 .ContentFormSteps-stepCount {
  background-color: @gray-medium;
}

.ContentFormSteps-step {
  text-align: center;
}

.ContentFormSteps-step.ContentFormSteps-step--1 {
  max-width: 127px;
  float: left;
}

.ContentFormSteps-step.ContentFormSteps-step--3 {
  width: 109px;
  float: right;
}

.ContentFormSteps-stepCount {
  background-color: @gray-light;
  border-radius: @border-radius-round;
  box-shadow: 0 0 0 5px white;
  color: white;
  font-size: 18px;
  height: 36px;
  margin: 0 auto;
  padding: 1px;
  text-align: center;
  width: 90px;
  height: 90px;
}

.ContentFormSteps-stepCount--event.current {
  background-color: @event-brand;
}
.ContentFormSteps-stepCount--market.current {
  background-color: @market-brand;
}
.ContentFormSteps-stepCount--news.current {
  background-color: @news-brand;
}
.ContentFormSteps-stepCount--talk.current {
  background-color: @talk-brand;
}

.ContentFormSteps-stepCount.complete {
  color: #fff;
  background-color: @text-color;
  border: 2px solid @text-color;
}

.ContentFormSteps-stepTitle {
  color: @gray-dark;
}

.ContentFormSteps-stepTitle.current, .ContentFormSteps-stepTitle.complete {
  color: @text-color;
}

.ContentFormSteps-stepNumber {
  font-size: 48px;
}

.ContentFormSteps-stepIcon {
  font-size: 48px;
  left: 2px;
  position: relative;
  top: 18px;
}

