
.ContentForm-buttonGroup {
  margin-top: 35px;
}

.ContentForm-buttonLink {
  color: @gray-medium;
  font-weight: 900;
  text-decoration: underline;
}

.ContentForm-discardButton {
  color: @gray-light;
}

.ContentForm-content {
  background-color: #FFF;
  padding: 40px 70px;
}

.ContentForm-content .form-group.has-error .note-editor {
  border-color: @brand-danger;
}

.ContentForm-content .note-editor .note-dropzone {
  opacity: 0 !important;
}

.ContentForm-stepContent {
  max-width: 450px;
  margin: 0 auto;
}

.ContentForm-requiredIndicator {
  color: @brand-danger;
}

.ContentForm-label--required:after {
  content: "*";
  color: @brand-danger;
}
