.ContentMetrics-image {
  width: 25%;
}

.ContentMetrics-chart {
  width: 100%;
  height: 400px;
}

.ContentMetrics {
  .nav-tabs--bottom {
    border-top: 1px solid #ddd;
    border-bottom: none;
    li {
      float: right;
      margin-bottom: 0;
      margin-top: -1px;
      &.active a {
        border-bottom-color: #ddd;
        border-top-color: transparent;
      }
    }
  }

}

.ContentMetrics-dateRange {
  float: right;
}



