@media(min-width: @screen-sm-min) {
  .ContentGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
  }

  .ContentGrid-item {
    flex: 0 1 33%;
    margin-bottom: 20px;
    img { max-width: 100%; }
  }
}
