.ContentText {
  @media (max-width: @screen-xs-max) {
    padding: 0;
  }
  a {
    color: @gray-dark;
    text-decoration: underline;
  }
  ul {
    list-style-type: disc;
    padding-left: 40px;
  }
}
