.ContentCardPreview-content {
  max-width: 270px;
}

.ContentCardPreview-content.affix {
  top: 18px;
  width: 270px;
}

.ContentCardPreview-subtitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}
