.DashboardSection {
  background: #FFFFFF;
  padding: 8px;
  margin: 0 auto 15px;
  font-size: 1em;
}
.DashboardSection dl dt {
  font-size: 1rem;
  color: @gray-medium;
  text-transform: uppercase;
}
.DashboardSection dl dd {
  margin-bottom: 1em;
  line-height: inherit;
}

.DashboardSection-header {
  margin: 0.25em;
  padding-right: 1em;
  cursor: pointer;
  width: 100%;
  position: relative;
  .DashboardSection-collapseIndicator {
    float: right;
  }
}

.DashboardSection-main {
  padding: 2em 0;
}


.DashboardSection.is-collapsed .DashboardSection-main{
  display:none;
}

.DashboardSection-row {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  @media(min-width: @screen-md-min) {
    flex-direction: row;
  }
}
.DashboardSection-column {
  border-bottom: 2px solid @gray-light;
  @media (min-width: @screen-md-min) {
    border-left: 2px solid @gray-light;
    border-bottom: none;
    padding: 0 2em
  }
  &:first-child {
    border: none;
  }
  .form-control {
    display: inline-block;
  }
  .form-group {
    max-width: 100%;
  } 
  label {
    display: block;
  }
  input,select {
    @media(min-width: @screen-sm-min) {
      width: auto;
    }
  }
}