
.Dashboard-avatar {
  padding-top: 20px;
  width: 100px;
  max-width: 100%;
  .Avatar {
    text-align: center;

  }
  .Avatar-image {
    border-radius: 50%;
    max-width: 100%;
  }
  @media(min-width: @screen-md-min) {
    padding-top: 0px;
  }
}

.Dashboard .InlineEdit-icon {
  font-size: 1.6rem;
  margin-left: 4px;
}

.Dashboard-email {
  font-size: 1em;
  color: @text-color;
  border: none;
  background: transparent;
}

.Dashboard-header {
  margin-bottom: 40px;
}
.Dashboard {
  .Section {
    & + .Section {
      padding-top: 0;
    }
    @media(max-width: @screen-md-min) {
      padding: 20px 0;
    }
  }
}
.Dashboard-content {
  background-color: #f9f9f9;
  padding: 10px;
  @media(min-width: @screen-md-min) {
    padding: 40px;
  }
}

.Dashboard-form-value,
.Dashboard-form-value input {
  font-size: 1.9rem;
  font-weight: 400;
  color: @text-color;
}

