.Dashboard {
  text-align: center;
}

.Dashboard-avatar {
  display: block;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  margin: 60px auto 50px;
}

.Dashboard-userName .InlineEdit-input {
  font-size: 48px;
  font-family: @font-family-condensed;
  text-transform: uppercase;
  font-weight: 600;
  color: @text-color;
}