.metaBlocFormated {
  padding: 8px 16px;
}

.DetailPage {

  &--takeover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(3, 3, 3, 0.6);
    z-index: 1000;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 50%;
  }

  &--thumbnails {
    text-align: center;

    &-thumbnail {
      display: inline-block;
      cursor: pointer;

      img {
        height: 40px;
        width: 40px;
        border-radius: 3px;
        .box-shadow(~"0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)");
      }
    }
  }

  &-metaBloc {
    table {
      width: 100%;
      border: 1px solid darken(@gray-light, 5%);
    }

    td {
      border: 1px solid darken(@gray-light, 5%);
      width: 50%;
    }

    &-eventTime, &-price, &-cost, &-location, &-location-only, &-attribution,
    &-phone, &-url, &-registrationInfo
    {
      .metaBlocFormated;
    }

    &-address {
      .metaBlocFormated;

      a:hover {
        text-decoration: none;
      }
    }
  }

  &--report {
    text-align: right;
    padding-top: 8px;
    line-height: 1.0;
  }

  &-reportFlag {
    margin: 0;
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: 12px;
    }

    a,
    [role="button"] {
      display: inline-block;
      color: lighten(@gray-medium, 10%);
      font-weight: 700;

      &:hover {
        text-decoration: none;
        color: @gray-dark;
      }
    }
  }

  &-title {
    line-height: 1;
  }

  &-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -73px;
    height: 63px;

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      color: #fff;
      font-weight: 600;
      padding: 0 8px;
    }

    &.hidden {
      display: none;
    }
  }

  &-title {
    font-weight: 700;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: hidden;
  }

  &-costType {
    text-transform: capitalize;
    text-decoration: underline;
  }

  &-sectionWrapper {
    padding: 0 8px;
    margin-bottom: 16px;

    @media (min-width: @screen-xs-max) {
      padding: 0 20px;
    }
  }

  &-content {
    margin-top: 8px;

    &.pre-line {
      white-space: pre-line;
    }
  }

  &-navTop {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: #ffffff;
    margin: 0;
    z-index: 50;
    .justify-content(space-between);

    &-social-shareWrapper { }

    &-logo {
      .align-self(center);
      width: 70px;
    }

    &-container {
      min-height: 50px;
      position: relative;
      .u-pattern;
    }

    &-backLink,
    &-closeButton {
      display: inline-block;
    }

    &-backLink {
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 20px;
      border: none;
      background: transparent;

      @media (max-width: @screen-xs-max) {
        padding: 0 10px;
      }
    }

    &-closeButton, &-closeButton:hover {
      position: absolute;
      top: 0;
      width: 50px;
      height: 50px;
      right: -60px;
      text-align: center;
      border-radius: 100%;
      background-color: @news-brand;
      font-size: 24px;
      line-height: 50px;
      border: none;
    }
  }

  &-headerSubSection {
    .flex-display();
    .align-items(center);

    .FeedCard-EventDates {
      margin: 0px;
    }
  }

  &-headerNav {
    display: flex;
  }

  &-headerNavItem {
    flex-grow: 1;
    vertical-align: middle;
    padding: 0 10px;
    border-right: solid 1px darken(@gray-light, 10%);

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  &-headerImage-wrapper {
    position: relative;
  }

  &-headerImage {
    img {
      width: 100%;
    }
    &.no-image {
      background-color: #efefef;
      color: @gray-medium;
      .display-grid();
      text-align: center;
      height: 375px;
      &>div {
        .grid-align-self(center);
      }
      i {
        font-size: 50px;
      }
    }
  }

  &-organization {
    .flex-display();
    .justify-content(space-between);
    margin-top: 10px;

    &-info {
      .flex-grow(2);
      line-height: 1.1em;
    }

    &-avatar {
      float: left;
      padding-right: 5px;
    }
  }

  &-headerImageCaption {
    color: #fff;
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }

  &-startDiscussion { }
  &-startDiscussionBtn {
    .btn;
    .btn-default;
  }

  &-thumbnail {
    height: 60px;
    margin: 5px;
    border: solid 1px transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: @gray-dark;
    }
  }

  &-content {
    p {
      line-height: 1.4;
    }
  }
  &-moreContent { }

  &-comments {
    margin-top: 10px;
    margin-bottom: 10px;

    &-count {
      .h3;
      margin: 0;
      color: @gray-medium;
      font-weight: 600;
    }
  }
  &-similarContent { }

  &.isPreview {
    .DetailPage {

      &-navTop {
        &-container {
          min-height: 0;
        }
      }
    }
  }

}

.Modal-dialog {
  @media (max-width: @screen-xs-max) {
    .DetailPage {
      &-navTop {
        position: fixed;
        border-bottom: 1px solid gainsboro;
        .align-items(center);
      }
    }
  }
  &--fullscreen {
    .DetailPage {
      &-navTop {
        position: fixed;
      }
    }
  }
}
