
.DirectoryBusiness-backButton{
  float:left;
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.DirectoryBusiness-detailWrap{
  margin-left:80px;
  margin-top:20px;
  @media (max-width: @screen-xs-max) {
    margin-left: 0;
  }
}
