.DirectoryFeedback {
  &-wrapper {
    padding: 20px;
    position: relative;
    border-top: 1px solid #d8d8d8;
  }

  &-close {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
  }

  &-title {
    text-transform: none !important;
    text-align: center;
  }

  &-box {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    background: #fff;
    padding: 8px;
    position: relative;
    text-align: center;

    &--secondPart {
      border-top: 1px solid #d8d8d8;
    }
  }

  &-questionsTitle {
    text-align: center;

    h3 {
      margin: 0;
      text-transform: none;
      background: #fff;
      padding: 0 8px;
      display: inline-block;
    }
  }

  &-questionsFooter {}

  &-submitButton {
    margin: 10px 25px;
  }

  &-questionButton {
    padding: 10px;
    background: #FFA382;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 10px 25px;
    min-width: 100px;
    .h4;

    &.notchecked { background: rgba(0,0,0,.2); }

    &.unchecked {
      background: #FFA382;

      span:before {
        content: "\f096";
        font-family: FontAwesome;
        font-size: 20px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    &.checked {
      &.no { background: #69C2F8; }
      &.yes { background: #C0E248; }

      span:before {
        content: "\f046";
        font-family: FontAwesome;
        font-size: 20px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}
