.DirectoryBusiness-backButton {
  h2 {
    margin-top: 0;
  }
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.DirectoryBusiness-detailWrap {
  padding: 15px;
  background: #fff;
  @media (max-width: @screen-xs-max) {
    margin-left: 0;
  }
}
