.DirectoryFeedback-top-bar{
  text-align:center;
}

.DirectoryFeedback-top-bar-side{
  display:inline-block;
  padding-top:50px;
  text-align: left;
  margin-left: 10px;
  h2, h3{
    font-family: 'museo-slab', Georgia, Palatino, serif;
    text-transform: capitalize;
    margin:2px 0px;
  }
}

.DirectoryFeedback-buttonWrap{
  text-align:center;
  margin-top:12px;
  .DirectoryFeedback-startButton{
    padding:8px;
    width: 300px;
  }
}

.DirectoryFeedback-ratings-title{
  margin:20px 0;
  h2, h3{
    font-family: 'museo-slab', Georgia, Palatino, serif;
    text-transform: capitalize;
    margin:2px 0px;
  }
}

.DirectoryFeedback-answerBox {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom:10px;
    .text{
      display:inline-block;
      width:50%;
      line-height:100%;
      margin-top:8px;
    }
    .title{
      font-weight:600;
    }
}
