

.DirectoryFeedback-wrap {
  width:500px;
  @media (max-width: @screen-xs-max) {
    width:100%;
  }
}

.DirectoryFeedback-close {
    position:absolute;
    cursor: pointer;
    top:8px;
    right:8px;
}

.DirectoryFeedback-title {
    text-transform:none !important;
    margin-bottom:20px;
    text-align:center;
}
.DirectoryFeedback-box {
    border: solid 1px black;
    border-radius: 5px;
    padding: 8px;
    position:relative;
    text-align:center;
}
.DirectoryFeedback-questionsTitle {
  text-align:center;
  h3{
    margin:0;
    text-transform:none;
    background: #fff;
    padding: 0 8px;
    display: inline-block;
  }
  &.liftTop {
    margin-top:-20px;
  }
}

.DirectoryFeedback-questionsFooter {
  text-align:left;
  div{
    margin:0;
    text-transform:none;
    background: #fff;
    padding: 0 8px;
    display: inline-block;
    line-height:100%;
  }
}

.DirectoryFeedback-questionButton {
    padding: 10px;
    background: #FFA382;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 25px;
    min-width: 100px;
    .h4;
    &.notchecked {
        background: rgba(0,0,0,.2);
    }
    &.unchecked {
        background: #FFA382;
        span:before {
            content: "\f096";
            font-family: FontAwesome;
            font-size: 20px;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    &.checked {
      &.no {
          background: #69C2F8;
      }
      &.yes {
          background: #C0E248;
      }
      span:before {
          content: "\f046";
          font-family: FontAwesome;
          font-size: 20px;
          vertical-align: middle;
          margin-right: 10px;
      }
    }
}

.DirectoryFeedback-backButton {
  float:left;
  margin-top:8px;
}

.DirectoryFeedback-submitFields {
  input,button {
    display:block;
    width:100%;
    margin:10px 0;
  }
}
