.DirectionsLink {

  &-mapMarker {
    display: inline-block;
    vertical-align: top;
  }

  &-address {
    display: inline-block;
    max-width: 180px;
    padding-left: 8px;
    text-align: start;

    &:hover {
      text-decoration: underline;
    }
  }
}
