.DirectoryResults {}

.DirectoryResults-controls {
  width: 100%;

  @media (min-width: @screen-sm-min) {
    display: table;
  }

  .DirectoryResults-control {
    margin-bottom: 0.5rem;

    @media (min-width: @screen-sm-min) {
      display: table-cell;
      &:last-child {
        text-align: right;
      }
      label {
        height: 30px;
      }
      .form-control {
        height: 30px;
      }
    }
  }
}


.DirectoryResults-businessList {}
.DirectoryResults-businessListItem {}

// TODO needs to be namespaced
.useFade{
  -webkit-transform: none !important;
  transform: none !important;
}

// TODO needs to be namespaced
.FloatingSideMap{
  .FloatingSideColumn.is-enabled{
    width: 300px;
    max-width: none !important;
    @media (min-width: @screen-md-max) {
      width: 370px;
    }
  }
}
