.DirectoryResults {}

.DirectoryResults-sort {
  margin-bottom: 0.5rem;
  label {
    vertical-align: middle;
  }
  .x-select {
    height: 30px;
  }
  .x-option {}
}

.DirectoryResults-businessList {}
.DirectoryResults-businessListItem {}

// TODO needs to be namespaced
.useFade{
  -webkit-transform: none !important;
  transform: none !important;
}

// TODO needs to be namespaced
.FloatingSideMap{
  .FloatingSideColumn.is-enabled{
    width: 300px;
    max-width: none !important;
    @media (min-width: @screen-md-max) {
      width: 370px;
    }
  }
}
