.DirectoryFeedback-top-bar {
  text-align: center;
  padding: 0px;
  border: solid 1px #DEDEDE;
}

.DirectoryFeedback-top-bar-side {
  display: inline-block;
  padding-top: 2rem;
  text-align: left;
  margin-left: 10px;
  h2, h3 {
    font-family: 'museo-slab', Georgia, Palatino, serif;
    text-transform: capitalize;
    margin:2px 0px;
  }
}

.DirectoryFeedback-buttonWrap {
  margin-top:12px;
  .DirectoryFeedback {
    margin-top: 3rem;
    width: 50%;
  }
}



.DirectoryFeedback-ratings-title {
  margin:20px 0;
  h2, h3 {
    font-family: 'museo-slab', Georgia, Palatino, serif;
    text-transform: capitalize;
    margin:2px 0px;
    &.titleSecondary {
      font-weight: 400;
    }
  }
}

.DirectoryFeedback-answerBox {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom:10px;
    .text {
      line-height: 1.2;
    }
    .title {
      font-weight:600;
    }
}
