.DirectorySearch {}

.DirectorySearch-wrapper {
  background: #efefef;
}

.DirectorySearch-inputWrapper {
  display: table;
  background: #fff;
  border: 1px solid #DEDEDE;
  padding: 0 12px;
  width: 100%;
  margin-bottom: 0.5rem;

  .open {
    // needed so that input submenu
    // is positiioned correctly
    position: relative;
  }

  @media (min-width: @screen-xs-max) {
    float:left;
    width: 50%;
    margin-bottom: 0;
  }
}
.DirectorySearch-InnerWrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: @screen-xs-max) {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

.DirectorySearch-pseudoInputText {
  display: table-cell;
  vertical-align: middle;
  b {
    margin-right: -50px;
  }
}

.DirectorySearch-input {
  padding-left: 40px;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  border-width: 0;
  box-shadow: none;
  &:focus {
    outline-color: transparent;
    outline-style: none;
    box-shadow: none;
  }
}
