.DirectoryBusiness-backButton {
  a {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: block;
  }
}

.DirectoryBusiness-detailWrap {
  padding: 15px;
  background: #fff;
  @media (max-width: @screen-xs-max) {
    margin-left: 0;
  }
}
