.DirectoryResults {}

.DirectoryResults-businessList {}
.DirectoryResults-businessListItem {}

.useFade{
  -webkit-transform: none !important;
  transform: none !important;
}

.FloatingSideMap{
  .FloatingSideColumn.is-enabled{
    width: 300px;
    max-width: none !important;
    @media (min-width: @screen-md-max) {
      width: 370px;
    }
  }
}
