.DirectorySearch {}

// TODO move this somewhere else
.DirectoryButton {
  padding: 0.7em 1.5em;
  background: #EDEBEB;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  width: auto;
  &:hover {
    background: darken(#EDEBEB, 3%);
  }
  // When the button is on a grey bg
  &.darker {
    background: darken(#EDEBEB, 4%);
    &.hover {
    background: darken(#EDEBEB, 5%);
    }
  }
}

.DirectorySearch-wrapper {
  background: #efefef;
  padding-top: 1.5rem;

  @media (min-width: @screen-xs-max) {
    padding-top: 3rem;
  }
}

.DirectorySearch-inputWrapper {
  display: table;
  background: #fff;
  border: 1px solid #DEDEDE;
  padding: 0 12px;
  width: 100%;
  margin-bottom: 0.5rem;

  input {
    text-transform: capitalize;
  }

  .open {
    // needed so that input submenu
    // is positiioned correctly
    position: relative;
  }

  @media (min-width: @screen-xs-max) {
    float:left;
    width: 50%;
    margin-bottom: 0;
  }
}
.DirectorySearch-InnerWrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: @screen-xs-max) {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

.DirectorySearch-title {
  margin: 0;
}

.DirectorySearch-pseudoInputText {
  display: table-cell;
  vertical-align: middle;
  b {
    margin-right: -50px;
  }
}

.DirectorySearch-input {
  padding-left: 40px;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  border-width: 0;
  box-shadow: none;
  &:focus {
    outline-color: transparent;
    outline-style: none;
    box-shadow: none;
  }
}
