.Dropdown-input {
  background-color: transparent;
  border-color: @brand-primary;
  border-style: dashed;
  border-width: 0 0 2px 0;
  box-shadow: none;
  color: @brand-primary;
  font-size: 18px;
  .placeholder(@color: @brand-primary);
}

.Dropdown-input:focus {
  outline: none;
}
