.Dropdown-input {
  background-color: transparent;
  border-color: @brand-primary;
  border-style: dotted;
  border-width: 0 0 2px 0;
  box-shadow: none;
  color: @brand-primary;
  font-size: 18px;
}

.Dropdown-input:focus {
  outline: none;
}

.Dropdown-caret {
  color: @brand-primary;
  font-size: 18px;
  position: relative;
  right: 20px;
}