.Dropdown-input {
  background: transparent;
  border-color: @subtext-yellow;
  border-style: dotted;
  border-width: 0 0 2px 0;
  box-shadow: none;
  color: @subtext-yellow;
  font-size: 18px;
  text-transform: capitalize;
}

.Dropdown-input:focus {
  outline: none;
}

.Dropdown-caret {
  color: @subtext-yellow;
  font-size: 18px;
  position: relative;
  right: 20px;
}