.EventForm {
  &-modalContainer {
    padding: 10px;
  }

  &-costTypeLabel {
    display: block;
    font-weight: 300;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.EventForm-dateButton {
  padding: 0;
}

.EventForm-removeInstanceLink {
  font-size: 12px;
  font-weight: 500;
  margin-top: 28px;
}

.EventForm-dateGroup {
  border-top: 2px lighten(@gray-light, 10%) dashed;
  padding-top: 15px;
}

.EventForm-dateGroup:first-child {
  border-top: 0;
  padding: 0;
}

.EventForm-toggle {
  color: @gray-dark;
  display: inline-block;
  font-weight: 300;
  margin-left: 16px;
  white-space: nowrap;
}

.EventForm-toggle .fa.is-on {
  color: @event-brand;
}

.EventForm-toggle .fa:hover {
  cursor: pointer;
}

.pika-single {
  @media (max-width: @screen-xs-max) {
    position: fixed !important;
    top: 10px !important;
    left: 10px !important;
    right: 10px !important;
    .pika-lendar {
      width: 100% !important;
      float: none !important;
      text-align: center !important;
      margin: 0 auto !important;
    }
    .pika-label { }
    .pika-prev, .pika-next {
      width: 30px !important;
      height: 40px !important;
      text-indent: 50px !important;
    }
    .pika-table th, .pika-table td {
      width: 25px !important;
      height: 30px !important;
      .pika-button {
        font-size: 22px !important;
        line-height: 25px !important;
      }
    }
  }
}
