.EventList-headerRow {
  border-bottom: 1px solid @gray-medium;
}

.EventList th {
  padding-bottom: 8px;
}

.EventList td {
  padding: 12px 4px;
  vertical-align: top;
}

.EventList-title {
  width: 25%;
}

.EventList-subtitle {
  color: #9b9b9b;
  font-style: italic;
}

.EventList-venue {
  width: 20%;
}

.EventList-column-time {
  width: 10%;
}
