.EventShowAside {
  padding-right: 90px;
  text-align: right;
}

.EventShowAside-otherDates {
  width: 160px;
  margin-top: 20px;
}

.EventShowAside-eventInstanceHeader {
  text-decoration: underline;
}

.EventShowAside-button {
  margin-top: 10px;
  padding: 0;
}

.EventShowAside-header {
  font-family: 'Museo Sans Cyrl';
  font-size: 11px;
  text-transform: uppercase;
}

.EventShowAside-info {
  margin-top: 10px;
}

.EventShowAside-infoText {
  white-space: normal;
}