.EventShow {
   background-color: white;
}

.EventShow-content {
  margin-bottom: 30px;

  @media (min-width: @screen-md-min) {
    margin-bottom: 65px;
  }
}

.EventShow-info {
  margin-bottom: 30px;
}

.EventShow-map {
  @media (min-width: @screen-md-min) {
    margin-bottom: 10px;
  }
}

.EventShow-mapContent {
  border: none;
  height: 127px;
  margin-top: 4px;
  width: 100%;
}