.EventCard {
  background: #FFFFFF;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
  position: relative;
  padding: 0;
  @media (max-width: @screen-xs-max) {
    margin: 15px auto;
  }
}

.EventCard.hasRegistrationDeadline {
  @media (max-width: @screen-xs-max) {
    padding-top: 30px;
  }
}

.EventCard-content {
  justify-content: center;
  -webkit-justify-content: center;
  padding: 14px 24px;
}

.EventCard-link {
  color: @brand-primary;
  text-decoration: underline;
}
.EventCard-link:hover {
  color: #CC9900;
}

.EventCard-title {
  .uppercase-bold-condensed;
  margin-top: 5px;
  text-align: center;

  @media (max-width: @screen-xs-max) {
    margin: 10px 0;
    text-align: left;
  }
}

.EventCard-meta {
  line-height: 1;
  margin-bottom: 0;
}
.EventCard-time {
  margin: 4px 0;
  @media (max-width: @screen-xs-max) {
    font-size:14px;
  }
}

.EventCard-venue {
  margin: 4px 0;
  @media (max-width: @screen-xs-max) {
    font-size: 14px;
  }
}

.EventCard-content .fa {
  display: inline-block;
  text-align: center;
  width: 16px;
}

.EventCard-registrationBanner {
  .uppercase-bold-condensed;
  background-color: @event-brand;
  margin: 0;
  padding: 8px;
  position: absolute;
  width: 100%;
  @media (max-width: @screen-xs-max) {
    top: 0;
  }
}

.EventCard-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 140px;
  width: 100%;
  max-width: 100%;
}

.EventCard-imageContainer {
  flex-basis: 75px;
  -webkit-flex-basis: 75px; // safari
  max-width: 100%;
  width: 75px;
}

.EventCard-image-tile {
  height: 100px;
  width: 100px;
}

.EventCard-body {
  padding: 0 5px;
}

.EventCard-image-placeholder {
  line-height: 100px;
  font-size: 80px;
  width: 100px;
  color: lighten(@gray-medium, 20%);
  text-align: center;
}
