.popover.event-date-filter-custom {
  max-width: none;
  margin-top: 25px;
}

.event-date-filter-custom {
  display: block;
  left: -200px;
  top: 22px;
  width: 580px;
}

.event-date-filter-custom .form-control {
  margin-bottom: 8px;
}
