.EventFilter-calendar {
  display: block;
  top: 22px;

  @media (min-width: @screen-sm-min) {
    left: -100px;
  }

  @media (min-width: @screen-md-min) {
    left: -200px;
    width: 580px;
  }
}

.EventFilter-calendar.popover {
  max-width: none;
  margin-top: 25px;
}

.EventFilter-calendar .popover-content {
  position: relative;
}

.EventFilter-calendar .form-control {
  margin-bottom: 8px;
}

.EventFilter-calendarClose {
  position: absolute;
  right: 14px;
  z-index: 2;
}

.EventFilter-calendarClose:hover {
  cursor: pointer;
}
