.EventForm {
  &-modalContainer {
    padding: 10px;
  }

  &-costTypeLabel {
    display: block;
    font-weight: 300;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.EventForm-dateButton {
  padding: 0;
}

.EventForm-removeInstanceLink {
  font-size: 12px;
  font-weight: 500;
  margin-top: 28px;
}

.EventForm-dateGroup {
  border-top: 2px lighten(@gray-light, 10%) dashed;
  padding-top: 15px;
}

.EventForm-dateGroup:first-child {
  border-top: 0;
  padding: 0;
}

.EventForm-toggle {
  color: @gray-dark;
  display: inline-block;
  font-weight: 300;
  margin-left: 16px;
  white-space: nowrap;
}

.EventForm-toggle .fa.is-on {
  color: @event-brand;
}

.EventForm-toggle .fa:hover {
  cursor: pointer;
}
