.EventCard {
  background: #FFFFFF;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
  position: relative;

  @media (min-width: @screen-sm-min) {
    padding: 14px 24px;
  }
}

.EventCard-content {
  justify-content: center;
  -webkit-justify-content: center;
}

.EventCard-link {
  color: @brand-primary;
  text-decoration: underline;
}
.EventCard-link:hover {
  color: #CC9900;
}

.EventCard-title {
  text-align: center;
}

.EventCard-time {
  margin: 4px 0;
}

.EventCard-venue {
  margin: 4px 0;
}

.EventCard-content .fa {
  display: inline-block;
  text-align: center;
  width: 16px;
}

.EventCard-image {
  border-radius: @border-radius-round;
  height: 45px;
  overflow: hidden;
  width: 45px;
  @media (min-width: @screen-sm-min) {
    height: 112px;
    width: 112px;
  }
}

.EventCard-imageContainer {
  flex-basis: 45px;
  -webkit-flex-basis: 45px; // safari
  max-width: 100%;
  text-align: center;

  @media (min-width: @screen-sm-min) {
    flex-basis: 112px;
    -webkit-flex-basis: 112px; // safari
  }
}
