.EventCard {
  background: #FFFFFF;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
  position: relative;
  padding: 0;
  @media (max-width: @screen-xs-max) {
    margin: 15px auto;
  }
}

.EventCard.hasRegistrationDeadline {
  @media (max-width: @screen-xs-max) {
    padding-top: 50px;
  }
}

.EventCard-content {
  justify-content: center;
  -webkit-justify-content: center;
  padding: 14px 24px;
}

.EventCard-link {
  color: @brand-primary;
  text-decoration: underline;
}
.EventCard-link:hover {
  color: #CC9900;
}

.EventCard-title {
  .uppercase-bold-condensed;
  .h2;
  margin-top: 5px;
  text-align: center;

  @media (max-width: @screen-xs-max) {
    margin-top: 30px;
    padding-left: 5px;
    text-align: left;
  }
}

.EventCard-meta {
  line-height: 1;
  margin-bottom: 0;
}
.EventCard-time {
  margin: 4px 0;
  @media (max-width: @screen-xs-max) {
    text-align: center;
    font-size:14px;
  }
}

.EventCard-venue {
  margin: 4px 0;
  @media (max-width: @screen-xs-max) {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.EventCard-content .fa {
  display: inline-block;
  text-align: center;
  width: 16px;
}

.EventCard-registrationBanner {
  .uppercase-bold-condensed;
  background-color: @event-brand;
  margin: 0;
  padding: 8px;
  position: absolute;
  width: 100%;
  @media (max-width: @screen-xs-max) {
    top: 14px;
  }
}

.EventCard-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 140px;
  width: 100%;
  max-width: 100%;
  @media (max-width: @screen-xs-max) {
    overflow: hidden;
    border-radius: @border-radius-round;
    float: left;
    height: 75px;
    margin: 8px 8px 0;
    width: 75px;
  }
}

.EventCard-imageContainer {
  flex-basis: 75px;
  -webkit-flex-basis: 75px; // safari
  max-width: 100%;
  width: 75px;

  @media (min-width: @screen-sm-min) {
    flex-basis: 112px;
    -webkit-flex-basis: 112px; // safari
    width: auto;
  }
}
