.EventInfo-icon {
  font-size: 18px;
  position: relative;
  top: 31px;
}

.EventInfo-contactIcon {
  top: 30px;
  right: 2px;
}

.EventInfo-costIcon {
  top: 30px;
  left: 2px;
}

.EventInfo-content {
  @media (min-width: @screen-sm-min) {
    margin-left: 24px;
  }
}

.EventInfo-headerLink {
  color: inherit;
}
