.EventGroup-header {
  border-bottom: 1px solid @gray-light;
  font-weight: 300;
  margin: 65px 0 35px;
  padding-bottom: 16px;
  position: relative;
}

.EventGroup-header:first-child {
  margin-top: 35px;
}

.EventGroup-more {
  text-align: center;
}

.EventGroup-moreLink {
  color: @text-color;
  font-size: 15px;
}
