.EventForm-header {
  font-weight: 300;
  margin-bottom: 30px;
}

.EventForm-content {
  background-color: #FFF;
  padding: 40px 70px;
}

.EventForm-stepContent {
  max-width: 450px;
  margin: 0 auto;
}
