.EventShowAside {
  @media (min-width: @screen-md-min) {
    text-align: right;
    padding: 150px 90px 0;
  }
}

.EventShowAside-otherDates {
  margin-top: 20px;

  @media (min-width: @screen-md-min) {
    float: right;
    width: 168px;
  }
}

.EventShowAside-similar {
  margin-top: 20px;

  @media (min-width: @screen-md-min) {
    float: right;
    width: 290px;
  }
}

.EventShowAside-button {
  margin-top: 10px;
  padding: 0;
}

.EventShowAside-header {
  font-family: @font-family-museo-sans;
  font-size: 11px;
  text-transform: uppercase;
}

.EventShowAside-item {
  margin-top: 10px;
}

.EventShowAside-itemHeader {
  font-size: 16px;
  display: inline;
  margin-left: 5px;
  width: 185px;
}

.EventShowAside-itemHeaderLink {
  color: inherit;
}

.EventShowAside-infoText {
  white-space: normal;
}
