.EventsByDay {
  margin-bottom: 20px;

  .flex-display();
  .flex-direction(column);
  .justify-content(center);

  button:focus {
    outline: 0;
  }

  .fa-calendar {
    font-size: 19px;
    padding-left: 5px;
  }

  .fa-sort-desc {
    vertical-align: 30%
  }

  &-header {
    .u-card;
    color: #fff;
    background-color: #333;
    text-align: center;
    margin-bottom: 6px;
    border-radius: 500px;
    height: 40px;
    line-height: 40px;
  }

  &-calendar-button {
    cursor: pointer;
    font-size: 14px;
  }
}

