.EventShow {
   background-color: white;
}

.EventShow-content {
  margin-bottom: 30px;

  @media (min-width: @screen-md-min) {
    margin-bottom: 65px;
  }

  @media (min-width: @screen-sm-min) {
    margin-bottom: 55px;
  }
}

.EventShow-info {
  margin-bottom: 30px;
  margin-top: 5px;
  @media (max-width: @screen-xs-max) {
    text-align: center;
  }
}

.EventShow-map {
  @media (min-width: @screen-md-min) {
    margin-bottom: 10px;
  }
}

.EventShow-mapContent {
  border: none;
  height: 127px;
  margin-top: 4px;
  width: 100%;
}