.EventShow {
   background-color: white;
}

.EventShow-content {
  margin-bottom: 30px;
}

.EventShow-infoHeader {
  margin-bottom: 25px;
}


.EventShow-info {
  margin-bottom: 30px;
}

.EventShow-map {
  margin: 20px 0;
}

.EventShow-mapContent {
  height: 150px;
  margin-top: 4px;
}
