.EventPreview {
  background-color: white;
  border-bottom: 2px dashed @gray-light;
  border-top: 2px dashed @gray-light;
}

.EventPreview-summary {
  text-align: center;
  padding: 0;
}

.EventPreview-propertyList {
  margin-top: 30px;
}

.EventPreview-summaryProperty {
  display: inline;
  margin-left: 17px;
}

.EventPreview-summaryProperty:first-child {
  margin-left: 0;
}

.EventPreview-helpText {
  background: white;
  border: 2px dashed @gray-light;
  color: @gray-medium;
  display: inline-block;
  padding: 5px;
  position: relative;
  top: 18px;
  z-index: 10;
}

.EventPreview-helpText--bottom {
  display: block;
  margin: 0 auto;
  padding: 2px 11px;
  width: 140px;
}

.EventPreview-scrollButton:focus {
  outline: 0;
}