.EventInfo-contact {
  margin-top: 20px;
}

.EventInfo-instanceInfo { }

.EventInfo-instanceInfo-title {
  border-bottom: 1px solid @gray-medium;
  line-height: 0;
  margin: 10px 0 20px 0;
  text-align: center;
}

.EventInfo-instanceInfo-title-text {
  background-color: #fff;
  padding: 0 10px;
  display: inline;
  line-height: 0;
}

.EventInfo-icon {
  padding-right: 4px;
}

.EventInfo-contactItem {
  padding-bottom: 10px;
}

.EventInfo-contactItem .fa {
  .h4;
  padding: 4px;
}

.EventInfo-registrationHeader {
  background-color: @event-brand;
  padding: 4px 10px 0 10px;
  display: inline-block;
  color: #000;
  margin-bottom: 0;
}

.EventInfo-meta {
  display: block;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,.18);
}

.EventInfo-meta-item {
  display: block;
  padding: 10px 0;

  @media (min-width: @screen-xs-max) {
    display: block;
    padding: 10px 0;
  }
}

.EventInfo-meta-item-inner {
  padding: 0 10px;
}
