.ExpandableContent {
  position: relative;

  &-contentWrapper {
    width: 100%;

    &.isCollapsed {
      overflow: hidden;
      padding-bottom: 5px;
      position: relative;

      &:after {
        content: ' ';
        display: block;
        width: 100%;
        height: 150px;
        bottom: 0;
        position: absolute;
        z-index: 8;

        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 98%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 98%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 98%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      }
    }

    &.isExpanded { }
  }

  &-buttonWrap.collapsed {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 8;
  }

  &-toggleButton {
    .h5;
    background: #efefef;
    padding: 10px;
    border: solid 1px transparent;
    margin: 5px 0 10px 0;
    border-radius: 3px;

    &:focus,
    &:hover {
      border-color: black;
    }
  }
}
