.FeaturedContent {
  clear: left;
  margin-bottom: 40px;
}

.FeaturedContent-featuredImage {
  img {
    max-width: 100%;
  }
}

.FeaturedContent-title {
  margin-top: 0;
  padding-top: 0;
  font-size: 1em;
}

.FeaturedContent-meta {
  margin-top: 10px;
}

.FeaturedContent-publisherAvatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 20px;
}

.FeaturedContent-whenPublished {
  margin-bottom: 0;
}

.FeaturedContent--horizontal {
  position: relative;
  padding-left: 50%;

  .FeaturedContent-featuredImage {
    position: absolute;
    width: 49%;
    left: 0;
    img {
      width: 100%;
      padding-right: 20px;
    }
  }
}

