.FeedCarousel {
  width: 100%;

  &-title-bar {
    display: grid;
    grid-template-columns: 1fr 64px;
    padding: 10px 15px;
    border-bottom: solid 1px #ECF2F5;

    &-left {
      grid-column: 1;
      justify-self: start;
    }
    &-right {
      grid-column: 2;
      justify-self: end;
      align-self: center;

      a:hover {
        color: @button-primary;
      }
    }
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
  }

  &-see-more {
    font-size: 14px;
    text-align: right;
    cursor: pointer;
    color: @button-primary;
    font-weight: bold;
  }

  &-carousel {
    padding: 10px 15px;
  }

  .swiper-container {
    padding: 15px;
  }

  .swiper-slide {
    width: auto;
    height: auto;
    margin-right: 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: #efefef;
    padding: 8px;
    border-radius: 50%;
    z-index: 10;
    height: 40px;
    width: 40px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    .transition(opacity 0.3s linear);
    .box-shadow(0 2px 4px 2px rgba(0, 0, 0, 0.2));
  }
  .swiper-button-next:after {
    content: '\f054';
    font-size: 24px;
    color: @button-primary;
    font-family: FontAwesome;
    margin-left: 3px;
  }
  .swiper-button-prev:after {
    content: '\f053';
    font-size: 24px;
    color: @button-primary;
    font-family: FontAwesome;
    margin-right: 3px;
  }
  .swiper-button-disabled {
    pointer-events: all !important;
    opacity: 0;
  }

  @media (max-width: @screen-xs-max) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}
