.FilterBar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.FilterBar-form {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.FilterBar-text {
  font-size: 18px;
  margin: 15px 7px 15px 0;
}

.FilterBar-button {
  width: 180px;
  margin-top: 10px;
  float: right;
}

.FilterBar-button:nth-of-type(1) {
  margin-left: 10px;
}

.FilterBar-input {
  width: 170px;
}