.FilterBar {
  border-top: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.FilterBar-collapse {
  border-top: 1px solid #F6F6F6;

  @media (min-width: @screen-sm-min) {
    padding-right: 0;
    padding-left: 0;
  }
}

.FilterBar-collapse.navbar-collapse.in {
  overflow-y: visible;
}

.FilterBar-form {
  padding: 24px 0;
  text-align: center;
  width: 100%;

  @media (max-width: @screen-sm-max) {
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: @screen-sm-min) {
    padding-right: 0;
    padding-left: 0;
  }
}

.FilterBar-formGroup {
  display: inline-block;
}

.FilterBar-text {
  margin: 15px 4px 15px 0;
  width: 50%;
}

.FilterBar-input {
  width: 165px;
  margin: 0 4px;
}

.FilterBar-input {
  .placeholder(@color: #cccccc);
}

.FilterBar-inputLocation {
  width: 185px;
}

.FilterBar--event {
  color: @event-brand;
}

.FilterBar--talk {
  color: @talk-brand;
}
