.FilterBar {
  border-top: 0;
  margin: 0;
}

.FilterBar-collapse {
  border-top: 1px solid #F6F6F6;

  @media (min-width: @screen-sm-min) {
    padding-right: 0;
    padding-left: 0;
  }
}

.FilterBar-collapse.navbar-collapse.in {
  overflow-y: visible;
}

.FilterBar-form {
  @media (max-width: @screen-sm-max) {
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: @screen-sm-min) {
    padding-right: 0;
    padding-left: 0;
  }
}

.FilterBar-formGroup {
  display: inline-block;
}

.FilterBar-text {
  font-size: 18px;
  margin: 15px 4px 15px 0;
  width: 50%;
}

.FilterBar-button {
  width: 100%;

  @media (min-width: @screen-sm-min) {
    width: 180px;
  }
}

.FilterBar-button:nth-of-type(1) {
  @media (min-width: @screen-sm-min) {
    margin-left: 10px;
  }
}

.FilterBar-input {
  width: 165px;
  margin-left: 4px;
}

.FilterBar-input {
  .placeholder(@color: #cccccc);
}

.FilterBar-inputLocation {
  width: 185px;
}
