.FlashBanner {
  padding: 1em 2em;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5em;
  background: #000099;
  position: relative;

  &-close {
    position: absolute;
    top: .5em;
    right: .5em;
    background: transparent;
    border: none;
  }
}
