.FloatingActionButton {
  transition: all 0.5s;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1010;

  &-container {
    transition: all 0.5s;
    width: 100%;
    max-width: 480px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;;
    &.in-view {
      .transform(none);
    }
    &.out-of-view {
      .transform(translateY(100%));
    }
  }

  &-header {
    .transition(all 0.5s ease);
    .flex-display();
    .align-items(center);
    .border-radius(4px);
    border: solid 1px transparent;
    justify-content: flex-end;
    margin: 5px 0;
    position: relative;
    &.up-high {
      .transform(none);
    }
    &.down-low {
      .transform(translateY(-100%));
      background: @herecast-teal;
    }
  }

  &-dismissButton {
    .u-link;
    font-size: 12px;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: underline;
  }

  &-message {
    transition: all 0.5s;
    .flex-basis(auto);
    .border-radius(4px);
    .box-shadow();
    .h3;
    margin: 0;
    border: solid 1px #f1f1f1;
    color: @text-color;
    font-weight: 600;
    background-color: rgba(255,255,255,0.9);
    padding: 15px;
    line-height: 1.1;
    text-align: left;
    outline: 0;

    &-caret {
      font-size: 30px;
      color: rgba(255,255,255,0.9);
      text-shadow: 1px 1px 1px #f1f1f1, 1px 0 0 #f1f1f1;
      margin-left: -2px;
      margin-right: 5px;
      opacity: 0.95;
    }

    &-cta {
      color: #fff;
      background: none;
      text-align: center;
      width: 100%;
      padding-left: 8px;
      font-size: 16px;
      font-family: @font-family-semibold;
    }
  }

  &-icon {
    .transition(transform 0.5s);
  }

  &-content {
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    pointer-events: auto;
    .transition(all 0.5s ease);
    &.in-view {
      .transform(translateY(0));
      opacity: 1.0;
    }
    &.out-of-view {
      .transform(translateY(110%));
      opacity: 0;
    }
  }

  &-toggleButton {
    pointer-events: auto;
  }

  &.expanded {
    top: 0;
    background: rgba(3,3,3, 0.4);

    .FloatingActionButton-header {
      border-color: lighten(@gray-medium, 10%);
      background-color: @body-bg;
      .justify-content(space-between);
      //animation: slide-item-up 0.5s;
    }

    .FloatingActionButton-message {
      .box-shadow(none);
      border: none;
      padding: 0 0 0 10px;
      background-color: transparent;
    }

    .FloatingActionButton-icon {
      .transition(transform 1s);
      .transform(rotate(45deg));
    }

    /*.FloatingActionButton-content {
      animation: slide-up 0.5s;
      display: block;
    }*/
  }

  &.behind-modals {
    z-index: 900;
  }
}
