.Footer {
  background: #666666;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  height: 36px;
  opacity: 0.85;
  position: fixed;
  width: inherit;
  z-index: 1001;
}

.Footer-link {
  color: white;
  display: inline-block;
  line-height: 36px;
  padding: 0 10px;
  vertical-align: middle;
}

.Footer-container {
  margin-top: 35px;
  padding-left: 0;
  padding-top: 30px;
}
