.Footer {
  background-color: @gray-dark;
  padding: 10px 5px;
  color: white;
}

.Footer-link {
  color: white;
  display: inline-block;
  line-height: 36px;
  padding: 0 10px;
  vertical-align: middle;
}

.Footer-container {
  padding-top: 15px;
}
