.FooterNav {
  position: fixed;
  z-index: 52;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: bottom 300ms;
  background: rgba(52, 54, 60, 0.93);

  &.is-hidden {
    bottom: -70px;
  }

  &-list {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  &-listItem {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    padding: 0;
    margin: 0;

  }

  &-icon {
    height: 24px;
    margin: 0 auto;
    position: relative;

    &-inner {
      font-size: 1.4em;
      transition: font-size 600ms;

      .active & {
        font-size: 1.8em;
      }
      &:before {
        font-family: FontAwesome;
        position: absolute;
        vertical-align: middle;
        display: block;
        width: 100%;
        content: "\f0a1";
      }

      &--news:before      { content: "\f0a1"; }
      &--events:before    { content: "\f133"; }
      &--talk:before      { content: "\f0e5"; }
      &--market:before    { content: "\f155"; }
      &--directory:before { content: "\f124"; }
    }
  }

  &-text {
    .h6;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 0;
  }

  &-link {
    color: #fff;
    &:hover {
      color: #fff;
    }
    display: block;
    padding: 10px 0;

    &.active, &:focus {
      color: #000;
      background-color: rgba(52, 54, 60, 1);
      text-decoration: none;
      transition-delay: 600ms;
      transition: background-color 400ms;

      .FooterNav-listItem--talk   &   { background-color: @talk-brand; }
      .FooterNav-listItem--market &   { background-color: @market-brand; }
      .FooterNav-listItem--news   &   { background-color: @news-brand; }
      .FooterNav-listItem--events &   { background-color: @event-brand; }
      .FooterNav-listItem--directory & { background-color: #3dce72; }
    }

    &--extendedNavList {
      .h1;
      margin: 0;
      padding: 10px;
      color: #fff;
    }
  }

  &-extendedNavList {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      border-bottom: solid 1px darken(@gray-light, 10%);

      > a {
        .h2;
        padding: 15px 10px;
        margin: 0;
        display: block;
      }
    }
  }
}
