.FutureEvent {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid @gray-light;
  display: table;
  width: 100%;

  &:first-child {
    border-left: 0;
  }

  &-date,
  &-time,
  &-header {
    .h5;
  }

  &-date {
    font-weight: bold;
    margin: 0;
  }

  &-time {
    display: inline;
    color: @gray-dark;
  }

  &-header {
    margin: 0;
  }

  &-icon {
    display: inline;
    font-size: 15px;
  }

  &-calendar {
    display: table-cell;
    width: 80px;
    border-right: 1px solid @gray-light;
  }

  &-body {
    display: table-cell;
    padding-left: 15px;
  }

  &-viewMoreBtn {
    margin-top: 10px !important;
  }
}
