.FutureEvent {
  padding: 0 30px;
  border-left: 1px solid @text-color;
  margin-bottom: 30px;
  height: 90px;
  @media (max-width: @screen-xs-max) {
    text-align: center;
  }
}

.FutureEvent:first-child {
  border-left: 0;
}

@media (min-width: @screen-md-min) {
  .FutureEvent:nth-child(4n + 1) {
    border-left: 0;
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .FutureEvent:nth-child(3n + 1) {
    border-left: 0;
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
  .FutureEvent-header:not(p) {
    font-size: 22px;
  }
}

@media (max-width: @screen-xs-max) {
  .FutureEvent {
    border-left: 0;
    max-width: 300px;
    margin: 20px auto;
  }
}

.FutureEvent-list {
  margin-top: 40px;
}

.FutureEvent-header {
  margin: 0;
}

.FutureEvent-icon {
  display: inline;
  font-size: 15px;
}

.FutureEvent-time {
  display: inline;
  color: @gray-dark;
}
