.GradientTruncation {
  position: relative;
  overflow: hidden;
}

.GradientTruncation-gradientContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 18px; 

}
.GradientTruncation-gradient {
  float: left;
  width: 30px;
  height: 18px; 
  #gradient > .horizontal(rgba(255,255,255,0), rgba(255,255,255,1));  
}

.GradientTruncation-gradientEnd {
  float: left;
  width: 15px;
  height: 18px; 
  background: white;
}
