.GroupedCards {
  &-wrapper {
    background: #fff;

    @media (min-width: @screen-md-max) {
      padding: 20px;
    }
  }

  &-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
  }

  .Card {
    box-shadow: none;
    height: auto;
  }
}
