.HeaderImage {
  height: 360px; // 4:3 ratio. on desktop this is 480x360
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: @screen-xs-max) {
    height: 225px; // 4:3 ratio. on mobile this is 300x225
  }

  &--preserveAspectRatio {
    background-size: contain;
  }

  &--small {
    height: 70px;
  }

  &--medium {
    height: 150px;
  }

  &--smallOnMobileMediumOnDesktop {
    height: 150px;

    @media (max-width: @screen-xs-max) {
      height: 70px;
    }
  }

  &--block {
    height: 70px;
  }

  &--profile-header {
    max-height: 300px;
  }
}
