.HeaderImage {
  height: 360px; // 4:3 ratio. on desktop this is 480x360
  background-color: @gray-light;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: @screen-xs-max) {
    height: 225px; // 4:3 ratio. on mobile this is 300x225
  }

  &--preserveAspectRatio {
    background-size: contain;
    background-color: #d8d8d8;
  }

  &--small {
    height: 90px;
  }

  &--medium {
    height: 150px;
  }
}
