.HelpText {
  .flex-display();
  .align-items(center);
  color: @button-primary;
  cursor: pointer;

  &-text {
    .flex-basis(auto);
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  &-icon {
    font-size: 28px;
  }
}
