.HideLocationButton {
  .alert {
    text-align: left;
  }

  &--modal {
    .Modal-dialog {
      padding: 16px 8px;
    }

    &-title {
      line-height: 1.0;
      margin-bottom: 4px;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
    }

    &-flags {
      text-align: left;
      display: inline-block;
      label {
        margin: 8px 0;
      }

      &-wrap {
        text-align: center;
      }
    }

    &-message {
      line-height: 1.2;
      font-size: 14px;
      max-width: 500px;
      margin: 0 auto;
    }

    &-location {
      text-align: center;
      max-width: 260px;
      margin: 0 auto;
      font-weight: 600;
      text-align: left;
      margin-bottom: 16px;
      color: lighten(@gray-medium, 10%);
      font-size: 22px;

      &-icon {
        font-size: 24px;
      }
    }



    &-action-buttons {
      text-align: center;
    }

  }
}
