.HoursList {
  width: 100%;

  tr {
    border-bottom: solid 1px @divider-color;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    padding: 5px 0;
  }

  &-days {
    text-align: left;
  }

  &-hours {
    text-align: right;
  }
}
