.ImageUploadTiles {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &-tile {
    background: #666;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    line-height: 100px;
    margin: 0 1em 1em 0;

  }

  &-inputTile {
    color: #ccc;
    font-size: 50px;
  }

}
