.ImageTile {
  position: relative;
  text-align: center;
  vertical-align: middle;
  img {
    max-width: 100%;
    max-height: 100%;
  }

  &-imageActions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 1.2;
  }

  &-imageAction {
    color: #333;
    font-size: 2em;
    text-shadow: 0px 0px 3px #fff;
    background: rgba(200,200,200,0.6);
    border: none;
  }

  &-primary {
    box-shadow: 0px 0px 2px 4px #9ab
  }

  &-primaryLabel {
    position: absolute;
    bottom: 2px;
    right: 1px;
    opacity: 0.8;
    font-size: 0.8em;
    background: rgba(200,200,200,0.8);
    color: #333;
    text-shadow: 0px 0px 3px #fff;
  }
}
