.ImageInputTile {
  display: flex;
  justify-content: center;
  align-items: center;

  input&-input {
    display: none;
  }

  label&-label {
    font-size: inherit;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    height: 100%;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      border-radius: 6px;
    }
  }
}
