.ImageLoadPlaceholder {
  position: relative;


  &-boundary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  &-block {
    position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .dot {
  	@animation-speed: 1500ms;
  	@dot-size: 20px;
  	width: @dot-size;
  	height: @dot-size;
    border-radius: 50%;
    border: (@dot-size / 5) solid @gray-dark;
    display: inline-block;
  	margin: 0 (@dot-size / 2);
  	.transform(scale(0));

  	.dot-animation();
  	&:nth-child(2) {
  		.dot-animation(@animation-speed * 0.33);
  	}
  	&:nth-child(3) {
  		.dot-animation(@animation-speed * 0.66);
  	}
  }

  .dot-animation(@delay: 0ms) {
  	.animation(fx @animation-speed ease infinite @delay);
  }

  @keyframes fx {
  	50% {
  		.transform(scale(1));
  		opacity: 1;
  	}
  	100% {
  		opacity: 0;
  	}
  }


  &-blurred-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .filter(blur(12px));
  }

  &-yield {
    opacity: 0;
  }

  //animation
  &-fade-in {

  	.keyframes(ImageLoadPlaceholder-fade-in; {
  		0% { opacity: 0; }
  		100% { opacity: 1.0; }
  	});

  	.animation(ImageLoadPlaceholder-fade-in 0.3s ease-out forwards);

  }

  &-fade-out {

  	.keyframes(ImageLoadPlaceholder-fade-out; {
  		0% { opacity: 1.0; }
  		100% { opacity: 0; }
  	});

  	.animation(ImageLoadPlaceholder-fade-out 0.3s ease-in forwards);

  }

  &-gradient {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;

    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.45) 90%, rgba(68, 68, 68, 0.65) 98%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.45) 90%, rgba(68, 68, 68, 0.65) 98%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.45) 90%, rgba(68, 68, 68, 0.65) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6444444', GradientType=0);
  }

}
