.ImageEditor {}

.ImageEditor-preview {
  .center-block;
  max-width: 400px;
  max-height: 300px;
  border: solid 1px @gray-dark;
  background-color: @gray-light;
  margin-bottom: 10px;
}

.ImageEditor-buttons {
  margin-top: 20px;
  text-align: center;
}
