.ImageInputTile {
  display: flex;
  justify-content: center;
  align-items: center;

  input&-input {
    display: none;
  }

  label&-label {
    font-size: inherit !important;
    line-height: inherit !important;
    padding: 0;
    margin: 0;
    display: block;
    flex: 1;
    cursor: pointer;
    height: 100%;
  }
}
