.ImageUploadTiles {
  // s/b &-wrapper
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &-tile {
    background: #efefef;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    line-height: 100px;
    margin: 0 10px 10px 0;
  }

  &-inputTile {
    color: #a2a2a2;
    font-size: 50px;
  }

}
