.ImageEditor {
  &-caption-length {
    text-align: right;
    font-size: 11px;
  }
}

.ImageEditor-preview {
  .center-block;
  max-width: 400px;
  max-height: 300px;
  border: solid 1px @gray-dark;
  background-color: @gray-light;
  margin-bottom: 10px;
  @media (max-width: @screen-xs-max) {
    max-width: 100%;
  }
}

.ImageEditor-buttons {
  margin-top: 20px;
  text-align: center;
}

.ImageEditor-file-input.hidden {
  display: none !important;
}
