.InlineEdit {
  color: @gray-medium;
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0;
}

.InlineEdit-icon {
  color: @gray-medium;
  font-size: 26px;
  margin-left: 10px;
  cursor: pointer;
}

.InlineEdit-input {
  border-color: black;
  border-style: dashed;
  border-width: 0 0 2px 0;
  padding: 0;
  cursor: text;
}

.InlineEdit-input:disabled {
  border: 0;
}

.InlineEdit-input:focus {
  outline: 0;
}
