.InlineEdit {
  &-display {
    cursor: pointer;
  }
  &-editButton {
    display: inline-block;
    width: auto;
    border: 1px solid #929292;
    border-radius: 5px;
    padding: 4px 5px;
    margin-left: 5px;
    color: #929292;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    background: transparent;

    .fa {
      font-weight: normal;
      text-decoration: none;
    }

    &:hover {
      color: darken(#929292, 5%);
    }
  }
}
