.JobsNavigation {
  .box-shadow();
  .border-radius(4px);
  padding: 5px 20px 120px 20px;
  background: @body-bg url('https://s3.amazonaws.com/subtext-misc/sierra-nevada/town.png') no-repeat center bottom;
  background-size: contain;
}
