.ListservForm {
  &-container {
    background-color: @gray-light;
    min-height: 100vh;
  }
  max-width: 600px;
  margin: 0 auto 65px auto;
  font-family: @font-family-condensed;
  font-size: larger;
  .center {
    text-align: center;
  }
  .form-group {
    margin:20px 0;
  }
  input[type="checkbox"] {
    height: 20px;
    width: 20px;
  }
  .coming-soon {
    background: grey;
    padding: 18px 8px;
    opacity: 0.6;
    cursor: not-allowed;
    margin-bottom: 15px;
    label, span, div, input {
      cursor: not-allowed;
    }
  }
  .checkbox-group {
    display: inline-block;
    margin-right: 6px;
    margin-top: 6px;

  }
  .note {
    display: block;
    line-height: 110%;
    font-size: 13px;
    margin-bottom: 6px;
  }
  .action-bar {
    text-align: center;
    padding: 20px 0;
  }
  .textOnly-bar {
    margin-top: 50px;
    text-align: right;
  }
  .textonly-button {
    background: none;
    border: none;
    font-size: 13px;
    &.pending {
      background: none !important;
      opacity: 0.8 !important;
    }
  }
}

.ListservForm-callToAction {
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;
  background: #38B7F3;
  border: none;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 12px;
  &.pending {
    background: #38B7F3 !important;
    opacity: 0.8 !important;
  }
}

.ListServForm-mainNav {
  font-family: @font-family-condensed;
  font-weight: @font-weight-semibold;
  text-transform: uppercase;
  padding-top: 10px;
  margin-top: 0;
  font-size: 52px;

}

.ListservForm-sectionHeader {
  margin: 10px;
  text-align: center;
}

.ListservForm-sectionSubHeader {
  padding: 0 20px;
  h3 {
    margin-top: 0px;
  }
}

.ListservForm-form {
  padding:0 50px;
}

.ListservForm-buttonGroup {
  margin-top: 35px;
}

.ListservForm-buttonLink {
  color: @gray-dark;
  .h4;
  text-decoration: underline;
}

.ListservForm-discardButton {
  .uppercase-bold-condensed;
  color: @gray-dark;
  margin: 20px 20px 10px 20px;
}

.ListservForm-modalCloseButton {
  padding-left: 0;
  padding-right: 0;
}

.ListservForm-content {
  background-color: #FFF;
  padding: 10px 0 30px 0;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.18);
}

.ListservForm-content .form-group.has-error .note-editor {
  border-color: @brand-danger;
}

.ListservForm-content .form-group.has-error .note-editor .note-editing-area .note-editable {
  background-color: @bg-error;
}

.ListservForm-content .note-editor .note-dropzone {
  opacity: 0 !important;
}

.ListservForm-stepContent {
  margin-top: 70px;
}

.ListservForm-requiredIndicator {
  color: @brand-danger;
}

.ListservForm-label {
  .h4;
}

.has-error .ListservForm-label--required {
  color: #000;
}

.has-error input {
  background-color: @bg-error;
}

.ListservForm-error {
  color: @brand-danger;
  margin-left: 10px;
}

.ListservForm-label--required:after {
  content: "*";
  color: @brand-danger;
}

.ListservForm-previewHeader {
  margin: 53px 0 49px;
  text-align: center;
  .uppercase-bold-condensed;
}

.ListservForm-fileField {
  padding-top: 14px;
  height: auto;
}

.ListservForm-helpText {
  color: @gray-dark;
  .h4;
  font-style: italic;
  font-weight: 300;
  margin-top: 10px;
}

.ListservForm-textArea .note-editor {
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid @gray-medium;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

// Override the "placeholder" color
.note-editor .note-editable[contenteditable=true]:empty:not(:focus):before {
  color: @gray-dark;
}

.ListservForm-iconLabel {
  border-radius: 0;
  font-size: 20px;
  min-width: 50px;
}

.ListservForm-modal {
  text-align: center;
}

.ListservSubscriptionForm {
  @media (max-width: @screen-xs-max) {
    margin:0 8px;
  }
}

.afterSubscriptionToast {
  font-family: @font-family-regular;
  font-weight: @font-weight-regular;
  top: 25%;
  .toast {
    width: 600px !important;
    opacity: 0.95 !important;
    @media (max-width: @screen-xs-max) {
      width: 100% !important;
    }
  }
  .toast-title {
    font-weight: @font-weight-semibold;
    font-size: 25px;
    line-height: 110%;
    margin-bottom: 12px;
    @media (max-width: @screen-xs-max) {
      font-size: 20px;
    }
  }
  @media (max-width: @screen-xs-max) {
    margin:0 8px;
  }
}
