.ListservContentDigestPreview {
  background-color: white;
  border: solid 1px @gray-medium;
  margin: 20px;
  padding: 3px 103px 3px 3px;
  position: relative;
  overflow: hidden;
}

.ListservContentDigestPreview-image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100px;
  max-height: 100px;
}

.ListservContentDigestPreview-title {
  margin: 0;
  font-weight: bold;
  font-size: 100%;
  text-transform: uppercase;
}


.ListservContentDigestPreview-price {
  float: right;
  padding: 0 5px;
}

.ListservContentDigestPreview-venue {
  float: right;
  padding: 0 5px;
}

