.ListservForm {
  max-width: 600px;
  margin: 0 auto 65px auto;
  background-color: #FFF;
  padding: 10px 10px 30px;

  @media (min-width: @screen-xs-max) {
    padding: 10px 30px 30px 30px;

  }

  // s/b &-wrapper
  &-container {
    min-height: 100vh;
    margin-top: -80px;
  }

  &-enhancementFields {
    // background: #f1f9e8;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4EA566;
    background-color: #f1f7f3;

    legend {
      color: #4EA566;
      border-bottom: none;
      background: #ffffff;
      display: inline-block;
      width: auto;
      padding: 4px 10px;
      border: 1px solid #4EA566;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &-header {
    text-align: center;
  }

  &-actions {
    text-align: center;

    &--alignRight {
      text-align: right;
    }
  }

  &-callToAction {
    .Button;
    .Button--primary;
  }

  &-stepIndicator {
    text-transform: uppercase;
  }

  &-sectionHeader {
    margin: 10px;
    text-align: center;
  }

  &-sectionSubHeader {
    h3 {
      margin-top: 0px;
    }
  }

  &-content {
    .form-group.has-error .note-editor {
      border-color: @brand-danger;

      .note-editor .note-editing-area .note-editable {
        background-color: @bg-error;
      }
    }

    .note-editor .note-dropzone {
      opacity: 0 !important;
    }
  }

  &-requiredIndicator {
    color: @brand-danger;
  }

  &-label {
    .h4;
  }

  &-modal {
    text-align: center;
  }

  .LocationDropdown {
    width: 100%;
    select {
      width: 100%;
    }
  }
}

// TODO this one definitely shouldn't be here!!!
.has-error input {
  background-color: @bg-error;
}

// Override the "placeholder" color
.note-editor .note-editable[contenteditable=true]:empty:not(:focus):before {
  color: @gray-dark;
}
