.ListservForm {
  max-width: 600px;
  margin: 0 auto 65px auto;
  background-color: #FFF;
  padding: 10px 30px 30px 30px;

  &-container {
    min-height: 100vh;
  }

  &-header {
    text-align: center;
  }

  &-actions {
    text-align: right;
  }

  &-callToAction {
    .Button;
    .Button--primary;
  }

  &-stepIndicator {
    text-transform: uppercase;
  }

  &-sectionHeader {
    margin: 10px;
    text-align: center;
  }

  &-sectionSubHeader {
    h3 {
      margin-top: 0px;
    }
  }

  &-content {
    .form-group.has-error .note-editor {
      border-color: @brand-danger;

      .note-editor .note-editing-area .note-editable {
        background-color: @bg-error;
      }
    }

    .note-editor .note-dropzone {
      opacity: 0 !important;
    }
  }

  &-requiredIndicator {
    color: @brand-danger;
  }

  &-label {
    .h4;
  }

  &-modal {
    text-align: center;
  }
}

// TODO this one definitely shouldn't be here!!!
.has-error input {
  background-color: @bg-error;
}

// Override the "placeholder" color
.note-editor .note-editable[contenteditable=true]:empty:not(:focus):before {
  color: @gray-dark;
}
