.ListPostPreview {}

.ListPostPreview--success-dialog {
  text-align: center;
}

.ListPostPreview--success-dialog-title {
  border-bottom: solid 1px black;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.ListPostPreview--success-dialog-instructions {
  border-top: solid 1px black;
  padding-top: 20px;
  margin-top: 40px;
}

.ListPostPreview--success-dialog-content {
  margin: 40px 0;
}
