.LocationIndicator {
  .h3;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;

  &-name {
    font-weight: bold;
    white-space: nowrap;
  }

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .h4;
    margin: 0;
  }
}
