.LocationRadiusSelector {
  .flex-display();
  .align-items(center);

  @media (max-width: @screen-xs-max) {
    .justify-content(space-between);
    &-location {
      .flex-grow(2);
    }
  }

  &-miles {
    margin: 0;

    @media (max-width: @screen-xs-max) {
      transform: rotate(-90deg);
    }
  }

  &-in-profile-page {
    .LocationRadiusSelector-location {
      margin: 0 auto;
    }
  }
}
