.LocationMenu {
  .container;
  background-color: white;
  padding-bottom: 30px;
  border-bottom: solid 1px @gray-medium;

  @media (max-width: @screen-xs-max) {
    margin: 0;
  }

  &-header {
    margin: 30px 0;
    text-align: center;
  }

  &-logo {
    position: static;
    text-align: center;
    padding-top: 10px;
    img {
      width: 150px;
      @media (max-width: @screen-xs-max) {
        width: 100px;
      }
    }
  }

  &-locateButton {
    .btn;
    .btn-link;
  }

  &-title {
    .h2;
    font-weight: bold;
    //margin: 0;
  }

  &-navigation {
    .nav;
    .nav-tabs;
    background: @gray-light;
    margin-bottom: 20px;

    li {
      a {
        .h3;
        margin: 0;
        text-transform: uppercase;
        color: lighten(@text-color, 30%);
        font-weight: bold;
      }
      &.active {
        a {
          color: @text-color !important;
        }
      }
    }
  }

  &-link {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 2px 0;
    font-weight: bold;
    text-decoration: none;
    position: relative;

    &-icon {
      display: none;
      position: absolute;
      right: 10px;
      top: 7px;
    }

    &:focus,
    &:active,
    &:hover,
    &.active {
      background-color: @news-brand;
      color: white;
      text-decoration: none;

      .LocationMenu-link-icon {
        display: inline;
      }
    }

    &-location {
      display: block;
      padding: 4px 10px;
      cursor: pointer;
    }
  }
}
