@main-nav-wrapper-height: 40px;

.GlobalHeader {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
  .box-shadow(0px 2px 2px -2px rgba(0,0,0,0.8));
  background: @herecast-blue;
  height: @main-nav-wrapper-height;

  &--top-bar {
    background: @herecast-blue;
    width: 100%;
    height: @main-nav-wrapper-height;
    margin: auto;
    max-width: 500px;
    text-align: center;
    .display-grid();
    .grid-template-columns(max-content 1fr max-content);

    &.streamlined {
      .grid-template-columns(100px 1fr 100px);
      .GlobalHeader-brand {
        .grid-column(2);
      }
    }
  }


  &-chevron {
    .grid-column(1);
    .grid-align-self(center);
    color: #fff;
    font-size: 20px;
    padding-left: 8px;
    a {
      color: #fff !important;
    }
    &-left {
      display: inline-block;
      margin-right: 2px;
    }
    &-right {
      display: inline-block;
      font-size: 11px;
      line-height: 1.0;
      .grid-align-self(center);
    }
  }

  &-brand {
    .grid-column(1);
    margin: auto;
    &-logo {
      .BrandLogo {
        margin-left: 8px;
        width: 130px;
        padding: 2px 0;
        @media (max-width: @screen-sm-max) {
          width: 100px;
        }
      }
    }
  }

  &-menu {
    .grid-column(3);
    margin: auto 8px auto 24px;
  }

  &-filter {
    .grid-column(2);
    margin: auto 0;
    text-align: right;
    @media (max-width: @screen-xs-max) {
      margin: auto 8px auto auto;
    }

    &-postsButton,
    &-calendarButton,
    &-marketButton {
      display:inline-block;
      vertical-align: middle;
      outline: none;
      a {
        text-decoration: none;
        color: #fff;
        i {
          .transition(all 0.4s ease);
        }
        &.active {
          text-shadow: 2px 2px 3px #000;
          i {
            .transform(scale(1.15));
          }
        }
      }
      &.open {
        color: #000;
      }
      &:hover {
        color: @button-primary;
      }
      &:not(:first-of-type) {
        margin-left: 16px;
      }
    }

    &-postsButton {
      font-size: 26px;
    }
    &-calendarButton {
      font-size: 22px;
    }
    &-marketButton {
      font-size: 24px;
    }
  }


  @media (max-width: @screen-xs-max) {
    &-brand {
      img {
        width: 75px;
      }

      &-logo {
        margin: auto;
      }
    }
  }
}
