.MarketPost {
  padding: 85px 0;
}

.MarketPost-title {
  margin: 0 0 50px;
}

.MarketPost-price {
  margin-top: 40px;
}

.MarketPost-contactInfo {
  font-size: 18px;
  padding: 48px 0 32px;
}

.MarketPost-contactInfo .fa {
  color: @market-brand;
}

.MarketPost-contactInfo .Loader {
  margin-top: 0;
  margin-bottom: 0;
}
