.MarketPost {
  margin-top: 40px;
}

.MarketPost-title {
  margin: 0;
  @media (min-width: @screen-sm-min) {
    margin: 0 0 50px;
  }
}

.MarketPost-price {
  margin-top: 40px;
}

.MarketPost-content {
  @media (max-width: @screen-xs-max) {
    text-align: left;
  }
}
.MarketPost-contactInfo {
  font-size: 18px;
  padding: 48px 0 32px;
}

.MarketPost-contactInfo .fa {
  color: @market-brand;
}

.MarketPost-contactInfo .Loader {
  margin-top: 0;
  margin-bottom: 0;
}

.MarketPost-imageContainer {
  background-color: @gray-dark;
  border-top: 2px solid white;
  position: relative;
  text-align: center;
  top: -2px;
}

.MarketPost-image {
  display: inline;
  max-height: 500px;
}
