.MarketCard {
  background: #6C6A6A;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
  display: flex;
  display: -webkit-flex; // Safari
  flex-direction: column;
  -webkit-flex-direction: column; // Safari
  padding: 0;
  text-align: center;
}

.MarketCard-link {
  height: 100%;
}

.MarketCard-content {
  display: flex;
  display: -webkit-flex; // Safari
  flex: 1;
  -webkit-flex: 1;
  flex-direction: column;
  -webkit-flex-direction: column; // Safari
  justify-content: center;
  -webkit-justify-content: center;

  @media (min-width: @screen-sm-min) {
    padding: 0 24px;
  }
}

.MarketCard-imageContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  max-width: 100%;
}

.MarketCard-title {
  color: white;
  margin-bottom: 12px;
}

.MarketCard-subtitle {
  color: white;
  margin-top: 0;
}
