.MarketCard {
  background: #6C6A6A;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
  padding: 0;
  text-align: center;
}

.MarketCard-link {
  @media (min-width: @screen-sm-min) {
    height: 100%;
  }
}

.MarketCard-content {
  justify-content: center;
  -webkit-justify-content: center;
  padding: 0 5px;

  @media (min-width: @screen-sm-min) {
    padding: 0 24px;
  }
}

.MarketCard-imageContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 150px;
  -webkit-flex-basis: 150px; // safari
  height: 150px;
  max-width: 100%;
  @media (max-width: @screen-xs-max) {
    flex-basis: 80px;
    -webkit-flex-basis: 80px; // safari
    height: 80px;
  }
}

.MarketCard-title {
  color: white;
  margin-bottom: 12px;
}

.MarketCard-subtitle {
  color: white;
  margin-top: 0;
}

.MarketCard.affix {
  top: 18px;
  width: 270px;
}