.MarketSearch {
  width: 100%;

  &-input {
    .u-card;
    background: rgba(255,255,255,0.8);
    padding-left: 10px;
    border-radius: 6px;
    padding: 0 0 0 13px;

    &:hover,
    &:focus,
    &:active {
      background: #ffffff;
    }

    &.has-query { 
      background: #ffffff;
    }
  }

  &.SearchInput {
    background: none;
  }

  .SearchInput-inputGroup {
    border-bottom: none !important;
    border-radius: 0;
    padding: 0;
    border: none;
    border-bottom: solid 1px @gray-medium;

    .SearchInput-icon {
      padding: 14px 14px 14px 0;
      font-size: 1.2em;

      @media (max-width: @screen-xs-max) {
        padding-right: 5px;
      }
    }
  }

  .SearchInput-input {
    .h2;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}
