.MarketCTA {
  padding-bottom: 20px;

  &-wrapper {
    background: #f3f2e7;
    padding: 20px;
    background-image: url('/images/farmer.png');
    background-size: 60%;
  }

  &-title,
  &-subtitle {
    text-align: center;
  }

  &-title {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0;

    span {
      background-color: @market-brand;
      display: inline-block;
      padding: 3px 7px;
    }
  }

  &-subtitle { }

  &-link {
    text-decoration: underline;
    display: block;
    font-size: 1.1em;

    @media (max-width: @screen-sm-max) {
      margin: 2px 0;
    }
  }

  &-linksTitle {
    margin-top: 0;
    font-weight: 700;
  }

  &-linksWrapper {
    margin-top: 20px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
  }

  &-featureCategory {
    height: 200px;
    background-color:#efefef;
    background-size: cover;
    position: relative;

    @media (max-width: @screen-sm-max) {
      max-width: 330px;
      margin-bottom: 10px;
    }

    &:hover {
      .MarketCTA-featureCategory-link {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.18);
        background: rgba(0, 0, 0, 0.27);
        cursor: pointer;

        &:after {
          content: 'Shop local >';
          display: block;
          position: absolute;
          top: 35%;
          font-size: 1.1em;
          font-weight: 700;
          width: 100%;
          text-align: center;
          text-decoration: none;
          color: #fff;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-title {
      margin: 0;
    }

    &-titleWrapper {
      background: #fff;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
    }

    &-link {
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    }
  }
}
