.MarketReplyForm {
  width: 100%;

  &.is-open {
    .MarketReplyForm-content {
      animation: pulse 5s ease-in;
    }
  }

  .MarketReplyForm-content {
    .well;
    background-color: #efefef;
    border-width: 1px;
    border-color: #ddd;
  }

  &-header { }

  &-replyButton {
    background-color: @link-color-new !important;
    color: #ffffff !important;
    margin-bottom: 5px;

    &--primary {
      background-color: @market-brand !important;
    }

    &--centered {
      margin: 0 auto;
      display: block;
    }
  }

  &-webmailLinksWrapper {
    margin-left: 20px;
  }

  &-webmailLinkButton {
    margin-left: 10px;

    &-wrapper {
      position: relative;
      display: block;
      padding: 3px;
      border-radius: 3px;
      margin-bottom: 3px;
      padding-left: 32px;
    }

    @media (max-width: @screen-xs-max) {
      margin-left: 0;
      display: block;
      text-align: left;
      text-indent: 15px;
    }

    &:after {
      background: url(/images/webmail-icons.png);
      background-size: cover;
      content: "";
      height: 29px;
      width: 32px;
      position: absolute;
      left: 0;
    }

    &.gmail {
      &:after {
        background-position: 0 0;
      }
    }

    &.outlook {
      &:after {
        background-position: 0 -33px;
      }
    }

    &.yahoo {
      &:after {
        background-position: 0 -66px;
      }
    }
  }
}

@keyframes pulse {
  0% {
    background-color: #EFEFEF;
    border-color: #ddd;
  }
  10% {
    background-color: #fffef0;
    border-color: #ffe68d;
  }
  100% {
    background-color: #EFEFEF;
    border-color: #ddd;
  }
}
