.MarketReplyForm {
  width: 100%;

  &.is-open {
    .MarketReplyForm-content {
      animation: pulse 5s ease-in;
    }
  }

  .MarketReplyForm-content {
    .well;
    background-color: #efefef;
    border-width: 1px;
    border-color: #ddd;
  }

  &-header { }

  &-replyButton {
    background-color: @link-color-new !important;
    color: #ffffff !important;
    margin-bottom: 5px;

    &--primary {
      background-color: @market-brand !important;
    }
  }

  &-webmailLinkButton {
    margin-left: 10px;

    @media (max-width: @screen-xs-max) {
      margin-left: 0;
      display: block;
      text-align: left;
      text-indent: 15px;
    }

    &:after {
      background: url(/images/webmail-icons.png);
      background-size: cover;
      content: "";
      height: 36px;
      width: 42px;
      float: left;
    }

    &.gmail {
      &:after {
        background-position: 0 -5px;
      }
    }

    &.outlook {
      &:after {
        background-position: 0 -42px;
      }
    }

    &.yahoo {
      &:after {
        background-position: 0 -88px;
      }
    }

    &-wrapper {
      display: inline-block;
      padding: 3px;
      background: white;
      border-radius: 3px;
      margin-bottom: 3px;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: #EFEFEF;
    border-color: #ddd;
  }
  10% {
    background-color: #fffef0;
    border-color: #ffe68d;
  }
  100% {
    background-color: #EFEFEF;
    border-color: #ddd;
  }
}
