.MediaContainer {
  .flex-display();
  margin: 0 10px 10px 0;

  &--reverse {
    .flex-direction(row-reverse);

    .MediaContainer-object {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  &-object {
    padding-left: 0;
    padding-right: 10px;
  }

  &-container {
    .flex-basis(auto);
    line-height: 1.1;
  }
}
