.MediaContainer {
  .flex-display();
  margin: 0 8px 8px 0;

  &--reverse {
    .flex-direction(row-reverse);

    > .MediaContainer-object {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  &--centerVertically {
    .align-items(center);
  }

  &--noMargin {
    margin: 0 !important;
  }

  &--noRightMargin {
    margin-right: 0 !important;
  }

  &-object {
    padding-left: 0;
    padding-right: 10px;
    display: inline-block;
  }

  &-content {
    width: 100%;
    line-height: 1;
  }

  &-container {
    .flex-basis(auto);
    line-height: 1.1;
  }
}

.MediaContainer--psuedo {
  .flex-display();
  margin: 0 8px 8px 0;

  &-object {
    padding-left: 0;
    padding-right: 10px;
    flex: 0.5 0 0;
  }

  &-content {
    width: 100%;
    line-height: 1;
    flex: 2.5 0 0;
  }

  &-container {
    .flex-basis(auto);
    line-height: 1.1;
  }
}
