.MobileHeader {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 51;
  background-color: #fff;
  transition: background-color 300ms;
  border-bottom: 1px solid #efefef;

  &-user, &-brand, &-search {
    line-height: 1;
  }

  &-brand {
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;

    &-location {
      vertical-align: middle;
      padding-left: 5px;
    }

    img {
      width: 75px;
    }
  }

  &-user {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 1rem;
    text-transform: uppercase;

    &-avatar {
      width: 27px;
      max-height: 27px;
    }

    &-button {
      background: none;
      padding: 0;
      border: none;
    }
  }

  &-signinAction {
    border: 0;
    background: none;
    padding: 0;
  }

  &-signinAction {
    border: 0;
    background: none;
    padding: 0;
  }

  &-search {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: right;
    font-size: 1.2rem;
    margin-right: 1rem;

    &-button {
      border: 0;
      -webkit-appearance: none;
      background: none;
      padding: 5px;
    }
  }

  &-user {
  }

  &--talk,
  &--market,
  &--news,
  &--events,
  &--directory {
    border-bottom: none;
  }

  &--talk      {
    border-top: 5px solid @talk-brand;
  }
  &--market    {
    border-top: 5px solid @market-brand;
    // border-bottom: 1px solid #efefef;
  }
  &--news      {
    border-top: 5px solid @news-brand;
  }
  &--events    {
    border-top: 5px solid @event-brand;
  }
  &--directory {
    border-top: 5px solid #3dce72;
  }

  @media (min-width: @screen-sm-min) {
    display: none;
  }
}
