.Modal {
  width: 100vw;
  height: 100vh;
  background: rgba(3, 3, 3, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;

  /**
   * https://bugs.webkit.org/show_bug.cgi?id=158342
   * https://github.com/twbs/bootstrap/commit/1ca6c9d7f1d15017c549dd1375ed98bf64404b33
   */
  -webkit-overflow-scrolling: touch;
  &-inner {
    //REF: http://patrickmuff.ch/blog/2014/10/01/how-we-fixed-the-webkit-overflow-scrolling-touch-bug-on-ios/
    height: calc(100% + 1px);
  }

  &--willAnimateAway {
    .flex-display();
    .flex-direction(column);
  }

  &--no-padding {
    .Modal-dialog {
      padding: 0 0 30px 0;
    }
  }

  &-dialogHeader {
    overflow: hidden;
    font-weight: bold;
    min-height: 25px;
  }
}

.Modal-dialog {
  margin: 5vh auto;
  max-width: 640px;
  background: #fff;
  box-shadow: 3px 3px 15px #333;
  padding: 10px 10px 30px 10px;
  transition: all 0.5s;
  z-index: 102;
  position: relative;

  &-body {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;

    &-wrapper {
      overflow: hidden;
      max-height: 90vh;
    }
  }

  &-slide-close {
    color: @brand-blue;
    font-size: 30px;
    display: inline-block;
    padding: 2px;
    position: absolute;
    top: 8px;

    &.left {
      left: 8px;
    }
    &.right {
      right: 8px;
    }
  }

  .Modal-actionClose {
    border: 0;
    border-top: solid 1px darken(@gray-light, 10%);
    font-weight: normal;
    line-height: 45px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }

  .form-actions {
    text-align: center;
  }

  &.animated {
  //  animation: slide-up 0.5s;
  animation: slide-right 0.5s;
  }

  &--small {
    max-width: 360px;
  }
}

.Modal-dialog--fullscreen {
  width: 100%;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 0;
  box-sizing: border-box;

  .Modal-dialog-body {
    max-height: 90vh;
  }

  &.Modal-dialog--visible {
    opacity: 1;
  }
}

.Modal-dialogFooter {
  padding: 0 4px 10px 4px;
  text-align: center;
  margin: 10px -10px -10px -10px;
}

.Modal-dialog-inset {
  width: 92vw;
  max-height: 92vh;
  min-height: 0;
  height: auto;
  margin: 4vh 4vw;
  padding-bottom: 45px;
  box-sizing: border-box;

  .Modal-dialog-body {
    padding-bottom: 45px;
  }
}

@media (max-width: @screen-xs-max) {
  .Modal-dialog {
    .Modal-dialog--fullscreen;

    &--small {
      .Modal-dialog-inset;
    }
  }

  .Modal--willAnimateAway {
    .Modal-dialog {
      .Modal-dialog-inset;

      &-body {
        max-height: 92vh;
        padding-bottom: 45px;
      }
    }
  }
}

@media (max-width: 360px) {
  .Modal-dialog {
    .Modal-dialog--fullscreen;

    &--small {
      min-height: 100vh;
      width: 100vw;
      padding-bottom: 10px;
      box-sizing: border-box;
    }
  }
}
