.ModalHeader {
  .flex-display();
  .justify-content(space-between);
  .align-items(center);
  .flex-direction(row-reverse);
  min-height: 25px;
  padding: 0 8px;

  &-content {
    .flex-grow(2);
  }

  &-title {
    font-weight: bold;
  }

  &-action {
    background: none;
    border: 0;
    padding: 0;
    color: @gray-dark;
    font-size: 20px;
  }
}
