.Modal {
  width: 100vw;
  height: 100vh;
  background: rgba(3,3,3, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;

  /**
   * https://bugs.webkit.org/show_bug.cgi?id=158342
   * https://github.com/twbs/bootstrap/commit/1ca6c9d7f1d15017c549dd1375ed98bf64404b33
   */
  -webkit-overflow-scrolling: touch;
  &-inner {
    //REF: http://patrickmuff.ch/blog/2014/10/01/how-we-fixed-the-webkit-overflow-scrolling-touch-bug-on-ios/
    height: calc(100% + 1px);
  }

  &--no-padding {
    .Modal-dialog {
      padding: 0;
    }
  }

}

.Modal-dialog {
  margin: 40px auto;
  max-width: 640px;
  background: #fff;
  box-shadow: 3px 3px 15px #333;
  padding: 10px;
  transition: all 0.5s;
  z-index: 102;
  position: relative;

  .form-actions {
    text-align: center;
  }

  &.animated {
    animation: slide-up 0.5s;
  }

  &--small {
    max-width: 360px;
  }
}

.Modal-dialog--fullscreen {
  width: 100%;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: absolute;
  margin: 0;
  overflow: auto;
  padding-bottom: 200px;

  &.Modal-dialog--visible {
    opacity: 1;
  }
}

.Modal-dialogFooter {
  padding: 0 4px 10px 4px;
  text-align: center;
  margin: 10px -10px -10px -10px;
}

@media (max-width: @screen-xs-max) {
  .Modal-dialog {
    .Modal-dialog--fullscreen;

    &--small {
      width: 90vw;
      max-height: 90vh;
      height: auto;
      margin: 5vh 5vw;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 360px) {
  .Modal-dialog {
    .Modal-dialog--fullscreen;

    &--small {
      // Force it to go full screen. Match the min-height to the same height calculation of its container.
      min-height: calc(100% + 1px);
      width: 100vw;
      padding-bottom: 10px;
    }
  }
}
