.NewsPhotoBanner {
  background-color: @gray-light;
  border-top: 1px solid @text-color;
  margin-bottom: 50px;
  position: relative;
  top: -1px;
}

.NewsPhotoBanner-photoContainer {
  height: 500px;
  padding: 0;
  position: relative;
}

.NewsPhotoBanner-photo {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.NewsPhotoBanner-captionArea {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  color: @gray-light;
  font-size: 12px;
  font-style: italic;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  text-align: right;
  width: 100%;
}