.NewsPhotoBanner {
  background-color: @gray-dark;
  position: relative;
  text-align: center;
  top: -2px;
  @media (min-width: @screen-sm-min) {
    border-top: 2px solid white;
  }
}

.NewsPhotoBanner-photoContainer {
  height: 500px;
  padding: 0;
  position: relative;
}

.NewsPhotoBanner-photo {
  display: inline;
  max-height: 500px;
}

.NewsPhotoBanner-captionArea {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  color: @gray-light;
  font-size: 12px;
  font-style: italic;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  text-align: right;
  width: 100%;
}
