.News {
  margin-top: 50px;
  @media (max-width: @screen-xs-max) {
    text-align: center;
  }
}

.News-title {
  margin: 0;
}

.News-subtitle {
  @media (min-width: @screen-sm-min) {
    font-size: 24px;
    margin: 15px 0;
  }
}

.News-publicationInfo {
  font-weight: 700;
  display: inline;
  @media (max-width: @screen-xs-max) {
    color: @gray-dark;
    font-size: 12px;
    display: block;
  }
}

.News-publicationDate {
  margin-left: 40px;
  display: inline;
  @media (max-width: @screen-xs-max) {
    color: @gray-dark;
    font-size: 12px;
    display: block;
    margin-left: 0;
  }
}

.News-content {
  margin-top: 30px;
}