.NewsEditor {
  input.form-control {
    border: 1px solid #D8D8D8;
  }
  
  .image-caption {
    font-size: 12px;
    font-style: italic;
  }
}
.NewsEditor-postBody {
  padding: 10px 20px;
  background-color: #fff;
}
.NewsEditor-title { }
.NewsEditor-titleWrapper {
  padding: 30px 0 20px 0;
}
.NewsEditor-autoSaveIndicator {
  min-height: 50px;
  display: table;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  margin-top: 8px;
  > div {
    display: table-cell;
    vertical-align: middle;
  }
}
