.NewsCard {
  padding: 0;
  text-align: center;
  @media (max-width: @screen-xs-max) {
    max-width: 525px;
    margin: 0 auto 30px;
  }
}

.NewsCard--wide {
  text-align: left;
}

.NewsCard--wide.Card {
  height: 532px;
}

.NewsCard-content {
  justify-content: center;
  -webkit-justify-content: center;

  @media (min-width: @screen-sm-min) {
    padding: 0 24px;
  }
}

.NewsCard--wide .NewsCard-content {
  padding: 0;
}

.NewsCard h2, .NewsCard h3, .NewsCard h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.NewsCard-imageContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 110px;
  -webkit-flex-basis: 110px; // safari
  height: 110px;
  max-width: 100%;
  @media (max-width: @screen-xs-max) {
    margin-bottom: 15px;
  }
}

.NewsCard--wide .NewsCard-imageContainer {
  flex-basis: 300px;
  -webkit-flex-basis: 300px; // safari
  height: 300px;
}

.NewsCard-pubAuthor {
  float: left;
  margin-right: 68px;
}

.NewsCard-verticalDivide:after {
  border-left: 1px solid #979797;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.NewsCard-verticalDivide {
  height: 532px;
  position: relative;
  text-align: center
}

.NewsCard--wide .NewsCard-subtitle {
  margin-bottom: 6px;
}

.NewsCard-date, .NewsCard-publication {
  @media (max-width: @screen-xs-max) {
    font-size: 12px;
  }
}
