.NewsEditor {
  input.form-control {
    border: 1px solid #D8D8D8;
  }
  .image-caption {
    font-size: 12px;
    font-style: italic;
  }
  .modal-content {
    .text-muted {
      color: @gray-medium;
    }
  }

  &-content-owner {
    padding-left: 0 !important;
    &-left,
    &-right {
      max-width: 49%;
      display: inline-block;
      @media (max-width: @screen-sm-max) {
        max-width: 100%;
        display: block;
      }
    }
  }

  &-delete-message {
    margin-top: 0.5rem;
  }

  &-helper-message {
    line-height: 1.1;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 12px;
  }

  &-deleting-record-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 25%;
    z-index: 1000000;

    i {
      color: #fff;
      font-size: 90px;
    }
  }
}
.NewsEditor-postBody {
  padding: 10px 20px;
  background-color: #fff;

}
.NewsEditor-title { }
.NewsEditor-titleWrapper {
  padding: 16px 0;
}
.NewsEditor-autoSaveIndicator {
  min-height: 50px;
  display: table;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  margin-top: 8px;
  > div {
    display: table-cell;
    vertical-align: middle;
  }
}
.NewsEditor-previewHeader {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #efefef;
  z-index: 50;
  display: table;
  overflow: hidden;
  a {
    float: left;
    background: @news-brand;
    padding: 10px 20px;
    color: #fff;
  }
  div:last-child, div:first-child {
    // spacers
    vertical-align: middle;
    display: table-cell;
    width: 20%;
  }
  .NewsEditor-previewHeader-title {
    .h3;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 60%;
  }
}

.NewsEditor-authorOverride {
  input[type='checkbox'] {
    height: 20px;
    width: 20px;
  }
  div {
    margin-bottom: 8px;
  }
}

.NewsEditor-toggle {
  color: @gray-dark;
  display: inline-block;
  font-weight: 300;
  margin-left: 16px;
}

.NewsEditor-toggle .fa.is-on {
  color: @news-brand;
}

.NewsEditor-toggle .fa:hover {
  cursor: pointer;
}

@media (max-width: @screen-sm-max) {
  .NewsEditor-sidebar {
    display: flex;
    flex-direction: column;

    .NewsEditor-sidebarWidget--publishSettings {
      order: 3;
    }
  }
}
