.NewsEditor-postBody {
  padding: 10px 20px;
  background-color: #fff;
}
.NewsEditor-title {
}
.NewsEditor-titleWrapper {
  padding: 20px 0 20px 0;
}
.NewsEditor-autoSaveIndicator {
  min-height: 50px;
  display: table;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  margin-top: 8px;
  > div {
    display: table-cell;
    vertical-align: middle;
  }
}
