.News {
  margin-top: 50px;
  @media (max-width: @screen-xs-max) {
    text-align: center;
  }
}

.News-title {
  margin: 0;
}

.News-subtitle {
  @media (min-width: @screen-sm-min) {
    font-size: 24px;
    margin: 15px 0;
  }
}

.News-organizationInfo {
  font-weight: 700;
  display: inline;
  @media (max-width: @screen-xs-max) {
    color: @gray-dark;
    font-size: 12px;
    display: block;
  }
}

.News-organizationDate {
  margin-left: 40px;
  display: inline;
  @media (max-width: @screen-md-max) {
    color: @gray-dark;
    font-size: 12px;
    display: block;
    margin-left: 0;
  }
}

.News-content {
  margin-top: 30px;

  // wordpress image captions come in this way
  // and we want the font to look like the image banner
  // caption
  .image-caption {
    font-size: 12px;
    font-style: italic;
  }
}

// This mimics class='img-responsive', but we don't have control over the
// content, so we need to do it manually.
.News-content img {
  display: block;
  max-width: 100%;
  height: auto;
}
