.News {
  margin-top: 50px;
}

.News-title {
  margin: 0;
}

.News-subtitle {
  font-size: 24px;
  margin: 15px 0;
}

.News-publicationInfo {
  font-weight: 700;
  display: inline;
}

.News-publicationDate {
  display: inline;
  margin-left: 40px;
}

.News-content {
  margin-top: 30px;
}