.NewsPhotoWrap{
  width:100%;
  position:relative;
}

.NewsPhotoBanner {
  background-color: @gray-medium;
  position: relative;
  text-align: center;
  top: -2px;
  @media (min-width: @screen-sm-min) {
    border-top: 2px solid white;
  }
  @media (max-width: @screen-xs-max) {
  [class^="col"]{
    padding:0;
  }

  }
}

.NewsPhotoBanner-photoContainer {
  height: 500px;
  padding: 0;
  position: relative;
}

.NewsPhotoBanner-photo {
  display: inline;
  max-height: 500px;
}

.NewsPhotoBanner-captionArea {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  color: @gray-light;
  font-size: 12px;
  font-style: italic;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  text-align: left;
  width: 100%;
}
