.Organization-Dropdown {

  a {
    text-decoration: none !important;
  }

  &.with-border {
    .Organization-Dropdown-Button {
      border: solid 1px @gray-medium;
    }
  }
}

.Organization-Dropdown-Button {
  border: none;
  white-space: normal !important;
  font-size: 14px;
}

.Organization-Dropdown-Menu {
  width: 100%;
  font-size: 14px;
}

.Organization-Dropdown-Menu-Title {
  padding: 5px;
  text-align: center;
}
