.Organization-Dropdown {

  &.with-border {
    .Organization-Dropdown-Button {
      border: solid 1px @gray-medium;
    }
  }
}

.Organization-Dropdown-Button {
  border: none;
}

.Organization-Dropdown-Menu {
  width: 400px;
  font-size: 1.2em;
}

.Organization-Dropdown-Menu-Title {
  padding: 5px;
  text-align: center;
}
