.OrganizationStats {
  .flex-display();
  .justify-content(space-evenly);
  border: solid 1px @outline-color;
  background-color: @neutral-light;
  margin-top: 10px;

  &-column {
    padding: 10px;
    border-right: solid 1px @outline-color;
    text-align: center;
    white-space: nowrap;

    &:last-child {
      border: none;
    }

    @media (max-width: @screen-xs-max) {
      border-right: none;
      border-bottom: solid 1px @outline-color;
    }
  }

  @media (max-width: @screen-xs-max) {
    .flex-direction(column);
  }
}
