.OutreachCta {
  cursor: pointer;
  margin: 8px 0;

  &.text-only {
    text-align: center;
  }
  &.is-button {
    a {
      .Button;
      display: inline-block;
      width: auto;
    }
  }
  &.sit-center {
    display: block;
    text-align: center;
    margin: 20px;

    @media (max-width: @screen-sm-max) {
      margin: 5px;
    }
  }
}
