.PhotoBanner {
  border-top: 2px solid white;
  color: white;
  overflow: hidden;
  position: relative;
  top: -2px;
  min-height: 252px;
}

.PhotoBanner--padded {
  margin-bottom: 130px;
}

.PhotoBanner-curtainImage {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  margin: -10px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.PhotoBanner-curtain {
  background-color: rgba(0,0,0,0.44);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.PhotoBanner-content {
  position: relative;
  color: white;
  padding: 35px 0 40px 0;
}

.PhotoBanner-thumbnail {
  position: absolute;
  z-index: 2;
  top: 1px;
  left: -9px;
  background-color: white;
  background-position: center;
  background-size: cover;

  @media (min-width: @screen-sm-min) {
    font-size: 48px;
    width: 250px;
    height: 250px;
  }

  @media (min-width: @screen-lg-min) {
    font-size: 48px;
    width: 350px;
    height: 350px;
  }
}

.PhotoBanner-title {
  font-size: 48px;
  color: white;
  margin-top: 0;
}

.PhotoBanner-subtitle {
  color: white;
  margin-top: 30px;
}

.PhotoBanner-info {
  margin-top: 40px;
}