.PhotoBanner {
  border-top: 2px solid white;
  color: white;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  top: -2px;
  @media (min-width: @screen-md-min) {
    min-height: 340px;

  }
  @media (max-width: @screen-xs-max) {
    margin-bottom: 20px;
  }
}

.PhotoBanner--padded {
  @media (min-width: @screen-lg-min) {
    margin-bottom: 130px;
  }
}

.PhotoBanner-curtainImage {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  margin: 0 -10px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.PhotoBanner-curtain {
  background-color: rgba(0,0,0,0.44);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.PhotoBanner-content {
  position: relative;
  color: white;
  padding: 35px 0 40px 0;
  @media (max-width: @screen-xs-max) {
    text-align: center;
    padding: 35px 15px 40px;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    padding-left: 40px !important;
    padding-right: 40px !important;
    width: auto;
  }
}

.PhotoBanner-thumbnail {
  margin-top: 35px;
  position: absolute;
  z-index: 2;
  top: 1px;
  left: -9px;
  background-color: white;
  background-position: center;
  background-size: cover;

  @media (min-width: @screen-sm-min) {
    font-size: 48px;
    width: 250px;
    height: 250px;
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    left: 40px;
  }

  @media (min-width: @screen-lg-min) {
    font-size: 48px;
    width: 270px;
    height: 270px;
  }
}

.PhotoBanner-title {
  font-size: 32px;
  .uppercase-bold-condensed;
  color: white;
  margin-top: 0;
  line-height: 1;
  @media (min-width: @screen-sm-min) {
    font-size: 64px;
  }
}

.PhotoBanner-subtitle {
  color: white;
  margin-top: 0;
}

.PhotoBanner-subtitle-date {
  font-family: 'museo-slab', Georgia, Palatino, serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
}

.PhotoBanner-info {
  margin-top: 40px;
  @media (max-width: @screen-xs-max) {
    margin: 0 auto;
    width: 200px;
  }
}
