.PikadaySolo {
  &.pika-single {
    border: none;
    background-color: @neutral-light;
    /* position: relative !important; */
    max-width: 100%;
    font-family: @font-family-regular;
    /* top: 0 !important; */
    /* left: 0 !important; */
    /* right: 0 !important; */

    .pika-label {
      background-color: @neutral-light;
      font-size: 14px;
      font-weight: 600;
    }

    .pika-lendar {
      float: none;
      width: auto;
    }

    .pika-title {
      color: #525E65;
      border-bottom: 1px solid @outline-color;
    }

    .pika-table {
      .pika-button {
        font-family: @font-family-regular;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        background-color: white;
        color: @button-primary;
      }

      tbody {
        border: 1px solid @outline-color;
      }

      td {
        border: 1px solid @outline-color;
        height: 40px;
        width: 40px;
        background-color: white;

        &.is-today {
          border: 2px double #BDBDBD;
        }

        &.is-disabled {
          background-color: @neutral-light;

          button {
            color: #525E65;
            background-color: @neutral-light;
          }
        }

        &.is-selected {
          background-color: @button-primary;
          border: 2px double @button-primary;

          button {
            background-color: @button-primary;
            box-shadow: none;
            color: white;
          }
        }

      }

    }

    abbr {
      border-bottom: none;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400;
    }

    td:not(.is-selected) {
      .pika-button {

        &:hover {
          color: @gray-medium;
        }
      }
    }
  }
}
