.PikadaySolo {
  &.pika-single {
    position: relative !important;
    max-width: 100%;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;

    td:not(.is-selected) {
      .pika-button {
        background: #ffffff;

        &:hover {
          color: #666;
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      .pika-table {
        th,
        td {
          .pika-button {
            font-size: 15px !important;
            line-height: 20px !important;
          }

        }
      }
    }
  }
}
