.PromotionSection {
  padding: 20px 0;
  border-bottom: 1px solid @gray-light;
}

.PromotionSection--disclaimer {
  padding: 0;
}

.PromotionSection:first-child {
  border-top: 1px solid @gray-light;
}

.PromotionSection-description {
  color: @gray-medium;
  margin-bottom: 20px;
}

.PromotionSection-description--emphasized {
  color: @gray-dark;
  margin-bottom: 20px;
  b {
    color: @text-color;
  }
  a {
    text-decoration: underline;
  }
}

.PromotionSection-cost {
  color: @gray-medium;
  font-weight: 700;
  margin-left: 3px;
}

.PromotionSection-label {
  font-weight: 900;
}

.PromotionSection-toggle {
  margin: 0 auto;
  font-weight: 900;
  font-size: 14px;
  width: 50px;
  cursor: pointer;
}

.PromotionSection-toggle.is-disabled {
  color: #ccc;
  cursor: not-allowed;
}

.PromotionSection-toggleMap {
  margin-top: 40px;
}

.PromotionSection-toggleSocial {
  margin-top: 8px;
}
.PromotionSection-toggleIcon {
  font-size: 18px;
}

.PromotionSection-toggleIcon.is-on {
  color: @brand-primary;
}
