.ReportAbuse {
  position: relative;
}

.ReportAbuse-popover {
  display: block;
  position: absolute;
  width: 200px;
}

.ReportAbuse-popover.popover.bottom {
  margin-top: 24px;
}

.ReportAbuse-flags {
  padding: 8px;
}

.ReportAbuse-flag {
  list-style-type: none;
}

.ReportAbuse-flag input[type=radio] {
  margin-right: 4px;
}

.ReportAbuse-button {
  padding: 0;
}
