.ReportAbuse-popover {
  display: block;
  top: 20px;
  left: -20px;
  width: 200px;

  @media (min-width: @screen-md-min) {
    top: 96px;
  }
}

.ReportAbuse-flags {
  padding: 8px;
}

.ReportAbuse-flag {
  list-style-type: none;
}

.ReportAbuse-flag input[type=radio] {
  margin-right: 4px;
}

.ReportAbuse-button {
  padding: 0;
}
