.ResponseButton {
  padding-left: 0;
  color: @gray-dark;
  @media (max-width: @screen-xs-max) {
    margin-top: 30px;
  }
}

.ResponseButton-icon {
  font-size: 20px;
  display: inline-block;
  color: @text-color;
  margin-right: 10px;
}