.SearchInput {
  position: relative;
  
  .SearchInput-icon {
    z-index: 10;
    left: 0;
    position: absolute;
    padding: 14px;
    pointer-events: none;
    font-size: 14px;
    line-height: 1.42857143;
  }

  input {
    padding-left: 40px;
    border-radius: 2em;
  }
}
