.SearchPagination {
  text-align: center;
  margin: 20px 0;

  &-seeAll-button {
    .Button;
    .Button--primary;
    display: block;
    margin-bottom: 40px;
    background: black;
    color: white;

    &:hover,
    &:focus {
      background: white;
      color: black;
    }
  }
}
