.SearchTypeTag {
  background: @filter-tag;
  color: #fff;
  padding: .25em .5em;
  border-radius: .25em;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;

  &-remove {
    margin-left: .5em !important;
  }

  .fa {
    color: #fff;
  }

  &.allow-wrap {
    white-space: normal;
  }

  &--large {
    font-size: 16px;
    .SearchTypeTag-remove {
      font-size: 14px;
      float: right;
    }
  }
}
