.SearchFilters {

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 1010;
    background: rgba(0, 0, 0, 0.5);
  }

  &-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1020;
    background: white;
    width: 300px;
    padding: 10px;
  }

  &-header {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    border-bottom: solid 1px @gray-light;
    margin-bottom: 20px;

    &-title {
      .h1;
      flex-grow: 1;
    }

    &-close {
      border: 0;
      -webkit-appearance: none;
      background: none;
      font-size: 50px;
      color: @gray-medium;
      padding: 5px;
    }
  }

}
