.SectionNavigation {
  border-top: 1px solid @text-color;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  .btn {
    margin: 0;
  }
  @media (min-width: @screen-sm-min) {
    border-bottom: 1px solid @text-color;
    border-top: 0;
  }
  @media (max-width: @screen-xs-max) {
    padding: 0;
    margin: 0;
  }
}

.SectionNavigation-dashboard {
  padding-bottom: 15px;
  padding-top: 0px;
}

.SectionNavigation.collapse {
  @media (min-width: @screen-sm-min) {
    display: block;
  }
}

.SectionNavigation-list {
  margin-top: 16px;
  @media (max-width: @screen-xs-max) {
    padding: 0;
    margin: 0;
  }
}

.SectionNavigation-listItem {
  display: inline;
  list-style-type: none;
  @media(min-width: @screen-md-min) {
    margin: 0 6px;
  }
  @media(min-width: @screen-md-max) {
    margin: 0 12px;
  }
  @media (max-width: @screen-xs-max) {
    display: block;
    margin: 0;
  }
}

.SectionNavigation-link {
  font-size: 24px;
  font-family: @font-family-condensed;
  text-transform: uppercase;
  padding: 6px 10px 4px 13px;
  @media (max-width: @screen-xs-max) {
    display: block;
    padding: 10px 0;
  }
}

.SectionNavigation-link.active, .SectionNavigation-link:hover {
  text-decoration: none;
}

.SectionNavigation-eventLink:hover, .SectionNavigation-eventLink.active {
  background-color: @event-brand;
}

.SectionNavigation-newsLink:hover, .SectionNavigation-newsLink.active {
  background-color: @news-brand;
}

.SectionNavigation-marketLink:hover, .SectionNavigation-marketLink.active {
  background-color: @market-brand;
}

.SectionNavigation-talkLink:hover, .SectionNavigation-talkLink.active {
  background-color: @talk-brand;
}

.SectionNavigation-directoryLink:hover, .SectionNavigation-directoryLink.active {
  background-color: @gray-light;
}

.SectionNavigation-everythingLink:hover, .SectionNavigation-everythingLink.active {
  background-color: #9CAAB3;
}

.SectionNavigation-contentCreateButton {
  @media (max-width: @screen-sm-max) {
    font-size: 20px;
    margin-top: 5px;
    padding: 7px 21px 5px 23px;
  }
}
