.SectionNavigation {
  border-top: 1px solid @text-color;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  @media (min-width: @screen-sm-min) {
    border-bottom: 1px solid @text-color;
    border-top: 0;
  }
}

.SectionNavigation-list {
  margin-top: 16px;
}

.SectionNavigation-listItem {
  display: inline;
  list-style-type: none;
  margin: 0 12px;
}

.SectionNavigation-link {
  font-size: 24px;
  font-family: @font-family-condensed;
  text-transform: uppercase;
  padding: 6px 10px 4px 13px;
}

.SectionNavigation-link.active, .SectionNavigation-link:hover {
  text-decoration: none;
}

.SectionNavigation-eventLink:hover, .SectionNavigation-eventLink.active {
  background-color: @event-brand;
}

.SectionNavigation-newsLink:hover, .SectionNavigation-newsLink.active {
  background-color: @news-brand;
}

.SectionNavigation-marketLink:hover, .SectionNavigation-marketLink.active {
  background-color: @market-brand;
}

.SectionNavigation-talkLink:hover, .SectionNavigation-talkLink.active {
  background-color: @talk-brand;
}

.SectionNavigation-contentCreateButton {
  text-align: right;
}
