.SectionNavigation {
  border-top: 1px solid @text-color;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  &-list {
    text-align: center;
    .flex-display();
    margin: 0 auto;
    width: 80%;

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      width: auto;
      margin-left: 20px;
    }

    @media (max-width: @screen-xs-max) {
      padding: 0;
    }
  }

  &-listItem {
    .flex-display();
    list-style-type: none;
  }

  &-link {
    .h2;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
    margin: 0;
    position: relative;

    &.active, &:hover {
      text-decoration: none;

      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: -13px;
        width: calc(100% - 27px);
        height: 7px;
      }
    }

    &--eventLink {
      &.active:before {
        background-color: @event-brand;
      }
    }

    &--newsLink {
      &.active:before {
        background-color: @news-brand;
      }
    }

    &--marketLink {
      &.active:before {
        background-color: @market-brand;
      }
    }

    &--talkLink {
      &.active:before {
        background-color: @talk-brand;
      }
    }

    &--directoryLink {
      &.active:before {
        background-color: @gray-light;
      }
    }
  }

  &-contentCreateButton {
    @media (max-width: @screen-sm-max) {
      font-size: 20px;
      padding: 7px 21px 5px 23px;
    }
  }
}

.SectionNavigation-contentCreateButtonMobile {
  .btn {
    margin: 0;
  }
}
