.SectionHeader {
  .uppercase-bold-condensed;
  .h1;
  text-align:center;
  line-height: normal;

  @media (max-width: @screen-xs-max) {
    margin-left: -15px;
    margin-right: -15px;
  }

  &--no-margin {
    margin: 0;
  }
}

.SectionHeader--paddedTop {
  @media (min-width: @screen-sm-min) {
    margin-top: 50px;
  }
}

.SectionHeader-text, .SectionHeader-buttonContainer {
  padding: 0 20px;
  position: relative;
}

.SectionHeader-text--secondaryBg, .SectionHeader-buttonContainer--secondaryBg {
}

.SectionHeader-buttonContainer {
  top: 25px;
  display: inline-block;
}


.SectionHeader-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
