.SectionHeader {
  border-bottom: 1px solid @text-color; 
  line-height: 0; 
  margin: 45px 0;
  text-align:center; 
}

.SectionHeader-text {
  background: @body-bg;
  padding: 0 20px;
  position: relative;
  top: 3px;
}

.SectionHeader-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

