.SignInRegisterModal {
  &.nag-showing {
    top: 0;
  }

  .Modal-dialog-body-wrapper {
    overflow: hidden;
  }

  .Modal-dialog-body {
    overflow-y: auto;
    overflow-x: hidden;
    }

  .Modal-dialog {
    overflow: hidden;
  }

  .Modal-inner {
    height: auto;
  }

  .SignIn-module {
    padding-bottom: 45px;
  }

  &-logo {
    text-align: center;
    margin-bottom: 20px;

    .BrandLogo {
      width: 130px;
    }
  }
}
