.SignInForm {

  &-reconfirmAction {
    text-decoration: underline;
  }

  &-link {
    margin-left: 10px;
    color: @link-color-new;
    font-weight: bold;
    cursor: pointer;

    &:active,
    &:hover,
    &:focus {
      color: @link-color-new;
    }
  }

  &-legal {
    margin-bottom: 1em;
    font-size: 0.8em;
    line-height: 1.1;
  }

  &-submitButton {
    .u-button;
    .u-button-primary;
    padding: 10px 30px;
  }

  &-submitWrapper {
    text-align: right;
  }

  &-tabs {
    .nav;
    .nav-tabs;
    .h3;
    margin-bottom: 20px;

    li {
      width: 50%;
      text-align: center;
      font-weight: bold;

      .active {
        a {
          color: @text-color;
        }
      }

      a {
        color: @link-color-new;
        cursor: pointer;

        &:active,
        &:focus,
        &:hover {
          background: white;
          text-decoration: underline;
        }
      }
    }
  }
}
