.SignInForm {
  &-reconfirmAction {
    text-decoration: underline;
  }

  &-forgotPasswordAction {
    margin-top: 1em;
    display: block;
    text-decoration: underline;
  }

  &-legal {
    margin-bottom: 1em;
    font-size: 0.8em;
    line-height: 1.1;
  }

  @media (max-width: @screen-xs-max) {
    padding-bottom: 100px;
  }
}
