.SimilarContent-headerLink {
  display: block;
  font-size: 15px;
  line-height: 22px;
}

.SimilarContent {
  .Card-content {
    padding:2px 4px;
  }

  &--item {
    width: 48%;
    display: inline-block;
  }
}
