.SimilarContent-headerLink {
  display: block;
  font-size: 15px;
  line-height: 22px;
}

.SimilarContent-author {
  display: inline-block;
  font-weight: 700;
}

.SimilarContent-date {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
}