.SimilarContent-headerLink {
  display: block;
  font-size: 15px;
  line-height: 22px;
}

.SimilarContent{
  .EventCard-content, .NewsCard-content{
    padding:2px 4px;
  }
  .StatCircle{
    background-color: @gray-light;
  }
  .StatCircle-number, .StatCircle-text{
    color: @gray-dark;
  }
}
