.SocialShare {
  padding-bottom: 20px;
}

.SocialShare-header {
  margin: 15px 0 40px;
}

.SocialShare-headerText {
  top: 2px;
}

.SocialShare-icon {
  border-radius: 4px;
  padding: 8px;
  text-align: center;
}

.SocialShare-icon:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
