.StatCircle {
  background-color: @talk-brand;
  border-radius: 1000px;
  height: 87px;
  width: 87px;
  float: left;
}

.StatCircle--small {
  width: 60px;
  height: 60px;
}

.StatCircle:first-child {
  margin-right: 13px;
}

.StatCircle--left {
  margin-left: 13px;
  @media (max-width: @screen-xs-max) {
    float: right;
  }
}

.StatCircle--right {
  @media (min-width: @screen-sm-min) {
    float: right;
  }
  margin-right: 13px;
}

.StatCircle--small.StatCircle--right {
  margin-right: 20%;
}

.StatCircle--small.StatCircle--left {
  margin-left: 20%;
}

.StatCircle-number {
  color: white;
  font-family: @font-family-condensed;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 4px;
  padding-top: 28px;
  text-align: center;
}

.StatCircle--small .StatCircle-number {
  font-size: 24px;
  padding-top: 13px;
  margin-bottom: 0;
  line-height: 17px;
}

.StatCircle-text {
  color: white;
  text-align: center;
}

.StatCircle--small .StatCircle-text {
  font-size: 12px;
}
