.StatCircle {
  background-color: @talk-brand;
  border-radius: 1000px;
  height: 87px;
  width: 87px;
  float: left;
}

.StatCircle:first-child {
  margin-right: 13px;
}

.StatCircle--left {
  margin-left: 13px;
}

.StatCircle--right {
  float: right;
  margin-right: 13px;
}

.StatCircle-number {
  color: white;
  font-family: @font-family-condensed;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 4px;
  padding-top: 28px;
  text-align: center;
}

.StatCircle-text {
  color: white;
  text-align: center;
}
