.SubscribeBanner {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;

  @media (max-width: @screen-xs-max) {
    padding: 10px;
  }

  &-wrapper {
    margin-bottom: 10px;

    @media (max-width: @screen-xs-max) {
      padding: 0 10px;
      padding-bottom: 10px;
    }
  }

  &-imageWrapper {
    overflow: hidden;

    @media (min-width: @screen-xs-max) {
      width: 200px;
      height: 160px;
      margin: 0 0 0 auto;

      &--zoey {
        width: 240px;
        margin-top: -40px;
      }
    }
  }

  &-image {
    @media (max-width: @screen-xs-max) {
      width: 170px;
      margin: 0 auto;
    }
  }

  &-title {
    cursor: pointer;

    @media (max-width: @screen-xs-max) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &-subtitle {
    @media (max-width: @screen-xs-max) {
      margin-top: 0.5em;
    }
  }

  &-content {
    line-height: 1.2;

    @media (max-width: @screen-xs-max) { }
  }

  &-subscribeButtonWrapper {
    @media (max-width: @screen-xs-max) {
      padding-top: 10px;
    }
  }

  &-subscribeButton {
    background-color: #FF6E37;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;

    &:hover, &:focus, &:active {
      color: #fff;
      background-color: #ff4904;
    }

    @media (min-width: @screen-xs-max) {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;
      margin-top: 30px;
    }
  }
}
