.note-editor {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.note-editor .btn-toolbar {
  margin: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.note-editor .note-toolbar {
  border-bottom-color: #cccccc;
}

.note-editor .btn-primary {
  background-color: white;
}

.note-editor .btn-primary.disabled:hover {
  color: white;
}
