.TabNavigation {
  padding: 0;
  margin: 0;
  @media (min-width: @screen-sm-min) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.TabNavigation-dashboard {
  padding-bottom: 0px;
  padding-top: 0px;
  background: #fff;
}

.TabNavigation-list {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;

  .is-collapsed & {
    display: none;
  }

  @media (min-width: @screen-sm-min) {
    display: table;
    .is-collapsed & {
      display: table;
    }
  }
}

.TabNavigation-summary {
  display: table;
  width: 100%;
  @media (min-width: @screen-sm-min) {
    display: none;
  }
}

.TabNavgation-summaryLabel {
  display: table-cell;
  background: @gray-light;
  text-align: right;
  padding: 0.5em;
}

.TabNavigation-toggle {
  font-size: 24px;
  font-family: @font-family-condensed;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  padding: 0.5em;
  display: table-cell;
  cursor: pointer;
  margin: 0.25em;
  padding-right: 1em;
  background: #fff;
  .TabNavigation-toggleIndicator {
    float: right;
  }
}

.TabNavigation-toggleNews {
  color: @news-brand;
}
.TabNavigation-toggleEvents {
  color: @event-brand;
}
.TabNavigation-toggleTalk {
  color: @talk-brand;
}
.TabNavigation-toggleMarket {
  color: @market-brand;
}

.TabNavigation-togglePromotion_banner {
  color: @promotion-brand;
}

.TabNavigation-listItem {
  text-align: left;
  display: block;
  border-bottom: 2px solid @gray-light;
  list-style-type: none;
  &:last-of-type {
    border-right: none;
  }

  @media(min-width: @screen-sm-min) {
    margin: 0 6px;
    text-align: center;
    display: table-cell;
    border-bottom: none;
    border-right: 2px solid @gray-light;
  }
}

.TabNavigation-link {
  display: block;
  font-size: 24px;
  font-family: @font-family-condensed;
  text-transform: uppercase;
  padding: 10px 0;
  @media (min-width: @screen-sm-min) {
    border-top: 10px solid #fff;
    padding: 25px 10px 25px 13px;
  }
}

@media (max-width: @screen-xs-min) {
  .TabNavigation-link {
    &:before {
      content: "•";
      display: inline-block;
      padding: 0 0.5em;
    }
  }
  .TabNavigation-eventLink {
    &:before {
      color: @event-brand;
    }
  }
  .TabNavigation-newsLink {
    &:before {
      color: @news-brand;
    }
  }
  .TabNavigation-marketLink {
    &:before {
      color: @market-brand;
    }
  }
  .TabNavigation-talkLink {
    &:before {
      color: @talk-brand;
    }
  }
  .TabNavigation-promotionLink {
    &:before {
      color: @promotion-brand;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .TabNavigation-eventLink:hover, .TabNavigation-eventLink.active {
    border-top-color: @event-brand;
  }

  .TabNavigation-newsLink:hover, .TabNavigation-newsLink.active {
    border-top-color: @news-brand;
  }

  .TabNavigation-marketLink:hover, .TabNavigation-marketLink.active {
    border-top-color: @market-brand;
  }

  .TabNavigation-talkLink:hover, .TabNavigation-talkLink.active {
    border-top-color: @talk-brand;
  }

  .TabNavigation-directoryLink:hover, .TabNavigation-directoryLink.active {
    border-top-color: @gray-light;
  }

  .TabNavigation-everythingLink:hover, .TabNavigation-everythingLink.active {
    border-top-color: #000;
  }
  .TabNavigation-promotionLink:hover, .TabNavigation-promotionLink.active {
    border-top-color: @promotion-brand;
  }
}
