.TalkInfo {
  width: 350px;
}

.TalkInfo-header {
  color: inherit;
  margin: 0 0 2px;
  padding-top: 5px;
}

.TalkInfo-authorImage {
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  width: 87px;
}

.TalkInfo-authorName {
  font-weight: 700;
  font-size: 18px;
}

.TalkInfo-publicationDate {
  font-size: 18px;
}