.TalkInfo {
  width: 350px;
  @media (max-width: @screen-xs-max) {
    margin: 0 26px 15px;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    margin-bottom: 30px;
  }
}

.TalkInfo-header {
  color: inherit;
  margin: 0 0 2px;
  padding-top: 5px;
  @media (max-width: @screen-xs-max) {
    .h4;
    color: @gray-dark;
  }
}

.TalkInfo-authorImage {
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  width: 87px;
  @media (max-width: @screen-xs-max) {
    width: 70px;
  }
}

.TalkInfo-authorName {
  font-weight: 700;
  .h4;
  @media (max-width: @screen-xs-max) {
    font-size: 12px;
    color: @gray-dark;
  }
}

.TalkInfo-organizationDate {
  .h4;
  @media (max-width: @screen-xs-max) {
    font-size: 12px;
    color: @gray-dark;
  }
}
