.TalkCard {
  background: #FFFFFF;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
  position: relative;
  max-width: 375px;
  padding: 8px 25px 25px;
  margin: 0 auto 15px;

  @media (min-width: @screen-sm-min) {
    padding: 8px 24px 32px;
  }
}

.TalkCard--narrow {
  @media (min-width: @screen-sm-min) {
    padding: 8px 18px 32px;
  }
}

.TalkCard-title {
  margin-bottom: 4px;
  text-align: center;
}

.TalkCard-authorImage {
  border-radius: 1000px;
  height: 31px;
  width: 31px;
}

.TalkCard-authorName {
  font-weight: 700;
}

.TalkCard-stats {
  text-align: center;
}

.TalkCard-commentInfo {
  margin-bottom: 20px;

  @media (max-width: @screen-xs-max) {
    padding: 5px 0 0 5px;
  }
}

.TalkCard--narrow .TalkCard-commentInfo {
  @media (max-width: @screen-sm-max) {
    padding-left: 25px;
  }
}