.TextBlock {
  margin-bottom: 15px;

  &--small {
    font-size: 0.9rem;
    line-height: 1.1;
  }

  &--medium {
    font-size: 1rem;
    line-height: 1.2;
  }

  &--large {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  &--center {
    text-align: center;
  }

  &--noMargin {
    margin: 0;
  }
}
