.ThumbnailImageModal {}

.ThumbnailImageModal-buttons {
  margin-top: 20px;
  text-align: center;
}

.ThumbnailImageModal-choose-image-button {
  .btn;
  .btn-lg;
  width: 100%;
  background-color: @gray-light;
  &:hover {
    background-color: darken(@gray-light, 10%);
  }
}

.ThumbnailImageModal-thumbnail-container {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.ThumbnailImageModal-thumbnail {
  .img-responsive;
  .center-block;
  border: solid 1px black;
}

.ThumbnailImageModal-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: rgba(0,0,0, 0.5);
  color: @gray-light;
  font-style: italic;
}

.ThumbnailImageModal-preview {
  .center-block;
  max-width: 400px;
  max-height: 300px;
  border: solid 1px @gray-dark;
  background-color: @gray-light;
  margin-bottom: 10px;
}
