.TitleText {
  .h2;
  margin-top: 0;
  vertical-align: middle;

  &--center {
    text-align: center;
  }

  &--strong {
    font-weight: 600 !important;
  }

  &--noMargin {
    margin: 0 !important;
  }

  &--inline {
    display: inline;
  }

  &--lighten {
    color: @gray-dark !important;
  }

  &--small {
    font-size: 16px;
  }

  &--noPadding {
    padding: 0;
    margin: 0;
  }
}
