.TitleText {
  .h2;
  margin-top: 0;
  vertical-align: middle;

  &--center {
    text-align: center;
  }

  &--strong {
    font-weight: 600 !important;
  }

  &--noMargin {
    margin: 0;
  }

  &--inline {
    display: inline;
  }

  &--lighten {
    color: @gray-dark !important;
  }
}
