.UserMenu {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-align-items: center;
  align-items: center;
  font-size: 1rem;

  &-image {
    .img-responsive;
  }

  &-avatar {
    margin-right: 10px;
  }
  i {
    margin-left: 6px;
  }

  &-avatarText,
  &-registerLink {
    white-space: nowrap;
    font-weight: 700;
    margin-right: 10px;
  }
}
