.UserLocation {
  max-width: 500px;
  margin: 0 auto;
  padding: 2px 4px;
  vertical-align: middle;

  &-location {
    vertical-align: middle;
    text-align: right;
    line-height: 1.0;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;

    @media (max-width: @screen-xs-max) {
      font-size: 16px;
    }

    &>div {
      vertical-align: middle;
      display: inline-block;
    }

    &-icon {
      color: @herecast-blue;
      margin-right: 2px;
    }

    &-context {
      font-size: 11px;
      font-weight: normal;
      display: inline-block;
      line-height: 0.8;
      text-align: right;
      margin-right: 3px;
    }

    &-name {
      white-space: normal;
      text-align: left;
      line-height: 1.0;
    }
  }

  &-Chooser {
    min-height: 300px;
    min-width: 300px;
    text-align: left;

    &-loading {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.6);
      text-align: center;
      font-size: 22px;
      color: #fff;
      .display-inline-grid();
      &-message {
        .grid-align-self(center);
      }
      i {
        font-size: 50px;
      }
    }

    &-title {
      font-size: 16px;
      font-family: @font-family-semibold;
      text-align: center;
    }

    &-locate-me {
      padding-top: 8px;
    }

    &-search {
      margin-top: 40px;
      text-align: center;
      padding-bottom: 8px;
      border-bottom: solid 1px #e6e6e6;

      &-icon {
        font-size: 22px;
      }

      &-input {
        padding: 4px;
        outline: none;
        border: none;
        width: 240px;
        font-size: 16px;
        margin-right: -20px;
        &:focus {
          outline: none;
        }
      }
    }

    &-location {
      border-bottom: solid 1px #e6e6e6;
      padding: 8px 16px;
      font-size: 16px;

      i {
        color: grey;
      }

      &.current {
        padding-top: 16px;
        i {
          color: @herecast-blue;
        }
      }

      &-identifier {
        font-size: 12px;
        color: grey;
        float: right;
      }
    }

  }

  &-SearchInput {
    &-current-location {
      text-align: right;
      font-size: 11px;
      margin-top: -8px;
    }
  }

  &-SearchResults {
    padding: 8px;

    &-locate-me {
      text-align: center;
    }

    &-location {
      padding: 8px 16px;
      font-size: 16px;
      cursor: pointer;

      &:not(:last-of-type) {
        border-bottom: solid 1px #e6e6e6;
      }

      i {
        color: grey;
      }

      &.current {
        padding-top: 16px;
        i {
          color: @herecast-blue;
        }
      }

      &-identifier {
        font-size: 12px;
        color: grey;
        float: right;
      }
    }
  }

  &-UgcButton {
    position: relative;

    &:not(.input-visible) {
      .display-grid();
      .grid-template-columns(32px 1fr);
    }

    &-calculating {
      font-size: 16px;
    }

    &-location {
      font-size: 18px;
      font-weight: bold;
      i {
        color: @herecast-blue;
      }
      cursor: pointer;
    }

    &-change-icon {
      color: @gray-medium;
      margin-right: 2px;
      font-size: 18px;
      cursor: pointer;
    }

    &--change {
      &-field {
        padding: 8px 4px;
        &-input {
          outline: none;
          border: none;
          padding: 4px;
          min-width: 70%;
        }
      }
    }
  }
}
