.x-button(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color) {
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 8px 0 0;
  background: @background-color;
  color: @text-color;
  border: solid 1px @border-color;
  padding: 10px 15px;
  text-transform: none;
  font-family: @font-family-semibold;
  font-weight: 600;
  font-size: 16px;
  transition: background 300ms;
  text-align: center;

  &.XButton--noMargin {
    margin: 0;
  }

  &[disabled],
  &[disabled]:hover,
  &.disabled,
  &.disabled:hover {
    cursor: pointer;
    opacity: 1;
    filter: none;
    background: darken(@gray-light, 10%);
    border-color: darken(@gray-light, 10%);
    color: @gray-dark;
  }

  &:hover,
  &:active,
  &.active {
    outline: none;
    color: @hover-text-color;
    background: @hover-background-color;
    border-color: @hover-border-color;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.XButton--thin {
    padding: 3px 6px;
    font-size: 14px;
  }

  &.XButton--micro {
    padding: 2px 4px;
    font-size: 11px;

    &.XButton--circle {
      border-radius: 100%;
      padding: 4px;
      width: 20px;
      height: 20px;
    }
  }

  &.XButton--x-small {
    padding: 5px 10px;

    &.XButton--circle {
      font-size: 14px;
      border-radius: 100%;
      padding: 5px;
      width: 30px;
      height: 30px;
    }
  }

  &.XButton--small {
    padding: 10px 15px;

    &.XButton--circle {
      border-radius: 100%;
      padding: 10px;
      width: 40px;
      height: 40px;
    }
  }

  &.XButton--medium {
    padding: 15px 20px;

    &.XButton--circle {
      border-radius: 100%;
      padding: 15px;
      width: 50px;
      height: 50px;
    }
  }

  &.XButton--large {
    padding: 20px 25px;
    font-size: 24px;

    &.XButton--circle {
      border-radius: 100%;
      font-size: 28px;
      padding: 15px;
      width: 60px;
      height: 60px;
      box-sizing: border-box;
      min-width: 60px;
      max-width: 60px;
      min-height: 60px;
      max-height: 60px;
    }
  }

  @media (max-width: @screen-xs-max) {
    &.XButton--xs-x-small {
      padding: 8px 5px;
      font-size: 14px;
    }
  }

  @media (max-width: 400px) {
    &.XButton--xs-x-small {
      padding: 8px 4px;
      font-size: 12px;
    }
  }

  @media (max-width: 360px) {
    &.XButton--xs-x-small {
      padding: 8px 2px;
    }
  }
}

.x-button-transparent(@color) {
  .x-button(transparent, @color);
}

.x-button-link(@color) {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  color: @color;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.2;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus,
  &.active {
    text-decoration: underline;
    outline: none;
  }

  &.XButton--link-underline {
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus,
    &.active {
      text-decoration: none;
    }
  }

  &.XButton--small {
    font-size: 12px;
    line-height: 1.1;
  }

  &.XButton--medium {
    font-size: 1rem;
    line-height: 1.2;
  }

  &.XButton--large {
    font-size: 16px;
    line-height: 1.2;
  }
}

.x-button-tab(@background-color, @text-color, @border-color) {
  .x-button(transparent, @text-color, transparent, @background-color, @text-color, @border-color);
  .border-radius(0);
  border-bottom-color: transparent;
  line-height: 1.5;

  @darken-background-color: darken(@background-color, 5%);

  &:hover:not(.active) {
    outline: none;
    color: @text-color;
    background: @darken-background-color;
    border-color: @darken-background-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    margin-bottom: -1px !important;
    border-bottom: none;
  }

  &:first-child.active {
    border-left-color: transparent;
  }

  &:last-child.active {
    border-right-color: transparent;
  }
}

.make-x-button-regular(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color) {
  &.XButton--regular {
    .x-button(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color);
  }
  &.XButton--xs-regular {
    @media (max-width: @screen-xs-max) {
      .x-button(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color);
    }
  }
}

.make-x-button-inverted(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color) {
  &.XButton--inverted {
    .x-button(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color);
  }
  &.XButton--xs-inverted {
    @media (max-width: @screen-xs-max) {
      .x-button(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color);
    }
  }
}

.make-x-button-outline(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color) {
  &.XButton--outline {
    .x-button(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color);
  }
  &.XButton--xs-outline {
    @media (max-width: @screen-xs-max) {
      .x-button(@background-color, @text-color, @border-color, @hover-background-color, @hover-text-color, @hover-border-color);
    }
  }
}

.make-x-button-outline-gray(@primary-color, @secondary-color) {
  @darken-primary: darken(@primary-color, 10%);
  @darken-gray-light: darken(@gray-light, 10%);

  &.XButton--outline-gray {
    .x-button(white, @gray-dark, @darken-gray-light, @primary-color, @secondary-color, @darken-primary);
  }
  &.XButton--xs-outline-gray {
    @media (max-width: @screen-xs-max) {
      .x-button(white, @gray-dark, @darken-gray-light, @primary-color, @secondary-color, @darken-primary);
    }
  }
}

.make-x-button-lighten(@primary-color) {
  @lighten-primary: lighten(@primary-color, 38%);
  @darken-color: darken(@lighten-primary, 5%);
  &.XButton--lighten {
    .x-button(@lighten-primary, @primary-color, @darken-color, @darken-color, @primary-color, @darken-color);
  }
  &.XButton--xs-lighten {
    @media (max-width: @screen-xs-max) {
      .x-button(@lighten-primary, @primary-color, @darken-color, @darken-color, @primary-color, @darken-color);
    }
  }
}

.make-x-button-gray(@primary-color) {
  @darken-color: darken(@gray-light, 10%);
  &.XButton--gray {
    .x-button(@gray-light, @primary-color, @gray-light, @darken-color, @primary-color, @darken-color);
  }
  &.XButton--xs-gray {
    @media (max-width: @screen-xs-max) {
      .x-button(@gray-light, @primary-color, @gray-light, @darken-color, @primary-color, @darken-color);
    }
  }
}

.make-x-button-flatten(@primary-color, @secondary-color, @tertiary-color) {
  &.XButton--flatten {
    .x-button(@primary-color, @secondary-color, @primary-color, @tertiary-color, @secondary-color, @primary-color);
  }
  &.XButton--xs-flatten {
    @media (max-width: @screen-xs-max) {
      .x-button(@primary-color, @secondary-color, @primary-color, @tertiary-color, @secondary-color, @primary-color);
    }
  }
}

.make-x-button-transparent(@primary-color) {
  &.XButton--transparent {
    .x-button(transparent, @primary-color, transparent, transparent, lighten(@primary-color, 10%), transparent);
  }
  &.XButton--xs-transparent {
    @media (max-width: @screen-xs-max) {
      .x-button(transparent, @primary-color, transparent, transparent, lighten(@primary-color, 10%), transparent);
    }
  }
}

.make-x-button-tab(@background-color, @text-color, @border-color) {
  &.XButton--tab {
    .x-button-tab(@background-color, @text-color, @border-color);
  }
  &.XButton--xs-tab {
    @media (max-width: @screen-xs-max) {
      .x-button-tab(@background-color, @text-color, @border-color);
    }
  }
}

.make-x-button-link(@button-primary) {
  &.XButton--link {
    .x-button-link(@button-primary);
  }
  &.XButton--xs-link {
    @media (max-width: @screen-xs-max) {
      .x-button-link(@button-primary);
    }
  }
}

.make-x-button-menu-link(@button-primary) {
  &.XButton--menu-link {
    .x-button-link(@button-primary);
    padding: 3px 20px;
  }
  &.XButton--xs-menu-link {
    @media (max-width: @screen-xs-max) {
      .x-button-link(@button-primary);
      padding: 3px 20px;
    }
  }
}

.make-button(@primary-color, @secondary-color, @tertiary-color: lighten(saturate(@primary-color, 40%), 5%)) {
  @darken-primary: darken(@primary-color, 10%);
  @darken-secondary: darken(@secondary-color, 10%);
  .make-x-button-regular(@primary-color, @secondary-color, @darken-primary, @tertiary-color, @secondary-color, @darken-primary);
  .make-x-button-inverted(@secondary-color, @primary-color, @darken-secondary, @tertiary-color, @primary-color, @darken-primary);
  .make-x-button-outline(transparent, @primary-color, @primary-color, @primary-color, @secondary-color, @darken-primary);
  .make-x-button-outline-gray(@primary-color, @secondary-color);
  .make-x-button-lighten(@primary-color);
  .make-x-button-gray(@primary-color);
  .make-x-button-flatten(@primary-color, @secondary-color, @tertiary-color);
  .make-x-button-transparent(@primary-color);
  .make-x-button-link(@primary-color);
  .make-x-button-menu-link(@primary-color);
  .make-x-button-tab(@secondary-color, @primary-color, @tertiary-color);
}

.XButton {
  &.XButton--default {
    .make-button(@gray-dark, @gray-light);
  }
  &.XButton--primary {
    .make-button(@button-primary, white);
  }
  &.XButton--secondary {
    .make-button(white, @button-primary);
  }
  &.XButton--attention {
    .make-button(@brand-attention, white);
  }
  &.XButton--danger {
    .make-button(@brand-danger, white);
  }
  &.XButton--light-gray {
    .make-button(@gray-light, @gray-medium);
  }
  &.XButton--medium-gray {
    .make-button(@gray-medium, white);
  }
  &.XButton--transparent-gray {
    .make-button(fade(black, 25%), #ccc, fade(black, 50%));
  }
  &.XButton--facebook {
    .make-button(#3b5998, white);
  }
  &.XButton--twitter {
    .make-button(#55acee, white);
  }
  &.XButton--black {
    .make-button(@text-color, white);
  }
  &.XButton--neutral {
    .make-button(@neutral-dark, white, @outline-color);
  }
  &.XButton--teal {
    .make-button(@herecast-teal, white, @outline-color);
  }
  &--wide {
    width: 100%;
    box-sizing: border-box;
    display: block;
  }
  &--rounded {
    border-radius: 4px;
  }
  &--circle {
    border-radius: 100%;
  }
  &--curved {
    border-radius: 500px;
  }
  &--shadow {
    .box-shadow(1px 2px 1px 0 rgba(0,0,0,.4));
  }
  &--strong {
    font-weight: 600;
  }
  &--nowrap {
    white-space: nowrap;
  }
  &--noPadding {
    padding: 0 !important;
  }
  &--verticalCenter {
    .flex-display(inline-flex) !important;
    .align-items(center) !important;
  }
  @media (max-width: @screen-xs-max) {
    &--xs-wide {
      width: 100%;
      box-sizing: content-box;
      display: block;
    }
  }
}

.XButtonGroup {
  .flex-display();
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 5px 0 0;

  &--wide {
    width: 100%;
    box-sizing: content-box;
    .XButton {
      display: block;
      &:first-child {
        .flex-grow(2);
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    &--xs-wide {
      width: 100%;
      box-sizing: content-box;
      .XButton {
        display: block;
        &:first-child {
          .flex-grow(2);
        }
      }
    }
  }

  .XButton {
    border-radius: 0 !important;
    margin: 0 !important;
    position: relative;
    float: left;

    &:first-child {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }

    &:not(:first-child) {
      margin-left: -1px !important;
    }

    &:last-child {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }
}
