.XCard {
  .box-shadow(0 1px 1px 0 rgba(0, 0, 0, .18));
  margin: 6px 0;

  &--default {
    background-color: @body-bg;
  }

  &--neutral {
    background-color: @neutral-light;
  }

  &--warning {
    background-color: @brand-warning;
  }

  &--danger {
    background-color: @brand-danger;
  }

  &--noShadow {
    .box-shadow(none) !important;
  }

  &--noMargin {
    margin: 0 !important;
  }
}
