{{#modal-wrapper
  close=(action "closePreview")
  wrapper-class="ModalDialog-fullScreenWrapper"
  overlay-class="ModalDialog-fullscreenOverlay"
  showHeader=false
}}
  <div class="NewsEditor-previewHeader">
    <div>
      <a href="#" {{action (action "closePreview")}}>
        {{fa-icon "arrow-left"}} Back to the editor
      </a>
    </div>
    <div class="NewsEditor-previewHeader-title">Preview Post</div>
    <div>&nbsp;</div>
  </div>

  {{news-detail
    model=news
    isPreview=true
    hasCaptionOrCredit=hasCaptionOrCredit
  }}
{{/modal-wrapper}}
