{{#modal-wrapper
  close=(action "closePreview")
  modal-class="Modal--HeadlessWrapper Modal--no-padding"
  willAnimateAway=true
  isAnimated=false
  showHeader=false
}}
  <div class="NewsEditor-previewHeader">
    <div>
      <a href="#" {{action (action "closePreview")}}>
        {{fa-icon "arrow-left"}} Back to the editor
      </a>
    </div>
    <div class="NewsEditor-previewHeader-title">Preview Post</div>
    <div>&nbsp;</div>
  </div>

  {{detail-page
    model=news
    isPreview=true
    enableStickyHeader=true
    hasCaptionOrCredit=hasCaptionOrCredit
  }}
{{/modal-wrapper}}
