<div class='Container--noGutter'>
  <div class='AuthForm-wrapper'>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-4'>
        <div class='AuthForm'>
          <h1 class='AuthForm-title h2 u-layoutPadB10'>Check your e-mail</h1>
          <div class='AuthForm-body'>
            <div class='AuthForm-form'>
              <p data-test-password-reset-request-confirmation>
                Thank you. <br> A link has been sent to the provided e-mail address with a link for resetting your password.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
