<div class="Container--noGutter">
  <div class="AuthForm-wrapper">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="AuthForm">
          <h2>Enter your new password</h2>

          <div class="row Section">
            {{password-reset-form
            token=model.resetToken
            data-test-component="password-reset-form"
            returnUrl=return_url}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
