<div class='Container--noGutter'>
  <div class='AuthForm u-layoutPadT40 u-layoutPadB50'>
    <h1>Forgot password</h1>

    <h2>Enter your email address</h2>


    <div class='row Section'>
      <div class='col-sm-4 col-sm-offset-4'>
        {{password-reset-request-form}}
      </div>
    </div>
  </div>
</div>


