<div class="Container--noGutter">
  <div class="AuthForm-wrapper">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="AuthForm">
          <h1 class="AuthForm-title h2 u-layoutPadB10">Forgot password</h1>

          <div class="AuthForm-body">
            <div class="AuthForm-form">
              <label class="AuthForm-subTitle h3">Enter your email address</label>

              {{password-reset-request-form afterReset=(action "goToNext") data-test-component="password-reset-request-form" returnUrl=returnUrl}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
