<section class="ListservForm text-center">
  <header class='ListservForm-header u-layoutPadB20'>
    <h3 class="h1 u-bold u-layoutPadB0">Let's get started.</h3>
    <h4 class='h2 u-layoutPadT0'>Which category best describes your post?</h4>
  </header>

  <div class='ChannelSelector-grid text-left'>
    {{#channel-selector
        name='event'
        isActive=(eq model.channelType 'event')
        selectChannel=(action 'selectChannel')
        class="ChannelSelector-gridItem"}}
      <p>My post is intended to announce or promote:</p>
      <ul>
        <li>an event</li>
        <li>a class</li>
        <li>a meeting</li>
      </ul>
    {{/channel-selector}}

    {{#channel-selector
        name='market'
        isActive=(eq model.channelType 'market')
        selectChannel=(action 'selectChannel')
        class="ChannelSelector-gridItem"}}
      <p>My post is intended to help me:</p>
      <ul>
        <li>buy or sell something</li>
        <li>list a free item</li>
        <li>find a service or job</li>
      </ul>
    {{/channel-selector}}

    {{#channel-selector
        name='talk'
        isActive=(eq model.channelType 'talk')
        selectChannel=(action 'selectChannel')
        class="ChannelSelector-gridItem"}}
      <p>My post is:</p>
      <ul>
        <li>a general comment</li>
        <li>a question or concern</li>
        <li>a discussion topic</li>
      </ul>
    {{/channel-selector}}
  </div>

  <p class='h3'>
    <span class='u-bold'>We guessed! Were we right?</span><br>
    If we goofed, please check the appropriate box above.
  </p>

  <footer class='ListservForm-actions'>
    <button
        class='ListservForm-callToAction ListservForm-ctaNext'
        data-test-action="next-step"
        {{action 'nextStep'}}>
        Next&nbsp;&nbsp;{{fa-icon 'chevron-right'}}
    </button>
  </footer>
</section>
