<div class="container">
  <div class="row ListPostEnhance--content">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-10 col-md-offset-1 u-layoutPadB30">
          <h2 class="ListPostEnhance--content-title">{{model.listserv.name}}</h2>
          <p>
            Categorized posts to {{model.listserv.name}} appear at the top of the
            email digest -- and are also published automatically to dailyUV so
            you can reach a bigger audience.  It's free! Just follow the simple
            steps below.
          </p>

            {{listserv-content-form
              listservContent=(mut model)
              enhancedPost=(mut model.enhancedPost)
              previewEnhancedPost=(action 'previewEnhancedPost')
              data-test-component="listserv-content-form"
            }}
        </div>
      </div>

    </div>
  </div>
</div>
