<section class="ListservForm text-center">
  <header class='ListservForm-header'>
    <h3 class="h1">Let's get started.</h3>
    <h4 class='h2'>Which best describes your post?</h4>
  </header>

  <div data-test-component='channel-selector'>
    [CHANNEL SELECTOR PLACEHOLDER]
    <span
      {{action 'selectChannel' 'talk'}}
      data-test-select-channel-type-talk>
    </span>
    <span
      {{action 'selectChannel' 'market'}}
      data-test-select-channel-type-market>
    </span>
    <span
      {{action 'selectChannel' 'event'}}
      data-test-select-channel-type-event>
    </span>
  </div>

  <p>
    We guessed! Were we right? If we goofed,
    please check the appropriate box above.
  </p>

  <footer class='ListservForm-actions'>
    <button
        class='ListservForm-callToAction ListservForm-ctaNext'
        data-test-action="next-step"
        {{action 'nextStep'}}>
      Next
    </button>
  </footer>
</section>
