.Mystuff-Contents {
  &-search-bar {
    .display-grid();
    .grid-template-columns( 1fr 100px );
  }
  &-search-input {
    .grid-column(1);
  }

  &-controls {
    text-align: right;
    display: inline-block;
    padding-right: 8px;
    .grid-column(2);
    .grid-align-self(center);

    i {
      font-size: 25px;
      cursor: pointer;
      margin-left: 16px;
      color: grey;

      &.active {
        color: #000;
      }
    }
  }


  .FeedCard {
    &.promotion-menu-open {
      min-height: 150px;
    }
  }
}
