<div class="btn-group OrganizationProfileHeaderCard-menuButton">
  {{#x-button color='transparent-gray'
              rounded='curved'
              size='x-small'
              style='flatten'
              verticalCenter=true
              data-toggle='dropdown'}}
    {{fa-icon 'gear' class='Icon--rightMargin'}}
    {{fa-icon 'caret-down' class='Icon--smaller'}}
  {{/x-button}}
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      {{#x-button onClick=(action 'showSignInMenu')
                  color='primary'
                  style='menu-link'
                  size='medium'
                  tagName='a'}}
        Sign in to manage
      {{/x-button}}
    </li>
  </ul>
</div>
