<div class='Container--noGutter'>
  <div class='row Section'>
    {{#each sortedPosts as |post|}}
      <div class='col-sm-6 col-md-4 col-lg-3'>
        {{market-card post=post
          class='Card MarketCard u-flexColumn-2'
        }}
      </div>
    {{/each}}
  </div>
</div>
