{{#content-body classNames="u-padding0"}}
  <div class="DetailPage-headerSection u-padding8">
    {{feed-card/title
      title=model.title
      model=model
      isOnDetailView=true
      isPreview=isPreview
      afterHide=afterHide
      onShareContent=onShareContent
    }}

    {{#if model.isEvent}}
      <div class="DetailPage-headerSubSection u-paddingTop8">
        {{feed-card/event-dates
          eventDate=(moment-format model.startsAt "MMMM DD")
          futureInstances=model.futureInstances
          model=model
          class="u-padding0"
        }}
      </div>
    {{/if}}
  </div>
{{/content-body}}
