<div class='form-group'>
  <img class='img-responsive js-Cropper-image'>
</div>

<button class='Button Button--primary pull-right' {{action 'save'}}>Save</button>
<button class='Button ContentForm-discardButton Button--default pull-right' {{action 'cancel'}}>Cancel</button>
