<div data-test-page='location.index'>
  <div class='Container--noGutter'>
    <h1><!-- for consistent spacing --></h1>

    {{grouped-index
      news=model
      page=page
      isAuthenticated=session.isAuthenticated
    }}
  </div>

  {{outlet}}

  {{outreach-cta
    isButton=true
    placement='bottom-of-page'
    limitMessagesTo=2
    class="sit-center"
  }}
</div>
