<div data-test-page='location.index'>
  {{#channel-filters channel='index'}}
    {{location-radius-control
      location=(readonly userLocation.location)
      radius=(readonly radius)
      onChooseRadius=(action "changeRadius")
      onChooseLocation=(action 'chooseLocation')
    }}
  {{/channel-filters}}

  {{feed/index-feed
    feedContents=model
  }}

  {{feed/model-auto-loader
    infinityModel=model
    seeMoreButtonClicked=(action 'seeMoreButtonClicked')
  }}

  {{outlet}}


</div>
