{{#if canEditContent}}
  <button
    {{action "editContent"}}
    class="XButton XButton--primary XButton--noMargin XButton--regular XButton--x-small XButton--rounded"
  >
    <span>
      {{#if isTransitioning}}
        {{fa-icon "cog" spin=true}} Loading
      {{else}}
        Edit
      {{/if}}
    </span>
  </button>
{{/if}}
