.Location-Index {
	.infinity-loader {
	  max-width: 300px;
	  margin: 20px auto;
	  text-align: center;

	  i {
	    font-size: 30px;
	    color: @herecast-blue;
	    padding: 12px;
	  }

	  &-end-of-content {
	    font-size: 16px;
	    font-weight: bold;
	    padding: 6px;
	  }
	}

	&-Show-wrapper {
		background: #fff;
		.box-shadow( 0 1px 1px 0 rgba(0,0,0,.18 ) );
    margin: 6px 0;
	}
}
