{{#if canUseContactButton}}
  <button {{action 'contactPoster'}} data-test-link="contact-poster-button" class="XButton XButton--primary XButton--noMargin XButton--regular XButton--x-small XButton--rounded">
    <span {{action (action clickReplyButton)}}>
      Contact
    </span>
  </button>
{{/if}}
