{{#if canUseContactButton}}
  <button
  {{action "contactPoster"}}
  data-test-link="contact-poster-button"
  class="XButton XButton--primary XButton--noMargin XButton--regular XButton--thin XButton--rounded"
  >
    <span>
      Contact
    </span>
  </button>
{{/if}}
