{{#divided-list}}
  {{#each customLinks as |customLink|}}
    <li>
      {{#if customLink.eventInstanceId}}
        {{#x-link-to  'profile.all.show-instance'
                       customLink.contentId
                       customLink.eventInstanceId
                       color='primary'
                       size='medium'}}
          {{customLink.title}}
        {{/x-link-to}}
      {{else}}
        {{#x-link-to 'profile.all.show'
                     customLink.contentId
                     color='primary'
                     size='medium'}}
          {{customLink.title}}
        {{/x-link-to}}
      {{/if}}
    </li>

  {{/each}}
{{/divided-list}}
