{{#talk-form afterDetails='afterDetails' model=(mut model) as |form|}}
  {{form-group
    error=form.errors.title
    required=true
    label="Title"
    field=form.title-input
  }}

  {{#form-group
    error=form.errors.content
    required=true
    label="Body"
  }}
    {{form.content-input}}
  {{/form-group}}

  <h3 class='ListservContentForm-fieldDivider'>The information you enter below will appear on dailyUV only.</h3>

  <fieldset class='ListservForm-enhancementFields'>
    <legend>Post Enhancements</legend>

    {{#form-group
      label="Image"
      error=form.errors.image
    }}
      {{image-upload-tile model=model}}
    {{/form-group}}
  </fieldset>


  {{partial 'partials/listserv-content-form-submit'}}
{{/talk-form}}
