{{#unless infiniteScrollIsActive}}
  <div class="Feed-ModelAutoLoader-load-more-button" {{action 'startInfiniteScroll'}} data-test-see-more-content>
    See More Content
  </div>
{{else}}
  {{#infinity-loader
    infinityModel=infinityModel
  }}
    {{#unless infinityModel.reachedInfinity}}
      {{fa-icon 'spinner' class="fa-pulse"}}
    {{else}}
      <div class="Feed-ModelAutoLoader-end-of-content">
        That's Everything
      </div>
    {{/unless}}
  {{/infinity-loader}}
{{/unless}}
