<section class="ListservForm u-card">
  <header class='ListservForm-header'>
    <h1 class="h1 u-bold">
      Enhance your {{capitalize channelType}} post
    </h1>
    <div class='ListservForm-stepIndicator'>
      <h2 class='h5'>Step 1 of 2</h2>
    </div>
  </header>

  {{#if listservContent.isMarket}}
    {{listserv-market-form
      model=(mut model)
      doneEditing=(action 'nextStep')
    }}
  {{/if}}
  {{#if listservContent.isEvent}}
    {{listserv-event-form
      model=(mut model)
      doneEditing=(action 'nextStep')
    }}
  {{/if}}
  {{#if listservContent.isTalk}}
    {{listserv-talk-form
      model=(mut model)
      doneEditing=(action 'nextStep')
    }}
  {{/if}}
</section>
