.FeedCard-Attribution {

  &-author-wrap {
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-column: 1;
  }
  &-author-left {
    grid-column: 1;
    text-align: left;
  }

  &-author-right {
    grid-column: 2;
    align-self: center;
    text-align: left;
    line-height: 1.2;
  }

  &-author {
    font-size: 14px;
  }

  &-posted-time {
    font-size: 13px;
  }
}
