.FeedCard-Attribution {
  .display-grid();
  .grid-template-columns(1fr 1fr);
  width: 100%;

  .AvatarImage {
    margin-right: 4px;
  }

  &.caster-only {
    .grid-template-columns(1fr);
  }

  &-box {
    &-left {
      .grid-column(1);
      .grid-justify-self(start);
      .grid-align-self(center);
    }
    &-right {
      .grid-column(2);
      .grid-justify-self(end);
      .grid-align-self(center);
      text-align: right;
      a:hover {
        text-decoration: none !important;
      }
    }
  }

  &.has-center {
    .grid-template-columns(max-content max-content 1fr);
    .FeedCard-Attribution-box {
      &-left {
        max-width: 160px;
      }
      &-center {
        .grid-column(2);
        .grid-justify-self(start);
        .grid-align-self(center);
        padding: 0 4px;
      }
      &-right {
        .grid-column(3);
      }
    }
  }

  &.hide-right {
    .grid-template-columns(1fr);
    .FeedCard-Attribution-box-left {
      max-width: 100%;
    }
  }

  &-caster-wrap {
    .display-grid();
    .grid-template-columns(max-content 1fr);
    .grid-column(1);
  }
  &-caster-left {
    .grid-column(1);
    .grid-align-self(center);
    text-align: left;
  }

  &-caster-right {
    .grid-column(2);
    .grid-align-self(center);
    .grid-justify-self(start);
    text-align: left;
    line-height: 1.2;
    word-break: break-word;
    &.long-name-string {
      word-break: break-all;
    }
  }

  &-caster {
    font-size: 14px;
    line-height: 1.1;
  }

  &-followers {
    font-size: 11px;
    color: @activity-indicator-color;
  }
}
