.FeedCard-Bookmark {
  padding: 0 8px;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;

  &-button {
    cursor: pointer;
    position: relative;
    &-icon {
      font-size: 28px;
      color: @activity-indicator-color;
      vertical-align: bottom;

      &.just-bookmarked {
        .keyframes(bookmark-heartbeat; {
      		0%    { .transform( scale(1.0) ); }
          10%   { .transform( scale(1.2) ); }
          20%   { .transform( scale(1.1) ); }
          30%   { .transform( scale(1.2) ); }

          50%   { .transform( scale(1.0) ); }
          60%   { .transform( scale(1.2) ); }
          70%   { .transform( scale(1.1) ); }
          80%   { .transform( scale(1.2) ); }

      		100%  { .transform( scale(1.0) ); }
      	});

      	.animation(bookmark-heartbeat 1.5s ease-in forwards);
      }

      @media (max-width:360px) {
        font-size: 24px;
      }
    }
  }

  &.bookmarked {
    .text-shadow(1px 1px 0 rgba(0, 0, 0, 0.18));

    .FeedCard-Bookmark-button-icon {
      color: @bookmark-new-color;
    }
  }

  &-tooltip {
    .box-shadow(2px 2px 4px rgba(0, 0, 0, 0.18));
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #fff;
    background: @bookmark-new-color;
    font-size: 13px;
    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 100%;
    right: -8px;
    width: 200px;
    height: 80px;

    &:before {
      content: " ";
      display: block;
      height: 0px;
      position: absolute;
      bottom: 0;
      right: 6px;
      transform: translateY(100%);
      border-left: 12px transparent solid;
      border-right: 12px transparent solid;
      border-top: 12px #fff solid;
    }

    &:after {
      content: " ";
      display: block;
      height: 0px;
      position: absolute;
      bottom: 0;
      right: 8px;
      transform: translateY(100%);
      border-left: 10px transparent solid;
      border-right: 10px transparent solid;
      border-top: 10px @bookmark-new-color solid;
    }

    &-left {
      margin-right: 12px;
      text-align: left;
    }

    &-right {
      text-align: center;
      position: absolute;
      top: 8px;
      right: 8px;
    }

    &-close {
      color: #fff;
      font-size: 16px;
    }
  }

}
