.FeedCard-EventDates {
  padding: 0px 8px 8px;

  &-date-tag {
    display: inline-block;
    padding: 4px 10px;
    background: @event-brand;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    height: 28px;
    margin-right: 16px;
  }

  &.has-additional-dates {
    .FeedCard-EventDates-date-tag {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        right: -14px;
        border-color: transparent transparent transparent @event-brand;
        border-width: 14px 0 14px 14px;
        border-style: solid;
      }
    }
  }

  &.expired {
    .FeedCard-EventDates-date-tag {
      background: @gray-dark;
      color: #fff;
    }
  }

  &-other-dates-button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-weight: 600;
    .dropdown-menu.open {
      display: block;
      min-width: 200px;
      overflow-y: auto;
      max-height: 400px;
      @media (max-width: @screen-sm-max) {
        position: absolute;
        width: auto;
        max-width: 460px;
        float: none;
        left: -50%;
      }
    }
  }

  &-additionalDates {
    display: table;
    border-collapse: collapse;
  }

  &-additionalDate {
    color: #666 !important;
    display: table-row;
    border-bottom: 1px solid #ccc;

    strong {
      color: #333;
    }

    &:last-child {
      border-bottom: none;
    }

    &-weekDay, &-date, &-time {
      white-space: nowrap;
      display: table-cell;
      padding: 5px 10px;
    }
  }
}
