.FeedCard {
  width: 100%;
  vertical-align: top;
  margin: 6px 0;
  position: relative;

  @media (min-width: 500px) {
    max-width: 500px;
  }

  &-FullsizeCard,
  &-CompactCard,
  &-MidsizeCard,
  &-OrganizationCard {
    .box-shadow(0 1px 1px 0 rgba(0, 0, 0, .18));

    background: #fff;
    max-height: 1000px;

    .transition(all 0.6s);

    &.hide-completely {
      max-height: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      filter: blur(5px);
    }
  }

  &-certification {
    float: right;
    margin: 8px;
    font-weight: bold;

    &-storyteller {
      color: green;
    }
    &-social {
      color: #3DA0E5;
    }
  }

  &-stop-editing {
    position: absolute;
    bottom: 10px;
    right: 10px;

    cursor: pointer;
    text-transform: capitalize;
    padding: 4px 8px;
    background: @herecast-blue;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
  }

  &-avatar {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin: 5px 0;

    &--floating {
      margin: -45px 0 5px 0;
    }
  }


  &-MidsizeCard {
    &--top {
      .display-grid();
      .grid-template-columns(1fr 124px);

      &-left {
        position: relative;
        margin: 8px;
      }
      &-right {
        .grid-justify-self(end);
      }
    }
    &--bottom {
      .display-grid();
      .grid-template-columns(1fr 1fr 20px);
      padding: 8px;
      background: #f5f5f5;
      &-left,
      &-right,
      &-menu {
        .grid-align-self(center);
      }
    }
    &--title {
      font-size: 16px;
      font-family: @font-family-semibold;
      line-height: 1.1;
    }
    &--image {
      max-width: 120px;
      max-height: 120px;
      position: relative;
    }
    &--activity {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .FeedCard-Bookmark {
      float: right;
    }

    &--date {
      background: @event-brand;
      position: absolute;
      top: 4px;
      right: 4px;
      padding: 4px;
      border-radius: 3px;
      text-align: center;
      font-weight: bold;
      line-height: 1.0;
      width: 45px;
      height: 45px;

      &-month {
        text-transform: uppercase;
        font-size: 14px;
      }

      &-day {
        font-size: 22px;
      }
    }

    @media (max-width: 400px) {
      .FeedCard-Attribution-author,
      .FeedCard-Source--right {
        font-size: 12px;
      }
    }

  }


  &-CompactCard {
    .display-grid();
    .grid-template-columns(1fr 64px);

    &--left {
      margin: 4px;
      .grid-column(1);
      .display-grid();
      &-top {
        .grid-align-self(start);
        height: 32px;
        overflow: hidden;
        border-bottom: solid 1px #efefef;
      }
      &-bottom {
        .grid-align-self(end);
        .display-grid();
        height: 24px;
        margin-top: 2px;
        .grid-template-columns(1fr 1fr);
      }
    }
    &--right {
      .grid-column(2);
      .grid-justify-self(end);
    }

    &--title {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.1;
      padding-right: 8px;
    }

    &--attribution {
      display: inline-block;
      .FeedCard-Attribution-author {
        font-size: 12px;
      }
    }

    &--location {
      display: inline-block;
      font-size: 12px;
    }

    &--comments {
      float: right;
      font-size: 14px;
      color: @activity-indicator-color;
    }

    &--image {

    }
  }

}
