.FeedCard-Footer {

  &-wrap {
    .display-grid();
    .grid-template-columns(1fr 1fr);
    border-top: solid 1px @secondary-bg;
  }

  &-left {
    .grid-column( 1 );
    text-align: left;
    padding: 8px 0 8px 8px;
  }

  &-right {
    .grid-column( 2 );
    text-align: right;
    .XButton {
      display: inline-block;
      margin: 8px !important;
    }
  }
}
