.FeedCard-Image {
  position: relative;

  &-image {
    height: 300px;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &.placeholder {
      background-color: #efefef;
      color: @gray-medium;
      .display-grid();
      text-align: center;
      &>div {
        .grid-align-self(center);
      }
      i {
        font-size: 50px;
      }
    }
  }

  &-multiple {
    &-wrap {
      width: 75px;
      height: 75px;
      position: absolute;
      top: 12px;
      right: 12px;
      border-radius: 4px;
      background: rgba(0,0,0,0.5);

      &.start-date {
        background: @event-brand;
        color: #000;
      }

      &.has-multiple {
        border-bottom-right-radius: 0;
      }
    }

    &-dates-icon {
      border-right: solid 3px @event-brand;
      border-bottom: solid 3px @event-brand;
      border-radius: 4px;
      height: 75px;
      width: 75px;
      background: transparent;
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 0;
    }

    &-stack {
      position: relative;
      height: 100%;
      width: 100%;
      .display-grid();

      &-date-wrap {
        .grid-align-self(center);
        padding: 4px;
      }
      &-month {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
      }
      &-day {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
      }
    }

    &-icon {
      color: #fff;
      font-size: 40px;

      position: absolute;
      .grid-align-self(center);
      .grid-justify-self(center);

      &.other{
        margin-bottom: -5px;
        margin-right: -5px;
        width: 41px;
        height: 35px;
        border-right: solid 3px #fff;
        border-bottom: solid 3px #fff;
        border-radius: 4px;
      }
      &.icon {
        margin-left: -5px;
        margin-top: -5px
      }
    }
  }

  &-excerpt {
    font-size: 17px;
    padding: 8px 16px;
    line-height: 1.2;
    word-wrap: break-word;
  }

  &-continue-reading {
    display: inline-block;

    a {
      color: @brand-blue;
      cursor: pointer;
      font-weight: bold;
    }

    a:hover {
      text-decoration: none;
      color: @brand-blue;
    }
  }
}
