.FeedCard-Image {
  &-image {
    height: 240px;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media (min-width: 400px) {
      height: 300px;
    }
  }

  &-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;

    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.45) 90%, rgba(68, 68, 68, 0.65) 98%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.45) 90%, rgba(68, 68, 68, 0.65) 98%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.45) 90%, rgba(68, 68, 68, 0.65) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6444444', GradientType=0);
  }

  &-excerpt {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    line-height: 1.2;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  &-continue-reading {
    display: inline-block;

    a {
      color: #409FE3;
      cursor: pointer;
      font-weight: bold;
    }

    a:hover {
      text-decoration: none;
      color: #409FE3;
    }
  }
}
