.FeedCard-Like {
  padding: 0 8px;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;

  &-count {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-shadow: none;
    text-align: left;
    line-height: 1.0;
    color: @activity-indicator-color;

    &-text {
      font-size: 11px;
    }
  }

  &-button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;

    &-icon {
      font-size: 28px;
      color: @activity-indicator-color;
      vertical-align: bottom;

      &.just-liked {
        .keyframes(like-heartbeat; {
      		0%    { .transform( scale(1.0) ); }
          10%   { .transform( scale(1.2) ); }
          20%   { .transform( scale(1.1) ); }
          30%   { .transform( scale(1.2) ); }

          50%   { .transform( scale(1.0) ); }
          60%   { .transform( scale(1.2) ); }
          70%   { .transform( scale(1.1) ); }
          80%   { .transform( scale(1.2) ); }

      		100%  { .transform( scale(1.0) ); }
      	});

      	.animation(like-heartbeat 1.5s ease-in forwards);
      }

      @media (max-width:360px) {
        font-size: 24px;
      }
    }
  }



  &.liked {
    .text-shadow(1px 1px 0 rgba(0, 0, 0, 0.18));

    .FeedCard-Like-button-icon {
      color: @like-new-color;
    }
  }

}
