.FeedCard-Manage {
  text-align: right;
  &.is-active {
    padding: 8px 0;

    .FeedCard-Manage--wrap {
      display: inline-block;
      padding: 8px;
      border-radius: 5px;
      background: #efefef;
    }
  }

  &--message {
    font-size: 10px;
    font-style: italic;
    color: @herecast-teal;
  }
}
