.FeedCard-TextSnippet {
  padding: 0px 16px 8px;
  line-height: 1.2;
  word-wrap: break-word;

  &.snipped-text {
    max-height: 150px;
    overflow: hidden;
    padding-bottom: 5px;
    position: relative;
  }

  &-continue-reading {
    display: inline-block;

    a {
      color: @herecast-blue;
      cursor: pointer;
      font-weight: bold;
    }

    a:hover {
      text-decoration: none;
      color: @herecast-blue;
    }
  }

  &.blurred-text {
    position: relative;
  }

  &-text-box {
    color: transparent;
    .text-shadow( rgba(0, 0, 0, 0.5) 0px 0px 6px );
  }

  &-signin-box {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    .transform( translateX(-50%) translateY(-50%) );
    background: #fff;
    padding:8px 10px;
    border-radius: 3px;
    .box-shadow( 0 1px 1px 0 rgba(0, 0, 0, 0.18) );
  }

  &-signin-button {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    color: @herecast-blue;
  }


}
