

.FeedCard-Title {
  .display-grid();
  .grid-template-columns( auto );
  padding: 16px 8px;
  line-height: 1.1;
  align-items: center;
  .grid-template-columns(62px 1fr 62px);

  &-title {
    .flex-display();
    .align-items(center);
    font-size: 18px;
    font-weight: bold;
    .grid-column(1);
    .grid-column-end(4);
  }

  &.sold-tag-active {
    .FeedCard-Title-sold-tag {
      .grid-column(1);
    }
    .FeedCard-Title-title {
      .grid-column(2);
      .grid-column-end(4);
    }
    &.condensed-view {
      .FeedCard-Title-title {
        .grid-column(2);
        .grid-column-end(3);
      }
      .FeedCard-Title-views-and-comments {
        .grid-column(3);
      }
    }
  }

  &.condensed-view {
    &:not(.sold-tag-active) {
      .FeedCard-Title-title {
        .grid-column(1);
        .grid-column-end(3);
      }
      .FeedCard-Title-views-and-comments {
        .grid-column(3);
      }
    }
  }


  &-sold-toggle {
    cursor: pointer;
    i {
      font-size: 20px;
      &.toggle-on {
        color: #F6A623;
      }
    }
  }

  &-posted-time {
    font-size: 12px;
  }

  &-sold-tag {
    .flex-display();
    .justify-content(center);
    .align-items(center);
    padding: 3px 10px;
    margin-right: 8px;
    background: #F6A623;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    height: 28px;
  }

  &-views,
  &-comments {
    display: inline-block;
    .grid-justify-self(end);
    text-align: center;
    padding: 2px;
    width: 100%;
    background: #efefef;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    i {
      margin-right: 4px;
    }
  }
  &-views {
    margin-bottom: 4px;
  }
}
