.FeedCard-Title {
  .display-grid();
  .grid-template-columns(1fr 32px);
  padding: 8px;
  line-height: 1.1;
  align-items: center;

  &.on-detail {
    padding: 0;
    .FeedCard-Title-title {
      font-size: 20px;
      height: auto;
    }
  }

  &.is-truncated {
    .FeedCard-Title-title {
      position: relative;
    }
    .FeedCard-Title-title:after {
      content: '...';
      position: absolute;
      bottom: 0;
      right: 0;
      background: #fff;
      padding: 0 2px;
      font-size: 18px;
    }
  }

  &-title {
    display: block;
    height: 38px;
    padding: 2px 0;
    .grid-align-self(center);
    font-size: 18px;
    font-family: @font-family-semibold;
    .grid-column(1);
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    position: relative;

    &.title-clone {
      height: auto;
      display: none;
    }
  }

  &--menu {
    .grid-align-self(start);
    text-align: right;
    .grid-column(2);
  }

  &-sold-tag {
    padding: 3px 10px;
    background: @sold-tag-background;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    top: 4px;
    right: 36px;
    line-height: 18px;
    z-index: 100;
  }
}
