.FeedCard-Title {
  .display-grid();
  .grid-template-columns( auto );
  padding: 8px;
  line-height: 1.1;
  align-items: center;
  .grid-template-columns(62px 1fr 62px);

  &.on-detail {
    padding: 0;
    .FeedCard-Title-title {
      font-size: 20px;
      height: auto;
    }
  }

  &.is-truncated {
    .FeedCard-Title-title {
      position: relative;
    }
    .FeedCard-Title-title:after {
      content: '...';
      position: absolute;
      bottom: 0;
      right: 0;
      background: #fff;
      padding: 0 2px;
      font-size: 18px;
    }
  }

  &-title {
    display: block;
    height: 38px;
    padding: 2px 0;
    .grid-align-self(center);
    font-size: 18px;
    font-family: @font-family-semibold;
    .grid-column-start(1);
    .grid-column-end(3);
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    display: block;

    &.title-clone {
      height: auto;
      display: none;
    }
  }

  &--menu {
    .grid-align-self(start);
    text-align: right;
  }

  &.sold-tag-active {
    .FeedCard-Title-sold-tag {
      .grid-column-start(1);
      .grid-column-end(2);
    }
    .FeedCard-Title-title {
      .grid-column-start(2);
      .grid-column-end(3);
    }
    &.condensed-view {
      .FeedCard-Title-title {
        .grid-column-start(2);
        .grid-column-end(3);
      }
      .FeedCard-Title-views-and-comments {
        .grid-column-start(3);
        .grid-column-start(4);
      }
    }
  }

  &.condensed-view {
    &:not(.sold-tag-active) {
      .FeedCard-Title-title {
        .grid-column-start(1);
        .grid-column-end(3);
      }
      .FeedCard-Title-views-and-comments {
        .grid-column-start(3);
        .grid-column-end(4);
      }
    }
  }


  &-sold-toggle {
    cursor: pointer;
    i {
      font-size: 20px;
      &.toggle-on {
        color: #F6A623;
      }
    }
  }

  &-posted-time {
    font-size: 12px;
  }

  &-sold-tag {
    .flex-display();
    .justify-content(center);
    .align-items(center);
    padding: 3px 10px;
    margin-right: 8px;
    background: #F6A623;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    height: 28px;
  }

  &-views,
  &-comments {
    display: inline-block;
    .grid-justify-self(end);
    text-align: center;
    padding: 2px;
    width: 100%;
    background: #efefef;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    i {
      margin-right: 4px;
    }
  }
  &-views {
    margin-bottom: 4px;
  }
}
