{{#if model.length}}
  <div class="hidden-xs">
    {{fa-icon 'map-marker'}} <span>{{join model delimeter=', '}}</span>
  </div>
  <p class='h5 visible-xs'>
    {{fa-icon 'map-marker'}} {{truncate-text text=(join model delimeter=', ') maxLength=22 tagName='span'}}
  </p>
{{/if}}
