<div class='ImageUploadTile-container ImageUploadTiles-container'>
  {{#if model.imageUrl}}
    {{image-tile
        imageUrl=model.imageUrl
        remove=(action removeImage)
        class="ImageUploadTiles-tile ImageUploadTile-tile ImageUploadTile-imageTile"
    }}
  {{else}}
    {{image-input-tile
        class='ImageTile ImageUploadTile-tile ImageUploadTiles-tile ImageUploadTiles-inputTile ImageUploadTile-inputTile'
        action=(action addImage)
        onError=(action 'imageError')
        multiple=false
    }}
    <div>
      {{#action-helper point='left'}}
        People really, really like to look at pictures!
      {{/action-helper}}
    </div>
  {{/if}}
</div>

{{#if error}}
  <div class='alert alert-danger ImageUploadTile-error'>
    {{error}}
  </div>
{{/if}}
