<div class='Container--noGutter u-layoutPadT20'>
  <nav>
    {{#link-to 'dashboard'}}
    <i class='fa fa-chevron-left'></i> Back
    {{/link-to}}
  </nav>
  <div class='u-textCentered'>
    <img src={{model.image_url}} class='ContentMetrics-image'>
    <h1 class='h2 u-textCentered'>{{model.title}}</h1>
  </div>

  <div class='row Section'>
    {{content-metrics
      views=model.views
      clicks=model.clicks
      class='col-md-8 col-md-offset-2'
    }}
  </div>
</div>
