<div class='col-xs-12'>
  <div class='row u-layoutPadT30'>
    <div class='col-md-6 u-layoutPadB20'>
      <div style='border: 1px solid #ddd; background:#fff;'>
        <h2>Rate businesses in your community</h2>
        <p>dailyUV.com has created this Directory as a resource for the Upper Valley community.
          Please take a moment to go through the Directory to identify businesses you’ve patronized
          and rate those businesses. We believe that other members of the Upper Valley community
          will benefit from your experiences.</p>
      </div>
    </div>
    <div class='col-md-6 u-layoutPadB20'>
      <div style='border: 1px solid #ddd; background:#fff;'>
        <h2>Coming Soon: Claim your business and advertise with us</h2>
        <p>It will always be free to include basic directory information about your business
          in dailyUV.com’s Directory. Soon business will be able to update or change details
          in their Directory listing (like including the ability to add hours of operations),
          provide detailed information about their offerings, and create customized advertising
          programs to reach more Upper Valley consumers. Stay tuned.</p>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12'>
      <h2>Local News</h2>
    </div>
    {{#each news as |item|}}
      <div class='col-md-3'>
        {{news-card item=item}}
      </div>
    {{/each}}
  </div>
</div>
