<div class='temp-landing-page-content'>
  <div class='temp-landing-page-content-item' style='width: 100%; border: 1px dotted purple;height: 150px; background:beige;margin-bottom: 15px'>
    landing page content item 1
  </div>
  <div class='temp-landing-page-content-item' style='width: 100%; border: 1px dotted purple;height: 150px; background:beige;margin-bottom: 15px'>
    landing page content item 2
  </div>
  <div class='temp-landing-page-content-item' style='width: 100%; border: 1px dotted purple;height: 150px; background:beige;margin-bottom: 15px'>
    landing page content item 3
  </div>
  <div class='temp-landing-page-content-item' style='width: 100%; border: 1px dotted purple;height: 150px; background:beige;margin-bottom: 15px'>
    landing page content item 4
  </div>
  <div class='temp-landing-page-content-item' style='width: 100%; border: 1px dotted purple;height: 150px; background:beige;margin-bottom: 15px'>
    landing page content item 5
  </div>
</div>
