<div class='col-xs-12'>
  <div class='row u-layoutPadT30'>
    <div class='col-md-6 u-layoutPadB20'>
      <div style='border: 1px solid #ddd; height: 150px; background:#fff; text-align: center'>
        landing page content item 1
      </div>
    </div>
    <div class='col-md-6 u-layoutPadB20'>
      <div style='border: 1px solid #ddd; height: 150px; background:#fff; text-align: center'>
        landing page content item 1
      </div>
    </div>
    <div class='col-md-6 u-layoutPadB20'>
      <div style='border: 1px solid #ddd; height: 150px; background:#fff; text-align: center'>
        landing page content item 1
      </div>
    </div>
    <div class='col-md-6 u-layoutPadB20'>
      <div style='border: 1px solid #ddd; height: 150px; background:#fff; text-align: center'>
        landing page content item 1
      </div>
    </div>
    <div class='col-md-6 u-layoutPadB20'>
      <div style='border: 1px solid #ddd; height: 150px; background:#fff; text-align: center'>
        landing page content item 1
      </div>
    </div>
    <div class='col-md-6 u-layoutPadB20'>
      <div style='border: 1px solid #ddd; height: 150px; background:#fff; text-align: center'>
        landing page content item 1
      </div>
    </div>
  </div>
</div>
