<div class='col-xs-12'>
  <div class='row'>
    <div class='col-md-6 u-layoutPadB20'>
      <h2>Help us build this directory</h2>
      <p>dailyUV.com has created this Directory as a resource for the Upper Valley community.
        Please take a moment to go through the Directory to identify businesses you’ve patronized
        and rate those businesses. We believe that other members of the Upper Valley community
        will benefit from your experiences.</p>
    </div>
    <div class='col-md-6 u-layoutPadB20'>
      <h2>Claim your business (coming soon)</h2>
      <p>Basic business listings in dailyUV.com's directory will always be free.
        Soon you will be able to update or change details in your Directory listing (like including the ability to add hours of operations),
        and provide detailed information about your products or services</p>

      <h2>Advertise with us (coming soon)</h2>
      <p>Reach more Upper Valley consumers with customized advertising
        programs. Stay tuned.</p>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12'>
      <h2>Local News</h2>
    </div>
    <div class='col-xs-12'>
      {{#each news as |item|}}
        <div class='col-md-3'>
          {{news-card item=item}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
