.FeedContainer {
  max-width: 500px;
  margin: 4px auto;

  .infinity-loader {
	  max-width: 300px;
	  margin: 20px auto;
	  text-align: center;

	  i {
	    font-size: 30px;
	    color: #409FE3;
	    padding: 12px;
	  }

	  &-end-of-content {
	    font-size: 16px;
	    font-weight: bold;
	    padding: 6px;
	  }
	}
}
