.FeedContainer {
  max-width: 500px;
  margin: 4px auto;

  &-no-margin {
    margin: 0 auto;
  }

  .infinity-loader:not(.reached-infinity) {
	  max-width: 300px;
	  margin: 20px auto;
	  text-align: center;

	  i {
	    font-size: 30px;
	    color: @herecast-blue;
	    padding: 12px;
	  }

	  &-end-of-content {
	    font-size: 16px;
	    font-weight: bold;
	    padding: 6px;
	  }
	}

  .infinity-loader.reached-infinity {
    display: none;
  }
}
