.Feed-IndexFeed {

  &-controls {
    text-align: right;

    i {
      font-size: 25px;
      cursor: pointer;
      margin-left: 16px;
      color: grey;

      &.active {
        color: #000;
      }
    }
    @media (max-width: 500px) {
      padding-right: 8px;
    }
  }

  .AdBanner-wrapper {
    padding: 10px 0;
  }

  .FeedCard {
    &.promotion-menu-open {
      min-height: 150px;
    }
  }

}
