.Feed-IndexFeed {
  width: 100%;
  margin: 4px auto;
  padding: 0;

  @media (min-width: 500px) {
    max-width: 500px;
    padding: 0;
  }

  &-overlay {
    position: fixed;
    background: rgba(0,0,0,0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &-content-create-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    max-width: 500px;
    grid-gap: 0 4px;
    padding: 0 4px;

    @media (min-width: 500px) {
      padding: 0;
    }

    &.is-logged-in {
      grid-template-columns: repeat(3, 1fr);
      &.can-publish-news {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .Feed-IndexFeed-content-create-button {
    text-align: center;
    border-radius: 4px;
    padding: 9px 0 6px 0;

    @media (min-width: @screen-sm-max)
       and (max-width: @screen-md-max) {
      font-size: 20px;
    }
  }

  .AdBanner-wrapper {
    padding: 10px 0;
  }
}
