.Feed-ModelAutoLoader {
  max-width: 300px;
  margin: 20px auto;
  text-align: center;

  &-load-more-button {
    cursor: pointer;
    text-transform: capitalize;
    padding: 8px 16px;
    background: #409FE3;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
  }

  i {
    font-size: 30px;
    color: #409FE3;
    padding: 12px;
  }

  &-end-of-content {
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
  }

}
