{{#link-to-content item}}
  {{#media-container as |media|}}
    <span {{action 'trackClick' item}}>
      {{#media.object}}
        <img src="{{optimized-image-url item.imageUrl 40 30 true}}" alt="">
      {{/media.object}}
      {{#media.content}}
        {{item.title}}
      {{/media.content}}
    </span>
  {{/media-container}}
{{/link-to-content}}
