<div class="FeedCard-NewsCard">

  <div class="FeedCard--card-front">

    <div class="FeedCard-Title">
      <div class="FeedCard-Title-title">
        <div class="FeedCard-FakeCard-title flashing-text" style="width:80%;"></div>
      </div>
    </div>

    <div class="FeedCard-Image">
      <div>
        <div class="FeedCard-Image-image FeedCard-FakeCard-background-image">
          <div class="FeedCard-FakeCard-background-image-top"></div>
          <div class="FeedCard-FakeCard-background-image-bottom"></div>
        </div>
      </div>
    </div>

    <div class="FeedCard-Attribution u-padding8">
      <div class="FeedCard-Attribution-box-left">
        <div class="FeedCard-Attribution-author-wrap u-paddingBottom8">
          <div class="FeedCard-Attribution-author-left">
            {{avatar-image
              imageUrl=null
              userName=null
              customSize=40
              class="FeedCard-FakeCard-avatar"
            }}
          </div>
          <div class="FeedCard-Attribution-author-right" style="width:200px">
            <div class="FeedCard-Attribution-author">
              <div class="FeedCard-FakeCard-author-name flashing-text" style="width:60%;"></div>
            </div>
            <div class="FeedCard-Attribution-posted-time">
              <div class="FeedCard-FakeCard-published-at flashing-text" style="width:45%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="FeedCard-Footer">
      <div class="FeedCard-Footer-wrap">
        <div class="FeedCard-Footer-left">
          <div class="FeedCard-Source">
            <div class="FeedCard-FakeCard-base-location flashing-text" style="width:145px;"></div>
          </div>
        </div>
        <div class="FeedCard-Footer-right" style="text-align:right;">
          <div class="FeedCard-FakeCard-base-location flashing-text" style="width:145px;"></div>
        </div>
      </div>
    </div>
  </div>

</div>
