<div class="Mystuff-OrganizationSubscriptions--subscription XButton XButton--light-gray XButton--regular XButton--x-small XButton--rounded">
  <div class="Mystuff-OrganizationSubscriptions--subscription-attribution">
    {{avatar-image
      imageUrl=organizationProfileImageUrl
      userName=organizationName
      hasCaret=false
      customSize=40
    }}

    <div class="Mystuff-OrganizationSubscriptions--subscription-attribution-name">
      {{organizationName}}
    </div>

  </div>

  <div class="Mystuff-OrganizationSubscriptions--subscription-link">
    {{#link-to "profile.all" organizationId}}
      <div
        role="button"
        class="SubscribeButton--button XButton XButton--primary XButton--regular XButton--thin XButton--rounded XButton-nowrap"
      >
        Go to Page
      </div>
    {{/link-to}}
  </div>

  <div class="Mystuff-OrganizationSubscriptions--subscription-subscribe">
    {{subscribe-button
      organizationId=organizationId
      updateOrganization=false
    }}
  </div>
</div>
