<div class="JobsForms-Sold--toggle" {{action "toggleSold"}} role="button">
  {{#if sold}}
    {{fa-icon "toggle-on" class="toggle-on"}}
    <div>Sold</div>
  {{else}}
    {{fa-icon "toggle-off"}}
    <div>Not Sold</div>
  {{/if}}
</div>
