<div class='Container--noGutter'>
  <div class='row'>
    {{#content-form
      isNew=model.isNew
      type='talk'
      title=job
      class='col-xs-12'
      step1State='current'
      step2State='inactive'
      step3State='inactive'
    }}
      {{talk-form
        model=model
        afterDiscard='afterDiscard'
        afterDetails='afterDetails'
        formattedType='talk'
      }}
    {{/content-form}}
  </div>
</div>
