<div class='Container--noGutter'>
  <div class='row'>
    {{#content-form
      isNew=model.isNew
      type='talk'
      class='col-md-9'
      step1State='current'
      step2State='inactive'
      step3State='inactive'
    }}
      {{talk-form
        model=model
        afterDiscard='afterDiscard'
        afterDetails='afterDetails'
        formattedType='talk'
      }}
    {{/content-form}}

    <div class='col-md-3 hidden-sm'>
      <h1 class='ContentForm-previewHeader'>Preview</h1>
      {{talk-card-preview
        talk=model
        isPreview=true
        isNarrow=media.isTabletOrSmallScreen
      }}
    </div>

  </div>
</div>
