<div class='container'>
  {{content-form-header
    isNew=model.isNew
    createText='Create a Talk'
    updateText='Update Your Talk'
  }}

  <div class='row'>
    <div class='ContentForm-content col-md-8'>
      {{content-form-steps
        step1State='current'
        step2State='inactive'
        step3State='inactive'
        type='Talk'
      }}

      {{talk-form
        talk=model
        afterDiscard='afterDiscard'
        afterDetails='afterDetails'
      }}
    </div>

    {{talk-card-preview
      talk=model
      isPreview=true
      classNames='col-md-4'
    }}
  </div>
</div>
