<div class='container'>
  {{content-form-header
    isNew=model.isNew
    createText='Create a Talk'
    updateText='Update Your Talk'
  }}

  {{content-form-steps
    step1State='complete'
    step2State='complete'
    step3State='current'
    type='Talk'
    class='ContentFormSteps--gray'
  }}

  {{talk-preview-summary
    model=model
    afterDiscard='afterDiscard'
    afterPublish='afterPublish'
  }}

</div>

{{#content-preview}}
  {{partial 'talk/show'}}
{{/content-preview}}
