<div class='Container--noGutter'>
  {{content-form-header
    isNew=model.isNew
    createText='Create a Talk'
    updateText='Update Your Talk'
  }}

  <div class='row'>
    <div class='ContentForm-content col-md-8'>
      {{content-form-steps
        step1State='complete'
        step2State='current'
        step3State='inactive'
        type='Talk'
      }}

      {{talk-promotion-form
        talk=model
        listservs=listservs
        afterDiscard='afterDiscard'
        backToDetails='backToDetails'
        afterPromotion='afterPromotion'
      }}
    </div>

    {{talk-card-preview
      talk=model
      isPreview=true
      classNames='col-md-4'
    }}

  </div>
</div>
