module.exports = {
  "production": {
    "assets": {
      "accessKeyId": "",
      "secretAccessKey": "",
      "bucket": "subtext-consumer",
      "prefix": "dist",
      "distPrefix": "dist-{{SHA}}"
    },
    "index": {
      "app": "ux2",
      "endpoints": [
        "http://stage-ember.subtext.org"
      ]
    }
  }
};
