{{#x-card color=(if displayAsAdminIfAllowed "default" "warning")}}
  {{#card-body slimPadding=true center=true}}
    {{#if displayAsAdminIfAllowed}}
      You are a manager of this page.
      {{#x-button onClick=(action "toggleAdminCards") color="primary" style="link" size="medium"}}
        Click here to see how the page looks to the public.
      {{/x-button}}
    {{else}}
      <div>
        This is how your page looks to the public.
      </div>
      {{#x-button onClick=(action "toggleAdminCards") color="primary" size="x-small"}}
        Edit your Page
      {{/x-button}}
      {{#x-button onClick=(action "openOrangeButton") color="attention" size="x-small"}}
        Create a Post
      {{/x-button}}
    {{/if}}
  {{/card-body}}
{{/x-card}}
