<div class='MarketCTA-wrapper'>
  <div class='MarketCTA'>
    {{#link-to 'market.new'}}
      <span {{action (action 'trackClick')}}>
        <img src='{{imgUrl}}' class='img-responsive'>
      </span>
    {{/link-to}}
  </div>
</div>
