<div class='MarketCTA-wrapper'>
  <div class='MarketCTA'>
    {{#link-to 'market.new'}}
      <span {{action (action 'trackClick')}}>
        <img src='https://d3ctw1a5413a3o.cloudfront.net/Listserv+CTA+.png' class='img-responsive'>
      </span>
    {{/link-to}}
  </div>
</div>
