.JobsForms-Content {
  &.empty {
    .display-grid();
    .grid-template-columns(22px 1fr);
  }

  textarea {
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 26px;
    &:placeholder {
      color: @gray-medium
    }
  }

  &--length-indicator {
    text-align: right;
    font-size: 11px;
  }

  #content-clone {
    display: none;
    margin: 4px 0;
    white-space:pre-wrap;
  }
}
