.JobsForms-Owner {
  position: relative;

  &--loading {
    color: #ccc;
    .grid-column(2);

    &-icon {
      font-size: 36px;
      display: inline-block;
      margin-right: 8px;
    }

    &-text {
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
    }
  }
}
