.FeedCarousel-CtaCard {
  height: 100%;
  width: 200px;

  a:hover {
    color: @button-primary;
  }

  &-card {
    padding: 10px;
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: @button-primary;
    font-weight: bold;

    i {
      font-size: 30px;
    }
  }
}
