<div class='Container--noGutter'>
  {{content-form-header
    isNew=model.isNew
    createText='Create a Market Listing'
    updateText='Update Your Market Listing'
  }}

  <div class='row'>
    <div class='ContentForm-content col-md-8'>
      {{content-form-steps
        step1State='current'
        step2State='inactive'
        step3State='inactive'
        type='Market'
      }}

      {{market-form
        post=model
        afterDiscard='afterDiscard'
        afterDetails='afterDetails'
      }}
    </div>

    {{market-card-preview
      post=model
      isPreview=true
      classNames='col-md-4'
    }}
  </div>
</div>
