<div class='Container--noGutter'>
  <div class='row'>
    {{#content-form
      isNew=model.isNew
      type='market'
      class='col-md-9'
      step1State='current'
      step2State='inactive'
      step3State='inactive'
    }}
      {{market-form
        model=model
        afterDiscard='afterDiscard'
        afterDetails='afterDetails'
        formattedType='listing'
      }}
    {{/content-form}}

    <div class='col-md-3 hidden-sm'>
      <h1 class='ContentForm-previewHeader'>Preview</h1>
      {{market-card-preview
        post=model
        isPreview=true
      }}
    </div>

  </div>
</div>
