<div class="Container--noGutter">
  {{content-form-header
    isNew=model.isNew
    type="market"
    title=job
  }}

  <div class="row">
    {{content-form-steps
      step1State="complete"
      step2State="complete"
      step3State="current"
      type="Listing"
      class="ContentFormSteps--gray"
    }}
  </div>

  {{market-preview-summary
    model=(mut model)
    afterDiscard="afterDiscard"
    afterPublish="afterPublish"
  }}
</div>

{{#content-preview}}
  {{market-detail model=model isPreview=true}}
{{/content-preview}}
