{{#if hasImage}}
  {{#link-to-content model}}
    <div class="FeedCard-Image-image" style={{imageStyle}}></div>
  {{/link-to-content}}
  {{#if hasExcerpt}}
    <div class="FeedCard-Image-excerpt">
      {{{excerpt}}}
      {{#if showContinueReading}}
        <div class="FeedCard-Image-continue-reading">
          {{#link-to-content model}}
            ...Continue Reading
          {{/link-to-content}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/if}}
