{{#if hasImage}}
  {{#link-to routeName contentId (query-params eventInstanceId=eventInstanceId)}}
    <div class="FeedCard-Image-image" style={{imageStyle}}>
      {{#if hasExcerpt}}
        <div class="FeedCard-Image-gradient">
          <div class="FeedCard-Image-excerpt">
            {{excerpt}}
            {{#if showContinueReading}}
              <div class="FeedCard-Image-continue-reading">
                {{#link-to routeName contentId (query-params eventInstanceId=eventInstanceId)}}
                  ...Continue Reading
                {{/link-to}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  {{/link-to}}
{{/if}}
