{{#if hasImage}}
  {{#feed-card/conditional-link-to
    linkUrl=linkUrl
    model=model
    onContentClick=onContentClick
  }}
    <div class="FeedCard-Image-image" style={{imageStyle}}></div>
  {{/feed-card/conditional-link-to}}
  {{#if hasExcerpt}}
    <div class="FeedCard-Image-excerpt">
      {{{excerpt}}}
      {{#if showContinueReading}}
        <div class="FeedCard-Image-continue-reading" {{action onContentClick}}>
          {{#link-to-content model}}
            ...Continue Reading
          {{/link-to-content}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/if}}
