<article class="ListservForm-container">
  <header class='ListservForm-header'>
    <h1 class='uppercase-bold-condensed'>
      DailyUV
    </h1>
  </header>
  <div class='Container--noGutter'>
    <div class="row">
      {{#listserv-form
        type="manage"
      }}
        {{listserv-manage-form
          model=model
        }}
      {{/listserv-form}}
    </div>
  </div>
</article>
