<style>.PublisherAgreement a {text-decoration: underline; color: blue;}</style>


<div class="PublisherAgreement container">

  <h1 class="h2">SUBTEXT MEDIA PUBLISHER ADDENDUM</h1>

  <div style="margin-bottom:8px;">
    Last Modfiied: April 25, 2019
  </div>

  <div style="margin-bottom:8px;">
    This “Agreement” consists of the terms of this Publisher Addendum and the Subtext Media, Ltd. (“Subtext”) {{#link-to "terms" class="PublisherAgreement-link"}}Terms of Service{{/link-to}} (the “TOS”), which are incorporated herein by reference.
    In the event of a conflict, the terms and conditions of this Publisher Addendum will take precedence over the terms and conditions of the TOS.
    All capitalized terms that are not expressly defined in this Publisher Addendum will have the meanings given to them in the TOS.
  </div>

  <div style="margin-bottom:8px;">
    By clicking “I agree,” you agree to, and will be legally bound by, the terms of this Publisher Addendum.
    Your agreement qualifies “you,” as a “Publisher,” to publish User Content on the Services utilizing a dedicated “Publisher Interface” allotted to you subject to this Agreement.
    User Content that Publishers like you upload on the Services via the Publisher Interface is referred to as “Publisher Content.”
  </div>

  <div style="margin-bottom:8px;">
    If you are entering into this Agreement on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that entity to this Agreement.
    In that case, “you” and “your” will refer to that entity.
  </div>

  <div style="margin-bottom:8px;">
    This Agreement constitutes the complete and exclusive agreement between you and Subtext concerning its subject matter and supersedes all prior or contemporaneous agreements or understandings (including prior Publisher Addenda that you entered with Subtext), written or oral.
  </div>

  <div style="margin-bottom:8px;">
    <strong>PAID PUBLISHER REQUIREMENTS</strong>
  </div>

  <div style="margin-bottom:8px;">
    Publishers who complete the following are “Paid Publishers” and are eligible to receive payment in accordance with the Fees section below:
    (i) you provide Subtext with a signed, completed <a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf">W-9</a>, which you can securely upload by clicking this
    <a href="https://subtext.app.box.com/upload-widget/preview?folderID=53979474174&amp;title=Submit%20Your%20Files&amp;instructions=Please%20submit%20your%20files%20here%20for%20DailyUV%20(powered%20by%20Subtext%20Media).%20Thank%20you!&amp;isDescriptionFieldShown=0&amp;isEmailRequired=1&amp;width=385&amp;height=420&amp;token=6pp9xzee2j2a0xv6r1xa1m4sxbvd4ix7">link</a>;
    (ii) you take all steps requested by Subtext to receive payments successfully from Subtext by direct deposit.
    You will be considered a Paid Publisher, and Subtext will send all amounts due via direct deposit to an account specified by you, only upon completion of the foregoing steps.
    YOU ARE NOT ENTITLED TO ANY COMPENSATION UNDER THIS AGREEMENT, AND NONE SHALL ACCRUE, UNTIL YOU HAVE FULLY COMPLIED WITH THE ABOVE SUBSECTIONS AND THERE HAVE BEEN UNIQUE AD IMPRESSIONS (DEFINED BELOW) FOR YOUR PUBLISHER CONTENT AS CONTEMPLATED UNDER THIS AGREEMENT.
  </div>

  <div style="margin-bottom:8px;">
    <strong>FEES</strong>
  </div>

  <div style="margin-bottom:8px;">
    Subject to your compliance with the terms and conditions of the Agreement, including, but not limited to, the above requirements for Paid Publishers,
    Subtext will pay you for your Publisher Content on a per “Unique Ad Impression” basis, in accordance with the payment terms set forth in this Agreement.
  </div>

  <div style="margin-bottom:8px;">
    There are two presentations of your Publisher Content on the Services:
    (1) “Tile View” where summaries of Publisher Content show up in a feed or list with other content and
    (2) “Detail View” where an individual piece of Publisher Content shows up on its own and in its entirety as published.
  </div>

  <div style="margin-bottom:8px;">
    A “Unique Ad Impression” is a measure of the number of times a display advertisement appears within the Detail View of your Publisher Content.
    Each time a display advertisement appears within the Detail View of your Publisher Content is a single Unique Ad Impression.
    Detail Views by Subtext’s employees or agents, you, or any one of your agents do not generate Unique Ad Impressions.
  </div>

  <div style="margin-bottom:8px;">
    Subtext calculates compensation based on a monthly pay period.
    Total payments for all Publisher Content from all Publishers, including yourself, in each pay period will equal no less than fifty percent (50%) of the display advertising revenue earned from all Unique Ad Impressions during that pay period.
    Your individual pro rata share of that total payment in each pay period will be determined by the number of Unique Ad Impressions occurring within the Detail View of your Publisher Content -- as a percentage of all Unique Ad Impressions of all Publisher Content -- during that pay period.
  </div>

  <div style="margin-bottom:8px;">
    If we make a good faith determination that Unique Ad Impressions associated with certain Publisher Content are part of an abnormal or irregular pattern suggestive of inappropriate manipulation, we may adjust accordingly the number of Unique Ad Impressions associated with that Publisher Content.
    In cases where we determine, at our sole discretion, that your Publisher Content has been subject to excessive or persistent manipulation, we reserve the right to terminate this Agreement.
  </div>

  <div style="margin-bottom:8px;">
    All payments due under this Agreement are exclusive of taxes, duties, levies, tariffs, withholdings and other governmental charges (including, without limitation, VAT) (“Taxes”).
    You are responsible for payment of all Taxes due on payments made to you by Subtext under this Agreement.
    You will indemnify and hold Subtext harmless from any obligation to pay any Taxes, interest, penalties or other obligations imposed in connection with payments made hereunder.
  </div>

  <div style="margin-bottom:8px;">
    <strong>PAYMENT TERMS</strong>
  </div>

  <div style="margin-bottom:8px;">
    Within thirty (30) days after the end of each calendar month during the term of the Agreement, Subtext will
    (a) pay all fees due for the preceding month, and
    (b) provide access to a report specifying the basis for calculation of the fees owed for the preceding month.
    Payment is conditioned upon your completion of the requirements for Paid Publishers.
    YOU ARE NOT ENTITLED TO ANY COMPENSATION UNDER THIS AGREEMENT, AND NONE SHALL ACCRUE, UNTIL YOU HAVE COMPLETED THE REQUIREMENTS TO BE A PAID PUBLISHER AND THERE HAVE BEEN UNIQUE AD IMPRESSIONS FOR YOUR PUBLISHER CONTENT AS CONTEMPLATED UNDER THIS AGREEMENT.
  </div>

  <div style="margin-bottom:8px;">
    <strong>TERM</strong>
  </div>

  <div style="margin-bottom:8px;">
    This Agreement will begin on the date that you click on the button or interface marked “I agree” and will continue until October 31, 2019, unless terminated earlier as described below.
  </div>

  <div style="margin-bottom:8px;">
    <strong>TERMINATION</strong>
  </div>

  <div style="margin-bottom:8px;">
    We may terminate this Agreement or suspend your access to Publisher Interface, at our sole discretion, at any time and without notice to you.
    You may terminate this Agreement at any time by sending an email to us at <a href="mailto:dailyuv@subtext.org">dailyuv@subtext.org</a>.
  </div>

  <div style="margin-bottom:8px;">
    <strong>ADDITIONAL REPRESENTATIONS BY YOU</strong>
  </div>

  <div style="margin-bottom:8px;">
    You represent and warrant that:
    (a) you own the Publisher Content or otherwise have the rights necessary to grant the licenses granted in the Agreement;
    (b) the Publisher Content is not subject to any prior agreement, lien, encumbrance, or other claim or right that may interfere with the rights granted herein by you to Subtext;
    (c) Subtext’s use of the Publisher Content as contemplated by this Agreement will not infringe, misappropriate, or violate any third party’s intellectual property rights, rights of publicity or privacy, or any applicable law or regulation;
    (d) the Publisher Content does not violate the TOS; and
    (e) you have the full power and authority to enter into this Agreement and to perform your obligations; and
    (f) the execution and performance of this Agreement will not conflict with or result in a material breach of the terms of any other agreement to which you are a party.
  </div>

</div>
