<style>
.PublisherAgreement-link {text-decoration:underline; color:blue;}
</style>

<div style="max-width: 600px;margin:0 auto;">

  <h1 style="text-align:center;">Authorized Publisher Agreement</h1>

  <div style="margin-bottom:8px;">
    This Agreement designates you as an “Authorized Publisher” to publish content (“Publisher Content”) on DailyUV.com (“DailyUV”), a website owned and operated by Subtext Media, Ltd. (“Subtext” or “Us”).
    It also defines the compensation you may receive from Subtext for your Publisher Content.
  </div>

  <div style="margin-bottom:8px;">
    This Agreement is subject to - and you agree to be bound by - our {{#link-to "terms" class="PublisherAgreement-link"}}Terms of Service{{/link-to}}.
    You understand that DailyUV is only a digital platform and that you bear all responsibility for the Publisher Content you publish on our platform.
  </div>

  <div style="margin-bottom:8px;">
    <b>Compensation:</b> Subtext will compensate you for your Publisher Content created under this Agreement per “Unique Ad Impression” as defined in our {{#link-to "terms" class="PublisherAgreement-link"}}Terms of Service{{/link-to}}.
  </div>

  <div style="margin-bottom:8px;">
    Subtext calculates compensation based on a monthly pay period.
    Total payments for all Publisher Content from all sources in each pay period will equal one hundred percent (100%) of the Display Advertising Revenue earned from Display Ads appearing beside all Publisher Content on DailyUV during that pay period.
    Your individual pro-rata share of that total payment in each pay period will be determined by the number of Unique Ad Impressions your Publisher Content received -- as a percentage of all Unique Ad Impressions of all Publisher Content -- during that pay period.
  </div>

  <div style="margin-bottom:8px;">
    <b>Payment:</b> You are not entitled to any compensation under this Agreement -- and none shall accrue -- until you have provided us with the necessary tax and direct deposit documentation we require to calculate and process publisher payments.
    We will send you instructions on completing these steps once your blog is live.
  </div>

  <div style="margin-bottom:8px;">
    <b>Termination:</b> This Authorized Publisher Agreement will terminate on April 30, 2019, unless previously terminated pursuant to the {{#link-to "terms" class="PublisherAgreement-link"}}Terms of Service{{/link-to}}.
    Subtext may also terminate this Publisher Agreement in the event that you fail to submit any Publisher Content in any 90-day period.
  </div>

  <div style="margin-bottom:8px;">
    This Authorized Publisher Agreement supersedes any prior Publisher Agreements between us.
    All such prior agreements are hereby terminated and this Agreement is the only one in effect.
  </div>
</div>
