{{#media-container centerVertically=true noMargin=true as |media|}}
  {{#media.object}}
    {{avatar-image
      imageUrl=imageUrl
      userName=authorName
      customSize=32
    }}
  {{/media.object}}
  {{#media.content}}
    {{#if authorName}}
      <span data-test-author-name>{{authorName}}</span>
    {{/if}}
    {{#if (and authorName organizationName)}}
      <br/>
    {{/if}}
    {{#if organizationName}}
      {{organizationName}}
    {{/if}}
    {{#if postedTime}}
      <br/>
      Posted {{postedTime}}
    {{/if}}
  {{/media.content}}
{{/media-container}}
