
  {{#link-to (if routeName routeName 'market.show') post.id
    classNameBindings="isSimilarContent:SimilarContentLink"
    data-test-link='show'
  }}
    <div {{action (action onTitleClick)}}>
      <span {{action (action trackSuggestedContentClick)}}>
        {{yield}}
      </span>
    </div>
  {{/link-to}}
