<div class='container'>
  {{event-form-header isNew=model.isNew}}

  <div class='row'>
    <div class='EventForm-content col-md-8'>
      {{event-steps
        step1State='current'
        step2State='inactive'
        step3State='inactive'
      }}

      {{event-form
        event=model
        afterDiscard='afterDiscard'
        afterDetails='afterDetails'
      }}
    </div>

    {{event-card-preview
      event=model
      isPreview=true
      classNames='EventCardPreivew col-md-4'
    }}
   
  </div>
</div>
