<div class='Container--noGutter'>
  <div class='row'>
    {{#content-form
      type='event'
      class='col-md-9'
      step1State='current'
      step2State='inactive'
      step3State='inactive'
    }}
      {{event-form
        model=model
        afterDiscard='afterDiscard'
        afterDetails='afterDetails'
        formattedType='event'
      }}
    {{/content-form}}

    <div class='col-md-3'>
      <h1 class='ContentForm-previewHeader'>Preview</h1>
      {{event-card-preview
        event=model
        isPreview=true
      }}
    </div>

  </div>
</div>
