<div class='row'>
  <div class='EventForm-content col-md-8'>
    {{event-steps
      step1State='current'
      step2State='inactive'
      step3State='inactive'
    }}
    {{event-form
      event=model
      afterDiscard='afterDiscard'
      afterSave='afterSave'
      class='EventForm-stepContent'
    }}
  </div>
  <div class='EventCardPreview col-md-4'>
    <h4 class='EventCardPreview-header'>Live Preview</h4>
    <p class='EventCardPreview-subtitle'>
      This is what your Event Listing Summary will look like!
    </p>

    {{event-card-preview
      event=model
    }}
  </div>
</div>
