<div class='row'>
  <div class='EventForm-content col-md-8'>
    <div class='EventSteps-steps'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='EventSteps-step'>
            <div class='EventSteps-stepCount'>1</div>
            <h4 class='EventSteps-stepTitle'>Event Details</h4>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='EventSteps-step'>
            <div class='EventSteps-stepCount'>2</div>
            <h4 class='EventSteps-stepTitle'>Promote Event</h4>
          </div>
        </div> 
        <div class='col-md-4'>
          <div class='EventSteps-step'>
            <div class='EventSteps-stepCount'>3</div>
            <h4 class='EventSteps-stepTitle'>Preview & Publish</h4>
          </div>
        </div>
      </div>
    </div>
    {{event-form
      event=model
      afterDiscard='afterDiscard'
      afterSave='afterSave'
      class='EventForm-stepContent'
    }}
  </div>
  <div class='EventCardPreview col-md-4'>
    <h4 class='EventCardPreview-header'>Live Preview</h4>
    <p class='EventCardPreview-subtitle'>
      This is what your Event Listing Summary will look like!
    </p>

    {{event-card-preview
      event=model
    }}
  </div>
</div>
