<div class='Container--noGutter'>
  {{content-form-header
    isNew=model.isNew
    createText='Create an Event'
    updateText='Update Your Event'
  }}

  {{content-form-steps
    step1State='complete'
    step2State='complete'
    step3State='current'
    type='Event'
    class='ContentFormSteps--gray'
  }}

  {{event-preview-summary
    model=model
    afterDiscard='afterDiscard'
    afterPublish='afterPublish'
  }}

</div>

{{#content-preview}}
  {{partial 'events/show'}}
{{/content-preview}}
