<div class='container'>
  {{event-form-header isNew=model.isNew}}

  {{event-steps
    step1State='complete'
    step2State='complete'
    step3State='current'
    class='EventSteps--gray'
  }}

  {{event-preview-summary
    model=model
    afterDiscard='afterDiscard'
    afterPublish='afterPublish'
  }}

</div>

{{event-preview model=model}}
