<div class='container'>
  <h1 class='EventForm-header'>Create an Event</h1>
  {{event-steps
    step1State='complete'
    step2State='complete'
    step3State='current'
    class='EventSteps--gray'
  }}

  {{event-preview-summary
    model=model
    afterDiscard='afterDiscard'
    afterPublish='afterPublish'
  }}

</div>

{{event-preview model=model}}