<div class='Container--noGutter'>
  {{content-form-header
    isNew=model.isNew
    title=job
    type='event'
  }}

  <div class='row'>
    {{content-form-steps
      step1State='complete'
      step2State='complete'
      step3State='current'
      type='Event'
      class='ContentFormSteps--gray'
    }}
  </div>

  {{event-preview-summary
    model=model
    afterDiscard='afterDiscard'
    afterPublish='afterPublish'
  }}

</div>

{{#content-preview}}
  {{event-detail model=model isPreview=true}}
{{/content-preview}}
