<div class='Container--noGutter'>
  <div class='row'>
    {{#content-form
      isNew=model.isNew
      type='event'
      class='col-md-9'
      step1State='complete'
      step2State='current'
      step3State='inactive'
    }}
      {{event-promotion-form
        event=model
        listservs=listservs
        afterDiscard='afterDiscard'
        backToDetails='backToDetails'
        afterPromotion='afterPromotion'
      }}
    {{/content-form}}

    {{#unless media.isMobile}}
      <div class='col-md-3 hidden-sm'>
        <h1 class='ContentForm-previewHeader'>Preview</h1>
        {{event-card-preview
          event=model
          isPreview=true
        }}
      </div>
    {{/unless}}
  </div>
</div>
