<div class='container'>
  {{event-form-header isNew=model.isNew}}

  <div class='row'>
    <div class='EventForm-content col-md-8'>
      {{event-steps
        step1State='complete'
        step2State='current'
        step3State='inactive'
      }}

      {{event-promotion-form
        event=model
        listservs=listservs
        afterDiscard='afterDiscard'
        backToDetails='backToDetails'
        afterPromotion='afterPromotion'
      }}
    </div>
    
    {{event-card-preview
      event=model
      isPreview=true
      classNames='EventCardPreivew col-md-4'
    }}
    
  </div>
</div>
