<div class='Container--noGutter'>
  {{content-form-header
    isNew=model.isNew
    createText='Create an Event'
    updateText='Update Your Event'
  }}

  <div class='row'>
    <div class='ContentForm-content col-md-8'>
      {{content-form-steps
        step1State='complete'
        step2State='current'
        step3State='inactive'
        type='Event'
      }}

      {{event-promotion-form
        event=model
        listservs=listservs
        afterDiscard='afterDiscard'
        backToDetails='backToDetails'
        afterPromotion='afterPromotion'
      }}
    </div>

    {{event-card-preview
      event=model
      isPreview=true
      classNames='col-md-4'
    }}

  </div>
</div>
