<div class="ChannelFilters-navigation">
  {{#subtitle-text strong=true inline=true lighten=true class='hidden-xs'}}
    Show:
  {{/subtitle-text}}
  {{#x-link-to 'dashboard' color='primary' style='outline' xsSize='x-small'}}
    <span onclick={{action 'trackMyStuff'}} data-test-action='my-stuff'>
      My&nbsp;Stuff
    </span>
  {{/x-link-to}}
</div>

<div class="ChannelFilters-filters">
  {{#if filterComponent}}
    {{component filterComponent}}
  {{else}}
    {{yield}}
  {{/if}}
</div>
