<div class="ChannelFilters-navigation">
  {{#subtitle-text strong=true inline=true lighten=true class='hidden-xs'}}
    Show:
  {{/subtitle-text}}
  {{#x-link-to 'dashboard' color='primary' style='outline' xsStyle='gray' xsSize='x-small'}}
    <span onclick={{action 'trackMyStuff'}}>
      My Stuff
    </span>
  {{/x-link-to}}
</div>

<div class="ChannelFilters-filters">
  {{yield}}
</div>
