<div class="ChannelFilters-navigation">
  {{#subtitle-text strong=true inline=true lighten=true class='hidden-xs'}}
    Show:
  {{/subtitle-text}}
  {{#x-button color='primary'
              active=isMyStuffOnly
              style=(if isMyStuffOnly 'regular' 'outline')
              xsStyle=(if isMyStuffOnly 'lighten' 'gray')
              xsSize='x-small'
              onClick=(action 'chooseMyStuffOnly')}}
    <span data-test-action='my-stuff'>My Stuff</span>
  {{/x-button}}
</div>

<div class="ChannelFilters-filters">
  {{#if filterComponent}}
    {{component filterComponent}}
  {{else}}
    {{yield}}
  {{/if}}
</div>
