{{#modal-wrapper isSmall=true close=(action "close") class="SignInRegisterModal"}}
  <div class="SignInRegisterModal-logo">
    {{brand-logo}}
  </div>
  {{sign-in
    afterAuthenticate=(action "didSignIn")
    alternateSignInMessage=alternateSignInMessage
  }}
{{/modal-wrapper}}
