{{#modal-wrapper isSmall=true close=(action "close") class="SignInRegisterModal"}}
  <div class="SignInRegisterModal-logo">
    {{brand-logo}}
  </div>
  {{sign-in
    alternateSignInMessage=alternateSignInMessage
    afterAuthenticate=(action "afterAuthenticate")
    signInModule=(if isRegister "register" "sign-in-with-password")
  }}
{{/modal-wrapper}}
