<div class="Container--noGutter">
  <div class="col-xs-12">
    <div class="row text-center">

      {{promotion-coupon coupon=model}}

      {{promotion-coupon-cta coupon=model}}

    </div>

  </div>
</div>
