<div class="BizFeed-CreateButton-create-button" {{action 'toggleShowOptions'}}>
  <span>Create Content</span>
  <span>{{fa-icon (if showOptions 'chevron-up' 'chevron-down')}}</span>
</div>

{{#if showOptions}}
  {{#click-outside action=(action 'toggleShowOptions') class='dropdown-menu open'}}
    <div class="BizFeed-CreateButton-create-button-in-dropdown">
      {{#link-to 'events.new.details' (query-params organization_id=organization.id)}}
          <span>Event</span>
      {{/link-to}}
    </div>
    <div class="BizFeed-CreateButton-create-button-in-dropdown">
    {{#link-to 'market.new.details' (query-params organization_id=organization.id)}}
        <span>Market</span>
    {{/link-to}}
    </div>
    {{#if organization.canPublishNews}}
      <div class="BizFeed-CreateButton-create-button-in-dropdown">
        {{#link-to 'news.new' (query-params organization_id=organization.id)}}
            <span>News</span>
        {{/link-to}}
      </div>
    {{/if}}
  {{/click-outside}}
{{/if}}
