<div class='clearfix'>
  <div class='pull-left'>
    showing {{model.length}} of {{totalEvents}} events
  </div>
  <button class='btn btn-default pull-right'>Create an event</button>
</div>

<ul>
  {{#each event in model}}
    <li>
      {{link-to event.title 'events.show' event.id}}
    </li>
  {{/each}}
</ul>
