<div class='container'>
  <div class='pull-left FilterBar-count'>
    {{#if model}}
      showing {{model.length}} of {{totalEvents}} events
    {{/if}}
  </div>

  {{#link-to 'events.new.details' class='btn btn-default pull-right' tagName='button'}}
    Create an event
  {{/link-to}}
</div>

{{#if model}}
  {{grouped-events
    events=model
    category=category
    query=query
    startDate=startDate
    stopDate=stopDate
    location=location
  }}
{{else}}
  <div class='container text-center well'>
    <p>I can't believe it. No one is hosting an event that matches your search.</p>
    <p>You could try tweaking your search for another event or&hellip;</p>
    <p>Seize the opportunity and host your own</p>
  </div>
{{/if}}
