<div class="container">
  <div class="row">
    <div class="AuthForm-wrapper">
      <div class="col-md-8 col-md-offset-2">
        <div class="AuthForm">
          <div class="AuthForm-header u-textCentered">
            <h1 class="AuthForm-title h2">You're almost there!</h1>
          </div>

          <div class="AuthForm-body">
            <div class="AuthForm-form">
              <p class="h3">We’ve sent a message with a confirmation link to your email address.</p>
              <p class="h3"><b>Please check your email and click on the link to activate your account</b>.</p>

              <p class="h3">
                If the message hasn't appeared in a few minutes, please check your spam folder,<br>or click
                {{#link-to "register.reconfirm" class="u-textUnderline"}}here{{/link-to}} to resend.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
