<div class='container Section'>
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2 u-textCentered'>
      <h1>
        You're almost there!
      </h1>
      <p>
        We’ve sent a message with a confirmation link to your email address. 
        Please check your email and click on the link to activate your account.
      </p>
      <h3>There’s no need to hit “Join” again.</h3>
      <p>
        If the message hasn't appeared in a few minutes, please check your spam folder.<br>
        {{#link-to "register.reconfirm" class='u-textUnderline'}}Click here to resend{{/link-to}}
      </p>
    </div>
  </div>
</div>
