<div class='container Section'>
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2 u-textCentered'>
      <h1>
        Thank you!
      </h1>
      <h5>
        For security purposes, a message with a confirmation link has been
        sent to your email address. Please check your email and click on the
        link to activate your account.

        If the message hasn't appeared in a few minutes,
        please check your spam folder.
      </h5>
    </div>
  </div>
</div>
