<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-push-2 u-textCentered">
      <div class="AuthForm">
        <div class="AuthForm-header">
        </div>
        <div class="AuthForm-body">
          <div class="AuthForm-form">
            <h1 class="AuthForm-title h2">Oh no, an error occurred!</h1>
            <p class="h3">There was an error confirming your email address. Please contact support.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
