<div class='container Section'>
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2 u-textCentered'>
      <h1>
        Oh no, an error occurred!
      </h1>
      <h5>
        There was an error confirming your email address. Please contact support.
      </h5>
    </div>
  </div>
</div>
