<div class="container">
  <div class="row">
    <div class="AuthForm">
      <div class="col-md-8 col-md-push-2">
        <div class="AuthForm">
          <div class="AuthForm-header">
            <h1  class="AuthForm-title h2">Resend email confirmation</h1>
          </div>

          <div class="AuthForm-body">
            <div class="AuthForm-form">
              <p  class="AuthForm-subTitle h3">Please Enter your email address</p>

              {{#form-group error=error}}
                {{debounced-input
                  debounceWait=300
                  value=email
                  type="email"
                  placeholder="Email Address"
                  class="form-control"
                }}
              {{/form-group}}

              {{x-async-button
                promiseAction=(action "reconfirm")
                default="Send Confirmation Email"
                pending="Sending Now"
                fulfilled="Confirmation Sent"
                rejected="Please try again"
                class="Button Button--primary btn u-layoutPadB40"
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
