{{#if showTextSnippet}}
  {{{textSnippet}}}
  {{#if showContinueReading}}
    <div class="FeedCard-TextSnippet-continue-reading">
      {{#link-to-content model}}
        ...Continue Reading
      {{/link-to-content}}
    </div>
  {{/if}}
{{else}}
  <div class="FeedCard-TextSnippet-text-box">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus sit amet diam magna. Vivamus scelerisque venenatis purus, vitae consectetur risus egestas ut.
    Orci varius natoque penatibus et magnis dis.
  </div>
  <div class="FeedCard-TextSnippet-signin-box">
    You need to <span class="FeedCard-TextSnippet-signin-button" {{action 'showSignInMenu'}}>sign-in</span> to read Community Discussion posts
  </div>
{{/if}}
