<div class='col-xs-12 col-md-8'>
  {{outlet}}
</div>

<div class='col-xs-12 col-md-4'>
  {{google-map locations=locations}}

  <div class='row'>
    <div class='col-xs-12'>
      <!-- TODO replace this working with Watt's from the Invision prototype comments -->
      <a href='#'>Are we missing a business or service?</a>
    </div>
  </div>
</div>

