<div style='width: 65%; height:2000px;float:left;'>
  {{outlet}}
</div>

<div style='width:35%;height:400px;border:1px solid green;float:left; background: #DEEADE;'>
  hi i'm the google map!
</div>

<div>
  <!-- TODO replace this working with Watt's from the Invision prototype comments -->
  <a href='#'>Are we missing a business or service?</a>
</div>
