<div style='width: 65%; height:2000px;float:left;'>
  {{outlet}}
</div>

<div style='width:35%;height:400px;float:left'>
  {{google-map locations=locations}}
</div>

<div>
  <!-- TODO replace this working with Watt's from the Invision prototype comments -->
  <a href='#'>Are we missing a business or service?</a>
</div>
