<div class='col-xs-12 col-md-8'>
  {{liquid-outlet}}
</div>

<div class='col-xs-12 col-md-4 FloatingSideMap'>
  {{#floating-side-column enabled=media.isDesktop}}
    {{google-map locations=locationsToRender}}

    <div>
    <h2>Help us build this directory</h2>
    <button class='btn DirectoryButton darker' {{action 'showBusinessProfileForm'}}>Submit a missing business</button>
    </div>
  {{/floating-side-column}}
</div>

{{#if newBusinessProfile}}
  {{#modal-wrapper close=(action 'cancelBusinessProfileForm')}}
    {{business-profile-form
    model=newBusinessProfile
    categories=businessCategories
    save='savedBusinessProfileForm'
    cancel='cancelBusinessProfileForm'
    }}
  {{/modal-wrapper}}
{{/if}}