<div class='col-xs-12 col-md-8'>
  {{liquid-outlet}}
</div>

<div class='col-xs-12 col-md-4'>
  {{google-map locations=locationsToRender}}
  <a href='#' {{action 'contactUs'}}>Are we missing a business or service?</a>
</div>
