  <div class='Card-imageContainer'>
    {{#link-to (if routeName routeName 'news.all.show') item.id (query-params ctype='news')}}
      <div class='Card-image img-responsive' style="background-image: url({{if item.imageUrl item.imageUrl item.organization.logoUrl}})"></div>
    {{/link-to}}
  </div>

  <div class='Card-content'>
    <div class='Card-titleGroup'>
      <h2 class='Card-title'>
        {{#link-to (if routeName routeName 'news.all.show') item.id (query-params ctype='news') data-test-link=item.title}}
          {{item.title}}
        {{/link-to}}
      </h2>

      {{#link-to 'organization-profile'
        item.organization.slug
        class='Card-organization'
        tagName='a'
        data-test-component="organization-link"
      }}
        {{item.organizationName}}
      {{/link-to}}
    </div>

    <div class='Card-snippet u-textThreeLineTruncate'>
      {{{content}}}
    </div>
  </div>
