.Myfeed {
  &--signin {
    background: #fff;
    width: 100%;

    &-box {
      max-width: 400px;
      margin: 0 auto;
      padding: 8px 16px;
    }
  }

  &--no-posts {
    text-align: center;
    margin-top: 24px;
    background: #fff;
    padding: 16px;
    .feed-card-box-shadow;
    
    &-buttons {
      text-align: center;
    }
  }
}
