.Startablog {

  &--container {
    max-width: 500px;
    margin:0 auto;
  }

  &--contact-box {
    text-align: center;
    .display-grid();
    .grid-template-columns(1fr 1fr);
  }

  &--bottom-padding {
    height: 1000px;
    width: 100%;
  }
}
