.Startablog {

  &--loading {
    text-align: center;
    margin-top: 80px;
    i {
      font-size: 50px;
    }
    &-text {
      font-size: 24px;
    }
  }

  &--container {
    max-width: 500px;
    margin:0 auto;
  }

  &--contact-box {
    text-align: center;
    .display-grid();
    .grid-template-columns(1fr 1fr);
  }

  &--intro {
    &.hidden {
      display: none !important;
    }
  }

  &--mobile-block {
    text-align: center;
    padding: 16px 8px;
    line-height: 1.2;

    &-message {
      font-weight: bold;
      margin-bottom: 16px;
      text-align: left;
      padding: 0 8px;
    }
  }

  &--bottom-padding {
    height: 1000px;
    width: 100%;
  }
}
