.Storytellers {

  &-background-image {
    background-image: url(http://d3ctw1a5413a3o.cloudfront.net/content/930443/304911958b7abe07-blob.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  
  &-floating {
    &-card {
      margin: 6px 0;
      text-align: center;
    }
    &-title {
      color: #fff;
      font-size: 52px;
      line-height: 1;
      font-weight: bold;
      margin-top: 20px;
    }
    &-subtitle {
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
    }
  }

  &-cta-wrap {
    text-align: center;
  }

  &-cta {
    display: block;
    text-align: center;
      margin-top: 10px;
    &-link {
      font-size: 16px;
      font-weight: bold;
      a {
        color: #3DA0E5;
      }
    }
  }

  &-description-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  &-continue-reading {
    cursor: pointer;
    font-weight: bold;
    color: #409FE3;
  }

  &-feed {
    width: 100%;
    margin: 4px auto;
    padding: 0;

    @media (min-width: 500px) {
      max-width: 500px;
      padding: 0;
    }

    .Truncate {
      dipslay: inline-block;
    }

    .FeedCard-OrganizationCard,
    .XCard {
      margin-bottom: 10px;
    }
  }

  &--see-more,
  &--services {
    display: inline-block;
    color: #409FE3;

    a {
      color: #409FE3;
      cursor: pointer;
      font-weight: bold;
    }

    a:hover {
      text-decoration: none;
      color: #409FE3;
    }
  }

  &--see-more {
    width: 100%;
    text-align: center;
  }
}
