<div class='{{if hasBlock 'hidden'}}'>
  {{#form-group error=error}}
    <label class='control-label' for="image">
      Image
    </label>
    {{file-input fileError=(action 'fileError') allowedExtensions='.jpg,.jpeg,.png' inputClass='form-control ContentForm-fileField' action=(action "filesSelected")}}
    <span class="help-block ContentForm-helpText">Format: .jpg or .png  // Size: under 5MB</span>
  {{/form-group}}
</div>

<div class='form-group' class={{unless displayJSCropper 'hidden'}}>
  <img class='img-responsive js-Cropper-image'>
</div>

{{#if hasBlock}}
  {{yield originalImageFile}}
{{/if}}
