.Mystuff-CommentCard {
  &-card {
    padding: 8px;
    line-height: 1.1;
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: solid 1px #ECF2F5;
  }

  .Comment {
    margin-bottom: 0;
    padding-top: 8px;
  }
}
