<div class='Container--noGutter'>
  <div class='row'>
    <div class='col-xs-12 col-md-8 col-md-push-2'>
        <div class='ChannelTopper clearfix'>
          {{#if media.isMobile}}
            <h1 class='h2 ChannelTopper-title'>Local Market</h1>
          {{/if}}

          {{content-create-button
            class='SectionNavigation-contentCreateButtonMobile pull-right'
            path='market.new.details'
          }}
        </div>
    </div>
  </div>
</div>

{{#if model}}
  {{sorted-market-posts
    marketPosts=model
  }}

  <div class='Container--noGutter'>
    <div class='row'>
      <div class='col-xs-12 col-md-8 col-md-push-2'>
        <div class='PaginationNav-wrapper'>
          <div class='PaginationNav PaginationNav--bottom'>
            {{partial 'partials/pagination-nav'}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
