<div class='NewsCard ContentGrid-item'>
  <div class='NewsCard-imageContainer'>
    <img src="http://placehold.it/1600x900" class='NewsCard-image'>
  </div>
  <div class='NewsCard-content'>
    <h4 class='Card-title'>News Item</h4>
    <div class='NewsCard-subtitle'>
      <div class='NewsCard-date'>04/04/2016</div>
      <a href="" class='NewsCard-Organization'>a sub heading</a>
    </div>
    <div class='NewsCard-snippet'>
      ut aut repellendus saepe totam occaecati est culpa sunt voluptates debitis 
    </div>
  </div>
</div>
<div class='NewsCard ContentGrid-item'>
  <div class='NewsCard-imageContainer'>
    <img src="http://placehold.it/1600x900" class='NewsCard-image'>
  </div>
  <div class='NewsCard-content'>
    <h4 class='Card-title'>News Item</h4>
    <div class='NewsCard-subtitle'>
      <div class='NewsCard-date'>04/04/2016</div>
      <a href="" class='NewsCard-Organization'>a sub heading</a>
    </div>
    <div class='NewsCard-snippet'>
      ut aut repellendus saepe totam occaecati est culpa sunt voluptates debitis 
    </div>
  </div>
</div>
<div class='NewsCard ContentGrid-item'>
  <div class='NewsCard-imageContainer'>
    <img src="http://placehold.it/1600x900" class='NewsCard-image'>
  </div>
  <div class='NewsCard-content'>
    <h4 class='Card-title'>News Item</h4>
    <div class='NewsCard-subtitle'>
      <div class='NewsCard-date'>04/04/2016</div>
      <a href="" class='NewsCard-Organization'>a sub heading</a>
    </div>
    <div class='NewsCard-snippet'>
      ut aut repellendus saepe totam occaecati est culpa sunt voluptates debitis 
    </div>
  </div>
</div>
<div class='NewsCard ContentGrid-item'>
  <div class='NewsCard-imageContainer'>
    <img src="http://placehold.it/1600x900" class='NewsCard-image'>
  </div>
  <div class='NewsCard-content'>
    <h4 class='Card-title'>News Item</h4>
    <div class='NewsCard-subtitle'>
      <div class='NewsCard-date'>04/04/2016</div>
      <a href="" class='NewsCard-Organization'>a sub heading</a>
    </div>
    <div class='NewsCard-snippet'>
      ut aut repellendus saepe totam occaecati est culpa sunt voluptates debitis 
    </div>
  </div>
</div>
<div class='NewsCard ContentGrid-item'>
  <div class='NewsCard-imageContainer'>
    <img src="http://placehold.it/1600x900" class='NewsCard-image'>
  </div>
  <div class='NewsCard-content'>
    <h4 class='Card-title'>News Item</h4>
    <div class='NewsCard-subtitle'>
      <div class='NewsCard-date'>04/04/2016</div>
      <a href="" class='NewsCard-Organization'>a sub heading</a>
    </div>
    <div class='NewsCard-snippet'>
      ut aut repellendus saepe totam occaecati est culpa sunt voluptates debitis 
    </div>
  </div>
</div>
