<article class="ListservForm-container text-center">
  <header class='ListservForm-header'>
    <h1 class='uppercase-bold-condensed h1'>Send As-Is</h1>
  </header>
  <div class='ListservForm'>
    {{#if error}}
      <h1>Oops</h1>
      <p class='alert alert-warning' data-test-error-message>{{error}}</p>
    {{else}}
      <h1>You're all set!</h1>
      <p>You have verified this post. Thank you!</p>
      <p>
        Your post will appear in tomorrow's {{model.listserv.name}} digest,
        but not on the {{#link-to 'index' class='u-textUnderline'}}DailyUV {{if features.listserv-user-testing 'TEST'}} website{{/link-to}}.
      </p>
    {{/if}}
  </div>
</article>
