<article class="ListservForm-container">
  <header class='ListservForm-header'>
    <h1 class='uppercase-bold-condensed'>
      DailyUV
    </h1>
  </header>
  <h1 style="text-align:center;">
    Posting your content...
  </h1>
  {{x-loader}}
</article>
