<h1 class='OrganizationAbout-title'>
  About
  {{model.name}}
</h1>
<img src={{model.logo}} data-test-organization-image class='OrganizationAbout-avatar'>
<p class='OrganizationAbout-description' data-test-organization-description>
  {{model.description}}
</p>
