<div class="text-right">
  <button class="Button Button--primary Button--{{listservContent.channelType}}" {{action form.submit}} data-test-action='next-step'>
    Next
    {{fa-icon 'arrow-right'}}
  </button>
</div>
