<div class="text-right">
  <button class="Button Button--primary Button--{{listservContent.channelType}}" {{action form.submit}} data-test-listserv-content-submit-enhance>
    Preview Post
    {{fa-icon 'arrow-right'}}
  </button>
</div>
