<div class="text-right">
  <button class="Button Button--primary Button--{{listservContent.channelType}}" {{action form.submit}} data-test-action='next-step'>
    Next&nbsp;&nbsp;{{fa-icon 'chevron-right'}}
  </button>
</div>
