<div class='PromotionSection PromotionSection--disclaimer u-layoutPadT20'>
  <p class='PromotionSection-description'>
    Please follow the subscription <a href='http://lists.vitalcommunities.org/lists/lists'>information, rules and guidelines</a> for all Vital Communities-sponsored community listservs.
  </p>
</div>
