<div class="PromotionSection PromotionSection--disclaimer u-layoutPadT20">
  <p class="PromotionSection-description">
    Please follow the subscription <a href="http://vitalcommunities.org/community-discussion-lists/" target="_blank" rel="noopener noreferrer">information, rules and guidelines</a>
    for all Vital Communities-sponsored community listservs.
    If you do not, it's likely your listserv post will bounce or be rejected by the Vital Communities list moderators.
  </p>
</div>
