<div>
  {{#if relatedPromotion.redirect_url}}
    {{#if relatedPromotion.image_url}}
      <a href='{{relatedPromotion.redirect_url}}' target='_blank'>
        <img class='img-responsive RelatedPromotion' src='{{relatedPromotion.image_url}}'>
      </a>
    {{/if}}
  {{else if relatedPromotion.image_url}}
    <img class='img-responsive RelatedPromotion' src='{{relatedPromotion.image_url}}'>
  {{/if}}
</div>
