//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-default-color:              @text-color;
@btn-default-bg:                 #fff;
@btn-default-border:             @brand-primary;

@btn-primary-color:              @text-color;
@btn-primary-border:             @brand-primary;