@body-bg: white;
@secondary-bg: #EFEFEF;

@gray-dark: #6C6A6A;
@gray-medium: #979797;
@gray-light: #F1F1F1;

@gray-banner: #7F7F7F;

@market-brand: #C0E248;
@talk-brand: #FFA382;
@event-brand: #F6D73F;
@news-brand: #69C2F8;
@promotion-brand: #E6C2EA;
@business-brand: @gray-medium;

@text-color: #000;
@brand-primary: #000;

@bg-error: #f2dede;
