@body-bg: #FFF;
@secondary-bg: #EFEFEF;

// TODO: remove this. It's used in a bunch of places and we need to figure
// out if it's a custom color or one of the other grays.
@gray-medium: #999999;

@gray-dark: #6C6A6A;
@gray-light: #F1F1F1;

@market-brand: #C0E248;
@talk-brand: #FFA382;
@event-brand: #F6D73F;
@news-brand: #69C2F8;

@text-color: #000;
@brand-primary: #000;

