@body-bg: white;
@secondary-bg: #ECF2F5;

@gray-dark: #797a7d;
@gray-medium: #979797;
@gray-light: #F1F1F1;

@gray-banner: #7F7F7F;

@market-brand: #FF6E37;
@talk-brand: #FFA382;
@event-brand: #F6D73F;
@news-brand: #69C2F8;
@promotion-brand: #E6C2EA;
@directory-brand: #3dce72;
@business-brand: @gray-medium;

@text-color: #000;
@brand-primary: #000;
@brand-danger: #a94442;
@brand-warning: lightyellow;

@bg-error: #f2dede;

// TODO we should define an actual global link color
// for the site. The variable below if overridden will
// allow us to do that.
// @link-color: blue;

// For now, using this variable so we can use the
// new link color selectively.
@link-color-new: #4DA2D5;

@button-primary: #3DA0E5;

@brand-attention: #F55F23;

@filter-tag: #337ab7;
