//== Forms
//
//##

//** Text color for `<input>`s
@input-color:                    @text-color;
//** `<input>` border color
@input-border:                   @gray-medium;

// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            0;
//** Large `.form-control` border radius
@input-border-radius-large:      0;
//** Small `.form-control` border radius
@input-border-radius-small:      0;

//** Border color for inputs on focus
@input-border-focus:             #66afe9;

//** Placeholder text color
@input-color-placeholder:        @gray-dark;

//** Default `.form-control` height
@input-height-base:              50px;

//** `.form-group` margin
@form-group-margin-bottom:       20px;
