//== Typography
//


// Available weights and styles for Museo Slab
//
// 100, 300, 500, 700, 900, 1000
//

@font-family-base: 'Museo Slab', Georgia, Palatino, serif;

@font-family-sans-serif: 'Proxima Nova', Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
