//== Typography
//

// Available weights and styles from Typekit
//
// Proxima Nova, 'proxima-nova'
// 700
//
// Museo Slab, 'museo-slab'
// 300, 300 italic, 500, 700, 900
//
// Museo Sans, 'museo-sans'
// 300, 500, 700

@font-family-base: 'proxima-nova', Arial, Helvetica, sans-serif;

@font-family-condensed: 'proxima-nova-extra-condensed', Verdana, Arial, Helvetica, sans-serif;
@font-family-regular: 'proxima-nova', Arial, Helvetica, sans-serif;
@font-weight-regular: 400;
@font-weight-semibold: 600;
@font-style-normal: 'normal';

html,
body {
  color: @text-color;
  font-family: @font-family-base;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.text-base-font-size {
  font-size: 1rem; // 14px
}

.text-smaller {
  font-size: 0.8571428571rem; // 12px
}

.uppercase-bold-condensed {
  font-family: @font-family-condensed !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}

.h1 {
  font-size: 22px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 32px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 36px;
  }
}

.h2 {
  font-size: 18px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 22px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 24px;
  }
}

.h3 {
  font-size: 16px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 16px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 18px;
  }
}

.h4 {
  font-size: 15px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 15px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 16px;
  }
}

.h5 {
  font-size: 14px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 14px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 15px;
  }
}

.h6 {
  font-size: 12px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 12px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 14px;
  }
}
