.font-face(@font-family, @font-style) {
  @font-face {
    font-family: @font-family;
    src: url('/fonts/@{font-family}.woff');
    font-style: @font-style;
  }
}

.font-face('Gilroy-Bold', 'normal');
.font-face('Gilroy-BoldItalic', 'italic');
.font-face('Gilroy-Regular', 'normal');
.font-face('Gilroy-RegularItalic', 'italic');
.font-face('Gilroy-Semibold', 'normal');
.font-face('Gilroy-SemiboldItalic', 'italic');


@font-family-regular: 'Gilroy-Regular', Arial, Helvetica, sans-serif;
@font-family-semibold: 'Gilroy-SemiBold', Arial, Helvetica, sans-serif;
@font-family-bold: 'Gilroy-Bold', Arial, Helvetica, sans-serif;

@font-weight-regular: 400;
@font-weight-semibold: 600;
@font-style-normal: 'normal';

html,
body {
  color: @text-color;
  font-family: @font-family-regular;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.text-base-font-size {
  font-size: 1rem; // 14px
}

.text-smaller {
  font-size: 0.8571428571rem; // 12px
}

.uppercase-bold-condensed {
  font-family: @font-family-regular;
  letter-spacing: -1px;
  font-weight: 600 !important;
  text-transform: uppercase;
}

.h1 {
  font-size: 22px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 32px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 36px;
  }
}

.h2 {
  font-size: 18px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 22px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 24px;
  }
}

.h3 {
  font-size: 16px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 16px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 18px;
  }
}

.h4 {
  font-size: 15px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 15px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 16px;
  }
}

.h5 {
  font-size: 14px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 14px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 15px;
  }
}

.h6 {
  font-size: 12px;

  @media (min-width: @screen-sm-max)
     and (max-width: @screen-md-max) {
    font-size: 12px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 14px;
  }
}

.text-muted {
  color: @gray-medium;
}
