<div class='Container--noGutter'>
  <div class='row'>
    <div class='col-xs-12 col-md-8 col-md-push-2'>
      <div class='Card-groupedWrapper'>
        {{#each sortedTalks as |talk index|}}
          {{#if (eq index 4)}}
            <div class='AdBanner-wrapper AdBanner-wrapper--talk'>
              {{ad-banner
                adContextName=adPath
                impressionPath=adPath}}
            </div>
          {{/if}}

          {{talk-card
            talk=talk
            class='Card Card--talk Card--grouped'
            outdentAvatar=true
          }}
        {{/each}}
      </div>
    </div>
  </div>
</div>
