<div class='Container--noGutter'>
  <div class='row'>
    <div class='col-xs-12 col-md-8 col-md-push-2'>
      <div class='Card-groupedWrapper'>
        {{#each sortedTalks as |talk|}}
          {{talk-card
            talk=talk
            class='Card Card--talk Card--grouped'
          }}
        {{/each}}
      </div>
    </div>
  </div>
</div>
