<div class='row'>
  <div class='col-xs-12'>
    <p><b>Business details:</b></p>

    <hr>

    <div style='border:1px solid orange; width 100%; min-height: 2000px; background: #FFFAF2;'>
      {{#link-to 'directory.search.results'}}back to results{{/link-to}}
      <div style='border:1px dotted orange;width:100%;'>
        <h2>Fatty's BBQ</h2>
        <p> 311 Anystreet St<br />
            White River Junction<br />
            Vermont, 901210</p>
      </div>
    </div>
  </div>
</div>
