<div class="DirectoryBusiness-backButton">
  <h2>{{#link-to 'directory.search.results'}}{{fa-icon 'fa-angle-left'}} BACK{{/link-to}}</h2>
</div>

<div class="DirectoryBusiness-detailWrap">
  {{directory-business-info model=model}}

  {{directory-feedback-display model=model}}
</div>
