<div class='SignIn-module'>
  {{#content-body}}
    {{#text-block center=true}}
      {{#unless alternateSignInMessage}}
        Sign in or register to explore local Upper Valley
        news, events and connect with your neighbors.
      {{else}}
        {{alternateSignInMessage}}
      {{/unless}}
    {{/text-block}}

    {{facebook-login-button
      afterAuthenticate=afterAuthenticate
    }}

    {{#text-block center=true large=true strong=true}}
      or
    {{/text-block}}

    {{sign-in-or-register-with-password
      email=(mut email)
      afterAuthenticate=afterAuthenticate
      tab=(mut signInModule)
      changeModule=(action 'changeModule')
    }}
  {{/content-body}}
</div>
