<div class="SignIn-module">
  {{#content-body}}
    {{#text-block center=true}}
      {{#if alternateSignInMessage}}
        {{alternateSignInMessage}}
      {{else}}
        Sign in or register to explore local Upper Valley
        news, events and connect with your neighbors.
      {{/if}}
    {{/text-block}}

    {{facebook-login-button}}

    {{#text-block center=true large=true strong=true}}
      or
    {{/text-block}}

    {{sign-in-or-register-with-password
      email=(mut email)
      tab=(mut signInModule)
      changeModule=(action "changeModule")
    }}
  {{/content-body}}
</div>
