<div class="SignIn-module">
  {{#content-body}}
    {{#text-block center=true}}
      {{#if alternateSignInMessage}}
        {{alternateSignInMessage}}
      {{else}}
        Sign in or register to share and discover what's
        happening in your community.
      {{/if}}
    {{/text-block}}

    {{sign-in-or-register-with-password
      email=(mut email)
      tab=(mut signInModule)
      changeModule=(action "changeModule")
      afterAuthenticate=(action "afterAuthenticate")
    }}
  {{/content-body}}
</div>
