{{#modal-wrapper
  close=(action 'close')
  showHeader=false
  isAnimated=false
  data-test-modal='datepicker'
  class="Modals-datePicker" }}
  <div class='Modals-datePicker-header'>
    <p class='h2 Modals-datePicker-title'>Choose Date</p>
    <button class='btn Modals-datePicker-todayButton pull-right' {{action 'returnToday'}}>Today</button>
  </div>

  {{pikaday-solo
    updateSelected=(action 'updateSelected')
    defaultDate=model.initialSelectedDate
  }}

  <div class='Modals-datePicker-footer u-layoutPadT10'>
    <button class='btn Modals-datePicker-cancelButton' {{action 'close'}}>cancel</button>
  </div>
{{/modal-wrapper}}
