<div class='row'>
  <div class='col-xs-12 DirectoryNoResults'>
    <div class="block">Nothing found. Please try your search again.</div>
    <div>
      <h2>Directory Browsers</h2>
      <p>Didn't find what you're looking for?</p>
      <p>Please try <button>{{#link-to 'directory'}}another search{{/link-to}}</button></p>
    </div>
    <div>
      <h2>Business Owners</h2>
      <p>Didn't find your business listing?</p>
      <p>Please <button {{action "contactUs"}}> get in touch</button></p>
    </div>
  </div>
</div>
