<div class='row'>
  <div class='col-xs-12'>
    <div class='DirectoryResults-controls DirectoryResults-header'>
      {{directory-results-sort
        sortBy=sort_by
        on-update=(action (mut sort_by))
        class='form-inline DirectoryResults-control'
      }}

      <div class='DirectoryResults-control DirectoryResults-resultCounter'>
        Showing {{pluralize resultCount "Result"}}
      </div>
    </div>

    {{directory-search-results
      results=results
      query=query
      lat=lat
      lng=lng
      tagName='ul'
    }}

    <div class='DirectoryResults-controls DirectoryResults-footer'>
      {{pagination-buttons
          class='DirectoryResults-paginator DirectoryResults-control'
          page=page
          perPage=per_page
          results=results
          on-update-page=(action (mut page))
        }}
    </div>
  </div>
</div>
