<p><b>Search results/sub-categories:</b></p>

<hr>

<div style='border:1px solid orange; width 100%; min-height: 2000px; background: #FFFAF2;'>
  <ul>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
    <li>{{#link-to 'directory.search.show' 'fakeresult'}}result/sub-category{{/link-to}}</li>
  </ul>
</div>
