<div class='row'>
  <div class='col-xs-12'>
    {{directory-results-sort sortBy=sort_by on-update=(action (mut sort_by))}}

    {{directory-search-results
      results=results
      query=query
      lat=lat
      lng=lng
      tagName='ul'
    }}
  </div>
</div>
