.u-button {
  border-radius: 4px;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
}

.u-button-primary {
  background: @button-primary;
  color: #fff;
  border: none;
  padding: 15px 20px;
  text-transform: none;
  font-family: @font-family-semibold;
  font-weight: 600;
  font-size: 16px;
  transition: background 300ms;

  &[disabled],
  &[disabled]:hover,
  &.disabled,
  &.disabled:hover
  {
    cursor: pointer;
    opacity: 1;
    filter: none;
    background: darken(@gray-light, 10%);
    border-color: darken(@gray-light, 10%);
    color: @gray-dark;
  }


  &:hover,
  &:active,
  &:focus {
    background: darken(#69C2F8, 5%);
  }

  &:hover {
    cursor: pointer;
  }
}

.u-button-no-appearance {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
}

.u-button-share {
}
