.u-colorBgPrimary {
  background-color: @body-bg;
}

.u-colorBgSecondary {
  background-color: @secondary-bg;
}

.u-colorBgSecondary--mobile {
  @media (max-width: @screen-xs-max) {
    background-color: @secondary-bg;
  }
}
