.u-dropShadow {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
}

.u-white {
  background: #fff;
}

.u-card {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.18);
}

.u-card--padded {
  padding-left: 10px;
  padding-right: 10px;
}

.u-rounded {
  border-radius: 3px;
}

.u-link {
  color: @link-color-new;

  &:hover,
  &:focus {
    color: darken(@link-color-new, 5%);
    text-decoration: underline;
  }
}

.u-bold {
  font-weight: 700;
}

.u-tag {
  border-radius: 3px;
  background-color: orange;
  display: inline-block;
  color: #fff;
  padding: 3px 6px;
  line-height: 1;
}
