.pull-right-sm {
  @media (min-width: @screen-sm-min) {
    float: right;
  }
}

.pull-right-md {
  @media (min-width: @screen-md-min) {
    float: right;
  }
}

.pull-left-md {
  @media (min-width: @screen-md-min) {
    float: left;
  }
}

.u-flexColumn {
  display: flex;
  display: -webkit-flex; // Safari
  flex: 1;
  -webkit-flex: 1;
  flex-direction: column;
  -webkit-flex-direction: column; // Safari
}
