.pull-right-sm {
  @media (min-width: @screen-sm-min) {
    float: right;
  }
}

.pull-left-sm {
  @media (min-width: @screen-sm-min) {
    float: left;
  }
}

.pull-right-md {
  @media (min-width: @screen-md-min) {
    float: right;
  }
}

.pull-left-md {
  @media (min-width: @screen-md-min) {
    float: left;
  }
}

.Container--noGutter {
  .container;

  @media (min-width: @screen-sm-min) {
    padding-left: 0;
    padding-right: 0;
  }
}

.u-flexColumn {
  display: flex;
  display: -webkit-flex; // Safari
  flex-direction: column;
  -webkit-flex-direction: column; // Safari
}

.u-flexColumn-1 {
  display: flex;
  display: -webkit-flex; // Safari
  flex: 1;
  -webkit-flex: 1;
  flex-direction: column;
  -webkit-flex-direction: column; // Safari
}

.u-flexColumn-2 {
  display: flex;
  display: -webkit-flex; // Safari
  flex: 2;
  -webkit-flex: 2;
  flex-direction: column;
  -webkit-flex-direction: column; // Safari
}


//
// Spacing
//

.u-layoutMargin0 {
  margin: 0;
}

.u-layoutPadding0 {
  margin: 0;
}

//
// Top spacing
//

.u-layoutPadT0 {
  margin-top: 0;
}

.u-layoutPadT1 {
  margin-top: 10px;
}

.u-layoutPadT2 {
  margin-top: 20px;
}

.u-layoutPadT3 {
  margin-top: 30px;
}

.u-layoutPadT4 {
  margin-top: 40px;
}

.u-layoutPadT5 {
  margin-top: 50px;
}

//
// Bottom spacing
//

.u-layoutPadB0 {
  margin-bottom: 0;
}

.u-layoutPadB1 {
  margin-bottom: 10px;
}

.u-layoutPadB2 {
  margin-bottom: 20px;
}

.u-layoutPadB3 {
  margin-bottom: 30px;
}

.u-layoutPadB4 {
  margin-bottom: 40px;
}

.u-layoutPadB5 {
  margin-bottom: 50px;
}


//
// Left padding
//
.u-layoutPadL1 {
  padding-left: 10px;
}

.u-layoutPadL2 {
  padding-left: 20px;
}

.u-layoutPadL3 {
  padding-left: 30px;
}

.u-layoutPadL4 {
  padding-left: 40px;
}

.u-layoutPadL5 {
  padding-left: 50px;
}


//
// Right padding
//
.u-layoutPadR1 {
  padding-right: 10px;
}

.u-layoutPadR2 {
  padding-right: 20px;
}

.u-layoutPadR3 {
  padding-right: 30px;
}

.u-layoutPadR4 {
  padding-right: 40px;
}

.u-layoutPadR5 {
  padding-right: 50px;
}
