.pull-right-sm {
  @media (min-width: @screen-sm-min) {
    float: right;
  }
}

.pull-left-sm {
  @media (min-width: @screen-sm-min) {
    float: left;
  }
}

.pull-right-md {
  @media (min-width: @screen-md-min) {
    float: right;
  }
}

.pull-left-md {
  @media (min-width: @screen-md-min) {
    float: left;
  }
}

.Container--noGutter {
  .container;

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    width: auto;
  }

  @media (max-width: @screen-sm-max) {
    padding-left: 7px;
    padding-right: 7px;
  }

  @media (min-width: @screen-md-min) {
    padding-left: 0;
    padding-right: 0;
  }
}

.u-flex {
  .flex-display;
}

.u-flexAlign-center {
  .align-items(center);
}

.u-flexJustify-center {
  .justify-content(center);
}

.u-flexColumn {
  .flex-display();
  .flex-direction(column);
}

.u-flexRow {
  .flex-display();
  .flex-direction(row);
}

.u-flexSpace {
  .justify-content(space-between);
}

.u-flexRow {
  display: flex;
  display: -webkit-flex; // Safari
  flex-direction: row;
  -webkit-flex-direction: row; // Safari
}

.u-flexColumn-1 {
  display: flex;
  display: -webkit-flex; // Safari
  flex: 1;
  -webkit-flex: 1;
  flex-direction: column;
  -webkit-flex-direction: column; // Safari
}

.u-flexColumn-2 {
  display: flex;
  display: -webkit-flex; // Safari
  flex: 2;
  -webkit-flex: 2;
  flex-direction: column;
  -webkit-flex-direction: column; // Safari
}


.u-flexFill {
  flex-grow: 1;
}

.u-height100 {
  height: 100%;
}

//
// Spacing
//

.u-layoutMargin0 {
  margin: 0;
}

.u-layoutPadding0 {
  padding: 0;
}

.u-layoutMobilePadding0 {
  @media (max-width: @screen-xs-max) {
    padding: 0;
  }
}

//
// Top spacing
//

.u-layoutPadT0 {
  margin-top: 0;
}

.u-layoutPadT5 {
  margin-top: 5px;
}

.u-layoutPadT10 {
  margin-top: 10px;
}

.u-layoutPadT20 {
  margin-top: 20px;
}

.u-layoutPadT30 {
  margin-top: 30px;
}

.u-layoutPadT40 {
  margin-top: 40px;
}

.u-layoutPadT50 {
  margin-top: 50px;
}

//
// Bottom spacing
//

.u-layoutPadB0 {
  margin-bottom: 0;
}

.u-layoutPadB5 {
  margin-bottom: 5px;
}

.u-layoutPadB10 {
  margin-bottom: 10px;
}

.u-layoutPadB20 {
  margin-bottom: 20px;
}

.u-layoutPadB30 {
  margin-bottom: 30px;
}

.u-layoutPadB40 {
  margin-bottom: 40px;
}

.u-layoutPadB50 {
  margin-bottom: 50px;
}


//
// Left padding
//

.u-layoutPadL0 {
  padding-left: 0;
}

.u-layoutPadL5 {
  padding-left: 5px;
}

.u-layoutPadL10 {
  padding-left: 10px;
}

.u-layoutPadL20 {
  padding-left: 20px;
}

.u-layoutPadL30 {
  padding-left: 30px;
}

.u-layoutPadL40 {
  padding-left: 40px;
}

.u-layoutPadL50 {
  padding-left: 50px;
}


//
// Right padding
//

.u-layoutPadR0 {
  padding-right: 0;
}

.u-layoutPadR5 {
  padding-right: 5px;
}

.u-layoutPadR10 {
  padding-right: 10px;
}

.u-layoutPadR20 {
  padding-right: 20px;
}

.u-layoutPadR30 {
  padding-right: 30px;
}

.u-layoutPadR40 {
  padding-right: 40px;
}

.u-layoutPadR50 {
  padding-right: 50px;
}
