.u-margin0 {
  margin: 0!important
}

.u-marginTop0 {
  margin-top: 0!important
}

.u-marginBottom0 {
  margin-bottom: 0!important
}

.u-marginLeft0 {
  margin-left: 0!important
}

.u-marginRight0 {
  margin-right: 0!important
}

.u-margin5 {
  margin: 5px!important
}

.u-marginTop5 {
  margin-top: 5px!important
}

.u-marginBottom5 {
  margin-bottom: 5px!important
}

.u-marginLeft5 {
  margin-left: 5px!important
}

.u-marginRight5 {
  margin-right: 5px!important
}

.u-margin10 {
  margin: 10px!important
}

.u-marginTop10 {
  margin-top: 10px!important
}

.u-marginBottom10 {
  margin-bottom: 10px!important
}

.u-marginLeft10 {
  margin-left: 10px!important
}

.u-marginRight10 {
  margin-right: 10px!important
}

.u-margin15 {
  margin: 15px!important
}

.u-marginTop15 {
  margin-top: 15px!important
}

.u-marginBottom15 {
  margin-bottom: 15px!important
}

.u-marginLeft15 {
  margin-left: 15px!important
}

.u-marginRight15 {
  margin-right: 15px!important
}

.u-margin20 {
  margin: 20px!important
}

.u-marginTop20 {
  margin-top: 20px!important
}

.u-marginBottom20 {
  margin-bottom: 20px!important
}

.u-marginLeft20 {
  margin-left: 20px!important
}

.u-marginRight20 {
  margin-right: 20px!important
}

.u-margin25 {
  margin: 25px!important
}

.u-marginTop25 {
  margin-top: 25px!important
}

.u-marginBottom25 {
  margin-bottom: 25px!important
}

.u-marginLeft25 {
  margin-left: 25px!important
}

.u-marginRight25 {
  margin-right: 25px!important
}

.u-margin30 {
  margin: 30px!important
}

.u-marginTop30 {
  margin-top: 30px!important
}

.u-marginBottom30 {
  margin-bottom: 30px!important
}

.u-marginLeft30 {
  margin-left: 30px!important
}

.u-marginRight30 {
  margin-right: 30px!important
}

.u-margin40 {
  margin: 40px!important
}

.u-marginTop40 {
  margin-top: 40px!important
}

.u-marginBottom40 {
  margin-bottom: 40px!important
}

.u-marginLeft40 {
  margin-left: 40px!important
}

.u-marginRight40 {
  margin-right: 40px!important
}

.u-margin50 {
  margin: 50px!important
}

.u-marginTop50 {
  margin-top: 50px!important
}

.u-marginBottom50 {
  margin-bottom: 50px!important
}

.u-marginLeft50 {
  margin-left: 50px!important
}

.u-marginRight50 {
  margin-right: 50px!important
}

.u-marginAuto {
  margin-left: auto!important;
  margin-right: auto!important
}

.u-margin3 {
  margin: 3px!important
}

.u-margin8 {
  margin: 8px!important
}

.u-marginTopNegative95 {
  margin-top: -95px!important
}

.u-marginTopNegative7 {
  margin-top: -7px!important
}

.u-marginTopNegative5 {
  margin-top: -5px!important
}

.u-marginTopNegative2 {
  margin-top: -2px!important
}

.u-marginTop2 {
  margin-top: 2px!important
}

.u-marginTop3 {
  margin-top: 3px!important
}

.u-marginTop4 {
  margin-top: 4px!important
}

.u-marginTop7 {
  margin-top: 7px!important
}

.u-marginTop60 {
  margin-top: 60px!important
}

.u-marginTop70 {
  margin-top: 70px!important
}

.u-marginTop75 {
  margin-top: 75px!important
}

.u-marginTop100 {
  margin-top: 100px!important
}

.u-marginTop180 {
  margin-top: 180px!important
}

.u-marginBottom4 {
  margin-bottom: 4px!important
}

.u-marginBottom7 {
  margin-bottom: 7px!important
}

.u-marginBottom60 {
  margin-bottom: 60px!important
}

.u-marginBottom100 {
  margin-bottom: 100px!important
}

.u-marginBottom180 {
  margin-bottom: 180px!important
}

.u-marginRightNegative12 {
  margin-right: -12px!important
}

.u-marginRightNegative5 {
  margin-right: -5px!important
}

.u-marginRight2 {
  margin-right: 2px!important
}

.u-marginRight3 {
  margin-right: 3px!important
}

.u-marginRight7 {
  margin-right: 7px!important
}

.u-marginRight16 {
  margin-right: 16px!important
}

.u-marginRight18 {
  margin-right: 18px!important
}

.u-marginRight100 {
  margin-right: 100px!important
}

.u-marginRight160 {
  margin-right: 160px!important
}

.u-marginLeftNegative80 {
  margin-left: -80px!important
}

.u-marginLeftNegative30 {
  margin-left: -30px!important
}

.u-marginLeftNegative12 {
  margin-left: -12px!important
}

.u-marginLeftNegative5 {
  margin-left: -5px!important
}

.u-marginLeftNegative2 {
  margin-left: -2px!important
}

.u-marginLeft3 {
  margin-left: 3px!important
}

.u-marginLeft4 {
  margin-left: 4px!important
}

.u-marginLeft8 {
  margin-left: 8px!important
}

.u-marginLeft12 {
  margin-left: 12px!important
}

.u-marginLeft18 {
  margin-left: 18px!important
}

.u-marginLeft100 {
  margin-left: 100px!important
}

@media screen and (max-width: 991px) {
  .u-sm-marginLeft20 {
    margin-left:20px!important
  }

  .u-sm-marginRight20 {
    margin-right: 20px!important
  }

  .u-sm-marginLeft30 {
    margin-left: 30px!important
  }
}

@media screen and (max-width: 767px) {
  .u-xs-margin0 {
    margin:0!important
  }

  .u-xs-marginTop0 {
    margin-top: 0!important
  }

  .u-xs-marginBottom0 {
    margin-bottom: 0!important
  }

  .u-xs-marginLeft0 {
    margin-left: 0!important
  }

  .u-xs-marginRight0 {
    margin-right: 0!important
  }

  .u-xs-margin20 {
    margin: 20px!important
  }

  .u-xs-marginTop20 {
    margin-top: 20px!important
  }

  .u-xs-marginBottom20 {
    margin-bottom: 20px!important
  }

  .u-xs-marginLeft20 {
    margin-left: 20px!important
  }

  .u-xs-marginRight20 {
    margin-right: 20px!important
  }

  .u-xs-margin10 {
    margin: 10px!important
  }

  .u-xs-marginTop4 {
    margin-top: 4px!important
  }

  .u-xs-marginTop15 {
    margin-top: 15px!important
  }

  .u-xs-marginTop30 {
    margin-top: 30px!important
  }

  .u-xs-marginTop35 {
    margin-top: 35px!important
  }

  .u-xs-marginTop50 {
    margin-top: 50px!important
  }

  .u-xs-marginBottom10 {
    margin-bottom: 10px!important
  }

  .u-xs-marginRight15 {
    margin-right: 15px!important
  }

  .u-xs-marginBottom30 {
    margin-bottom: 30px!important
  }

  .u-xs-marginRight60 {
    margin-right: 60px!important
  }

  .u-xs-marginAuto {
    margin-left: auto!important;
    margin-right: auto!important
  }
}

.u-padding0 {
  padding: 0!important
}

.u-paddingTop0 {
  padding-top: 0!important
}

.u-paddingBottom0 {
  padding-bottom: 0!important
}

.u-paddingLeft0 {
  padding-left: 0!important
}

.u-paddingRight0 {
  padding-right: 0!important
}

.u-padding5 {
  padding: 5px!important
}

.u-paddingTop5 {
  padding-top: 5px!important
}

.u-paddingBottom5 {
  padding-bottom: 5px!important
}

.u-paddingLeft5 {
  padding-left: 5px!important
}

.u-paddingRight5 {
  padding-right: 5px!important
}

.u-padding10 {
  padding: 10px!important
}

.u-paddingTop10 {
  padding-top: 10px!important
}

.u-paddingBottom10 {
  padding-bottom: 10px!important
}

.u-paddingLeft10 {
  padding-left: 10px!important
}

.u-paddingRight10 {
  padding-right: 10px!important
}

.u-padding15 {
  padding: 15px!important
}

.u-paddingTop15 {
  padding-top: 15px!important
}

.u-paddingBottom15 {
  padding-bottom: 15px!important
}

.u-paddingLeft15 {
  padding-left: 15px!important
}

.u-paddingRight15 {
  padding-right: 15px!important
}

.u-padding20 {
  padding: 20px!important
}

.u-paddingTop20 {
  padding-top: 20px!important
}

.u-paddingBottom20 {
  padding-bottom: 20px!important
}

.u-paddingLeft20 {
  padding-left: 20px!important
}

.u-paddingRight20 {
  padding-right: 20px!important
}

.u-padding25 {
  padding: 25px!important
}

.u-paddingTop25 {
  padding-top: 25px!important
}

.u-paddingBottom25 {
  padding-bottom: 25px!important
}

.u-paddingLeft25 {
  padding-left: 25px!important
}

.u-paddingRight25 {
  padding-right: 25px!important
}

.u-padding30 {
  padding: 30px!important
}

.u-paddingTop30 {
  padding-top: 30px!important
}

.u-paddingBottom30 {
  padding-bottom: 30px!important
}

.u-paddingLeft30 {
  padding-left: 30px!important
}

.u-paddingRight30 {
  padding-right: 30px!important
}

.u-paddingTop1 {
  padding-top: 1px!important
}

.u-paddingTop2 {
  padding-top: 2px!important
}

.u-paddingTop4 {
  padding-top: 4px!important
}

.u-paddingTop7 {
  padding-top: 7px!important
}

.u-paddingTop8 {
  padding-top: 8px!important
}

.u-paddingTop11 {
  padding-top: 11px!important
}

.u-paddingTop13 {
  padding-top: 13px!important
}

.u-paddingTop14 {
  padding-top: 14px!important
}

.u-paddingTop16 {
  padding-top: 16px!important
}

.u-paddingTop18 {
  padding-top: 18px!important
}

.u-paddingTop19 {
  padding-top: 19px!important
}

.u-paddingTop35 {
  padding-top: 35px!important
}

.u-paddingTop40 {
  padding-top: 40px!important
}

.u-paddingTop50 {
  padding-top: 50px!important
}

.u-paddingTop60 {
  padding-top: 60px!important
}

.u-paddingTop70 {
  padding-top: 70px!important
}

.u-paddingTop80 {
  padding-top: 80px!important
}

.u-paddingTop90 {
  padding-top: 90px!important
}

.u-paddingTop100 {
  padding-top: 100px!important
}

.u-paddingTop177p77pct {
  padding-top: 177.77%!important
}

.u-paddingTop1p25em {
  padding-top: 1.25em!important
}

.u-paddingBottom2 {
  padding-bottom: 2px!important
}

.u-paddingBottom3 {
  padding-bottom: 3px!important
}

.u-paddingBottom4 {
  padding-bottom: 4px!important
}

.u-paddingBottom7 {
  padding-bottom: 7px!important
}

.u-paddingBottom8 {
  padding-bottom: 8px!important
}

.u-paddingBottom18 {
  padding-bottom: 18px!important
}

.u-paddingBottom35 {
  padding-bottom: 35px!important
}

.u-paddingBottom40 {
  padding-bottom: 40px!important
}

.u-paddingBottom50 {
  padding-bottom: 50px!important
}

.u-paddingBottom60 {
  padding-bottom: 60px!important
}

.u-paddingBottom80 {
  padding-bottom: 80px!important
}

.u-paddingBottom100 {
  padding-bottom: 100px!important
}

.u-paddingBottom150Pct {
  padding-bottom: 150%!important
}

.u-paddingBottom1p25em {
  padding-bottom: 1.25em!important
}

.u-paddingLeft6 {
  padding-left: 6px!important
}

.u-paddingLeft8 {
  padding-left: 8px!important
}

.u-paddingLeft9 {
  padding-left: 9px!important
}

.u-paddingLeft12 {
  padding-left: 12px!important
}

.u-paddingLeft13 {
  padding-left: 13px!important
}

.u-paddingLeft14 {
  padding-left: 14px!important
}

.u-paddingLeft22 {
  padding-left: 22px!important
}

.u-paddingLeft35 {
  padding-left: 35px!important
}

.u-paddingLeft40 {
  padding-left: 40px!important
}

.u-paddingLeft50 {
  padding-left: 50px!important
}

.u-paddingLeft60 {
  padding-left: 60px!important
}

.u-paddingRight8 {
  padding-right: 8px!important
}

.u-paddingRight12 {
  padding-right: 12px!important
}

.u-paddingRight16 {
  padding-right: 16px!important
}

.u-paddingRight18 {
  padding-right: 18px!important
}

.u-paddingRight40 {
  padding-right: 40px!important
}

.u-paddingRight50 {
  padding-right: 50px!important
}

.u-paddingRight60 {
  padding-right: 60px!important
}

.u-paddingRight100 {
  padding-right: 100px!important
}

.u-paddingRight200 {
  padding-right: 200px!important
}

.u-padding8 {
  padding: 8px!important
}

.u-padding14 {
  padding: 14px!important
}

.u-padding16 {
  padding: 16px!important
}

.u-padding40 {
  padding: 40px!important
}

@media (max-width: 991px) {
  .u-sm-paddingTop0 {
    padding-top:0!important
  }

  .u-sm-paddingTop30 {
    padding-top: 30px!important
  }

  .u-sm-paddingBottom30 {
    padding-bottom: 30px!important
  }

  .u-sm-paddingLeft20 {
    padding-left: 20px!important
  }

  .u-sm-paddingRight20 {
    padding-right: 20px!important
  }
}

@media (max-width: 767px) {
  .u-xs-padding0 {
    padding:0!important
  }

  .u-xs-paddingTop0 {
    padding-top: 0!important
  }

  .u-xs-paddingBottom0 {
    padding-bottom: 0!important
  }

  .u-xs-paddingLeft0 {
    padding-left: 0!important
  }

  .u-xs-paddingRight0 {
    padding-right: 0!important
  }

  .u-xs-padding5 {
    padding: 5px!important
  }

  .u-xs-paddingTop5 {
    padding-top: 5px!important
  }

  .u-xs-paddingBottom5 {
    padding-bottom: 5px!important
  }

  .u-xs-paddingLeft5 {
    padding-left: 5px!important
  }

  .u-xs-paddingRight5 {
    padding-right: 5px!important
  }

  .u-xs-padding10 {
    padding: 10px!important
  }

  .u-xs-paddingTop10 {
    padding-top: 10px!important
  }

  .u-xs-paddingBottom10 {
    padding-bottom: 10px!important
  }

  .u-xs-paddingLeft10 {
    padding-left: 10px!important
  }

  .u-xs-paddingRight10 {
    padding-right: 10px!important
  }

  .u-xs-padding15 {
    padding: 15px!important
  }

  .u-xs-paddingTop15 {
    padding-top: 15px!important
  }

  .u-xs-paddingBottom15 {
    padding-bottom: 15px!important
  }

  .u-xs-paddingLeft15 {
    padding-left: 15px!important
  }

  .u-xs-paddingRight15 {
    padding-right: 15px!important
  }

  .u-xs-padding20 {
    padding: 20px!important
  }

  .u-xs-paddingTop20 {
    padding-top: 20px!important
  }

  .u-xs-paddingBottom20 {
    padding-bottom: 20px!important
  }

  .u-xs-paddingLeft20 {
    padding-left: 20px!important
  }

  .u-xs-paddingRight20 {
    padding-right: 20px!important
  }

  .u-xs-paddingTop0 {
    padding-top: 0!important
  }

  .u-xs-paddingTop13 {
    padding-top: 13px!important
  }

  .u-xs-paddingTop25 {
    padding-top: 25px!important
  }

  .u-xs-paddingTop30 {
    padding-top: 30px!important
  }

  .u-xs-paddingTop35 {
    padding-top: 35px!important
  }

  .u-xs-paddingRight12 {
    padding-right: 12px!important
  }

  .u-xs-paddingBottom5 {
    padding-bottom: 5px!important
  }

  .u-xs-paddingBottom25 {
    padding-bottom: 25px!important
  }

  .u-xs-paddingBottom30 {
    padding-bottom: 30px!important
  }

  .u-xs-paddingLeft4 {
    padding-left: 4px!important
  }

  .u-xs-paddingLeft12 {
    padding-left: 12px!important
  }

  .u-xs-paddingLeft40 {
    padding-left: 40px!important
  }

  .u-xs-paddingRight40 {
    padding-right: 40px!important
  }

  .u-xs-padding12 {
    padding: 12px!important
  }
}
