.u-textTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-textUnderline {
  text-decoration: underline;
}

// These weird styles are used to force a max of 2 lines.
.u-textTwoLineTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.1em;     /* fallback */
  max-height: 2.2em;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.u-textThreeLineTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.1em;     /* fallback */
  max-height: 3.3em;      /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
