.u-textTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-textUnderline {
  text-decoration: underline;
}

.u-textNoWrap {
  white-space: nowrap;
}

.u-textBold {
  font-weight: 700;
}

.u-textCentered {
  text-align: center;
}

.u-textPullLeft {
  text-align: left;
}

.u-textPullRight {
  text-align: right;
}

.u-textKnockout {
  color: #ffffff;
}

.u-textShadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

// These weird styles are used to force a max of 2 lines.
.u-twoLineH1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 34px;     /* fallback */
  max-height: 67px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
 }

.u-twoLineH2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;     /* fallback */
  max-height: 48px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
 }

.u-textThreeLineTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3em;     /* fallback */
  max-height: 3.9em;      /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.u-textTwoLineTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3em;     /* fallback */
  max-height: 2.6em;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
