.u-letterSpacingTight {
  letter-spacing: -.02em!important;
}

.u-lineHeightTighter {
  line-height: 1.1!important;
}

.u-textTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-textUnderline {
  text-decoration: underline;
}

.u-textNoWrap {
  white-space: nowrap;
}

.u-textBold {
  font-weight: 700;
}

.u-textCentered {
  text-align: center;
}

.u-textPullLeft {
  text-align: left;
}

.u-textPullRight {
  text-align: right;
}

.u-textKnockout {
  color: #ffffff;
}

.u-textShadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

// These weird styles are used to force a max of 2 lines.
.u-twoLineH1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 34px;     /* fallback */
  max-height: 67px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
 }

.u-twoLineH2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;     /* fallback */
  max-height: 48px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
 }

.u-textThreeLineTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3em;     /* fallback */
  max-height: 3.9em;      /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.u-textTwoLineTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3em;     /* fallback */
  max-height: 2.6em;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.u-fontSize11 {
  font-size: 11px!important
}

.u-fontSize12 {
  font-size: 12px!important
}

.u-fontSize13 {
  font-size: 13px!important
}

.u-fontSize14 {
  font-size: 14px!important
}

.u-fontSize16 {
  font-size: 16px!important
}

.u-fontSize18 {
  font-size: 18px!important
}

.u-fontSize20 {
  font-size: 20px!important
}

.u-fontSize22 {
  font-size: 22px!important
}

.u-fontSize24 {
  font-size: 24px!important
}

.u-fontSize28 {
  font-size: 28px!important
}

.u-fontSize32 {
  font-size: 32px!important
}

.u-fontSize36 {
  font-size: 36px!important
}

.u-fontSize40 {
  font-size: 40px!important
}

.u-fontSize44 {
  font-size: 44px!important
}

.u-fontSize48 {
  font-size: 48px!important
}

.u-fontSize50 {
  font-size: 50px!important
}

.u-fontSize75 {
  font-size: 75px!important
}

.u-fontSize100 {
  font-size: 100px!important
}

.u-fontSize200 {
  font-size: 200px!important
}

@media screen and (max-width: 767px) {
  .u-xs-fontSize12 {
    font-size:12px!important
  }

  .u-xs-fontSize14 {
    font-size: 14px!important
  }

  .u-xs-fontSize16 {
    font-size: 16px!important
  }

  .u-xs-fontSize18 {
    font-size: 18px!important
  }

  .u-xs-fontSize22 {
    font-size: 22px!important
  }

  .u-xs-fontSize24 {
    font-size: 24px!important
  }

  .u-xs-fontSize32 {
    font-size: 32px!important
  }

  .u-xs-fontSize36 {
    font-size: 36px!important
  }

  .u-xs-fontSize40 {
    font-size: 40px!important
  }

  .u-xs-fontSize75 {
    font-size: 75px!important
  }
}

@media screen and (max-width: 991px) {
  .u-sm-fontSize150 {
    font-size:150px!important
  }

  .u-sm-fontSize50 {
    font-size: 50px!important
  }
}
