{{#if organizationHides}}
  <div class="Mystuff-OrganizationSubscriptions--title">
    You have hidden the following contributors from your feed:
  </div>

  {{#each organizationHides as |organizationHide|}}
    {{mystuff/organization-manage
      model=organizationHide
      showHideOptions=true
    }}
  {{/each}}
{{else}}
  <div class="Mystuff-OrganizationSubscriptions--title">
    You are not hiding any contributors from your feed.
  </div>

  <div>
    To hide a contributor from appearing in your feed, click the {{fa-icon "ellipsis-v"}}" icon and then the {{fa-icon "low-vision"}} Hide" button in the dropdown menu and follow the instructions.
  </div>
{{/if}}
