{{yield}}

{{#each feedItems as |feedItem index|}}
  {{feed/feed-item
    model=feedItem
    showingDetailInFeed=showingDetailInFeed
    isSearchActive=isSearchActive
    canManage=canManage
    enableImpressionTracking=enableImpressionTracking
    impressionLocation='index-feed'
    condensedView=condensedView
  }}

  {{#if (show-feed-ad index)}}
    <div class='AdBanner-wrapper AdBanner-wrapper--feed'>
      {{ad-banner
        adContextName='feed'
        impressionPath='feed'
        pagePositionForAnalytics=index
        placeholderBlockFixedSize=true
      }}
    </div>
  {{/if}}
{{/each}}
