
{{#each feedContents as |content index|}}
  {{feed-card model=content}}

  {{#if (show-feed-ad index)}}
    <div class='AdBanner-wrapper AdBanner-wrapper--feed'>
      {{ad-banner
        adContextName='location.index'
        impressionPath='location.index'
        pagePositionForAnalytics=index
        placeholderBlockFixedSize=true
      }}
    </div>
  {{/if}}
{{/each}}
