{{#each feedContents as |content index|}}
  {{#unless (is-equal content.id showingDetailInFeed)}}
    {{feed-card model=content}}
  {{/unless}}

  {{#if (show-feed-ad index)}}
    <div class='AdBanner-wrapper AdBanner-wrapper--feed'>
      {{ad-banner
        adContextName='feed'
        impressionPath='feed'
        pagePositionForAnalytics=index
        placeholderBlockFixedSize=true
      }}
    </div>
  {{/if}}
{{/each}}
