{{#unless promotionMenuOpen}}
  {{#comments-section
    parentId=contentModel.contentId
    comments=comments
    contentTitle=contentTitle
    disabled=disabled
    afterComment=(action afterComment)
  }}
    {{#if (gt commentCount 6)}}
      <div class="CommentList-footer">
        <span {{action onContentClick}} role="button">
          {{#link-to-content contentModel}}View more comments{{/link-to-content}}
        </span>
        <span class="pull-right">
          {{comments.length}} of {{commentCount}}
        </span>
      </div>
    {{/if}}
  {{/comments-section}}
{{/unless}}
