<style>.CopyrightAgent a {text-decoration: underline; color: blue;}</style>
<div class="CopyrightAgent container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="h2">Notification of Copyright Infringement Policy</h2>

      <p>
        This Notice of Copyright Infringement Policy applies to users of the services provided by Subtext Media, Ltd. DBA HereCast (“Subtext”, “we”, “us” or “our”),
        including, but not limited to, the website herecast.us (the “Site”) and the associated application (the “App”) (collectively, the “Services”).
      </p>
      <p>
        Subtext respects copyright law and expects its users to do the same.
        As a service provider, we comply with all applicable provisions of the Digital Millennium Copyright Act (“DMCA”), 17 U.S.C. § 512.
      </p>
      <p>
        It is Subtext’s policy, in appropriate circumstances, to terminate the accounts of account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders.
      </p>
      <p>
        If you are a copyright owner, are authorized to act on behalf of a copyright owner, or are authorized to act under any exclusive right under copyright,
        please report alleged copyright infringements committed using our Services by submitting a DMCA Notice of Alleged Copyright Infringement (“Notice”) to our Copyright Agent as detailed below.
        Upon receipt of a Notice that includes all the necessary information and is delivered to our Copyright Agent as described below, we will take whatever action,
        in our sole discretion, we deem appropriate, including disabling access to the material alleged to have been infringed on our Services.
      </p>

      <p><strong>DMCA Notice of Alleged Infringement ("Notice")</strong></p>
      <ol>
        <li>Identify the copyrighted work that you claim has been infringed, or, - if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed.</li>
        <li>Identify the material that you claim is infringing (or to be the subject of infringing activity) and access to which is to be disabled, and information reasonably sufficient to permit us to locate the material, including at a minimum, if applicable, the URL of the link shown on our Services where such material may be found.</li>
        <li>Provide your mailing address, telephone number and, if available, email address.</li>
        <li>
          Include both of the following statements in the body of the Notice:
          <p>"I hereby state that I have a good faith belief that use of the copyrighted material in the manner disputed is not authorized by the copyright owner, its agent, or the law."</p>
          <p>"I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."</p>
        </li>
        <li>Provide your full legal name and your electronic or physical signature.</li>
      </ol>

      <p>Deliver this notice, with all items completed, to our Designated Copyright Agent at:</p>
      <p>
        Copyright Agent<br>
        ℅ Subtext Media Ltd.<br>
        PO Box 426<br>
        White River Junction, VT 05001-0426<br>
        <a href="mailto:legal@herecast.us" target="_blank" rel="noopener noreferrer">legal@herecast.us</a><br>
      </p>
    </div>
  </div>
</div>
