<div class="container">
  <div class="col-xs-12">
    <h1 class="h2">Copyright Notice</h1>
    <p>
      All materials contained on this site are protected by United States copyright law and may not be reproduced,
      distributed, transmitted, displayed, published or broadcast without the prior written permission of
      Subtext Media, Ltd. DBA HereCast ("Subtext", "we", "us", or "our"), or, in the case of third party materials, the owner of that content.
      You may not alter or remove any trademark, copyright or other notice from copies of the content.
    </p>
    <p>
      However, you may download material from our web site — herecast.us —
      (one machine readable copy and one print copy per page) for your personal, noncommercial use only.
    </p>
    <p>
      Links to web sites other than those owned by Subtext are offered as a service to readers.
      Subtext is not involved in their production and is not responsible for their content.
    </p>
    <p>
      To report alleged copyright infringement, please see our
      {{#link-to "copyright-agent" class="u-textUnderline"}}Notification of Copyright Infringement Policy.{{/link-to}}
      For further information, see our
      {{#link-to "terms" class="u-textUnderline"}}Terms of Service.{{/link-to}}
    </p>
  </div>
</div>
