<div class='Dashboard'>
  <img src='{{model.imageUrl}}' class='Dashboard-avatar'>

  {{inline-edit value=model.name class='Dashboard-userName' action='submit'}}
  {{inline-edit value=model.email action='submit'}}

</div>