<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 u-textCentered">
      <h1 class="h2">
        We"re sorry, but something has gone wrong.
      </h1>
      <p class="h3">
        We"ve been notified of the error and will resolve it as soon as possible. Please try again later.
      </p>
    </div>
  </div>
</div>
