<div class="Container--noGutter">
  <div class="row">
    <div class="AuthForm-wrapper">
      <div class="col-md-6 col-md-offset-3">
        {{#if fastboot.isFastBoot}}
          {{x-loader}}
        {{else}}
          <div class="AuthForm">
            <div class="AuthForm-header">
              <h1 class="AuthForm-title h1">You need to sign in to proceed.</h1>
            </div>

            <div class="AuthForm-body">
              <div class="AuthForm-form">
                {{sign-in}}
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
