<article class='OrganizationProfile'>
  <header class='OrganizationProfile-header'>
    <h1 class='OrganizationProfile-headerTitle'>{{model.name}}</h1>
  </header>

  <section class='OrganizationProfile-featured'>FEATURED SECTION</section>

  <section class='OrganizationProfile-moreContent'>
    <h1 class='OrganizationProfile-moreContentTitle'>More Content From {{model.name}}</h1>
    MORE CONTENT SECTION
  </section>

  <aside class='OrganizationProfile-about'>
    ABOUT ASIDE
  </aside>
  <aside class='OrganizationProfile-contributors'>
    CONTRIBUTORS SECTION
  </aside>
</article>
