<div class='container Section'>
  <p>
    We at Subtext Media, Ltd., take your (and our own) privacy very seriously.
  </p>
  <p>
    The stream of news about major hacking incidents at large companies, banks — even the Pentagon — has convinced us to take a different approach for our website. When even state-of-the-art cyber-security cannot guarantee the safety of our personal information, we think we’re better off collecting only the bare minimum personal data we need about you to provide you the services you want from our site.
  </p>
  <p>
    So, here’s our current privacy policy in plain English:
  </p>
  <p>
    <strong>
      We don’t need to know who you are - -
    </strong>
    your age, gender, politics, income level, shopping or browsing habits.  In fact, we don’t want to know any of those things about you because we don’t want to be responsible for trying to protect that information.
  </p>
  <p>
    <strong>
      We just need to know what interests you
    </strong>
    so we can deliver content and advertising on our website that should be interesting to you. We do this by adding a cookie to your browser when you visit our website. That cookie allows us to track what you read and click on our site so our relevance and personalization algorithms can call up related content that may also interest you. This cookie exists only for our site - - we don’t follow you beyond our site or spy on your browsing habits elsewhere.  That’s not our business model and that’s not how we would want to be treated ourselves.
  </p>
  <p>
    <strong>
      Registration:
    </strong>
  </p>
  <p>
    Currently, we require you to register to access certain features such as posting and comments. Like the listservs themselves, we require registration to protect you and other listserv users from automated bot scrapers that harvest email addresses for spam lists. We also require registration to try to confirm that others cannot post to the lists through our website pretending to be you.
  </p>
  <p>
    At registration, we ask you to provide us an email address and choose a username/password.  Again, this is the bare minimum information necessary to allow you to read and post to the community list you access through our website.
  </p>
  <p>
    The username is the name that appears as the “author" of posts you send to your lists from our website. The community lists encourage you to use your real name when you post, but that’s entirely your choice.
  </p>
  <p>
    Your email address is necessary for the community lists to confirm your subscription status. When you post from our website, the listservs compare your email address to their subscriber lists. If you haven’t subscribed to a specific community list, the listserv server will reject your post.
  </p>
  <p>
    We will retain this information and associate it with our cookie so we can provide further capabilities we think may be valuable to you. Specifically, when you post to a list from our site, we use your email address to send a confirmation copy of your post to your inbox for your records. We use the cookie to mark posts and content you’ve already read during other visits to our site. And we use the cookie to build a personalization profile of your reading habits on our site to deliver other posts and stories that are more relevant to your interests. Finally, we may use your email address to notify you in case we see any troubling behavior on your account. We will never ask for your password by email or telephone.
  </p>
  <p>
    We use MixPanel, a third party, to understand how customers use our site.  MixPanel also uses one or more cookies for their service.  You can read
    <a href="https://mixpanel.com/privacy/" style="text-decoration: underline;" target="_blank">MixPanel's own privacy policy</a>
    on their site. MixPanel also offers an opt-out option you can use to prevent MixPanel from tracking your visits to other sites using MixPanel cookies.  To opt-out,
    <a href="https://mixpanel.com/optout/" style="text-decoration: underline;" target="_blank">go to the MixPanel Opt-Out page.</a>
    Finally, MixPanel informs us that, if you get a new computer, install a new browser, erase or otherwise alter your browser's cookie file (including upgrading certain browsers) you may also inadvertently clear the MixPanel opt-out cookie so you would need to revisit the opt-out link to maintain your opt-out choice.
  </p>
  <p>
    We will not share your email information with any other third parties or sell our email lists to anyone. That’s not our business model and that’s not how we would want to be treated ourselves.
  </p>
  <p>
    However, we plan to add more features and functionality to our website in the coming months. This means we will be changing our privacy policies in the future to support these new features. It’s important that you review our privacy policies whenever you decide to try new features on our website so you understand what these features may mean for your privacy. If you have any questions or comments about our privacy policy, please email us at:
    <a href="mailto:privacy@subtext.org" style="text-decoration: underline;">privacy@subtext.org</a>
  </p>
</div>
