<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <h1 class='h2'>SUBTEXT MEDIA PROHIBITED ITEMS POLICY</h1>
      <p>This Prohibited Items Policy applies to your use of the digital services provided by Subtext Media Ltd., including, but not limited to, ther web site DailyUV.com (collectively, &ldquo;our Services, &ldquo;we,&rdquo; or &ldquo;us&rdquo;). Users of our Services must comply with all applicable laws, our {{#link-to 'terms' class='u-textUnderline'}}Terms of Service{{/link-to}} and all posted site rules, including this Prohibited Items Policy. Below is partial list of goods, services, and content prohibited from sale on our Services:</p>
      <ul style="list-style-type:square; padding-left: 30px;">
        <li>weapons; firearms/guns and components; BB/pellet, stun, and spear guns; etc.</li>
        <li>ammunition, clips, cartridges, reloading materials, gunpowder, fireworks, explosives</li>
        <li><a href="https://www.craigslist.org/about/recalled_items">recalled items</a>; hazardous materials; body parts/fluids; unsanitized bedding/clothing</li>
        <li>prescription drugs, medical devices; controlled substances and related items</li>
        <li>alcohol or tobacco; unpackaged or adulterated food or cosmetics</li>
        <li>child pornography; bestiality; offers or solicitation of illegal prostitution</li>
        <li>pet sales (re-homing with small adoption fee ok), animal parts, stud service</li>
        <li>endangered, imperiled and/or protected species and any parts thereof, e.g. ivory</li>
        <li>false, misleading, deceptive, or fraudulent content; bait and switch; keyword spam</li>
        <li>offensive, obscene, defamatory, threatening, or malicious postings or email</li>
        <li>anyone&rsquo;s personal, identifying, confidential or proprietary information</li>
        <li>food stamps, WIC vouchers, SNAP or WIC goods, governmental assistance</li>
        <li>stolen property, property with serial number removed/altered, burglary tools, etc</li>
        <li>ID cards, licenses, police insignia, government documents, birth certificates, etc</li>
        <li>US military items not demilitarized in accord with Defense Department policy</li>
        <li>counterfeit, replica, or pirated items; tickets or gift cards that restrict transfer</li>
        <li>lottery or raffle tickets, sweepstakes entries, slot machines, gambling items</li>
        <li>spam; miscategorized, overposted, cross-posted, or nonlocal content</li>
        <li>postings or email the primary purpose of which is to drive traffic to a website</li>
        <li>postings or email offering, promoting, or linking to unsolicited products or services</li>
        <li>affiliate marketing; network, or multi-level marketing; pyramid schemes</li>
        <li>any good, service, or content that violates the law or legal rights of others</li>
      </ul>
      <p>Please don't use our Services to sell or buy these purposes, and please flag by clicking the Report Abuse button if you see anyone else doing so.</p>
    </div>
  </div>
</div>
