<div class="container">
  <div class="row">
    <div class="AuthForm-wrapper">

      <div class="col-md-8 col-md-push-2">
        <div class="AuthForm">
          <div class="AuthForm-header">
            <h1 class="AuthForm-title h1">Join HereCast today.</h1>
          </div>

          <div class="AuthForm-body">
            <div class="row">
              <div class="col-md-4 col-md-push-8">
                <div class="AuthForm-claims">

                  <p class="h3">
                    HereCast is free and easy.
                  </p>
                  <p class="h3">
                    By joining, you can post in the market, comment or share an event.
                  </p>
                  <p class="h3 hidden-xs">
                    Connect with your community today!
                  </p>
                </div>
              </div>

              <div class="col-md-8 col-md-pull-4">
                <div class="AuthForm-form">
                  {{sign-in
                    signInModule="register"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
