<h1 class='h2'>SUBTEXT MEDIA TERMS OF SERVICE</h1>
<p>Last Modified: September 26, 2016</p>
<p>This document describes the terms and conditions governing your use of the digital services provided by Subtext Media Ltd., including, but not limited to, the web site DailyUV.com (collectively, &ldquo;our Services,&rdquo; &ldquo;we,&rdquo; or &ldquo;us&rdquo;). </p>
<p>By accessing our Services, including but not limited to, our servers, web sites, mobile sites and applications or content therefrom, you agree to these Terms of Service (the &ldquo;TOS&rdquo;). Our {{#link-to 'privacy' class='u-textUnderline'}}Privacy Policy{{/link-to}} and {{#link-to 'prohibited-items' class='u-textUnderline'}}Prohibited Items Policy{{/link-to}} are expressly incorporated herein and made a part of the TOS. We may change, add, or remove portions of the TOS in the future. These changes will be effective immediately upon posting here. It is your responsibility to review these changes before continuing to use or access our Services because continued use of our Services indicates acceptance by you of the TOS then in effect. We will notify users of changes to the TOS on the DailyUV.com homepage, but we are not obligated to do so.</p>

<p><strong>LICENSE</strong></p>
<p>If you are 13 or older, we grant you a limited, revocable, nonexclusive, non-assignable, non-sublicensable license to access our Services in compliance with the TOS. Unlicensed access is unauthorized.</p>
<p>You agree not to license, distribute, make derivative works, display, sell, or &ldquo;frame&rdquo; content from our Services, excluding content you create.</p>
<p>You grant us a non-exclusive, perpetual, irrevocable, unlimited, world-wide, fully-paid, license to use, copy, distribute, display, perform, and create derivative works of any content you post in any form now known or hereinafter developed. The rights you grant in this licence are for the limited purposes of 1) allowing us to operate and improve our Services and 2) promoting your work on our website and on other outlets.</p>
<p>You are solely responsible for all content you post on our Services. You represent and warrant that you own all such content and/ or have all necessary rights to post such content.</p>

<p><strong>USAGE</strong></p>
<p>You agree not to use or provide software (except for general purpose web browsers and email clients, or software expressly licensed by us) or services that interact or interoperate with our Services, e.g. for downloading, uploading, posting, flagging, emailing, search or mobile use. Robots, spiders, scripts, scrapers, crawlers, etc. are prohibited, as are misleading, unsolicited, unlawful, and/or spam postings/email. You agree not to collect users&rsquo; personal and/or contact information (&ldquo;PI&rdquo;).</p>

<p><strong>SIGN IN THROUGH THIRD PARTY ACCOUNTS</strong></p>
<p>We may use third parties like Google, Twitter and Facebook to allow users to create and authorize accounts. By using those third-party services, you agree to all of their terms of use as well.</p>

<p><strong>LINKED SITES</strong></p>
<p>We may include linking devices, directories, or search tools that allow you to access third party web sites and pages (hereinafter referred to as &ldquo;Linked Sites&rdquo;). You agree that we are in no way responsible for the Linked Sites. If you access a Linked Site for any reason, you do so at your own risk. Your use of any Linked Site and any personally identifiable information that you provide to any third party through a Linked Site is subject to the terms and conditions and privacy policy of such Linked Site, and not subject to the TOS.</p>

<p><strong>OTHER USERS; RELEASE</strong></p>
<p>You agree not to hold us responsible for things other users post or do. We do not review users&rsquo; postings and are not involved in any transactions or communications between users. As most of the content on our Services comes from other users, we do not guarantee the accuracy of postings or user communications or the quality, safety or legality of what is posted or offered. If you have a dispute with one or more users, you release us and our officers, directors, employees and agents from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes. In entering into this release you expressly waive any protections (whether statutory or otherwise) that would otherwise limit the coverage of this release to include only those claims which you may know or suspect to exist in your favor at the time of agreeing to this release.</p>

<p><strong>MODERATION</strong></p>
<p>You agree we may moderate access and usage of our Services at our sole discretion, e.g. by blocking (e.g. IP addresses), filtering, deletion, delay, omission verification, and/or access/account/license termination. You agree (1) to abide by said moderation, (2) we are not liable for moderating, not moderating, or making any representations as to moderating, and (3) nothing we say or do waives our right to moderate, or not.</p>
<p>You agree not to upload to, distribute, or otherwise publish any defamatory, obscene, pornographic, abusive or otherwise illegal content to our Services.</p>
<p>You agree that you will not threaten or verbally abuse other users, or deliberately obstruct the use or access to our Services by others.</p>

<p><strong>SALES</strong></p>
<p>You will not be charged for any advertising you submit to our Services unless we obtain your prior agreement. Unless noted, fees are in US dollars; taxes, if applicable, are additional. To the extent permitted by law, fees are nonrefundable, even for content we remove.</p>

<p><strong>DISCLAIMER</strong></p>
<p>MANY JURISDICTIONS HAVE LAWS PROTECTING CONSUMERS AND OTHER CONTRACT PARTIES AND LIMITING THEIR ABILITY TO WAIVE CERTAIN RIGHTS AND RESPONSIBILITIES. WE RESPECT SUCH LAWS; NOTHING HEREIN SHALL WAIVE RIGHTS OR RESPONSIBILITIES THAT CANNOT BE WAIVED.</p>
<p>To the extent permitted by law,</p>
<ol>
<li>We make no promise as to our Services, their completeness, accuracy, availability, timeliness, propriety, security or reliability;</li>
<li>Your access and use of our Services are at your own risk, and our Services are provided &ldquo;AS IS&rdquo; and &ldquo;AS AVAILABLE&rdquo;;</li>
<li>We are not liable for any harm resulting from: (a) user content; (b) user conduct, e..g. Illegal conduct; (c) your use of our Services; or (d) our representations.</li>
<li>SUBTEXT MEDIA LTD. AND ITS OFFICERS, DIRECTORS, EMPLOYEES AND AGENTS (collectively &ldquo;SUBTEXT ENTITIES&rdquo;) DISCLAIM ALL WARRANTIES AND CONDITIONS, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE, OR NON-INFRINGEMENT.</li>
<li>YOU AGREE THAT SUBTEXT ENTITIES ARE NOT LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS (E.G. PROFITS, REVENUE, DATA OR GOODWILL), HOWEVER CAUSED AND REGARDLESS OF THEORY OF LIABILITY;</li>
<li>YOU AGREE THAT IN NO EVENT SHALL SUBTEXT ENTITIES&rsquo; TOTAL LIABILITY EXCEED $100 OR WHAT YOU PAID US IN THE PAST YEAR.</li>
</ol>
<p>THE EXCLUSIONS AND LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THIS AGREEMENT BETWEEN US AND YOU.</p>

<p><strong>CLAIMS</strong></p>
<p>You agree:</p>
<ol>
  <li>Any claim, cause of action or dispute (&ldquo;Claim&rdquo;) arising out of or related to the TOS or your use and access of our Services is governed by Vermont (&ldquo;VT&rdquo;) law regardless of your location or any conflict of law principle;</li>
  <li>Claims must be resolved exclusively by state and federal courts located in VT (except that we may seek injunctive remedy anywhere);</li>
  <li>To submit to personal jurisdiction of said courts;</li>
  <li>Any claim must be filed within one year after it arose or be forever barred;</li>
  <li>Not to bring or take part in a class action suit against Subtext Entities;</li>
  <li>(except government agencies) To indemnify Subtext Entities for any damage, loss and expense including, but not limited to, legal fees, arising from claims related to your use of our Services;</li>
  <li>You are liable for breaches of the TOS by affiliates (e.g. marketers or subcontractors) paid by you, directly or indirectly (e.g. through an affiliation network); and </li>
  <li>To pay us for breaching or inducing others to breach the USAGE section of the TOS, not as a penalty, but as a reasonable estimate of our damages (actual damages are often hard to calculate); $0.10 per server request; $1 per post, email, flag, or account created; $1 per item of PI collected; and $1,000 per software distribution, capped at $25,000 per day.</li>
</ol>

<p><strong>MISCELLANEOUS</strong></p>
<p>This is the exclusive and entire agreement between you and us. If a term of the TOS is unenforceable, no other terms of the TOS will be affected. If a translation of the TOS conflicts with the English translation, the English translation controls.</p>
<p>Please refer to our {{#link-to 'privacy' class='u-textUnderline'}}Privacy Policy{{/link-to}}, which is incorporated into the TOS, for information on how we collect, use and share data.</p>
<p>If you feel that content infringes your rights, please see our {{#link-to 'copyright-agent' class='u-textUnderline'}}Notification of Copyright Infringement Policy{{/link-to}}.</p>
<p>By clicking &ldquo;I agree&rdquo;, you are agreeing to abide by the Terms of Service above.</p>
