<style>.Terms.container a {text-decoration: underline; color: blue;}</style>
<div class="container Terms">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="h2">SUBTEXT MEDIA TERMS OF SERVICE</h1>

      <p>Last Modified: April 25, 2019</p>

      <p>
        These Terms of Service (the “TOS”) govern your use of the services provided by Subtext Media, Ltd (“Subtext”, “we”, “us” or “our”), including,
        but not limited to, the website HereCast.us (the “Site”) and the associated application (the “App”) (collectively, the “Services”),
        except to the extent that a separate agreement governing the Services has been entered by you and us (a “Separate Agreement”) and that Separate Agreement has conflicting terms.
      </p>

      <p>
        By using our Services, you agree to be bound by this TOS and our {{#link-to "privacy"class="u-textunderline"}}Privacy Policy{{/link-to}}  which is herein incorporated by reference.
        If you are using our Services on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that entity to this TOS.
        In that case, “you” and “your” will refer to that entity.
      </p>

      <p>
        IMPORTANT NOTICE REGARDING ARBITRATION: WHEN YOU AGREE TO THIS TOS YOU ARE AGREEING (WITH LIMITED EXCEPTION) TO RESOLVE ANY DISPUTE BETWEEN YOU AND SUBTEXT THROUGH BINDING, INDIVIDUAL ARBITRATION RATHER THAN IN COURT.
        PLEASE REVIEW CAREFULLY THE “DISPUTE RESOLUTION” SECTION BELOW FOR DETAILS REGARDING ARBITRATION (INCLUDING THE PROCEDURE TO OPT OUT OF ARBITRATION).
      </p>

      <p><strong>UPDATES TO THE TOS OR SERVICES</strong></p>

      <p>
        We may change, add, or remove portions of the TOS in the future at our sole discretion.
        If we do so, we will update the date of last modification at the top of the TOS.
        We may also notify you of any changes through other communications.
        If you continue to use our Services after we have posted the updated TOS, you are agreeing to be bound by the TOS then in effect.
        If you don’t agree to be bound by the updated TOS, then you should stop using our Services.
        Because our Services are evolving over time we may change or discontinue all or any part of our Services, at any time and without notice, at our sole discretion.
      </p>

      <p><strong>WHO MAY USE OUR SERVICES?</strong></p>

      <p>
        <u>Eligibility.</u>
        If you want to use certain features of our Services you’ll have to create an account (“Account”).
        You can do this on our Site, App, or through your account with certain third-party social networking services such as Facebook (each, an “SNS Account”).
        If you choose the SNS Account option we’ll create your Account by extracting certain personal information from your SNS Account,
        such as your name and email address and other personal information that your privacy settings on the SNS Account permit us to access.
      </p>

      <p>
        <u>Registration and Your Information.</u>
        You may use our Services only if you are 13 years of age or older and are not barred from using our Services under applicable law.
      </p>

      <p>
        <u>Accuracy of Information.</u>
        It’s important that you provide us with accurate,
        complete and up-to-date information for your Account and you agree to update such information to comply.
        You agree that you won’t disclose your Account password to anyone and you’ll notify us immediately of any unauthorized use of your Account.
        You’re responsible for all activities that occur under your Account, whether or not you know about them.
      </p>

      <p><strong>FEEDBACK</strong></p>

      <p>
        We welcome feedback, comments and suggestions for improvements to our Services (“Feedback”).
        You grant to us a non-exclusive, transferable, worldwide, perpetual, irrevocable, fully-paid, royalty-free license, with the right to sublicense,
        under any and all intellectual property rights that you own or control to use, copy, modify, create derivative works based upon and otherwise utilize your Feedback for any purpose.
      </p>

      <p><strong>CONTENT</strong></p>

      <p>
        <u>Definitions.</u>
        For purposes of this TOS:
        (i) “Content” means text, graphics, images, music, software, audio, video, works of authorship of any kind,
        and information or other materials that are posted, generated, provided or otherwise made available through our Services;
        and (ii) “User Content” means any Content that Account holders (including you) provide to be made available through our Services, excluding Feedback.
      </p>

      <p>
        <u>Our Content Ownership.</u>
        We do not claim any ownership rights in any User Content and nothing in this TOS will be deemed to restrict any rights that you may have to utilize your User Content.
        Subject to the foregoing, Subtext and its licensors exclusively own all right, title and interest in and to our Services and Content, including all associated intellectual property rights.
        You acknowledge that our Services and Content are protected by copyright, trademark, and other laws of the United States and foreign countries.
        You agree not to remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying our Services or Content.
      </p>

      <p>
        <u>Rights in User Content Granted by You.</u>
        By making any User Content available through our Services you hereby grant to Subtext a non-exclusive,
        transferable, worldwide, royalty-free license, with the right to sublicense, to use, copy, modify, distribute, publicly display,
        and publicly perform your User Content in connection with
        (i) operating, providing, and improving our Services and Content to you and to other Account holders and
        (ii) promoting your User Content through other channels beyond our Services.
      </p>

      <p>
        <u>Your Responsibility for User Content.</u>
        You are solely responsible for all your User Content.
        You represent and warrant that you own all your User Content or you have all rights that are necessary to grant us the license rights in your User Content under this TOS.
        You also represent and warrant that neither your User Content, nor your use and provision of your User Content to be made available through our Services,
        nor any use of your User Content by Subtext on or through our Services will infringe, misappropriate or violate a third party’s intellectual property rights,
        or rights of publicity or privacy, or result in the violation of any applicable law or regulation.
      </p>

      <p>
        <u>Removal of User Content.</u>
        While we are able to remove or disable access to User Content by users, for legal and technical reasons, we may retain a hidden copy of User Content in our audit and/or semantic indexing repositories.
        You may request at any time that user access to your User Content be removed or disabled by sending us an email at <a href="mailto:dailyuv@subtext.org">dailyuv@subtext.org</a>.
        We are not responsible or liable for the removal of or the disabling of user access to (or the failure to remove or disable user access to) any of your User Content.
      </p>

      <p>
        <u>Rights in Content Granted by Subtext.</u>
        Subject to your compliance with this TOS, Subtext grants to you a limited, non-exclusive, non-transferable license,
        with no right to sublicense, to download, view, copy, display and print the Content solely in connection with your permitted use of our Services and solely for your personal and non-commercial purposes.
        You agree not to license, distribute, make derivative works, display, sell, or “frame” Content from our Services, excluding your User Content you create, without Subtext’s express written consent.
      </p>

      <p><strong>RIGHTS AND TERMS FOR APPS</strong></p>

      <p>
        <u>Rights in App Granted by Subtext.</u>
        Subject to your compliance with this TOS, Subtext grants to you a limited non-exclusive, non-transferable license, with no right to sublicense, to download and install a copy of the App on a mobile device or computer that you own or control and to run such copy of the App solely for your own personal, non-commercial purposes.
        You may not copy the App, except for making a reasonable number of copies for backup or archival purposes.
        Except as expressly permitted in this TOS, you may not:
        (i) copy, modify or create derivative works based on the App;
        (ii) distribute, transfer, sublicense, lease, lend or rent the App to any third party;
        (iii) reverse engineer, decompile or disassemble the App; or
        (iv) make the functionality of the App available to multiple users through any means.
        Subtext reserves all rights in and to the App not expressly granted to you under these Terms.
      </p>

      <p>
        <u>Accessing App from App Store.</u>
        The following terms apply to any App accessed through or downloaded from any app store or distribution platform (like the Apple App Store or Google Play) where the App may now or in the future be made available (each an “App Provider”).
        You acknowledge and agree that:
      </p>

      <ol>
        <li>
          This TOS is concluded between you and Subtext, and not with the App Provider, and Subtext (not the App Provider) is solely responsible for the App.
        </li>

        <li>
          The App Provider has no obligation to furnish any maintenance and support services with respect to the App.
        </li>

        <li>
          In the event of any failure of the App to conform to any applicable warranty, you may notify the App Provider, and the App Provider will refund the purchase price for the App to you (if applicable) and, to the maximum extent permitted by applicable law, the App Provider will have no other warranty obligation whatsoever with respect to the App.
          Any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be the sole responsibility of Subtext.
        </li>

        <li>
          The App Provider is not responsible for addressing any claims you have or any claims of any third party relating to the App or your possession and use of the App, including, but not limited to:
          (i) product liability claims;
          (ii) any claim that the App fails to conform to any applicable legal or regulatory requirement; and
          (iii) claims arising under consumer protection, privacy, or similar legislation.
        </li>

        <li>
          In the event of any third party claim that the App or your possession and use of that App infringes that third party’s intellectual property rights, Subtext will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by this TOS.
        </li>

        <li>
          The App Provider, and its subsidiaries, are third-party beneficiaries of this TOS as related to your license to the App, and that, upon your acceptance of the TOS, the App Provider will have the right (and will be deemed to have accepted the right) to enforce this TOS as related to your license of the App against you as a third-party beneficiary thereof.
        </li>

        <li>
          You represent and warrant that
          (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a terrorist-supporting country; and
          (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.
        </li>

        <li>
          You must also comply with all applicable third party terms of service when using the App.
        </li>
      </ol>

      <p><strong>GENERAL PROHIBITIONS AND SUBTEXT’S ENFORCEMENT RIGHTS</strong></p>

      <p>
        You agree not to do any of the following:
      </p>

      <ol>
        <li>
          Post, upload, publish, submit or transmit any Content that:
          (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy;
          (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability;
          (iii) is fraudulent, false, misleading or deceptive;
          (iv) is defamatory, obscene, pornographic, vulgar or offensive;
          (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group;
          (vi) is violent or threatening or promotes violence or actions that are threatening to any person or entity; or
          (vii) promotes illegal or harmful activities or substances;
        </li>

        <li>
          Use, display, mirror or frame our Services or any individual element within our Services, the name or any trademark or logo of Subtext or HereCast, any other proprietary information of Subtext, or the layout and design of any page or form contained on a page, without Subtext’s express written consent;
        </li>

        <li>
          Access, tamper with, or use non-public areas of our Services, Subtext’s computer systems, or the technical delivery systems of Subtext’s providers;
        </li>

        <li>
          Attempt to probe, scan or test the vulnerability of any Subtext system or network or breach any security or authentication measures;
        </li>

        <li>
          Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Subtext or any of Subtext’s providers or any other third party (including another user) to protect our Services or Content;
        </li>

        <li>
          Attempt to access or search our Services or Content or download Content from our Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by Subtext or other generally available third-party web browsers;
        </li>

        <li>
          Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;
        </li>

        <li>
          Use any meta tags or other hidden text or metadata utilizing a Subtext trademark, logo URL or product name without Subtext’s express written consent;
        </li>

        <li>
          Use our Services or Content, or any portion thereof, for any commercial purpose or for the benefit of any third party or in any manner not permitted by this TOS;
        </li>

        <li>
          Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use our Services or Content to send altered, deceptive or false source-identifying information;
        </li>

        <li>
          Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide our Services or Content;
        </li>

        <li>
          Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing our Services;
        </li>

        <li>
          Collect or store any personal information from our Services from other users of our Services without their express permission;
        </li>

        <li>
          Impersonate or misrepresent your affiliation with any person or entity;
        </li>

        <li>
          Violate any applicable law or regulation; and/or
        </li>

        <li>
          Encourage or enable any other individual to do any of the foregoing.
        </li>
      </ol>

      <p>
        Although we’re not obligated to monitor access to or use of our Services or Content or to review or edit any Content (including User Content),
        we have the right to do so for the purpose of operating our Services, to ensure compliance with this TOS and to comply with applicable law or other legal requirements.
        We reserve the right, but are not obligated, to remove or disable access to any Content (including User Content),
        at any time and without notice, including, but not limited to, if we, at our sole discretion, consider any Content to be objectionable or in violation of this TOS.
        We have the right to investigate violations of this TOS or conduct that affects our Services.
        We may also consult and cooperate with law enforcement authorities to prosecute users who violate the law.
      </p>

      <p><strong>GDMCA/COPYRIGHT POLICY</strong></p>

      <p>
        Subtext respects copyright law and expects its users to do the same.
        It is Subtext’s policy, in appropriate circumstances, to terminate account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders.
        Please see Subtext’s Copyright Policy at {{#link-to "copyright-agent"class="u-textUnderline"}}https://HereCast.us/copyright-agent{{/link-to}}, for further information.
      </p>

      <p><strong>LINKS TO THIRD PARTY WEBSITES OR RESOURCES</strong></p>

      <p>
        Our Services may contain links to third-party websites or resources.
        We provide these links only as a convenience and are not responsible for the content, products or services on or available from those websites or resources or links displayed on such websites.
        You acknowledge sole responsibility for and assume all risk arising from your use of any third-party websites or resources.
      </p>

      <p><strong>TERMINATION</strong></p>

      <p>
        We may terminate or suspend your access to and use of our Services, at our sole discretion, at any time and without notice to you.
        You may remove or disable your account at any time by sending an email to us at <a href="mailto:dailyuv@subtext.org">dailyuv@subtext.org</a>.
        Upon any termination, discontinuation or cancellation of our Services or your account, this sentence and the following Sections will survive:
        Content Definitions; Our Content Ownership; Rights in User Content Granted by You; Your Responsibility for User Content;
        Warranty Disclaimers; Indemnity; Limitation of Liability; Governing Law and Forum Choice; Dispute Resolution and General Terms.
      </p>

      <p><strong>WARRANTY DISCLAIMERS</strong></p>

      <p>
        MANY JURISDICTIONS HAVE LAWS PROTECTING CONSUMERS AND OTHER CONTRACT PARTIES AND LIMITING THEIR ABILITY TO WAIVE CERTAIN RIGHTS AND RESPONSIBILITIES.
        WE RESPECT SUCH LAWS; NOTHING HEREIN SHALL WAIVE RIGHTS OR RESPONSIBILITIES THAT CANNOT BE WAIVED.
      </p>

      <p>
        To the extent permitted by law,
      </p>

      <ol>
        <li>
          We make no warranty that our Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis.
          We make no warranty regarding the quality, completeness, accuracy, availability, timeliness, truthfulness, completeness, propriety, security and/or reliability of any Content;
        </li>

        <li>
          You agree not to hold us responsible for things other users post or do on our Services.
          Your access and use of our Services are at your own risk, and OUR SERVICES (INCLUDING THE CONTENT) ARE PROVIDED “AS IS” AND “AS AVAILABLE” WITHOUT A WARRANTY OF ANY KIND;
        </li>

        <li>
          WITHOUT LIMITING THE FOREGOING, SUBTEXT AND ITS OFFICERS, DIRECTORS, EMPLOYEES AND AGENTS EXPLICITLY DISCLAIM ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT, NON-INFRINGEMENT, AND/OR ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.
        </li>
      </ol>

      <p><strong>INDEMNITY</strong></p>

      <p>
        You will indemnify and hold harmless Subtext and its officers, directors, employees and agents, from and against any claims, disputes, demands, liabilities, damages, losses, and costs and expenses, including, without limitation, reasonable legal and accounting fees arising out of or in any way connected with
        (i) your access to or use of our Services or Content,
        (ii) your User Content,
        (iii) your violation of this TOS, or
        (iv) violations of the TOS by your affiliates (e.g. marketers or subcontractors) paid by you, directly or indirectly (e.g. through an affiliation network) or your agents.
      </p>

      <p><strong>LIMITATION OF LIABILITY</strong></p>

      <p>
        NEITHER SUBTEXT NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING OUR SERVICES OR CONTENT WILL BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL,
        EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES, OR DAMAGES FOR LOST PROFITS, LOST REVENUES, LOST SAVINGS, LOST BUSINESS OPPORTUNITY, LOSS OF DATA OR GOODWILL,
        SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE SERVICES OF ANY KIND ARISING OUT OF OR IN CONNECTION WITH THIS TOS OR FROM THE USE OF OR INABILITY TO USE OUR SERVICES OR CONTENT,
        WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER LEGAL THEORY,
        AND WHETHER OR NOT SUBTEXT OR ANY OTHER PARTY HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE,
        EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
        SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
      </p>

      <p>
        IN NO EVENT WILL SUBTEXT’S TOTAL LIABILITY ARISING OUT OF OR IN CONNECTION WITH THIS TOS OR FROM THE USE OF OR INABILITY TO USE OUR SERVICES OR CONTENT EXCEED THE AMOUNTS YOU HAVE PAID OR THAT ARE PAYABLE BY YOU TO SUBTEXT FOR USE OF OUR SERVICES OR CONTENT OR ONE HUNDRED DOLLARS ($100),
        IF YOU HAVE NOT HAD ANY PAYMENT OBLIGATIONS TO SUBTEXT, AS APPLICABLE.
      </p>

      <p>
        THE EXCLUSIONS AND LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN SUBTEXT AND YOU.
      </p>

      <p><strong>GOVERNING LAW AND FORUM CHOICE</strong></p>

      <p>
        This TOS and any action related thereto will be governed by the Federal Arbitration Act, federal arbitration law, and the laws of the State of Vermont, without regard to its conflict of laws provisions.
        Except as otherwise expressly set forth in the “Dispute Resolution” section, the exclusive jurisdiction for all Disputes (defined below) that you and Subtext are not required to arbitrate will be the state and federal courts located in Vermont, and you and Subtext each waive any objection to jurisdiction and venue in such courts.
      </p>

      <p><strong>DISPUTE RESOLUTION</strong></p>

      <ol>
        <li>
          <u>Mandatory Arbitration of Disputes.</u>
          We each agree that any dispute, claim or controversy arising out of or relating to this TOS or the breach, termination, enforcement, interpretation or validity thereof or the use of the Services or Content (collectively, “Disputes”) will be resolved solely by binding, individual arbitration and not in a class, representative or consolidated action or proceeding.
          You and Subtext agree that the U.S. Federal Arbitration Act governs the interpretation and enforcement of this TOS, and that you and Subtext are each waiving the right to a trial by jury or to participate in a class action.
          This arbitration provision shall survive termination of these TOS.
        </li>

        <li>
          <u>Exceptions and Opt-out.</u>
          As limited exceptions to Subsection 1 above (“Mandatory Arbitration of Disputes”):
          (i) you may seek to resolve a Dispute in small claims court if it qualifies; and
          (ii) we each retain the right to seek injunctive or other equitable relief from a court (located anywhere) to prevent (or enjoin) the infringement or misappropriation of our intellectual property rights.
          In addition, you will retain the right to opt out of arbitration entirely and litigate any Dispute if you provide us with written notice of your desire to do so by email at <a href="mailto:dailyuv@subtext.org">dailyuv@subtext.org</a> or by regular mail at PO Box 426 White River Junction VT 05001-0426 within thirty (30) days following the date you first agree to this TOS.
        </li>

        <li>
          <u>Conducting Arbitration and Arbitration Rules.</u>
          The arbitration will be conducted by the American Arbitration Association (“AAA”) under its Consumer Arbitration Rules (the “AAA Rules”) then in effect, except as modified by these Terms.
          The AAA Rules are available at <a href="http://www.adr.org">www.adr.org</a> or by calling 1-800-778-7879.
          A party who wishes to start arbitration must submit a written Demand for Arbitration to AAA and give notice to the other party as specified in the AAA Rules.
          The AAA provides a form Demand for Arbitration at <a href="http://www.adr.org">www.adr.org</a>.
          <br>
          <br>
          If your claim is for U.S. $10,000 or less, you may choose whether the arbitration will be conducted solely on the basis of documents submitted to the arbitrator, through a telephonic or video-conference hearing, or by an in-person hearing as established by the AAA Rules.
          If your claim exceeds U.S. $10,000, the right to a hearing will be determined by the AAA Rules. Any arbitration hearings will take place in the county (or parish) where you live, unless we both agree to a different location.
          The parties agree that the arbitrator shall have exclusive authority to decide all issues relating to the interpretation, applicability, enforceability and scope of this arbitration agreement.
        </li>

        <li>
          <u>Arbitration Costs.</u>
          Payment of all filing, administration and arbitrator fees will be governed by the AAA Rules.
          We’ll pay for all filing, administration and arbitrator fees and expenses if your Dispute is for less than $10,000, unless the arbitrator finds your Dispute frivolous.
          If we prevail in arbitration we’ll pay all of our attorneys’ fees and costs and won’t seek to recover them from you.
          If you prevail in arbitration you will be entitled to an award of attorneys’ fees and expenses to the extent provided under applicable law.
        </li>

        <li>
          <u>Class Action Waiver.</u>
          YOU AND SUBTEXT AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING.
          Further, if the parties’ dispute is resolved through arbitration, the arbitrator may not consolidate another person's claims with your claims, and may not otherwise preside over any form of a representative or class proceeding.
          If this specific provision is found to be unenforceable, then the entirety of this Dispute Resolution section shall be null and void.
        </li>

        <li>
          <u>Effect of Changes on Arbitration.</u>
          Notwithstanding the provisions of the “Updates to the TOS or Services” section above, if Subtext changes any of the terms of this “Dispute Resolution” section after the date you first accepted this TOS (or accepted any subsequent changes to these TOS),
          you may reject any such change by sending us written notice (including by email to <a href="mailto:dailyuv@subtext.org">dailyuv@subtext.org</a>) within 30 days of the date such change became effective, as indicated in the “Last Updated” date above or in the date of Subtext’s email to you notifying you of such change.
          By rejecting any change, you are agreeing that you will arbitrate any Dispute between you and Subtext in accordance with the terms of this “Dispute Resolution” Section as of the date you first accepted this TOS (or accepted any subsequent changes to this TOS).
        </li>

        <li>
          <u>Severability.</u>
          With the exception of any of the provisions in Subsection 5 above ("Class Action Waiver"), if an arbitrator or court of competent jurisdiction decides that any part of this TOS is invalid or unenforceable, the other parts of these TOS will still apply.
        </li>

        <li>
          <u>Time Limit.</u>
          Any claim arising under these TOS must be submitted to arbitration, filed in small claims court, or filed in court to seek injunctive or other equitable relief, as applicable, within one year after it arose or be forever barred.
        </li>
      </ol>

      <p><strong>DISPUTES BETWEEN USERS</strong></p>

      <p>
        Subtext does not create or endorse User Content, and is not responsible for our users’ actions.
        If you have a dispute with another user, you must resolve it with that user, and you release Subtext from claims or damages for those disputes to the maximum extent permitted by law.
        If Subtext receives complaints from users about other users, Subtext is not required to determine the validity of the complaints received, or to forward the complaints to the other users, or to identify the complaining parties.
      </p>

      <p><strong>GENERAL TERMS</strong></p>

      <p>
        <u>Entire Agreement.</u>
        The TOS constitutes the exclusive and entire agreement between you and us regarding our Services and Content, except for,
        and then only to the extent that you have entered into a Separate Agreement,
        and supersedes and replaces any and all prior oral or written understandings or agreements between Subtext and you regarding our Services and Content.
        If any provision of the TOS is held invalid or unenforceable by a court of competent jurisdiction,
        that provision will be enforced to the maximum extent permissible and the other provisions of this TOS will remain in full force and effect.
        You may not assign or transfer this TOS, by operation of law or otherwise, without Subtext’s prior written consent. Any attempt by you to assign or transfer this TOS,
        without such consent, will be null. Subtext may freely assign or transfer this TOS without restriction.
        Subject to the foregoing, this TOS will bind and inure to the benefit of the parties, their successors and permitted assigns.
      </p>

      <p>
        <u>Notices.</u>
        Any notices or other communications provided by Subtext under this TOS, including those regarding modifications to this TOS, will be given:
        (i) via email; or
        (ii) by posting to our Services.
        For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.
      </p>

      <p>
        <u>Waiver of Rights.</u>
        Subtext’s failure to enforce any right or provision of this TOS will not be considered a waiver of such right or provision.
        The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Subtext.
        Except as expressly set forth in this TOS, the exercise by either party of any of its remedies under this TOS will be without prejudice to its other remedies under this TOS or otherwise.
      </p>

      <p>
        <u>Contact Information.</u>
        If you have any questions about this TOS, please contact Subtext at: <a href="mailto:dailyuv@subtext.org">dailyuv@subtext.org</a> or
        Subtext Media, Ltd., PO Box 426, White River Junction VT 05001-0426
      </p>

    </div>
  </div>
</div>
